{% comment %} ATTENTION!!! This is compiled version of checkout.liquid and it is overriding automatically. You should use theme development tool and sources\layout\checkout.liquid file to code and save your changes. {% endcomment %}<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}
    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    <!-- auryc -->
    <script data-cfasync="false" charset="utf-8">
      ;!function(a){a.aurycReadyCb=a.aurycReadyCb||[],a.auryc=a.auryc||[];var e=document,r=e.createElement("script"),t=e.head||e.getElementsByTagName("head")[0],c={src:"//cdn.auryc.com/893-whistlecom/container.js","data-cfasync":"false",async:"true",defer:"true","data-vendor":"auryc","data-role":"container",charset:"utf-8"};for(var d in c)r.setAttribute(d,c[d]);t.appendChild(r);for(var n=["track","identify","addFBCustomData","addUserProperties","addSessionProperties","getReplayUrl","setFeedbackEnabled","clearUserCookie","addFBSubmitHandler","addFBCancelHandler","pause","resume"],u=function(e){return function(){var r=Array.prototype.slice.call(arguments,0);a.aurycReadyCb.push(function(){a.auryc[e].apply(a.auryc,r)})}},s=0;s<n.length;s++)a.auryc[n[s]]=u(n[s])}(window);
    </script>

    
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WD6RWQ');
    </script>
    <!-- End Google Tag Manager -->

    <!-- amazon dsp -->
    <!-- Use of this pixel is subject to the Amazon ad specs and policies at http://www.amazon.com/b/?&node=7253015011 -->
    <script type='text/javascript'>
      // var _pix = document.getElementById('_pix_id_951ae397-eda6-f6e2-07a6-f63d91f3ed85');if (!_pix) { var protocol = '//'; var a = Math.random() * 1000000000000000000; _pix = document.createElement('iframe'); _pix.style.display = 'none'; _pix.setAttribute('src', protocol + 's.amazon-adsystem.com/iu3?d=generic&ex-fargs=%3Fid%3D951ae397-eda6-f6e2-07a6-f63d91f3ed85%26type%3D55%26m%3D1&ex-fch=416613&ex-src=https://www.whistle.com&ex-hargs=v%3D1.0%3Bc%3D6571622140201%3Bp%3D951AE397-EDA6-F6E2-07A6-F63D91F3ED85' + '&cb=' + a); _pix.setAttribute('id','_pix_id_951ae397-eda6-f6e2-07a6-f63d91f3ed85'); document.body.appendChild(_pix);}
    </script>
    <noscript>
      <img height='1' width='1' border='0' alt='' src='https://s.amazon-adsystem.com/iui3?d=forester-did&ex-fargs=%3Fid%3D951ae397-eda6-f6e2-07a6-f63d91f3ed85%26type%3D55%26m%3D1&ex-fch=416613&ex-src=https://www.whistle.com&ex-hargs=v%3D1.0%3Bc%3D6571622140201%3Bp%3D951AE397-EDA6-F6E2-07A6-F63D91F3ED85' />
    </noscript>
    {% render 'shogun-head' %}
    {% render 'checkout.scss.liquid' %}
    {% comment %}{% include 'smsbump_checkout_marketing_subscription' %}{% endcomment %}
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  </head>


  <body>
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WD6RWQ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ skip_to_content_link }}
    {% comment %}<div class="yotpo-widget-instance" data-yotpo-instance-id="42148"></div>{% endcomment %}
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="sticky-header">
      <div class="sticky-header-wrapper">
        <div class="wrap">
          <div class="logo">
            <a href="{{ shop.url }}">
              <svg width="134" height="24" viewBox="0 0 134 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.5619 24C33.2221 24 38.5924 18.6171 38.5924 12C38.5924 5.35667 33.1957 0 26.5619 0H0V10.477H3.02737C11.9252 10.4508 15.3211 24 26.5619 24ZM26.5619 21.0591C17.4534 21.0591 14.5314 7.45733 3.02737 7.45733V2.94092H18.4275V8.95405C19.3225 5.9081 22.2709 2.8884 26.5619 2.8884C31.6426 2.8884 35.6703 6.90591 35.6703 12C35.6703 17.0678 31.6426 21.0591 26.5619 21.0591Z" fill="#3cf084"></path>
                <path d="M85.1084 21.2955V7.4574H82.0811V21.2955H85.1084Z" fill="#FFF"></path>
                <path d="M113.487 21.2953V2.62573H110.486V21.2953H113.487Z" fill="#FFF"></path>
                <path d="M61.0474 21.2953L66.0755 2.62573H62.8638L59.4153 17.199L56.4669 2.62573H52.6498L49.6487 17.2253L46.2265 2.62573H42.9885L48.0429 21.2953H51.4388L54.5715 6.22311L57.7305 21.2953H61.0474Z" fill="#FFF"></path>
                <path d="M99.2976 11.0547C98.7448 8.71773 96.4545 7.22101 93.5325 7.16849C89.5837 7.11597 87.8726 9.40044 87.8463 11.4486C87.82 12.919 88.636 13.9956 90.1102 14.5733C92.1372 15.3611 94.9803 15.4136 96.1123 16.2801C97.0337 16.9891 96.5862 18.0919 95.7174 18.512C94.5065 19.116 91.5844 19.326 90.4261 17.0678H87.2935C87.82 19.7199 90.2682 21.453 93.5851 21.5055C97.06 21.558 99.5082 19.7462 99.5609 17.1204C99.5872 14.4945 97.5865 13.6543 94.7697 13.1028C93.0849 12.7877 91.8214 12.814 91.3475 12.3151C90.742 11.7112 90.5314 10.6608 91.8214 10.1094C93.2429 9.50547 95.7438 9.79431 96.0333 11.0547H99.2976Z" fill="#FFF"></path>
                <path d="M122.227 7.19482C118.383 7.19482 115.277 10.5034 115.277 14.4421C115.277 18.3283 118.383 21.5056 122.227 21.5056C125.333 21.5056 127.729 19.9301 128.65 17.0942H125.359C124.727 18.302 123.543 18.906 122.2 18.906C120.384 18.906 118.804 17.8031 118.278 15.5712H129.097C129.282 13.0241 128.597 10.9235 127.228 9.42677C125.991 8.06135 124.227 7.19482 122.227 7.19482ZM118.304 13.1554C118.304 12.5778 119.147 9.82065 122.2 9.82065C125.28 9.82065 126.149 12.394 126.149 13.1554H118.304Z" fill="#FFF"></path>
                <path d="M102.325 10.162V15.5186C102.43 19.0635 104.326 21.2954 107.537 21.2954C107.748 21.2954 107.958 21.2954 108.037 21.2692V18.302C106.274 18.302 105.431 17.488 105.326 15.5449V10.162H108.037V7.45737H105.326V3.83374H102.299V7.45737H100.798V10.162H102.325Z" fill="#FFF"></path>
                <path d="M79.6855 21.2953V13.234C79.6855 9.5579 77.6848 7.32595 74.4205 7.32595C72.2881 7.32595 70.8929 8.71764 70.8929 8.71764V2.62573H67.9182V21.2953H70.9456V13.234C70.8929 11.4747 72.1302 10.2669 73.9203 10.2669C76.6318 10.2669 76.7107 12.5513 76.6844 13.234V21.2953H79.6855Z" fill="#FFF"></path>
                <path d="M85.3981 4.12259C85.3981 5.12041 84.582 5.90815 83.608 5.90815C82.6339 5.90815 81.8179 5.09415 81.8179 4.12259C81.8179 3.15104 82.6339 2.33704 83.608 2.33704C84.582 2.33704 85.3981 3.15104 85.3981 4.12259Z" fill="#FFF"></path>
                <path d="M129.94 9.63668V7.53602H129.203V7.27344H130.993V7.53602H130.256V9.63668H129.94Z" fill="#FFF"></path>
                <path d="M133.414 9.63668V7.69357L132.598 9.63668H132.467L131.677 7.69357V9.63668H131.387V7.27344H131.809L132.546 9.059L133.283 7.27344H133.704V9.63668H133.414Z" fill="#FFF"></path>
              </svg>
            </a>
          </div>
          <div>Free Shipping — 90 Days to Try, Risk Free</div>
        </div>
      </div>
    </div>
    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {% comment %}{{ content_for_logo }}{% endcomment %}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {% comment %}
              {% for item in checkout.line_items %}
                {% if item.properties['gift'] != blank %}
                  
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endcomment %}
            <div data-gift-recipient-form>
              <div class="gift-recipient-form">
                <div class="form-header">
                  <div class="title">🎁 Is this order a gift?</div>
                  <div class="form-toggle">Send Email to Gift Recipient {% render 'icon' with 'arrow-down' %}</div>
                </div>
                <div class="form-wrapper">
                  <form id="myForm" method="post">
                    <div class="title">Send an email to your gift recipient</div>
                    <div class="subtitle">(optional) Let your recipient know what's coming their way!</div>
                    <div class="form-field col-2">
                      <input type="email" name="recipientEmail" id="recipientEmail" placeholder="Recipient Email Address" />
                      <input type="text" name="recipientName" id="recipientName"  placeholder="Recipient Name" />
                    </div>
                    <div class="form-field">
                      <input type="text" name="subject" id="subject" placeholder="Enter subject" />
                    </div>
                    <div class="form-field">
                      <textarea name="message" id="message" placeholder="Write your gift message here..."></textarea>
                    </div>
                    <div class="form-action">
                      <button type="submit">Send Gift Email</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    <div data-shipping-feature>
      <div class="shipping-features">
        <div class="feature-wrapper">
          <div class="shipping-feature">
            <div class="icon_wrapper"><svg xmlns="http://www.w3.org/2000/svg" width="24.729" height="28" viewBox="0 0 24.729 28" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="1.109" y1="1.403" x2="-0.094" y2="-0.471" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#6dbf00"></stop><stop offset="0.335" stop-color="#6dbf00"></stop><stop offset="1" stop-color="#00bdff"></stop></linearGradient></defs><g transform="translate(-199 -761)"><g transform="translate(190.103 757.477)"><path d="M23.335,35.039h0l7.671,3.82c.031,0,.031.031.06.031h.242c.031,0,.06,0,.06-.031l7.64-3.82h.031l.122-.122.031-.031a692.024,692.024,0,0,1,.061-.061v-.152l0-7.637a.176.176,0,0,0-.031-.12v-.031c0-.031-.031-.06-.031-.09v-.031c-.031-.031-.031-.06-.06-.09l-.031-.031c-.031-.031-.06-.031-.09-.06l-7.61-3.79a.448.448,0,0,0-.391,0l-7.671,3.821c-.031,0-.06.031-.09.06l-.031.031c-.031.031-.06.06-.06.09v.031c0,.031-.031.06-.031.09v.031c0,.031-.031.06-.031.12V34.86a1383.939,1383.939,0,0,0,.061.061l.031.031.031.031.061.061a.248.248,0,0,1,.059,0Zm11.672-2.678a.462.462,0,0,0,.451-.451V29.2l2.918-1.444v6.618l-6.738,3.37V31.128l2.918-1.444V31.94a.458.458,0,0,0,.451.421Zm-4.271,5.385L24,34.376V27.758l6.738,3.369Zm.451-14.019,6.618,3.309-2.8,1.414L28.389,25.14Zm-3.82,1.9,6.618,3.309-2.8,1.414-6.618-3.309Z" transform="translate(-9.925 -13.442)" fill="url(#a)"></path><path d="M58.52,48.65a.451.451,0,1,0-.9,0A11.472,11.472,0,0,1,46.938,60.082l1.714-.843a.451.451,0,0,0-.391-.812l-3.519,1.745a.47.47,0,0,0-.241.391.434.434,0,0,0,.241.391L48.261,62.7a.427.427,0,0,0,.21.06.4.4,0,0,0,.391-.241.435.435,0,0,0-.21-.6l-1.8-.9A12.417,12.417,0,0,0,58.52,48.65Z" transform="translate(-24.893 -31.236)" fill="url(#a)"></path><path d="M18.765,7.035a.49.49,0,0,0-.21.6.47.47,0,0,0,.391.241.793.793,0,0,0,.21-.06l3.519-1.745a.47.47,0,0,0,.241-.391.434.434,0,0,0-.241-.391L19.187,3.576a.451.451,0,0,0-.391.812l1.444.722A12.357,12.357,0,0,0,8.9,17.414a.451.451,0,0,0,.9,0A11.472,11.472,0,0,1,20.931,5.952Z" transform="translate(0 0)" fill="url(#a)"></path></g></g></svg></div>
            <div class="feature_title">FREE RETURN</div>
          </div>
          <div class="shipping-feature">
            <div class="icon_wrapper"><svg xmlns="http://www.w3.org/2000/svg" width="28.499" height="28.499" viewBox="0 0 28.499 28.499" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="0.934" y1="-0.219" x2="0" y2="1.154" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#6dbf00"></stop><stop offset="0.505" stop-color="#6dbf00"></stop><stop offset="1" stop-color="#00bdff"></stop></linearGradient></defs><g transform="translate(-354 -761)"><path d="M26.286,14.6,19.5,11.288a.571.571,0,0,0-.5,0L12.214,14.6a.571.571,0,0,0-.317.58l.5,4.148a9.053,9.053,0,0,0,6.748,7.931.572.572,0,0,0,.215,0,9.053,9.053,0,0,0,6.748-7.931l.5-4.148a.572.572,0,0,0-.317-.58ZM24.973,19.19a7.907,7.907,0,0,1-5.723,6.926,7.907,7.907,0,0,1-5.723-6.924l-.449-3.745,6.172-3.011,6.172,3.011Zm-6.743,1.366,3.948-3.946a.569.569,0,0,1,.805.805l-4.35,4.352a.57.57,0,0,1-.806,0l-2.313-2.313h0a.569.569,0,1,1,.805-.805Zm14.3-3.221-.842-.617a1.227,1.227,0,0,1-.4-1.493l.421-.956a2.373,2.373,0,0,0-1.915-3.316l-1.039-.114h0a1.23,1.23,0,0,1-1.093-1.093l-.114-1.039h0a2.373,2.373,0,0,0-3.316-1.915l-.956.421a1.227,1.227,0,0,1-1.492-.4l-.618-.844a2.375,2.375,0,0,0-3.83,0l-.617.844a1.231,1.231,0,0,1-1.493.4l-.956-.421a2.373,2.373,0,0,0-3.316,1.915l-.114,1.039h0a1.229,1.229,0,0,1-1.093,1.093l-1.039.114h0a2.374,2.374,0,0,0-1.916,3.316l.421.956h0a1.228,1.228,0,0,1-.4,1.493l-.842.617a2.375,2.375,0,0,0,0,3.83l.842.618a1.226,1.226,0,0,1,.4,1.492l-.422.956a2.375,2.375,0,0,0,1.915,3.316l1.039.114a1.23,1.23,0,0,1,1.093,1.093l.114,1.039h0a2.373,2.373,0,0,0,3.316,1.915l.956-.421a1.229,1.229,0,0,1,1.492.4l.618.842h0a2.375,2.375,0,0,0,3.83,0l.617-.842h0a1.231,1.231,0,0,1,1.493-.4l.956.421a2.373,2.373,0,0,0,3.316-1.915l.114-1.039h0a1.23,1.23,0,0,1,1.093-1.093l1.038-.114a2.373,2.373,0,0,0,1.915-3.316l-.421-.956a1.225,1.225,0,0,1,.4-1.492l.842-.618a2.375,2.375,0,0,0,0-3.83Zm-.674,2.909-.844.618a2.361,2.361,0,0,0-.768,2.871l.421.956a1.236,1.236,0,0,1-1,1.724l-1.039.114h0a2.359,2.359,0,0,0-2.1,2.1l-.114,1.039a1.234,1.234,0,0,1-1.724,1l-.956-.421a2.361,2.361,0,0,0-2.871.768l-.618.842h0a1.236,1.236,0,0,1-1.991,0l-.617-.844a2.363,2.363,0,0,0-2.871-.768l-.956.421a1.234,1.234,0,0,1-1.724-1l-.114-1.039h0a2.357,2.357,0,0,0-2.1-2.1l-1.039-.115a1.234,1.234,0,0,1-1-1.724l.421-.956a2.359,2.359,0,0,0-.768-2.87l-.842-.618h0a1.236,1.236,0,0,1,0-1.991l.842-.618h0a2.361,2.361,0,0,0,.768-2.871l-.421-.956a1.234,1.234,0,0,1,1-1.724l1.039-.114a2.359,2.359,0,0,0,2.1-2.1l.114-1.039h0a1.234,1.234,0,0,1,1.724-1l.956.421a2.361,2.361,0,0,0,2.871-.768l.617-.844a1.236,1.236,0,0,1,1.991,0l.618.842h0a2.361,2.361,0,0,0,2.871.768l.956-.421a1.234,1.234,0,0,1,1.724,1l.114,1.039a2.359,2.359,0,0,0,2.1,2.1l1.039.114h0a1.236,1.236,0,0,1,1,1.724l-.421.956a2.361,2.361,0,0,0,.768,2.871l.842.618h0a1.236,1.236,0,0,1,0,1.991Z" transform="translate(349 756)" fill="url(#a)"></path></g></svg></div>
            <div class="feature_title">1-YEAR WARRANTY</div>
          </div>
          <div class="shipping-feature">
            <div class="icon_wrapper"><svg xmlns="http://www.w3.org/2000/svg" width="37.889" height="28" viewBox="0 0 37.889 28" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="1.402" y1="0.267" x2="-0.32" y2="0.5" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#6dbf00"></stop><stop offset="0.335" stop-color="#6dbf00"></stop><stop offset="1" stop-color="#00bdff"></stop></linearGradient></defs><g transform="translate(-520.055 -761)"><g transform="translate(518.805 747.023)"><path d="M20.195,13.977c-10.447,0-18.945,4.657-18.945,10.38v6.866c0,5.929,8.5,10.754,18.945,10.754s18.945-4.824,18.945-10.754V24.357c0-5.724-8.5-10.38-18.945-10.38Zm0,.777c10.017,0,18.167,4.308,18.167,9.6a5.8,5.8,0,0,1-1.195,3.419C34,24.268,27.42,22.018,20.195,22.018c-7.177,0-13.811,2.256-16.976,5.755a5.8,5.8,0,0,1-1.192-3.416c0-5.295,8.15-9.6,18.167-9.6Zm0,19.206c-7.3,0-13.6-2.288-16.487-5.576,2.987-3.4,9.454-5.589,16.487-5.589,7.083,0,13.494,2.189,16.481,5.6-2.889,3.285-9.189,5.57-16.481,5.57ZM2.027,31.223V27.295c2.241,4.153,9.105,7.23,17.314,7.431a5.323,5.323,0,0,0-.02,6.461c-9.613-.25-17.295-4.623-17.295-9.963Zm36.335,0c0,5.471-8.061,9.925-18,9.973a4.555,4.555,0,0,1,0-6.462c7.549-.036,14.055-2.5,17.037-6.042a.3.3,0,0,0,.03-.017.364.364,0,0,0,.106-.149,8.189,8.189,0,0,0,.824-1.233Z" fill="url(#a)"></path><path d="M57.371,70.691a1.816,1.816,0,1,0,1.816,1.816A1.819,1.819,0,0,0,57.371,70.691Zm0,2.854a1.038,1.038,0,1,1,1.038-1.038A1.04,1.04,0,0,1,57.371,73.545Z" transform="translate(-33.201 -34.674)" fill="url(#a)"></path><path d="M71.36,67.363a1.816,1.816,0,1,0,1.816,1.816A1.819,1.819,0,0,0,71.36,67.363Zm0,2.855a1.039,1.039,0,1,1,1.038-1.04A1.04,1.04,0,0,1,71.36,70.218Z" transform="translate(-41.754 -32.64)" fill="url(#a)"></path></g></g></svg></div>
            <div class="feature_title">90 DAYS RISK FREE</div>
          </div>
          <div class="shipping-feature">
            <div class="icon_wrapper"><svg xmlns="http://www.w3.org/2000/svg" width="49.664" height="28" viewBox="0 0 49.664 28" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="1" x2="0.171" y2="1" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#6dbf00"></stop><stop offset="0.335" stop-color="#6dbf00"></stop><stop offset="1" stop-color="#00bdff"></stop></linearGradient></defs><g transform="translate(-674.999 -761)"><path d="M45.4,27.258H38.655a.933.933,0,0,0-.932.932V45.23a.936.936,0,0,0,.932.934h1.237v-.006l0-.013L39.9,46.1l0-.019,0-.035,0-.031,0-.025,0-.031,0-.027.006-.033v0l.008-.05v0l.01-.054.006-.035,0-.019.006-.035.006-.025.006-.027.015-.058L40,45.559l.008-.033v0l.013-.048,0,0,.015-.052.015-.05v0l.01-.04,0-.017.01-.031.008-.031.006-.019.01-.035.008-.025.006-.021.01-.033.017-.05v0l.017-.048v0l.008-.025.013-.035.008-.021.021-.054.013-.029.008-.023.019-.042,0-.008.038-.088.019-.038.017-.038.013-.029.025-.05.013-.027.008-.019.017-.035.006-.015.027-.054v0l.025-.046,0-.006.006-.013.021-.035.008-.013.021-.035.01-.017.017-.029.015-.025.01-.019.019-.029,0,0,.025-.042,0,0,.027-.044,0,0,.025-.04,0,0,.015-.021.05-.075.015-.021.025-.035,0-.008.027-.035.008-.01,0,0,.031-.042,0,0,.035-.046.033-.042.015-.017.023-.029.013-.015L41,43.54l.008-.01.027-.033.008-.01,0,0,.033-.04,0,0,.033-.038.006-.008.027-.031,0,0,.021-.023.019-.021.017-.017.025-.027.013-.015.081-.081a5.045,5.045,0,0,1,7.133,0l.081.081.013.015.025.027.017.017.019.021.021.023,0,0,.027.031.006.008.033.038,0,0,.033.04,0,0,.008.01.027.033.008.01.027.033.013.015.023.029.015.017.033.042.035.046,0,0,.031.042,0,0,.008.01.025.035.006.008.025.035.015.021.05.075.015.021,0,0,.025.04,0,0,.027.044,0,0,.025.042,0,0,.019.029.01.019.015.025.017.029.01.017.021.035.008.013.021.035.006.013,0,.006.025.046v0l.027.054.006.015.019.035.008.019.013.027.025.05.013.029.017.038.019.038.038.088,0,.008.019.042.008.023.013.029.021.054.008.021.013.035.008.025v0l.017.048v0l.017.05.01.033.006.021.008.025.01.035.006.019.008.031.01.031,0,.017.01.04v0l.015.05.015.052,0,0,.013.048v0l.008.033.006.027.015.058.006.027,0,.025.006.035,0,.019.006.035.01.054v0l.008.05v0l.006.033,0,.027,0,.031,0,.025,0,.031,0,.035,0,.019.006.046,0,.013v.006h1.168a.936.936,0,0,0,.932-.934V43.3H50.27a.707.707,0,0,1-.5-.209h0a.715.715,0,0,1-.209-.5V40.614a.7.7,0,0,1,.209-.5.707.707,0,0,1,.5-.209h1.737V36.084l-5.85-8.43a.887.887,0,0,0-.77-.4ZM13.55,51.591a.382.382,0,0,1,0-.763h4.136a5.1,5.1,0,0,1-.615-.524,5.03,5.03,0,0,1-1.445-3H12.294a2.286,2.286,0,0,1-2.282-2.282V41.765a2.286,2.286,0,0,1,2.282-2.282h2.52V24.356a.572.572,0,0,1,.571-.571H32.709a.572.572,0,0,1,.571.571V39.484h2.152a2.253,2.253,0,0,1,1.139.307v-11.6a2.079,2.079,0,0,1,2.077-2.077h6.743a2.048,2.048,0,0,1,1.706.895l5.926,8.541a.567.567,0,0,1,.129.363v9.321a2.079,2.079,0,0,1-2.077,2.077H49.907a5.031,5.031,0,0,1-1.445,3,5.1,5.1,0,0,1-.615.524h3.12a.382.382,0,1,1,0,.763H46.274a5.013,5.013,0,0,1-1.379.19,5.094,5.094,0,0,1-1.379-.19H38.549a.382.382,0,0,1,0-.763h3.4a5.1,5.1,0,0,1-.615-.524,5.031,5.031,0,0,1-1.445-3H38.647a2.071,2.071,0,0,1-1.468-.609c-.033-.033-.065-.067-.1-.1-.013.015-.027.027-.04.042a2.277,2.277,0,0,1-1.612.669H25.643a5.031,5.031,0,0,1-1.445,3,5.1,5.1,0,0,1-.615.524H33.16a.382.382,0,0,1,0,.763H22.01a5.013,5.013,0,0,1-1.379.19,5.094,5.094,0,0,1-1.379-.19h-5.71Zm22.757,0a.382.382,0,1,1,0-.763h.628a.382.382,0,1,1,0,.763Zm-8.716-14.02a.286.286,0,1,1,0-.571h2.152a.286.286,0,1,1,0,.571Zm-11.627,1.91H32.142V24.926H26.467v4.559a.381.381,0,0,1-.619.3L24.062,28.53,22.235,29.8a.383.383,0,0,1-.53-.1.379.379,0,0,1-.067-.217h0V24.925H15.961V39.482Zm20.615,2.284a1.147,1.147,0,0,0-1.139-1.139H12.3a1.125,1.125,0,0,0-.8.336,1.137,1.137,0,0,0-.336.8v3.262A1.147,1.147,0,0,0,12.3,46.166h3.331a5.044,5.044,0,0,1,10.024,0h9.788a1.147,1.147,0,0,0,1.139-1.139V41.765Zm15.44.968V40.481H50.281a.13.13,0,0,0-.1.04v0a.134.134,0,0,0-.04.1V42.6a.135.135,0,0,0,.138.136H52.02ZM3.775,35.809a.286.286,0,0,1,0-.571h.294a.286.286,0,0,1,0,.571Zm2.634,0a.286.286,0,0,1,0-.571h5.979a.286.286,0,0,1,0,.571ZM7.823,32a.286.286,0,1,1,0-.571h4.566a.286.286,0,1,1,0,.571ZM22.4,24.928v3.831l1.431-.993a.382.382,0,0,1,.453-.01l1.42,1V24.926H22.4ZM39.89,38.47a.286.286,0,1,1,0-.571h1.416a.286.286,0,0,1,0,.571ZM20.641,45.042a1.688,1.688,0,0,1,1.2.5l.021.023a1.695,1.695,0,0,1-.023,2.378l0,0a1.694,1.694,0,0,1-2.4,0l-.023-.023a1.7,1.7,0,0,1,1.224-2.874Zm.661,1.037a.935.935,0,0,0-1.339,1.306l.017.017a.935.935,0,0,0,1.6-.663.942.942,0,0,0-.257-.647l-.017-.017Zm2.1-2.1a3.9,3.9,0,1,0,1.143,2.757A3.891,3.891,0,0,0,23.4,43.982Zm21.507,1.06a1.691,1.691,0,0,1,1.2.5l.021.023a1.695,1.695,0,0,1-.023,2.378l0,0a1.694,1.694,0,0,1-2.4,0l-.023-.023A1.7,1.7,0,0,1,44.9,45.046Zm.661,1.037a.935.935,0,0,0-1.339,1.306l.017.017a.935.935,0,0,0,1.6-.663.942.942,0,0,0-.257-.647l-.017-.017Zm-4.561.661a3.9,3.9,0,1,0,1.143-2.757A3.882,3.882,0,0,0,41.006,46.74Zm7.733-11.208-4.107-6.17H40.271v6.17ZM45.152,28.77l4.6,6.91a.374.374,0,0,1,.079.232.382.382,0,0,1-.382.382H39.89a.382.382,0,0,1-.382-.382V28.978a.382.382,0,0,1,.382-.382h4.945a.38.38,0,0,1,.317.171Z" transform="translate(671.51 737.215)" fill="url(#a)"></path></g></svg></div>
            <div class="feature_title">FREE SHIPPING</div>
          </div>
        </div>
      </div>
    </div>

    <div data-legal-steps>
      <div class="legal_step {{ Shopify.Checkout.page }}">
        <!-- <input class="input-checkbox" type="checkbox" name="checkout" id="legal_step1" /> -->
        {% assign is_monthly = 'false' %}
        {% assign is_year = 'false' %}
        {% assign year_plan = '' %}
        {% assign price = null %}
        {% for line_item in checkout.line_items %}
          {% if line_item.product.tags contains 'plan_annual' %}
            {% assign is_year = 'true'; %}
            {% assign year_plan = 'annual' %}
            {% assign price = line_item.product.price | money %}
          {% elsif line_item.product.tags contains 'plan_biannual' %}
            {% assign is_year = 'true'; %}
            {% assign year_plan = 'biannual' %}
            {% assign price = line_item.product.price | money %}
          {% elsif line_item.product.tags contains 'plan_monthly' %}
            {% assign is_monthly = 'true' %}
          {% else %}
          {% endif %}
        {% endfor %}

        {% if is_year == 'true' %}
          <label class="regular-label">
            You authorize us to automatically continue your subscription and charge the {{ year_plan }} subscription plan amount to your payment method until you cancel. You agree to our <a href="https://learn.whistle.com/legal/end-user-agreement" target="_blank">Terms of Service</a> and <a href="https://www.mars.com/privacy" target="_blank">Privacy Policy</a>.
            {% comment %}<br>
            Fore more details on how to cancel, <a href="{{ shop.url }}/cart">click here</a>.{% endcomment %}
          </label>
          <label class="pay-label" data--hidden>
            By clicking "Pay Now", you authorize us to automatically continue your {{ year_plan }} subscription plan {{ price }}, after the conclusion of your free trial and to apply a charge for your plan to the payment method you provided unless you cancel before the end of the free trial. You agree to our <a href="https://learn.whistle.com/legal/end-user-agreement" target="_blank">Terms of Service</a> and <a href="https://www.mars.com/privacy" target="_blank">Privacy Policy</a>.
            {% comment %}<br>
            Fore more details on how to cancel, <a href="{{ shop.url }}/cart">click here</a>.{% endcomment %}
          </label>
        {% elsif is_monthly == 'true' %}
          <label>
            You authorize us to automatically continue your subscription and charge the monthly subscription plan amount to your payment method until you cancel, subject to a 1-year commitment and early termination fee.You agree to our <a href="https://learn.whistle.com/legal/end-user-agreement" target="_blank">Terms of Service</a> and <a href="https://www.mars.com/privacy" target="_blank">Privacy Policy</a>.
          </label>
        {% else %}
          <label>
            You authorize us to charge you the total amount stated above to the payment method you provided. You agree to our <a href="https://learn.whistle.com/legal/end-user-agreement" target="_blank">Terms of Service</a> and <a href="https://www.mars.com/privacy" target="_blank">Privacy Policy</a>.
          </label>
        {% endif %}

        <!-- <label class="contact_information">You authorize us to charge you the total amount stated above to the payment method you provided. You agree to our <a href="javascript:;">Terms of Service</a> and <a href="javascript:;">Privacy Policy.</a></label> -->
        <!-- <label class="shipping_method">You authorize us to charge you the total amount stated above to the payment method you provided. You agree to our <a href="javascript:;">Terms of Service</a> and <a href="javascript:;">Privacy Policy.</a></label> -->
        <!-- <label class="payment_method">You authorize us to charge you the total amount stated above to the payment method you provided. You agree to our <a href="javascript:;">Terms of Service</a> and <a href="javascript:;">Privacy Policy.</a></label> -->
      </div>
    </div>
  <script>	
  $(document).ready(function () {	
    
    async function getCurrentUser() {	
      const result = await fetch("/admin/api/2020-10/users/current.json");	
      if (result.status === 200) {	
        return result.json();	
      }	
      throw new Error(`Failed to get request, Shopify returned ${result.status} ${result.statusText}`);	
    }	
  	
  var form = $('#myForm');	
    form.submit(async function (e) {	
      e.preventDefault();
      
      const currentUser = await getCurrentUser();	

      const sendUser = "{{ checkout.customer.first_name }}";
      const recipientName = $('#recipientName').val();
      const recipientEmail = $('#recipientEmail').val();
      const subject = $('#subject').val();      
      const message = $('#message').val();
      
      const data = {
        recipientName,
        recipientEmail,
        subject,
        message,
        sendUser
      }
      
      $.ajax({
        url: "https://sendgrid-whistle-staging.herokuapp.com/api/sendEmail",
        type:'post',
        data:data,
        success:function(res){
          Swal.fire({
            title: "Thank you!",
            text: "We've sent your friend an email",
            icon: "success",
            confirmButtonText: "Ok" 
          })
      }
      }); 	
    })	
  })
  	
</script>	

    {{ tracking_code }}
    {% comment %}{% include 'smsbump_checkout_marketing_subscription' %}{% endcomment %}
    {% render 'checkout.js.liquid' %}
    
</body>
</html>
{% if Shopify.Checkout.page == "thank_you" %}
  console.log("THank you xxxxxxxxxx x xxxxxxxxxxx");
{% else %}
{% endif %}
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/iQmT6TKQmCkoaKVKXJHL0Q" async></script>
{% if order.created_at %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% comment %}
  {{ 'swell-rewards.scss.css' | asset_url | stylesheet_tag }}
  {% include 'swell-post-checkout' %}
  {% endcomment %}
{% endif %}

