.mega-menu__section {
  position: relative;
  left: 0;
  @include desktop {
    position: fixed;
    width: 100%;
    left: 50%;
  }
  @include s_r_tablet {
    // display: none;
    // transition: unset !important;
  }
}

.mega-menu {
  display: block !important;
  padding: 0;
}

.mega-menu__block {
  flex: unset;
}

.mega-menu__block.block__image {  
  .mega-menu__content {
    a {
      display: block;
      position: relative;
    }
    a .badge {
      background: $color-light-blue-new;
      border-radius: 5px;
      color: $color-white;;
      font-size: 8px;
      font-weight: 600;
      top: 6px;
      right: 6px;
      padding: 2px 5px;
      position: absolute;
      @include desktop {
        font-size: 12px;
        top: 10px;
        right: 15px;
      }
    }
  }
}