.minicart-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.75);
  opacity: 0;
  z-index: -1;
  transition: $transition-time opacity;

  .minicart.is-open + & {
    opacity: 1;
    z-index: 998;
  }
}

body.minicart-open {
  .minicart-bg {
    opacity: 1;
    z-index: 998;
  }
}
.minicart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  opacity: 0;  
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: $color-white;
  padding: 0px;
  transform: translate(105%, 0);
  transition: $transition-time;
  @include desktop {
    width: 620px;
  }
  &.is-open {
    opacity: 1;  
    transform: translate(0%, 0);
  }

  a[href="javascript:;"] {
    cursor: inherit !important;
    opacity: 1 !important;
  }

  .plan_popup {
    margin-top: 5px !important;
    .fit-popup-content {
      margin-top: -5px;
      svg {
        width: 14px;
        height: auto;
      }
    }
    .popup-content {
      left: 0px;
      @include mobile {
        margin-left: -70px;
      }
    }
  }

}

.minicart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: relative;
  .minicart__close {
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
    svg {
      width: 20px;
      height: auto;
      margin-bottom: 3px;
    }
  }
  .minicart_title {
    font-size: 16px;
    font-weight: bold;
    @include desktop {
      font-size: 24px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
    }
  }
  .minicart_cart-count {
    background: $color-new-green;
    color: $color-black;
    border-radius: 15px;
    display: flex;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    svg {
      margin-right: 5px;
      path {
        fill: $color-black;
      }
    }
  }
}

.minicart__close.btn.m-icon-only {
  padding: 0;
  letter-spacing: normal;
  // font-size: 14px;
}

.minicart-wrapper {
  height: calc(100% - 250px);
  padding: 20px 15px 40px;
  overflow-y: auto;
  &[data-count="0"] {
    height: auto !important;
  }
  @include desktop {
    height: calc(100% - 280px);
    padding: 20px 35px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fafafa;
    border-left: 1px solid #e8e8e8;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
    // border: 2px solid #555555;
  }

  .badge-save {
    color: #d44d4d;
    font-size: 12px;
    margin-top: -2px;
    @include mobile {
      font-size: 14px;
    }
  }
  .badge-afterpay {
    background: $color-blue;
    border-radius: 5px;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    margin-left: auto;
    margin-top: 4px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.minicart-empty {
  margin-top: 75px;
}

.minicart-empty-header {
  text-align: center;
  .minicart-empty-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.minicart-menu {
  margin-top: 45px;
}

.minicart-menu-item {
  margin-bottom: 15px;
  a {
    background: $color-blue;
    border-radius: 5px;
    color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    @include desktop {
      background: $color-new-green;
    }
  }
}

.minicart__body,
.minicart__footer  {
  text-transform: initial;
}

.minicart__noticiation {
  background: $color-cart-notification-bg;
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.minicart__free-shipping {
  text-align: center;

  .free-shipping__label {
    font-size: 16px;
    line-height: 1.84;
    color: #101820;
    margin-bottom: 5px;

    @include desktop {
      font-size: 19px;
    }

    span {
      font-weight: bold;
    }
  }

  .free-shipping_progress {
    background: #caced9;
    height: 8px;
  }

  .progress-complete {
    height: 100%;
    background: #163b66;
  }
}



.minicart__items {
  margin-top: 20px;
  position: relative;
  flex: 1;
  @include desktop {
    margin-top: 30px;
  }
}

.minicart__item {
  border: 1px solid #dfe3e8;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  position: relative;
  &+& {
    margin-top: 10px;
  }
  .btn {
    margin-top: $gutter;
  }
  &[data-type="Subscription"] {
    .minicart-qty {
      display: none !important;
    }
  }
}
a.minicart__item-image-wrapper {
  border: 1px solid #dfe3e8;
  border-radius: 5px;
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
  @include desktop {
    width: 100px;
    height: 100px;
  }
}
.minicart__item-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   background: #666;
  //   opacity: 0.1;
  //   z-index: 1;
  //   filter: opacity(0.5);
  // }
}

.minicart__item-info {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  font-size: 13px;
  margin-left: 10px;
  @include desktop {
    padding-top: $gutter;
  }
  .plan_popup {
    margin-top: 0px !important;
  }
}

.minicart__item-price-remove {
  min-width: 150px;
  text-align: right;
  @include mobile {
    display: flex;
    // margin-top: 5px;
    width: 100%;
    padding-left: 60px;
  }
  @include desktop {
    padding-top: $gutter;
  }
}

.subscription_item_price {
  @include mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .regular-price {
      margin-left: 5px;
    }
    .badge-afterpay {
      border-radius: 2px;
      margin-top: 0px;
      margin-left: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.minicart__item-vendor {
  margin: 0 0 5px 0;
}

.minicart__item-title {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  font-weight: bold;
  @include desktop {
    letter-spacing: 0.05em;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .item_feature {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-top: 5px;
    @include mobile {
      font-size: 14px;
    }
  }
}

.minicart__item-price {
  color: #666666;
  font-size: 16px;
  
  .regular-price {
    color: #000;
    @include desktop {
      color: #000000;
      font-weight: bold;
    }
  }
  .was-price + .regular-price {
    color: #d44d4d;
  }
  @include mobile {
    width: 100%;
    & > div > span {
      font-size: 16px;
      font-weight: bold;
    }
    div {
      text-align: left;
    }
  }
}

.minicart__item-options {
  font-size: 12px;
  // min-width: 50%;
  // max-width: 50%;
  .minicart_variant {
    display: block;
  }
}


.minicart__subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 10px;
  @include desktop {
    font-size: 19px;
    justify-content: center;
  }
  span {
    font-weight: bold;
    margin-right: 5px;
  }
}

.minicart__buttons {
  .btn {
    width: 100%;
  }
  a {
    @include mobile {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}

.btn-minicart-checkout {
  border-radius: 5px !important;  
  color: $color-black !important;
  display: flex !important;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 55px !important;
  width: 300px !important;
}

[data-remove-from-cart] {
  color: #666666 !important;
  font-size: 12px !important;
  &:hover {
    color: #000000 !important;
  }
}

.minicart__footer {
  background: #ffffff;
  box-shadow: 0 -10px 15px 0 #70707014;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  .minicart__footer-info {
    font-size: 12px;
    margin-top: 8px;
    padding-left: 35px;
    padding-right: 35px;
      text-align: center;
  }
  .shipping-features {
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 20px;
    .feature_title {
      font-weight: bold;
    }
    @include mobile {
      margin-top: 0px;
    }
  }
}

.minicart {

  .minicart-upsell {
    margin-top: 45px;
  }
  .upsell-wrapper {
    background: #f7f4f0;
    border: 1px solid #dfe3e8;
    border-radius: 5px;
    padding: 10px;
    @include desktop {
      padding: 15px;
    }
  }
  .upsell-item-wrapper {
    @include mobile {
      flex-wrap: wrap;
    }
  }
  .upsell-header {
    font-size: 16px;;
    font-weight: bold;
    align-items: center;
    margin-bottom: 10px;
  }
  .upsell-badge {
    background: $color-blue;
    border-radius: 2px;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 25px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .upsell-item {
    background: #fff;
    border: 1px solid #dfe3e8;
    border-radius: 5px;
    // margin-top: 15px;
    padding: 10px;
  }

  .upsell-item-image-wrapper {
    border: 1px solid #dfe3e8;
    border-radius: 5px;
    margin-right: 10px;
    width: 50px;
    height: fit-content;
    overflow: hidden;
    @include desktop {
      width: 80px;
    }
  }

  .upsell-item-info-wrapper {
    flex: 1;
    @include desktop {
      padding-top: 8px;
    }
  }

  .upsell-item-title {
    font-size: 16px;
    font-weight: bold;
    @include mobile {
      display: flex;
      justify-content: space-between;
      .upsell-price-mob {
        margin-left: 10px;
      }
    }
  }

  .upsell-item-desc {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
  }

  .upsell-item-price-wrapper {
    display: flex;
    padding-top: 8px;
    width: 100%;
    text-align: right;
    @include mobile {
      align-items: center;
      font-size: 14px;
      margin-top: 3px;
      padding-left: 60px;
    }
    @include desktop {
      flex-direction: column;
      width: 120px;
    }
    .was-price + .regular-price {
      color: #d44d4d;
    }
    .regular-price {
      font-weight: bold;
    }
  }

}


.custom-qty-dropdown {
  color: $color-dark-green;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-left: auto;
  margin-top: 4px;
  width: 80px;
  text-align: left;
  position: relative;
  @include desktop {
    margin-top: 8px;
  }
  .selected-option {
    border: 1px solid #dfe3e8;
    display: flex;
    border-radius: 5px;
    padding-left: 5px;
    @include mobile {
      padding-top: 3px;
      padding-bottom: 3px;
    }
    span {
      margin-left: auto;
      margin-right: 4px;
      svg {
        width: 10px;
        height: auto;
        transition: all .3s ease;
      }
    }
  }
  li {
    list-style: none;
    margin-top: 0px !important;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    &:hover, &.active {
      background: #f1f1f1;
    }
  }
  .options-list {
    background: #ffffff;
    border: 1px solid #dfe3e8;
    border-bottom-left-radius: 5px;        
    border-bottom-right-radius: 5px;
    color: $color-dark-green;
    display: none;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 9;
    li:first-child {
      border-bottom: 1px solid #dfe3e8;
    }
  }
  &.open, &:hover {
    .selected-option {
      border-color: #000000;
    }
    .options-list {
      border-color: #000000;
    }
  }
  &.open {
    .selected-option {
      border-bottom: none;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      svg {
        transform: rotateX(180deg);
      }
    }
    .options-list {
      display: block;
    }
  }
}



[data-upsell="false"] {
  .upsell-item:hover .upsell-btn-wrapper button.btn-upsell-atc {
    display: block;
  }
}
[data-upsell="true"] {
  .upsell-btn-wrapper button.btn-added {
    display: block;
  }
}
.upsell-btn-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
  button {
    // background: #FFF;
    // border: 1px solid #dfe3e8;
    border: none;
    display: none;
    background: $color-new-green;
    border-radius: 3px;
    // color: $color-button-text;
    color: $color-black;
    font-size: 14px;
    padding: 6px 20px;
    opacity: 1;
    transition: all .3s ease;
    // &:hover {
      // border-color: $color-blue;
    // }
    @include mobile {
      border-color: $color-blue;
    }
    &.btn-upsell-atc {
      @include mobile {
        display: block;
      }
    }
  }
  button[disabled] {
    // cursor: not-allowed;
    // display: none;
  }
}

.minicart-main[data-upsell="true"] {
  .upsell-btn-wrapper {
    .btn-upsell-atc {
      display: none;
    }
    button[disabled] {
      display: block;
    }
  }
  .upsell-item {
    cursor: pointer;
  }
}