.nav {
  display: flex;
  flex: 1;
  @include desktop {
    display: block;
    flex: unset;
  }
}
.nav.m-vertical {
  display: block;
  .nav__items {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__link {
    padding: $gutter/2 0;
  }
}
.nav.m-flex {
  display: flex;
  justify-content: space-between;
}
.nav__items {
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  @include desktop {
    border-bottom: none;
  }
  @include mobile {
    border-bottom: none;
  }
  &.m-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .nav__item.has-megamenu {
    a.nav__link {
      border-bottom: 1px solid #f0f0f0;
      opacity: 1 !important;
      @include desktop {
        border-bottom: none;
      }
    }
  }
  .nav__item a.nav__link {
    @include mobile {
      border-bottom: 1px solid #f0f0f0;
    }
  }
}

.mob-link-wrapper {
  list-style: none;
  padding: 0;
  // padding-left: 20px;
  // padding-right: 20px;
  // padding-top: 12px;
  li {
    border-bottom: 1px solid #f0f0f0;
  }
  li a {
    color: $color-black;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 20px;
    // padding-top: 12px;
    // padding-bottom: 12px;
  }
}

.our-customers {
  padding-left: 20px;
  padding-bottom: 30px;
  & > svg {
    fill: #ffc100;
    width: 75px;
  }
  .title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .slider-wrapper {
    margin-left: -3px;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .slider-item {
    min-width: 40%;
    max-width: 40%;
    padding: 3px;
    .item_wrapper {
      border: 1px solid #eee;
      border-radius: 5px;
      overflow: hidden;
    }
  }

  .info_wrapper {
    border-top: 1px solid #eee;
    align-items: center;
    font-size: 14px;
    padding: 3px 5px;
  }
  .icon_wrapper {
    width: 20px;
  }
  .item_title {
    margin-left: 5px;
  }
}

.social_link {
  a {
    svg {
      width: 20px;
      height: auto;
    }
  }
  .wrapper {
    justify-content: center;
    padding-bottom: 45px;
    padding-top: 15px;
    .social_item {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.nav__link {
  display: inline-block;
  padding: 6px $gutter;
  font-size: $fz-body;
  color: inherit;
  @include s_r_tablet {
    font-size: 12px !important;
    padding: 6px 10px;
  }
  &.is-open {
    color: $color-light-green !important;
    @include desktop {
      color: #000 !important;
    }
  }
  &:hover {
    text-decoration: none;
  }
}
.nav__link.m-icon {
  padding: 6px 20px;
  .nav__item:hover > & {
    opacity: 1;
    @include desktop {
      opacity: $nav-link-hover-opacity;
    }
    .icon-caret-down {
      transform: rotate(0);
      @include desktop {
        transform: rotate(-180deg);
      }
    }
  }
  &.m-cart {
    // background: #323335;
    // background: $color-new-green;
    background: $color-light-green;
    border-radius: 15px;
    color: $color-dark-green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    opacity: 1 !important;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: all .3s ease;
    span, svg path {
      transition: all .3s ease;
    }
    &:hover {
      background: $color-dark-green;
      color: $color-light-green;
      span {
        color: $color-light-green;
      }
      svg path {
        fill: $color-light-green;
      }
    }
  }
  &.is-open {
    opacity: $nav-link-hover-opacity !important;
    .icon-caret-down {
      transform: rotate(-180deg) !important;
    }
  }

  .icon,
  i {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    transition: $transition-time;
  }
}

.nav__title {
  font-size: 19px;
  font-weight: 600;
}

// Dropdown
.nav-dropdown {
  display: none;
  padding: 0;
  min-width: 0;
  position: static;
  transform: none;
  opacity: 1;
  z-index: 1;
  box-shadow: none;
  background: transparent;
  pointer-events: none;
  transition: none;
  top: 0%;
  left: 50%;
  right: 0;

  @include desktop {
    border-top: 1px solid #ccc;
    min-width: 1200px;
    display: flex;
    padding: 0 $gutter $gutter*2 $gutter*2;
    position: fixed;
    box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.17);
    background: $color-dropdown-bg;
    transition: $transition-time all ease-out;
    z-index: -1;
    transform: translate(-50%, -100%);
    opacity: 0;
    width: 100%;
    .container {
      max-width: 1100px;
    }
  }
  

  &.m-wide {
    min-width: 0;
    width: 100%;
  }
  .nav__item.m-level-1:hover > &,
  .is-open + & {
    pointer-events: auto;
    transform: none;
    top: 100%;
    opacity: 1;
    @include desktop {
      transform: translate(-50%, 0);
    }
  }
  .col {
    padding: 0;
    +.col {
      padding-left: $gutter;
    }
  }
  .nav__items {
    +.nav__items {
      margin-left: $gutter*2;
    }
    &.m-secondary {
      margin-top: $gutter*2;
    }
    &.m-primary {
      .nav__item + .nav__item {
        margin-top: $gutter*2;
      }
      .nav__link {
        text-transform: uppercase;
        font-family: $ff-title;
        font-size: $fz-title;
      }
    }
  }
  .nav__link {
    display: block;
    padding: 0.25em 0;
    color: $color-black;
    b {
      font-weight: normal;
      @include desktop {
        font-weight: 600;
      }
    }
    &:hover, &.m-level-2:hover {
      color: $color-green;
    }
    &.m-level-2 {
      padding: 0;
      font-size: 16px;
      // font-size: $fz-4;
      // color: $color-blue;
      color: $color-black;
      b {
        font-weight: normal;
      }
    }
    &.m-level-3 {
      font-size: $fz-6;
      font-weight: normal;
    }
  }
  
  &.mega-menu__section {
    padding: 15px 0;
    @include desktop {
      border-top: 1px solid #cccccc;
      padding: 30px 0px;
    }
    & > .mega-menu {
      margin-left: auto;
      margin-right: auto;
    }
    img {
      border-radius: 5px !important;
      height: unset;
    }
    .mega-menu .mega-menu__banner .container .column {
      max-width: calc(100% - 20px);
      min-width: calc(100% - 20px);
    }
    .mega-menu .container {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0px;
      padding-right: 0px;
      & > .column {
        min-width: 50%;
        max-width: 50%;
        &.block__empty-column {
          display: none;
        }
      }
      & > .column {
        padding-top: 20px;
        &.block__menu {
          .mega-menu__content {
            p:not(.menu__heading) {
              font-size: 12px;
            }
            ul {
              list-style: none;
              li a {
                font-size: 14px;
              }
            }
          }
        }
        &.block__featured-promo {
          .mega-menu__content.promo_text_content {
            margin-top: 10px;
            p {
              font-size: 12px;
            }
          }
          .mega-menu__content.promo_img_content {
            svg {
              border: 1px solid #999;
            }
          }
          .mega-menu__content.promo_button_content {
            margin-bottom: 5px;
            a.button.button--primary {
              background: #000;
              color: #fff;
              display: block;
              font-size: 14px;
              line-height: 31px;
              width: 100%;
              height: 30px;
              text-align: center;
            }
          }
        }
        &.block__image {
          .mega-menu__content.menu-content-image {
            svg {
              border: 1px solid #999;
            }
          }
          .mega-menu__content.content {
            margin-top: 10px;
            p {
              font-size: 12px;
            }
          }
        }
        &.block__featured-product {
          svg {
            border: 1px solid #999;
          }
          .menu__heading.product__title {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 0px;
          }
          .product__price {
            font-size: 14px;
          }
          .price {
            font-size: 14px;
          }
        }
      }
    }
    .mega-menu__banner {
      text-align: center;
      .container {
        .is-justify-center.is-align-center {
          margin: 0 auto;
          text-align: center;
        }
      }
    }
    .container {
      flex-direction: column-reverse;
      @include desktop {
        flex-direction: unset;
        width: 1100px;
      }
      @include r_tablet {
        width: 100vw;
      }
      .menu_block_wrapper {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
        @include desktop {
          flex-wrap: unset;
          padding-left: 0px;
          padding-right: 0px;
        }
        .column.mega-menu__block {
          margin-bottom: 25px;
          min-width: 50%;
          max-width: 50%;
          padding-left: 5px;
          padding-right: 5px;
          @include desktop {
            margin-bottom: 15px;
            min-width: unset;
            max-width: unset;
            padding-left: 12px;
            padding-right: 12px;
          }
          &.block__image {
            .block_title {
              line-height: 1;
              margin-top: 10px;
              @include mobile {
                margin-bottom: 3px;
              }
              @include desktop {
                line-height: unset;
              }
              a {
                color: $color-dark-green;
                font-family: $fs-stb;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                @include desktop {
                  font-size: 16px;
                }
              }
            }
            .block_subtitle {
              line-height: 1.43;
              @include desktop {
                margin-top: 3px;
              }
              a {
                color: $color-dark-green;
                font-size: 12px;
                font-weight: 500;
                text-decoration: none;
                @include desktop {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .menu_side {
        box-sizing: content-box;
        padding-left: 20px;
        padding-right: 20px;
        @include desktop {
          max-width: 180px;
          padding-right: 30px;
          padding-top: 30px;
        }
        .side_title {
          color: #323335;
          font-size: 24px;
          font-weight: bold;
          line-height: 1.21;
        }
        .side_btn_wrapper {
          margin-top: 8px;
          a {
            color: $color-link-new;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.42px;
            text-decoration: none;
            svg path {
              fill: $color-link-new;
            }
            &:hover {
              color: $color-link-hover-new;
              svg path {
                fill: $color-link-hover-new;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 640px) {
    .nav-dropdown__feature {
      .nav-dropdown__image {
        display: block;
      }
      .nav__link.m-level-2 {
        color: #000;
        padding-left: 0px;
      }
    }
  }
}

.nav-dropdown__image {
  display: none;
  @include desktop {
    display: block;
    text-decoration: none;
    overflow: hidden;
  }
  &:hover {
    // img { transform: scale(1.1) }
  }
  img {
    width: 180px;
    max-width: none;
    height: 180px;
    object-fit: cover;
    // transition: $transition-time*3;
  }
}
.nav-dropdown__feature {
  padding-top: 0;
  display: block;
  @include desktop {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: $gutter*2;
    flex: 1;
  }
}
.nav-dropdown__feature-item {
  min-width: 0;
  max-width: none;
  @include desktop {
    margin-left: 25px;
    margin-right: 25px;
  }
  &.m-wide {
    min-width: 0;
    max-width: none;
    @include desktop {
      min-width: 360px;
      max-width: 360px;
    }
  }
}

.nav-banner {
  display: block;
  flex: 1;
  position: relative;
  &.m-white {
    color: $color-white;
    .title, .pretitle {
      color: inherit;
    }
    .nav-banner__content {
      background: rgba(0,0,0,0.2);
    }
  }
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
  .btn {
    margin-top: $gutter*2;
  }
}
.nav-banner__content {
  max-width: 400px;
  padding: $gutter*2;
  position: absolute;
  left: $gutter*2;
  bottom: $gutter*2;
}

a.menu-active {
  color: $color-light-blue-new !important;
}