// body.template-page-refer {
//   .yotpo-widget-referral-widget .yotpo-background.yotpo-left-align-background {
//     background-color: $color-btn-hover !important;
//     *:not(input) {
//       color: $color-dark-green !important;
//     }
//     button {
//       background: $color-dark-green !important;
//       border: 2px solid $color-dark-green !important;
//       border-radius: 100px !important;
//       transition: all .3s ease !important;
//       span {
//         color: $color-light-green !important;
//         transition: all .3s ease !important;
//       }
//       &:hover {
//         background: $color-white !important;
//         span {
//           color: $color-dark-green !important;
//         }
//       }
//     }
//   }
//   .yotpo-widget-referral-widget .yotpo-background .yotpo-tile-wrapper .yotpo-tile .yotpo-tile-box .yotpo-email-view .yotpo-referral-widget-form .yotpo-button-style {
//     border-radius: 100px !important;
//   }
  
//   .yotpo-widget-referral-widget .yotpo-background .yotpo-tile-wrapper .yotpo-tile .yotpo-tile-box .yotpo-email-view .yotpo-referral-widget-form .yotpo-button-style:hover {
//     border: 2px solid $color-dark-green !important;
//   }
// }

body.template-page-legal {
  .page-content {
    margin: 0 auto;
    max-width: 1100px;

    p > strong {
      display: block;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    a {
      color: $color-light-blue-new !important;
      opacity: 1 !important;
      transition: all .3s ease;
      &:hover {
        color: $color-dark-green !important;
      }
    }
  }
}