

.popup {
  max-height: 100%;
  position: fixed;
  z-index: 999;
  &.is-hidden {
    display: none;
  }
}

.popup-bg,
.popup-window {
  position: absolute;
}

.popup,
.popup-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup-bg {
  z-index: 998;
  background: black;
  opacity: 0.4;
}

.popup-window {
  background: $color-white;
  width: 90%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  top: 5%;
  max-height: 100vh;
  max-height: 90vh;
  transform: none;
  z-index: 999;
  overflow-y: auto;
  @include desktop {
    top: 50%;
    left: 50%;
    right: unset;
    bottom: unset;
    transform: translate(-50%, -50%);
  }
}

.close {
  width: 20px;
  height: 20px;
  right: 15px;
  top: 15px;
  position: absolute;
  font-size: $fz-3;
  opacity: .5;
  background: none;
  border: none;

  @include desktop {
    top: $gutter;
    right: $gutter;
  }

  &:hover {
    opacity: 1;
  }
}

.quick-view-popup {
  width: unset;
}


body.template-collection, body.template-product {
  button.close {
    width: 12px;
    height: 12px;
    padding: 0px;
    svg {
      width: 12px;
      height: auto;
      top: 0px;
      left: 0px;
      position: absolute;
    }
  }
  [data-popup="size-guide"] {
    .popup-window {
      width: 90%;
      @include desktop {
        width: 640px;
      }
    }
  }
}

[data-popup="cart-err-popup"] {
  button {
    opacity: 1;
    z-index: 1;
    width: 16px !important;
    height: 16px !important;
    svg {
      fill: $color-light-blue-new;
      stroke: $color-light-blue-new;
      stroke-width: 20px;
      width: 16px !important;
    }
  }
  .popup-content {
    border-radius: 5px;
  }
  .popup-window {
    border-radius: 5px;
    max-width: 360px;
    width: 90%;
    top: 50% !important;
    left: 50% !important;
    bottom: unset !important;
    transform: translate(-50%, -50%);
    .text_wrapper {
      padding: 20px 45px;
      text-align: center;
      .popup_title {
        color: #53585a;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
      }
      .popup_text {
        color: #53585a;
        font-size: 18px;
        line-height: 1.5;
        margin-top: 15px;
        p {
          margin: 0px;
        }
      }
    }
  }
}


[data-popup="size-chart"], [data-popup="coupon"] {
  .popup-window {
    border-radius: 5px;
    width: 90%;
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    @include desktop {
      width: 600px;
      transform: translate(-50%, -50%);
    }
    button.close {
      width: 14px;
      height: 14px;
      z-index: 9;
      svg {
        width: 100%;
        stroke-width: 2px;
        stroke: #FFF;
        path {
          fill: #FFF;
          stroke-width: 2px;
          stroke: #FFF;
        }
      }
    }
  }
}


[data-popup="coupon"] {
  .popup-window {
    @include desktop {
      width: 800px;
    }
  }
}

.popup.compare-model-popup .popup-window {
  @include mobile {
    width: 100% !important;
    // left: 3%;
  }
}


[data-popup="sms-popup"] {
  button.close {
    background: $color-light-blue-new;
    border-radius: 50%;
    width: 25px !important;
    height: 25px !important;
    padding: 0px;
    opacity: 1 !important;
    z-index: 9;
    svg {
      fill: $color-white !important;
      width: 10px !important;
      height: auto !important;
      top: 50% !important;
      left: 50% !important;
      position: absolute !important;
      transform: translate(-50%, -50%) !important;
    }
  }
  .popup-window {
    border-radius: 5px;
    // color: #53585A;
    width: 90%;
    text-align: center;
    @include desktop {
      width: 760px;
    }
  }
  .popup-content {
    @include mobile {
      padding-left: 15px;
      padding-right: 15px;
    }
    .popup_title {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
    }
    .popup_form {
      #smsbump-form-49564 .jAzqba.jAzqba {
        border-radius: 5px !important;
      }
      div {
        background: transparent !important;
      }

      .form-renderer {
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
        @include mobile {
          flex-direction: column;
        }
      }
      .cVJjNS.cVJjNS {
        @include mobile {
          padding: 0px;
        }
      }
      .input-field {
        flex-direction: column;
        input {
          border: none;
          border-radius: 5px;
          margin-top: 4px;
          margin-bottom: 4px;
          height: 45px;
          width: 100% !important;
          padding-left: 10px !important;
          padding-right: 10px !important;
          outline: none;
          @include desktop {
            margin-top: 6px;
            margin-bottom: 6px;
            width: 300px !important;
          }
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
        }
      }
      .cw-invalid-feedback {
        color: red !important;
        font-size: 12px;
        transform: translateY(-5px);
      }
      .form-holder {
        .input-field-wrapper {
          margin-bottom: 0px !important;
        }
      }
      .smsb-subscribe-button-holder {
        margin-top: 0px !important;
      }
      .smsb-subscribe-button {
        background: #53585a;
        border: none;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        outline: none;
        font-weight: bold !important;
        letter-spacing: 1px;
        width: 130px;
        height: 45px;
        position: relative;
        & > div {
          position: absolute !important;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin-top: -10px;
          margin-left: -10px !important;
        }
        @include desktop {
          margin-left: 30px;
        }
        @include mobile {
          box-sizing: content-box;
          margin-top: 3px;
          padding-left: 3px;
          padding-right: 3px;
          width: 100%;
        }
      }
      .sms-policy-text.cw-compliance-text {
        display: none !important;
      }
    }
    .image_wrapper {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    .popup_title {
      font-size: 24px;
      font-weight: 900;
      letter-spacing: 3px;
      @include desktop {
        font-size: 30px;
      }
    }
    .popup_subtitle {
      font-size: 14px;
      letter-spacing: 1px;
      margin-top: 10px;
      max-width: 580px;
      margin-left: auto;
      margin-right: auto;
    }
    .footer_text {
      font-size: 11px;
      letter-spacing: 1px;
      line-height: 1.3;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      a {
        color: $color-light-blue-new;
        font-weight: normal;
        opacity: 1;
        text-decoration: underline !important;
      }
    }
  }

  .popup_form {
    align-items: center;
    justify-content: center;
    @include mobile {
      flex-direction: column;
    }
  }

  .sms_form {
    .smsb-subscribe-button.cw-btn {
      display: none;
    }
    .vxbem9-0.bptaVv {
      padding: 0px !important;
    }
    .sc-1d4w5cg-2.jjGpNn.form-renderer {
      display: flex;
      flex-direction: column;
    }
    .cw-invalid-feedback.feedback-error {
      text-align: left !important;
    }
    .vxbem9-0.cVJjNS {
      @include mobile {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }
  .iterable_form {
    input {
      border: none;
      border-radius: 5px;
      outline: none;
      height: 3em;
      width: 300px;
      padding: 10px;
      &::-webkit-input-placeholder { /* Edge */
        color: #9ba1ac;
      }
    }
    .error_msg {
      color: #000;
      font-size: 12px;
      text-align: left;
    }
    input[type="submit"] {
      display: none;
    }
  }

  .btn_wrapper {
    button[data-submit] {
      background: #3cf084;
      border: none;
      border-radius: 5px;
      color: $color-dark-green;
      font-size: 14px;
      font-family: $fs-stb;
      font-weight: bold;
      width: 130px;
      height: 45px;
      outline: none;
      letter-spacing: 1px;
      margin-left: 30px;
      @include mobile {
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 20px;
      }
    }
  }


}

[data-popup="size-guide-video"] {
  .popup-window {
    border-radius: 5px;
    padding: 45px;
    text-align: center;
    width: 700px;
    @include mobile {
      width: 90%;
      height: fit-content;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .video-label {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
    @include desktop {
      font-size: 24px;
      margin-bottom: 20px;
    }
    @include mobile {
      margin-top: 20px;
    }
  }
  iframe {
    border-radius: 5px;
  }
  button.close {
    font-size: 10px;
    font-weight: bold;
    width: auto !important;
    height: auto !important;
    outline: none;
    border: none;
    svg {
      position: relative !important;
      width: 20px !important;
      height: auto !important;
    }
  }
}


.popup[data-popup="gift-upsell"] {
  .popup-window {
    background: #f6f7f8;
    border-radius: 10px;
    width: 1080px;
  }
  .popup-content {
    padding-top: 45px;
    padding-bottom: 45px;
    .title, .subtitle {
      text-align: center;
    }
    .subtitle {
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }
  .upsell-wrapper {
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    .upsell-item {
      background: $color-white;
      border: 1px solid #d2d2d8;
      border-radius: 5px;
      cursor: pointer;
      flex: 1;
      max-width: calc(100% / 3  - 10px);
      overflow: hidden;
      transition: all .3s ease;
      position: relative;
      .icon-selected {
        display: none;
        top: -1px;
        left: -1px;
        position: absolute;
        z-index: 1;
      }
      &.disable {
        opacity: .5;
      }
      &.active {
        border: 2px solid $color-light-blue-new;
        box-shadow: 0 7px 15px 0 #0000002b;
        .icon-selected {
          display: block;
        }
      }
    }
    .product-item {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .btn_wrapper {
      .product_price span {
        display: block;
      }
    }
    .info_wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-end;
      padding: 20px;
      .product_title {
        color: $color-dark-green;
      }
      .info {
        flex: 1;
      }
    }
    .product_atc_form {
      .product-color-variants, #product-variant-selector {
        margin-top: 10px;
      }
      #product-variant-selector {
        appearance: none;
        border: 1px solid #d9d9d9;
        background: url('down-chevron.svg') #fcfcfc;
        background-position: calc(100% - 8px) center;
        background-repeat: no-repeat;
        border-radius: 3px;
        height: 35px;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
      }
      .btn_wrapper {
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
      }
      button {
        font-size: 14px;
        height: 35px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .product-color-variants {
      label {
        font-size: 14px;
        margin: 0px;
      }
      .product-variants-wrapper {
        flex: 1;
        align-items: center;
        justify-content: flex-end;
      }
      .color-variant-item {
        border-radius: 50px;
        margin-left: 4px;
        width: 18px;
        height: 18px;
        position: relative;

        input {
          display: none;
        }
        input + label {
          border-radius: 50px;
          cursor: pointer;
          width: 16px;
          height: 16px;
        }
        input:checked + label {
          border: 1px solid $color-light-blue-new;
          &::after {
            content: '';
            border: 2px solid $color-white;
            border-radius: 50px;
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
      
      // .color-variant-item.active {
      //   border: 1px solid $color-light-blue-new;
      //   &::after {
      //     content: '';
      //     border: 2px solid $color-white;
      //     border-radius: 50px;
      //     display: block;
      //     width: 100%;
      //     height: 100%;
      //   }
      // }
    }
  }
  .popup-footer {
    text-align: center;
    .total_price {
      label {
        font-size: 19px;
        font-weight: bold;
      }
      .save {
        color: #d44d4d;
      }
    }
    .checkout_buttons {
      justify-content: center;
      margin-top: 45px;
      button {
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        font-family: $fs-stb;
        font-weight: 500;
        font-size: 19px;
        margin-left: 10px;
        margin-right: 10px;
        width: 320px;
        height: 60px;
        opacity: 1 !important;
        div {
          font-size: 14px;
        }
        &[disabled] {
          opacity: .3 !important;
          pointer-events: none;
        }
      }
      button.regular-checkout {
        border: 2px solid $color-dark-green;
        color: $color-dark-green;
        &:hover {
          background: $color-dark-green;
          color: $color-light-green;
        }
      }
    }
    [data-popup-close] {
      color: $color-dark-green;
      cursor: pointer;
      font-family: $fs-stb;
      font-weight: 500;
      margin-top: 30px;
      margin-bottom: 45px;
      text-decoration: underline;
    }
  }
}