.reviews__container {
  max-width: $container-m;

}
.reviews__item {
  margin-top: $gutter*3;
}

.reviews__btn .btn {
  margin-top: $gutter*4;
}

.bottom-line-items-container-desktop .bottom-line-items-wrapper .avg-score {
  color: $color-dark-green;
  font-family: $fs-stb !important;
  font-weight: 500 !important;
  font-size: 48px !important;
}

#shopify-section-custom-product-reviews, body.template-page {

  .bottom-line-items-wrapper, .yotpo-drop-down-layout .yotpo-dropdown {
    .yotpo-filter-stars > span, .yotpo-filter-stars > span::before {
      color: $color-subtitle !important;
    }

    @include desktop {
      .bottom-line-items .yotpo-filter-stars .yotpo-icon {
        width: 30px !important;
        height: 30px !important;
      }
      .yotpo-filter-stars > span {
        font-size: 30px !important;
      }
    }
  }

  .bottom-line-items-container-desktop .bottom-line-items-wrapper .reviews-qa-labels-container .reviews-qa-label {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-size: 20px;
    font-weight: 500;
    width: fit-content;
    height: auto;
    margin-top: 30px;
  }
  
  .bottom-line-items-container-desktop .bottom-line-items-wrapper .yotpo-star-distribution-wrapper .yotpo-distribution-rows .yotpo-distribution-row {
    margin-top: 4px;
    margin-bottom: 4px;
    .yotpo-star-distribution-score-value {
      color: $color-subtitle;
      font-size: 16px;
    }
    .yotpo-star-distribution-bar {
      background: #e6edee;
      height: 8px;
      margin-top: 9px;
    }
    .yotpo-star-distribution-bar .yotpo-star-distribution-bar-score {
      background: $color-dark-green;
      height: 8px;
    }
  }

  .write-question-review-buttons-container .write-question-review-button.write-review-button {
    background: $color-dark-green;
    border-radius: 100px;
    height: 45px;
    opacity: 1 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    transition: all .3s ease;
    @include desktop {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
    span {
      color: $color-btn-hover;
    }
    .yotpo-icon {
      color: $color-btn-hover !important;
    }

    &:hover {
      background: $color-btn-hover !important;
      span {
        color: $color-dark-green;
      }
      .yotpo-icon {
        color: $color-dark-green !important;
      }
    }
  }

  .write-question-review-buttons-container .write-question-review-button.write-question-button {
    background: $color-btn-hover;
    border-radius: 100px;
    height: 45px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    opacity: 1 !important;
    transition: all .3s ease;
    @include desktop {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
    span {
      color: $color-dark-green;
    }
    .yotpo-icon {
      color: $color-dark-green !important;
    }
    &:hover {
      background: $color-dark-green !important;
      span {
        color: $color-btn-hover;
      }
      .yotpo-icon {
        color: $color-btn-hover !important;
      }
    }
  }

  .yotpo .yotpo-regular-box {
    @include desktop {
      margin-bottom: 120px;
    }
  }

  .write-question-review-buttons-container {
    margin-top: -30px;
    z-index: 1; 
  }

  .yotpo .yotpo-nav ul .yotpo-nav-tab span {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-size: 16px;
    font-weight: 500;
  }

  .yotpo .yotpo-nav ul .yotpo-nav-tab.yotpo-active .yotpo-nav-wrapper {
    border-color: $color-dark-green;
  }

  .yotpo .yotpo-nav {
    margin-bottom: -4px;
  }

  .filters-container .filters-container-title {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-size: 20px;
    font-weight: 500;
  }

  .filters-dropdown .yotpo-dropdown-button {
    height: 45px;
  }

  .filters-dropdown .yotpo-dropdown-button .selected, .reviews-header .reviews-amount {
    color: $color-dark-green;
    font-size: 20px;
    font-weight: normal;
  }

  .yotpo .yotpo-review .yotpo-main .content-title {
    color: $color-dark-green !important;
    font-family: $fs-stb;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .yotpo .yotpo-review .yotpo-main .content-review {
    line-height: 1.5;
  }

  .yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-user-name,
  .yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-review-date,
  .yotpo .yotpo-review .yotpo-main .content-review {
    color: $color-dark-green !important;
    font-size: 16px;
  }

  .yotpo .yotpo-review .yotpo-header .yotpo-header-element .yotpo-review-stars > span::before {
    color: $color-subtitle;
  }

  .yotpo .yotpo-review .yotpo-read-more {
    color: $color-subtitle;
    font-family: $fs-stb;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    text-underline-position: under;
  }

  .yotpo .yotpo-review .yotpo-footer .y-label, .yotpo .transparent-color-btn span.yotpo-icon {
    color: $color-dark-green;
    font-size: 16px;
  }

  .yotpo .yotpo-review .yotpo-footer .footer-actions .yotpo-icon {
    color: $color-dark-green;
    font-size: 20px;
  }

  .yotpo .yotpo-pager .yotpo-page-element {
    color: #515f62 !important;
    font-size: 18px;
  }

  .yotpo .yotpo-pager .yotpo-page-element.yotpo-icon-left-arrow,
  .yotpo .yotpo-pager .yotpo-page-element.yotpo-icon-right-arrow {
    font-weight: 900 !important;;
  }

  .yotpo .yotpo-pager .yotpo-page-element {
    margin-right: 20px;
  }

}

body.template-page {
  .yotpo-bottomline {
    .yotpo-stars > span::before {
      color: $color-subtitle;
    }
    a {
      color: $color-link-hover-new !important;
    }
  }
  .yotpo-nav-tab * {
    color: $color-dark-green !important;
  }
  .yotpo-main {
    div, p, span {
      color: $color-dark-green;
    }
  }
}