.vertical-slider-section {
  padding: 0 !important;
  background: $color-white !important;
}
.vertical-slider {
  @include desktop {
    top: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: $header-height;
  }
  .container {
    padding: 0;
    position: relative;
    @include desktop {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .s4__image + .s4__text {
    padding: 40px 25px 25px 40px;
    @include desktop {
      padding: 25px 25px 115px 25px;
    }
  }
  &.m-vertical-dots.m-left-dots {
    .slider-controls {
      display: block;
      visibility: visible;
      position: absolute;
      top: 62%;
      left: 40px;
      margin-top: 0;
      transform: translate(0, -50%);
      transition: $transition-time;
      z-index: 9;
      @include desktop {
        left: -25px;
        margin-top: 104px;
        top: 50%;
      }
    }
    .slider-dots {
      background: #FFF;
      border: 1px solid #dfe3e8;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      width: 20px;
      transform: none;
      padding-top: 12px;
      padding-bottom: 12px;
      position: static;

    }
    li {
      align-items: center;
      display: flex;
      margin: 0px;
      button {
        background: #5a5a5a;
        border: none;
        border-radius: 50%;
        margin: 0;
        width: 5px;
        height: 5px;
        &.is-active {
          border: 2px solid $color-green;
          width: 12px;
          height: 12px;
        }
        &.is-active + .dots-line {
          opacity: 1;
        }
      }
    }
    .dots-line {
      display: none;
      @include desktop {
        display: block;
        width: $gutter*6;
        height: 2px;
        background: $color-brown;
        opacity: 0;
        transition: $transition-time;
      }
    }
    [data-scroll-count] {
      color: #666666;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
      margin-left: -5px;
      width: 30px;
      text-align: center;
    }
    .slider-arrow2 {
      margin-left: 2px;
      svg {
        fill: #666666;
        width: 15px;
        height: auto;
      }
    }
  }
  &.is-fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &.is-hidden {
    display: none;
  }

}

.vertical-slide {
  position: relative;
  @include desktop {
    height: auto;
  }
}