.bmbs {
  padding: $gutter 0;
  border-bottom: 2px solid $color-blue;
  font-size: $fz-4;
  font-weight: 600;
  @include mobile {
    padding: $gutter/2 0;
    font-size: 14px;
  }
  a {
    color: inherit;
  }
  .circle-dot {
    margin: 0 0.5em;
    font-size: 1.5em;
    background-color: currentColor;
  }
}

.article-header {
  display: flex;
  @include mobile {
    display: block;
  }
  .pretitle {
    text-transform: uppercase;
  }
}
.article-header__meta {
  margin-top: $gutter;
  font-size: $fz-5;
  font-weight: 500;
  font-stretch: condensed;
}
.article-header__image {
  min-width: 100%;
  max-width: 100%;
  img {
    width: 100%;
  }
  @include mobile {
    min-width: 0;
    max-width: none;
  }
}
.article-header__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $gutter*2 $gutter*5;
}

.article {
  margin-top: $gutter*3;
}
.article__container {
  display: flex;
  align-items: flex-start;
}


.article__sidebar {
  width: 200px;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: $header-height;
  background: $color-grey-lightest;
  .product-cell {
    margin-top: 20px;
    @include mobile {
      max-width: 200px;
      margin: 20px auto 0;
    }
  }
  .product-cell__title {
    margin-top: 5px;
    font-size: $fz-5;
    font-family: $ff-body;
    font-weight: 500;
    font-stretch: condensed;
  }
  .product-cell__info {
    flex-direction: column;
  }
  .product-cell__info-left {
    order: 1;
  }
  .product-cell__info-right {
    order: 0;
  }
  .btn.add-to-cart {
    height: 50px;
    padding: 0 10px;
    font-size: $fz-6;
  }
}


.article__content-wrap {
  flex: 1;
  padding-left: $gutter*2;
  @include mobile {
    padding-left: 0;
  }
  .pagination-buttons {
    margin: $gutter*8 0;
  }
  p, div, span, strong, a {
    color: $color-dark-green;
  }
  strong {
    font-family: $fs-stb;
    font-weight: 500;
  }
  a {
    color: $color-subtitle;
    text-decoration: underline !important;
  }
}

.article__content-bottom {
  margin-top: $gutter*2;
  padding: $gutter 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $color-button;
  font-weight: bold;
  .pagination .btn {
    padding: 0;
    color: $color-button;
  }
}
.article__share {
  display: flex;
  align-items: center;
  .social-links {
    margin: 0 0 0 $gutter/2;
  }
  .nav__item {
    margin-top: 0;
  }
  .nav__link {
    color: $color-button;
    font-size: $fz-5;
  }
}


.article__content {
  margin-top: 20px;
  @include mobile {
    font-size: 14px;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 2em 0 1em;
    font-weight: bold;
  }
  h1 {
    font-size: 40px;
    @include mobile {
      font-size: 29px;
    }
  }
  h2 {
    font-size: 29px;
    @include mobile {
      font-size: 24px;
    }
  }
  h3 {
    font-size: 24px;
    @include mobile {
      font-size: 19px;
    }
  }
  h4 {
    font-size: 19px;
    @include mobile {
      font-size: 16px;
    }
  }
  h5 {
    font-size: 16px;
    @include mobile {
      font-size: 14px;
    }
  }
  h6 {
    font-size: 14px;
    @include mobile {
      font-size: 11px;
    }
  }
}
.article__row {
  display: flex;
  align-items: center;
}

@include media-query(small) {
  .article__container {
    flex-wrap: wrap;
  }
  .article__sidebar {
    margin-top: $gutter*2;
    order: 1;
    width: 100%;
    position: static;
  }
}

#shopify-section-ea-article-page {
  .article {
    @include mobile {
      margin-top: 15px;
    }
  }
  .article_top {
    text-align: center;
    .article_title {
      color: $color-dark-green;
      font-family: $fs-t;
      font-size: 48px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      @include mobile {
        font-size: 34px;
      }
    }
    .article_meta {
      display: flex;
      font-size: 14px;
      justify-content: center;
      margin-top: 15px;
      @include mobile {
        flex-wrap: wrap;
      }
      .meta_item {
        color: $color-light-blue-new;
        margin-left: 15px;
        margin-right: 15px;
        & > span:first-child {
          font-family: $fs-stb;
          font-weight: 500;
        }
      }
    }
    .article__share {
      justify-content: center;
      margin-top: 20px;
      li.nav__item {
        margin: 0 5px;
        a {
          border-radius: 3px;
          display: flex;
          align-items: center;
          width: 100px;
          height: 26px;
          margin: 0px;
          padding-left: 15px;
          padding-right: 15px;
          @include mobile {
            width: 90px;
            padding-left: 12px;
            padding-right: 12px;
          }
          span {
            color: #FFF;
            font-size: 11px;
            font-weight: 500;
            margin-left: 15px;
            @include mobile {
              margin-left: 10px;
            }
          }
          svg {
            fill: #FFF;
            max-width: 14px;
            min-width: 14px;
            height: auto;
            margin: 0px !important;
            @include mobile {
              max-width: 12px;
              min-width: 12px;
            }
            path {
              fill: #FFF !important;
            }
          }
        }
      }
    }
  }
  .article_breadcrumb {
    color: $color-link-new;
    font-size: 13px;
    margin-top: 60px;
    margin-bottom: 15px;
    a {
      color: $color-link-new;
    }
    a:hover {
      color: $color-link-hover-new;
    }
    @include mobile {
      font-size: 12px;
      margin-top: 15px;
      text-align: center;
      a {
        // color: #7d7d7d;
        }
    }
    svg {
      margin-left: 6px;
      margin-right: 6px;
      width: 5px;
      height: auto;
      @include mobile {
        width: 12px;
      }
    }
    span:last-child {
      font-weight: bold;
    }
  }
  .article-header {
    .article-header__text {
      background: #f5f5f5;
      color: #707070;
      font-weight: bold;
    }
  }
  article.article {
    .article__content-wrap {
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
      padding: 0px;
    }
    .article__content-bottom {
      border-top: 1px solid #bfbfbf;
      border-bottom: 3px solid #000;
      padding-bottom: 40px;
    }
  }
  .article_upsell {
    margin-top: 10px;
    label {
      font-size: 16px;
      font-weight: 900;
      margin-bottom: 20px;
    }
    .upsell_products {
      display: flex;
      .upsell_product_item {
        margin-right: 30px;
        width: 120px;
        .img_wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 120px;
          height: 120px;
          position: relative;
          img {
            &.main_height {
              width: auto;
              height: 100%;
            }
            &.main_width {
              width: 100%;
              height: auto;
            }
          }
        }
        .product_title {
          font-size: 12px;
          font-weight: 900;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}


#shopify-section-ea-blog-related {
  .container > h3.title {
    color: $color-dark-green;
    font-size: 48px;
    margin-bottom: 45px;
    @include mobile {
      font-size: 34px;
      margin-bottom: 30px;
    }
  }

    .posts__grid [data-mobile-only] [class^=col] {
      height: 100%;
    }
    .posts__grid {
      display: flex;
      &.d_block {
        display: block;
      }
      @include tablet {
        display: block;
      }
      .col-md-4 {
        min-width: 100% !important;
        max-width: 100% !important;
      }
    }
    .slick-list.draggable {
      display: flex !important;
      .slick-track {
        display: flex;
        .slick-slide {
          display: flex;
          padding-bottom: 15px;
          & > div {
            flex: 1;
            & > div {
              height: 100%;
            }
          }
        }
      }
    }

  .slick-slide .col-md-6.col-12 {
    flex: unset;
    max-width: unset;
  }

  .posts__grid [class^=col] {
    margin-top: 0px;
  }
  .post-cell--featured-second {
    min-width: 100%;
    max-width: 100%;
  }

  .posts__grid {
    .row {
      &.slider {
        display: block !important;
      }
      &.mob_slider {
        @include mobile {
          display: block !important;
        }
      }
    }
  }

  ul.slick-dots {
    margin-top: 15px;
    li {
      button {
        background: #e0e0e0;
        border: none;
        border-radius: 50px;
        margin: 0 5px;
        width: 8px;
        height: 8px;
      }
    }
    li.slick-active button {
      background: $color-dark-green;
      width: 12px;
      height: 12px;
    }
  }
  
  @include mobile {
    .slick-slide {
      padding-bottom: 15px;
    }
    // ul.slick-dots {
    //   margin-top: 15px;
    //   li {
    //     button {
    //       background: #c4c4c4;
    //       border: none;
    //       margin: 0 5px;
    //       width: 8px;
    //       height: 8px;
    //     }
    //   }
    //   li.slick-active button {
    //     background: $color-dark-green;
    //     width: 12px;
    //     height: 12px;
    //   }
    // }
  }
}