.posts__grid {
  .row {
    align-items: flex-start;
    margin: 0 (-45px/2);
  }
  [class^=col] {
    padding: 0 (45px/2);
    margin-top: $gutter*3;
    &:nth-child(3n+2) {
      margin-top: $gutter*7;
      @include mobile {
        margin-top: $gutter*3;
      }
    }
  }
}
.posts__pagination {
  margin-top: $gutter*4;
  text-align: center;
}


// Post cell
.post-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background: $color-white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    @include mobile {
      transforM: unset;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
    }
  }
}
.post-cell__image {
  display: block;
  position: relative;
  img {
    display: block;
    max-height: 100%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
.post-cell__content {
  padding: $gutter $gutter 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.post-cell__title {
  margin: 0;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
      color: $color-link-hover;
    }
  }
}
.post-cell__text {
  margin-top: $gutter;
}
.post-cell__tags {
  display: inline-block;
  min-width: 50px;
  padding: 5px 15px;
  position: absolute;
  left: 0;
  top: $gutter;
  background: $color-white;
  color: $color-brown;
  border-radius: 0 20px 20px 0;
  text-transform: uppercase;
  font-stretch: condensed;
  font-weight: 500;
  font-size: $fz-6;
  text-align: center;
}
.post-cell__bottom {
  margin-top: $gutter*2;
  display: flex;
  justify-content: space-between;
  font-size: $fz-6;
  font-stretch: condensed;
}
.post-cell__meta {
  color: $color-subtitle;
  font-weight: 300;
  .circle-dot {
    margin: 0 $gutter/2;
    width: 5px;
    height: 5px;
    position: relative;
    top: -2px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background: currentColor;
  }
}
.post-cell__more {
  display: inline-block;
  color: $color-red;
  text-transform: uppercase;
  &:hover {
    color: $color-link-hover;
    text-decoration: none;
  }
  svg {
    height: 0.75em;
    path {
      fill: currentColor
    }
  }
}


// Press post cell
.post-cell.m-press {
  padding: $gutter*2 $gutter*4 ;
  box-shadow: none;
  border: 1px solid $color-brown-light;
  text-align: center;
  .post-cell__image {
    margin: 0 auto $gutter*3;
    width: 100%;
    max-width: 200px;
  }
  .post-cell__content {
    padding: 0;
  }
  .post-cell__meta {
    font-weight: 500;
  }
  .post-cell__bottom {
    font-size: $fz-5;
    margin-top: 10px;
    display: block;
  }
  .post-cell__more {
    margin-top: $gutter*3;
  }
}


#shopify-section-custom-featured-article {

  .main_content .main_wrapper {
    display: flex;
    @include tablet {
      display: block;
    }
    @include mobile {
      display: block;
    }
  }

  .main_wrapper > .title {
    color: #323335;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
    @include mobile {
      font-size: 24px;
      text-align: center;
    }
  }
  .article_wrapper {
    display: flex;
    justify-content: space-between;
    @include tablet {
      display: block;
    }
    @include mobile {
      display: block;
      margin-left: -10px;
      margin-right: -10px;
    }
    span.line {
      background: #969696;
      display: inline-block;
      width: 1px;
      height: 12px;
      margin-left: 3px;
      margin-right: 3px;
    }
    .post-cell {
      min-width: calc(100% / 3 - 30px);
      max-width: calc(100% / 3 - 30px);
      text-align: center;
      @include tablet {
        min-width: 100%;
        max-width: 100%;
      }
      @include mobile {
        min-width: calc(100% - 20px);
        max-width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .post-cell__meta {
        color: $color-subtitle;
        font-family: $fs-stb;
        font-size: 14px;
        font-weight: 500;
      }
      .post-cell__title {
        color: $color-dark-green;
        flex: 1;
        font-size: 23px;
        font-weight: 500;
        margin-top: 12px;
        padding-left: 15px;
        padding-right: 15px;
      }
      .post-cell__bottom {
        justify-content: center;
        margin-top: 12px;
        margin-bottom: 10px;
        a {
          color: $color-light-blue-new;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
  @include mobile {
    ul.slick-dots {
      margin-top: 15px;
      li {
        button {
          background: #c4c4c4;
          border: none;
          margin: 0 5px;
          width: 8px;
          height: 8px;
        }
      }
      li.slick-active button {
        background: #323335;
        width: 12px;
        height: 12px;
      }
    }
  }
}

#shopify-section-custom-blog-main {
  .blog-tab-header {
    .tab-header-wrapper {
      border-bottom: 3px solid #323335;
      display: flex;
      justify-content: center;
      margin-left: 45px;
      margin-right: 45px;
      @include tablet {
        padding-left: 30px;
        padding-right: 30px;
      }
      @include mobile {
        border-bottom: none;
        display: block;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 25px;
        padding-right: 25px;
        &.mob-flex {
          display: flex;
          justify-content: space-around;
          padding-left: 0px;
          padding-right: 0px;
          .tab-header-item {
            flex: 1 0 auto;
            padding-left: 0px !important;
            padding-right: 0px !important;
          }
        }
      }
    }
    .tab-header-item {
      color: $color-dark-green;
      cursor: pointer;
      padding-bottom: 10px;
      padding-left: 45px;
      padding-right: 45px;
      text-align: center;
      position: relative;
      @include mobile {
        font-size: 14px;
        min-width: max-content !important;
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
      }
      &.active {
        span {
          font-family: $fs-stb;
          font-weight: 500;
        }
        &::after {
          content: '';
          background: $color-subtitle;
          bottom: -4px;
          left: 0px;
          width: 100%;
          height: 5px;
          position: absolute;
          z-index: 9;
          @include mobile {
            // display: none;
            height: 3px;
          }
        }
        svg {
          display: block;
        }
        svg path {
          fill: $color-dark-green;
        }
      }
      span {
        display: block;
        font-size: 16px;
        font-weight: 500;
      }
      svg {
        display: none;
        width: 16px;
        height: auto;
        left: 50%;
        top: 0px;
        transform: translate(-50%, -25px);
        position: absolute;
        @include mobile {
          display: none !important;
        }
      }
    }
    .tab-content-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 45px;
      grid-column-gap: 50px;
      margin-top: 45px;
      @include mobile {
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
      }
    }
  }
  @include mobile {
    .slick-arrow {
      margin-top: -10px;
      width: 20px;
      height: 20px;
    }
  }
}

article.post-cell--featured-second {
  min-width: 100%;
  max-width: 100%;
  @include mobile {
    box-shadow: 0px 9px 14px -5px #0000000f;
    min-width: 100%;
    max-width: 100%;
  }
  &[data--hidden] {
    display: none;
  }
  .post-cell__content {
    @include mobile {
      text-align: center;
    }
  }
  .post-cell__meta {
    font-size: 14px;
    @include mobile {
      margin-bottom: 5px;
      text-align: center;
    }
  }
  span.line {
    background: #969696;
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-left: 3px;
    margin-right: 3px;
  }
  span.circle-dot {
    background: #8fde00;
    width: 6px;
    height: 6px;
  }
  .post-cell__title {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-size: 24px;
    font-weight: 500;
    margin-top: 6px;
  }
  .excerpt {
    color: $color-dark-green;
    font-size: 14px;
    flex: 1;
    margin-top: 8px;
  }
  .post-cell__title {
    font-size: 18px;
    font-weight: bold;
  }
  .post-cell__more {
    color: $color-light-blue-new;
    font-family: $fs-stb;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    svg {
      fill: #0093c9;
    }
  }
  .post-cell__bottom {
    margin-top: 10px;
    margin-bottom: 5px;
    @include mobile {
      justify-content: center;
    }
  }
}