.product-form {
  background: $color-white;
  // box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  border-radius: 5px;
  @include desktop {
    margin-left: 60px;
    // max-width: 460px;
    padding: 30px $gutter*2 30px;
  }

  @include r_tablet {
    margin-left: 0px;
    padding-top: 0px;
  }

  &.m-recharge {
    padding-bottom: 15px;
  }
  .product_feature {
    color: $color-light-blue-new;
    font-family: $fs-stb;
    font-size: 14px;
    font-weight: 500;
    @include desktop {
      font-size: 16px;
    }
    @include tablet {
      font-size: 14px;
    }
  }
  .choose-plan {
    a {
      background: $color-dark-green;
      border-radius: 100px;
      color: $color-light-green;
      font-family: $fs-stb;
      font-size: 20px;
      font-weight: 500;
      height: 65px;
      margin-top: 25px;
      margin-bottom: 20px;
      text-transform: unset !important;
      &[disabled='disabled'] {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .5;
      }
      svg {
        width: 22px;
        height: auto;
        fill: $color-light-green;
        stroke: $color-light-green;
        stroke-width: 25px;
        margin-left: 10px;
        transition: all .3s ease;
      }
      &:hover svg {
        transform: translateX(10px);
      }
    }
  }

  .protection-plan {
    @include mobile {
      border-top: 1px solid #d2d2d8;
      margin-bottom: 20px;
      margin-top: 25px;
      padding-top: 25px;
    }
    [data-accordions-container] {
      border: 1px solid #d2d2d8;
      border-radius: 5px;
      margin-top: 15px;
      padding: 12px;
    }
    [data-accordion-button] {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      position: relative;
      &.is-open span.icon {
        transform: rotateX(180deg);
      }
      span.icon {
        transition: all .3s ease;
      }
      svg {
        width: 12px;
        height: auto;
      }
    }
  }

  .protection-plan__title {
    font-weight: bold;
    font-size: 16px;
  }
  .protection-plan__desc {
    font-size: 14px;
    p {
      margin: 0px;
    }
  }
  
  .product-feature-tabs {
    margin-top: 30px;
    .tab-header-wrapper {
      border-bottom: 1px solid #d6d6d6;
      justify-content: space-between;
      .feature-tab-header {
        border-top: 3px;
        border-bottom: 3px;
        color: $color-dark-green;
        cursor: pointer;
        font-family: $fs-stb;
        font-size: 16px;
        font-weight: 500;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        @include desktop {
          font-size: 16px;
        }
        &.active {
          font-weight: bold;
        }
        &.active::after {
          content: '';
          background: #000;
          width: 100%;
          height: 3px;
          left: 0px;
          bottom: -2px;
          position: absolute;
        }
      }
    }
    .feature-tab-content {
      color: $color-dark-green;
      display: none;
      font-size: 14px;
      padding-top: 12px;
      padding-bottom: 12px;
      @include desktop {
        font-size: 16px;
      }
      strong {
        color: $color-light-blue-new;
        font-weight: normal;
      }
      &.active {
        display: block;
      }
      &.content-list {
        font-size: 14px;
      }
      li {
        list-style: none;
        margin-bottom: 5px;
        padding-left: 10px;
        position: relative;
        &::before {
          content: '';
          background: #666;
          border-radius: 50%;
          line-height: 1.29;
          height: 5px;
          width: 5px;
          left: 0px;
          top: 7px;
          position: absolute;
        }
      }
    }
    @include mobile {
      // border-top: 1px solid #d6d6d6;
      margin-top: 25px;
      padding-top: 0px;
    }
  }
  .title {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 5px;
    @include desktop {
      // font-size: 2.438rem;
      font-size: 34px;
    }
    @include tablet {
      font-size: 24px;
    }
  }
  .plan_popup {
    @include desktop {
      margin-bottom: -12px;
      margin-top: 5px;
    }
  }
  .product-review-rating {
    margin-bottom: 15px;
    margin-top: 15px;

    @include desktop {
      // .yotpo.bottomLine .yotpo-icon-star,
      // .yotpo.bottomLine .yotpo-icon-empty-star {
      //   font-size: 30px !important;
      // }
      // .yotpo.bottomLine .standalone-bottomline .yotpo-icon {
      //   width: 30px !important;
      //   height: 30px !important;
      // }
    }
    .yotpo .text-m {
      color: $color-subtitle !important;
      font-size: 16px !important;
      text-decoration: underline !important;
      transform: translate(5px, 3px);
      // @include desktop {
      //   font-size: 22px !important;
      //   line-height: 30px;
      //   margin-left: 10px;
      // }
    }
    .yotpo-stars > span::before {
      color: $color-dark-green;
    }
  }
  .product-options-wrapper {
    // margin-bottom: 30px;
    margin-top: 30px;
    .product-options {
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
}

.product-main__left.product-regular, form.form-regular {
  .shipping-features {
    @include desktop {
      justify-content: center !important;
    }
    .shipping-feature {
      @include desktop {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
    .shipping-feature:nth-child(2) {
      display: none;
    }
  }  
}

form.form-default {
  .product-options__title {
    font-size: 14px;
    font-weight: bold !important;
    font-style: normal !important;
    label {
      margin-right: 3px;
    }
  }
  .product-options.m-color {
    // display: block !important;
    .product-options__list {
      // padding-left: 0px;
    }
    .product-option {
      // margin-bottom: 5px;
    }
  }
}

.shipping-features {
  margin-top: 0px;
  margin-bottom: 0px;
  @include desktop {
    border-top: 1px solid #d6d6d6;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 30px;
  }
  .feature-wrapper {
    display: flex;
    justify-content: space-between;
    @include desktop {
      padding-left: 35px;
      padding-right: 35px;
    }
    .shipping-feature {
      text-align: center;
      @include mobile {
        padding-left: 10px;
        padding-right: 10px;
      }
      .feature_title {
        color: $color-dark-green;
        font-size: 12px;
        font-weight: 500;
        margin-top: 10px;
      }
    }
  }
}


.product-options {
  // margin-top: $gutter;
  margin-top: -1px;
  &.m-color {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dfe3e8;
    border-bottom: 1px solid #dfe3e8;
    padding-top: 15px;
    padding-bottom: 15px;
    @include desktop {
      // display: block;
      // justify-content: unset;
      // padding-bottom: 15px;
    }
    .product-options__title {
      margin-bottom: 0px;
      @include desktop {
        // margin-bottom: 10px;
      }
    }
    .product-options__list {
      padding-left: 4px;
    }
    .product-option {
      min-width: unset;
      max-width: unset;
      padding: 0 8px !important;
      label {
        border: none;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        position: relative;
        .product-option__text {
          display: none;
        }
        &:hover {
          &::after {
            content: '';
            // border: 1px solid #000;
            border: 2px solid $color-swatch-active;
            border-radius: 50%;
            width: calc(100% + 8px);
            height: calc(100% + 8px);
            top: -4px;
            left: -4px;
            position: absolute;
          }
        }
      }
      // input:checked + label {
      input.selected + label {
        &::after {
          content: '';
          // border: 1px solid #000;
          border: 2px solid $color-swatch-active;
          border-radius: 50%;
          width: calc(100% + 8px);
          height: calc(100% + 8px);
          top: -4px;
          left: -4px;
          position: absolute;
        }
      }
    }
  }
}

.product-options__title {
  color: $color-dark-green;
  margin-bottom: 10px;
  label {
    font-family: $fs-stb;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px !important;
  }
  &.warning {
    color: red;
    font-weight: normal !important;
    span[data-selected-size], span[data-selected-color] {
      display: none !important;
    }
  }
  span {
    font-size: 16px;
    font-weight: normal;
  }
  @include desktop {
    font-size: 20px;
  }
}
.product-options__list {
  // @include row(5px);
  display: flex;
  flex-wrap: wrap;
  @include desktop {
    margin: 0 -5px;
  }
}
.product-main__container {
  .product-option {
    @include cell(3, 0 5px);
    max-width: none;
    &.m-half {
      @include cell(2, 0 5px);
      max-width: none;
    }
    &:hover {
      text-decoration: none;
    }
    &:nth-child(n+4) {
      // margin-top: 10px;
    }
    input {
      display: none;
    }
    // input:checked+.product-option__label,
    input.selected+.product-option__label,
    &.is-checked .product-option__label {
      background: $color-white;
      border-color: currentColor;
      color: $color-blue;
      font-weight: 600;
    }
    
  }
  .product-options:not(.m-color) .product-option {
    input:disabled+.product-option__label,
    input.is-disabled+.product-option__label {
      background: #dfe3e8 !important;
      text-decoration: line-through;
      color: $color-light-grey;
    }
  }

  &.product-switch {
    .product-options.m-size {
      border: none;
      margin: 0px;
      .product-options__title {
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        justify-content: flex-start;
        span {
          font-weight: normal;
        }
      }
      .product-options__list {
        .product-option {
          max-width: unset;
          min-width: unset;
          padding-right: 0px;
          .product-option__text {
            padding-left: 18px;
            padding-right: 18px;
          }
        }
      }
      .size-chart-trigger {
        display: flex;
        align-items: center;
        margin-left: 15px;
        a {
          color: $color-light-blue-new;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }

}
.product-options.m-size {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  padding-top: 15px;
  padding-bottom: 15px;
  // input:checked+.product-option__label,
  .product-option__label:hover,
  input.selected+.product-option__label,
  &.is-checked .product-option__label {
    background: $color-white;
    border: 2px solid $color-light-blue-new;
    // border: 1px solid #000;
    color: #707070;
  }
  .product-options__title {
    display: flex;
    justify-content: flex-start !important;
    font-size: 14px;
    font-weight: 500;
    // font-style: italic;
    margin-bottom: 5px;
    [data-size-guide-toggle] {
      // color: $color-green;
      color: $color-light-blue-new;
      font-style: normal;
      font-weight: normal;
      // font-weight: bold;
      margin-left: auto;
      svg path {
        stroke: $color-light-blue-new;
      }
      // text-decoration: underline !important;
    }
  }
}

.product-option__label {
  display: block;
  margin-bottom: 0;
  border-radius: 0;
  border: 1px solid #adadad;
  background: #fafafa;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #707070;
  cursor: pointer;
  border-radius: 3px;
}
.product-option__text {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 45px;
  padding: 0 13px;
  white-space: nowrap;
}
.product-option__accent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -1px;
  margin-top: -25px;
  height: 25px;
  font-size: 10px;
  text-align: center;
  background: $color-blue;
  font-weight: normal;
  color: $color-white;
  border-radius: 3px 3px 0 0;
  p {
    margin: 0;
  }
}

.btn.add-to-cart {
  // height: 60px;
  // color: #FFF;
  // background: $color-new-green !important;
  border-radius: 100px;
  // color: $color-button-text;
  font-family: $fs-stb;
  font-size: 16px;
  font-weight: 500;
  height: 65px;
  text-transform: uppercase;
  // box-shadow: 0px 10px 20px 0px rgba(240, 193, 75, 0.3);
  min-width: 0;
  @include desktop {
    font-size: 19px;
  }
  
  &.m-recharge {
    height: 45px;
    font-weight: 600;
    font-size: $fz-5;
  }
  &[disabled='disabled'] {
    // background: #666666 !important;
    pointer-events: none;
    opacity: .5;
  }
}

.product-add-to-cart {
  margin-top: $gutter;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  .btn.add-to-cart {
    flex: 1;
    box-shadow: none;
  }
  .qty-selector {
    margin-right: 10px;
    height: 55px;
    font-size: $fz-4;
    @include desktop {
      height: 60px;
    }
    .e-controls {
      border-radius: 3px;
    }
  }
}

body.template-product {
  .plan_popup {
    @include desktop {
      margin-top: 20px !important;
    }
  }
  .minicart .plan_popup {
    @include desktop {
      margin-top: 0px !important;
    }
  }
}

.plan_popup {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px !important;
  margin-bottom: 10px;
  position: relative;
  [data-popup-bg] {
    background: #00000040;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 1;
  }
  .popup-trigger {
    cursor: pointer;
    // color: $color-blue;
    color: $color-subtitle;
    display: flex;
    align-items: center;
    font-family: $fs-stb;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
    svg {
      margin-right: 5px;
      width: 18px;
      height: auto;
    }
    svg path {
      fill: $color-subtitle;
    }
  }
  &.active {
    .popup-content {
      display: block;
    }
  }
  .popup-content {
    display: none;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 -7px 13px 0 #0000000d;
    border-radius: 7px;
    bottom: 30px;
    overflow: hidden;
    position: absolute;
    width: 340px;
    z-index: 9999;
    @include desktop {
      width: 390px;
    }
    .popup-header {
      // background: #323335;
      background: $color-white;
      color: $color-dark-green;
      display: flex;
      align-items: center;
      font-family: $fs-stb;
      font-size: 20px;
      font-weight: 500;
      height: 35px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 15px;
      position: relative;
      z-index: 1;
    }
    .content {
      // background: #f7f4f0;
      background: $color-white;
      color: $color-dark-green;
      padding: 20px;
      font-size: 14px;
      position: relative;
      z-index: 1;
      @include desktop {
        font-size: 16px;
      }
      svg {
        margin-right: 5px;
      }
      svg path {
        fill: $color-subtitle;
      }
      &.content-list {
        padding-top: 15px;
        padding-bottom: 15px;
        & > div {
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
    }
  }
}

.description_tabs {
  margin-top: 20px;
  &.collar-leash {
    margin-top: 0px;
  }
  .tab_header_wrapper {
    border-bottom: 1px solid #0000001a;
    display: flex;
    .tab {
      background: #FFF;
      border: none;
      display: block;
      font-size: 16px;
      padding: 6px 15px 6px 0;
      margin-right: 15px;
      width: unset;
      height: unset;
      min-width: unset;
      position: relative;
      &.is-active {
        font-weight: bold;
        &::after {
          content: '';
          background: $color-green;
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -1px;
          left: 0px;
        }
      }
    }
  }
  .tab_content_wrapper {
    padding-top: 15px;
    & {
      color: $color-dark-green;
    }
    strong {
      font-family: $fs-stb;
      font-weight: 500;
    }
  }
}

body.template-product-switch {
  .pre-order-wrapper {
    border-top: 1px solid #d6d6d6;
    margin-top: 20px;
    padding-top: 20px;
  }
  form .pre-order-wrapper {
    @media (min-width: 990px) {
      display: none !important;
    }
  }
  .pre-order-price {
    border-top: 1px solid #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    .price_title {
      font-size: 19px;
      font-weight: 600;
    }
    .price_subtitle {
      font-size: 14px;
      font-weight: 500;
      p {
        margin: 0px;
      }
    }
    .price {
      font-size: 19px;
    }
    .price_popup {
      a {
        color: #5a5a5a;
        display: flex;
        align-items: center;
        font-size: 14px;
        text-decoration: underline !important;
        text-underline-position: under;
        svg {
          margin-left: 6px;
        }
      }
    }
    .price_subtitle {
      color: #5a5a5a;
      font-size: 12px;
      margin-top: 8px;
    }
  }
  .free-order-items {
    border-bottom: 1px solid #d6d6d6;
    margin-top: 12px;
    margin-bottom: 20px;
    .include_free {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-bottom: 8px;
      label {
        margin: 0px;
        margin-left: 6px;
      }
    }
    .free-order-title {
      font-size: 16px;
      font-weight: bold;
    }
    .free-order-badge {
      color: #ff0000;
      font-size: 16px;
    }
    .free-order-items-wrapper {
      display: flex;
      margin-left: -4px;
      margin-right: -4px;
      &.column-3 {
        .free-order-item {
          max-width: calc(100% / 3);
          min-width: calc(100% / 3);
        }  
      }
      &.column-2 {
        .free-order-item {
          max-width: calc(100% / 2);
          min-width: calc(100% / 2);
        }
      }
      .free-order-item {
       .image_wrapper {
          border: 1px solid #D6D6D6;
          border-radius: 5px;
          cursor: pointer;
          overflow: hidden;
          transition: border .3s ease;
        }
        &.active, &:hover {
          .image_wrapper {
            background: #f8fbfd;
            border: 2px solid #0093c8;
          }
        }
        .item_title {
          color: #343434;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: -0.1px;
          margin-top: 4px;
          margin-bottom: 4px;
        }
        .item_price {
          color: #343434;
          font-size: 12px;
          .was-price {
            font-size: 12px;
          }
        }
      }
    }
    .free-order-item {
      // background: #f8fbfd;
      // border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px 4px;
      .item-wrapper {
        display: flex;
        justify-content: space-between;
        .item_title {
          display: flex;
          align-items: center;
          font-size: 12px;
          font-weight: bold;
          @include desktop {
            // font-size: 18px;
          }
        }
        .item_price {
          text-align: right;
          .was-price {
            color: #666666;
            font-size: 14px;
            font-weight: 500;
          }
          .price {
            font-size: 14px;
            font-weight: 500;
            @include desktop {
              font-size: 17px;
            }
          }
          .item_subtitle {
            font-size: 12px;
            @include desktop {
              font-size: 14px;
            }
            p {
              margin: 0px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  form#addToCartForm .shipping-features {
    display: none !important;
  }
}
body.template-product-regular {
  span.preorder-badge {
    background: $color-light-blue-new;
    border-radius: 5px;
    color: #FFF;
    display: flex;
    align-items: center;
    height: 27px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
  }
}
body.template-product.template-product-switch {
  .shipping-features {
    // border-top: 1px solid #d6d6d6 !important;
    @include mobile {
      // margin-top: 10px !important;
      // padding-top: 20px !important;
    }
    @include desktop {
      margin-top: 45px !important;
    }
  }
  form#addToCartForm {
    max-width: unset;
    @include desktop {
      padding-right: 60px;
    }
    .product-options-wrapper {
      @include desktop {
        margin-top: 10px;
      }
      .product-option {
        padding: 0 5px;
      }
    }
    .btn_wrapper {
      button, button span.label {
        background: $color-green;
        border: none;
        border-radius: 5px;
        color: #FFF;
        height: 55px;
        font-size: 19px;
        font-weight: 900;
        width: 100%;
        outline: none;
      }
    }
    span.preorder-badge {
      background: $color-light-blue-new;
      border-radius: 5px;
      color: #FFF;
      display: flex;
      align-items: center;
      height: 27px;
      font-size: 14px;
      font-weight: bold;
      padding-left: 10px;
      padding-right: 10px;
      width: fit-content;
    }
    h1.title {
      display: flex;
      align-items: center;
    }
    .size-chart-trigger {
      a {
        color: $color-light-blue-new;
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
      }
      svg path {
        fill: $color-light-blue-new;
        stroke: $color-light-blue-new;
      }
    }
    .product-review-rating {
      margin-top: 8px;
    }
    .product-options.m-color {
      margin-top: 0px;
    }
    .product-options.m-size {
      display: flex;
      border-top: unset;
      margin-top: 0px;
      .product-options__title {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        @include desktop {
          align-items: flex-end;
        }
        span {
          font-weight: 400;
          margin-left: 5px;
        }
      }
      .product-options_wrapper {
        flex: 1;
        text-align: right;
        .product-option {
          min-width: 60px;
          max-width: 60px;
          .product-option__text {
            padding-left: 0px;
            padding-right: 0px;
          }
          input {
            & + label {
              background: #FFF !important;
              border-radius: 5px;
              border: 1px solid #D6D6D6;
              text-decoration: unset;
              &:hover {
                background: #f8fbfd !important;
                border: 2px solid $color-light-blue-new;  
              }
            }
            // &:checked + label {
            &.selected + label {
              background: #f8fbfd !important;
              border: 2px solid $color-light-blue-new;
            }
          }
        }
        .product-options__list {
          justify-content: flex-end;
        }
      }
    }
    .pre-order-price {
      border-top: 1px solid #d6d6d6;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      margin-bottom: -30px;
      padding-top: 12px;
      padding-bottom: 12px;
      .price_title {
        font-size: 19px;
        font-weight: 600;
      }
      .price_subtitle {
        font-size: 14px;
        font-weight: 500;
        p {
          margin: 0px;
        }
      }
      .price {
        font-size: 19px;
      }
      .price_popup {
        a {
          color: #5a5a5a;
          display: flex;
          align-items: center;
          font-size: 14px;
          text-decoration: underline !important;
          text-underline-position: under;
          svg {
            margin-left: 6px;
          }
        }
      }
      .price_subtitle {
        color: #5a5a5a;
        font-size: 12px;
        margin-top: 8px;
      }
    }

    .free-order-items {
      border-bottom: 1px solid #d6d6d6;
      margin-top: 12px;
      margin-bottom: 20px;
      .free-order-title {
        font-size: 16px;
        font-weight: bold;
      }
      .free-order-badge {
        color: #ff0000;
        font-size: 16px;
      }
      .free-order-items-wrapper {
        display: flex;
        margin-left: -4px;
        margin-right: -4px;
        &.column-3 {
          .free-order-item {
            max-width: calc(100% / 3);
            min-width: calc(100% / 3);
          }  
        }
        &.column-2 {
          .free-order-item {
            max-width: calc(100% / 2);
            min-width: calc(100% / 2);
          }
        }
        .free-order-item {
         .image_wrapper {
            border: 1px solid #D6D6D6;
            border-radius: 5px;
            cursor: pointer;
            overflow: hidden;
            transition: border .3s ease;
          }
          &.active, &:hover {
            .image_wrapper {
              background: #f8fbfd;
              border: 2px solid #0093c8;
            }
          }
          .item_title {
            color: #343434;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: -0.1px;
            margin-top: 4px;
            margin-bottom: 4px;
          }
          .item_price {
            color: #343434;
            font-size: 12px;
            .was-price {
              font-size: 12px;
            }
          }
        }
      }
      .free-order-item {
        // background: #f8fbfd;
        // border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px 4px;
        .item-wrapper {
          display: flex;
          justify-content: space-between;
          .item_title {
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: bold;
            @include desktop {
              // font-size: 18px;
            }
          }
          .item_price {
            text-align: right;
            .was-price {
              color: #666666;
              font-size: 14px;
              font-weight: 500;
            }
            .price {
              font-size: 14px;
              font-weight: 500;
              @include desktop {
                font-size: 17px;
              }
            }
            .item_subtitle {
              font-size: 12px;
              @include desktop {
                font-size: 14px;
              }
              p {
                margin: 0px;
              }
            }
          }
        }
      }
    }
    .coupon-item {
      background: #f8fbfd;
      border: 2px solid #0093c8;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 5px 12px;
      .item-wrapper {
        align-items: center;
        justify-content: space-between;
        @include mobile {
          .text {
            flex: 1 1 auto;
          }
          .coupon-popup-wrapper {
            flex: 1 0 auto;
          }
        }
        .heading {
          font-size: 12px;
          font-weight: bold;
          @include desktop {
            font-size: 17px;
            font-weight: 500;
          }
        }
        .item_subtitle {
          font-size: 12px;
          line-height: 1;
          @include desktop {
            font-size: 13px;
          }
          p {
            margin: 0px;
          }
        }
        .coupon-popup-wrapper {
          text-align: right;
        }
        .discount_text {
          font-size: 14px;
          font-weight: 500;
          @include desktop {
            font-size: 17px;
          }
        }
        .coupon-popup {
          a {
            color: #0093c8;
            font-size: 12px;
            font-weight: bold;
            @include desktop {
              font-size: 14px;
            }
          }
        }
      }
    }
    
  }
  .pre-order-wrapper {
    border-top: 1px solid #d6d6d6;
    margin-top: 20px;
    padding-top: 20px;
  }
  .shipping-features {
    border-top: none;
    margin-top: 0px;
  }



}


body.template-product-fit {
  .price-type-wrapper {
    border-bottom: 1px solid #dfe3e8;
    padding-bottom: 15px;
    @include desktop {
      margin-bottom: -10px;
    }
  }
}

button[data-bis-trigger] {
  // background: #FFF !important;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 15px;
  height: 45px;
  width: 100%;
  text-transform: uppercase;
}
.bis-button.BIS_trigger {
  display: none !important;
}

.bis-badge {
  color: $color-dark-green;
  margin-top: 5px;
}
form[data-type="explore"], form[data-type="fit"], form[data-type="switch"] {
  [data-bis-btn] {
    margin-bottom: 30px;
  }
  button[data-bis-trigger] {
    height: 60px !important;
    margin-top: 15px;
  }
}


a[data-choose-plan][disabled="disabled"] {
  svg {
    display: none;
  }
}

.msg_order {
  margin-top: -15px;
  margin-bottom: 20px;
}

.size-guide {
  &.is-open {
    .size-guide-wrapper {
      transform: unset;
    }
    .body-bg {
      opacity: 1;
      z-index: 997;
    }
  }
  .size-guide-wrapper {
    background: #FFF;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    position: fixed;
    transition: all .3s ease;
    transform: translateX(100%);
    overflow-y: auto !important;
    z-index: 998;
    @include desktop {
      width: 620px;
      padding: 20px 40px;
    }
    @include mobile {
      overflow-y: auto;
    }
    .image_wrapper {
      min-width: 100px;
      width: 100px;
      @include desktop {
        min-width: 120px;
        width: 120px;
      }
    }
  }
  .size-guide-header {
    justify-content: space-between;
    align-items: center;
    position: relative;
    .size-guide-title {
      font-size: 19px;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include desktop {
        font-size: 24px;
      }
    }
    .size-guide-close {
      font-size: 10px;
      text-align: center;
      svg {
        width: 20px;
        height: auto;
      }
    }
    .cart-count {
      background: $color-new-green;
      border-radius: 15px;
      cursor: pointer;
      display: flex;
      // font-size: 16px;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 30px;
      svg {
        width: 21px;
        height: auto;
        path {
          fill: #000;
        }
      }
      span {
        margin-left: 5px;
      }
    }
    a {
      font-size: 16px;
      min-width: 80px;
      height: 30px;
      svg {
        margin-right: 5px;
      }
      svg path {
        fill: $color-light-green;
        transition: all .3s ease;
      }
      &:hover svg path {
        fill: $color-dark-green;
      }
    }
  }
  .size-guide-video {
    margin-top: 30px;
    text-align: center;
    @include desktop {
      margin-top: 50px;
    }
    @media (min-width: 990px) and (max-width: 1120px) {
      // margin-top: 20px !important;
    }
    .size-guide-vtitle {
      color: $color-dark-green;
      font-family: $fs-stb;
      font-size: 24px;
      font-weight: 500;
      @include mobile {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .size-guide-vsubtitle {
      color: $color-dark-green;
      font-size: 16px;
      margin-top: 15px;
      @include desktop {
        margin-top: 3px;
      }
      p {
        margin: 0px;
      }
      a {
        color: $color-dark-green;
      }
      a:hover {
        color: $color-light-blue-new;
      }
    }
    .btn_wrapper {
      a {
        border: 1px solid #d44d4d;
        border-radius: 25px;
        color: #d44d4d;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        svg {
          margin-left: 8px;
        }
      }
    }
  }
  .size_guide_item-wrapper {
    .size_guide_item {
      border-top: 1px solid #dfe3e8;
      margin-top: 30px;
      padding-top: 30px;
      @media (min-width: 990px) and (max-width: 1280px) {
        // margin-top: 15px;
        // padding-top: 15px;
      }
      .item_title {
        color: $color-dark-green;
        font-family: $fs-stb;
        font-size: 19px;
        font-weight: 500;
        @include desktop {
          font-size: 24px;
        }
      }
      .item_content {
        color: $color-dark-green;
        p {
          margin-top: 8px;
          margin-bottom: 8px;
          @include mobile {
            font-size: 16px;
          }
        }
        strong {
          font-family: $fs-stb;
          font-weight: 500;
        }
      }
    }
  }
  .body-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.75);
    opacity: 0;
    z-index: -1;
    transition: $transition-time opacity;
  }
}

[data-size-guide-toggle] {
  cursor: pointer;
  // margin-left: auto;
}

.product-upsell-wrapper {
  background: #f7fafb;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  @include mobile {
    margin-bottom: 25px;
  }
  @include desktop {
    padding: 15px 25px;
  }
  .product-upsell-title {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-size: 16px;
    font-weight: 500;
  }
  .product-upsell-subtitle {
    color: $color-dark-green;
    font-size: 14px;
    p {
      margin: 0px;
    }
  }
  .product-upsell-item {
    background: $color-white;
    border: 1px solid #dfe3e8;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    @include desktop {
      padding: 20px;
    }
  }
  .product-upsell-image {
    min-width: 80px;
    max-width: 80px;
    margin-right: 10px;
    @include mobile {
      min-width: 50px;
      max-width: 50px;
    }
  }
  .product-upsell-meta {
    flex: 1;
    flex-wrap: wrap;
    @include mobile {
      flex-direction: column;
    }
  }
  .product_variants-wrapper {
    border-top: 1px solid #dfe3e8;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 3px;

    input:checked + label, label:hover {
      position: relative;
      &::after {
        content: '';
        display: block;
        border: 2px solid $color-light-blue-new;
        border-radius: 50px;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        left: -4px;
        top: -4px;
        position: absolute;
      }
    }

  }
  .product_variants {
    display: flex;
    .product_option {
      display: flex;
      margin-right: 10px;
    }
    input {
      display: none;
    }
    label {
      border-radius: 50px;
      cursor: pointer;
      margin-bottom: 0px;
      width: 13px;
      height: 13px;
      @include desktop {
        width: 17px;
        height: 17px;
      }
    }
  }

  .product-upsell-info {
    flex: 1;
  }
  .product-upsell-item-title {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-size: 16px;
    font-weight: 500;
  }
  .product-upsell-item-desc {
    color: $color-dark-green;
    font-size: 12px;
  }
  .product-upsell-price {
    flex-direction: column;
    margin-left: 10px;
    min-width: max-content;
    min-width: 85px;
    @include mobile {
      align-items: center;
      flex-direction: row;
      margin-left: 0px;
    }
    .price-wrapper {
      font-size: 16px;
      font-weight: bold;
      flex-direction: column;
      justify-content: flex-end;
      @include mobile {
        font-size: 14px;
        justify-content: flex-start;
      }
    }
    .regular-price {
      color: $color-dark-green;
      font-family: $fs-stb;
      font-weight: 500;
    }
    .was-price {
      color: #707071;
      font-family: $fs-stb;
      font-weight: 500;
      margin-right: 4px;
      & + .regular-price {
        // color: $color-dark-green;
      }
      @include mobile {
        font-size: 14px;
      }
    }
    .save-badge {
      color: #d44d4d;
      font-size: 14px;  
      font-weight: bold;   
      text-align: right; 
      @include mobile {
        line-height: 1;
      }
    }
  }
  .product-upsell-atc-form {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    .btn {
      border-radius: 100px;
      width: 85px;
      height: 30px;
      @include mobile {
        font-size: 14px;
      }
    }
    .btn-added {
      display: none;
    }
    &[data-added='true'] {
      .btn-add {
        display: none;
      }
      .btn-added {
        display: block;
      }
    }
  }
}


// .js-animation {
//   transition: all .5s linear;
//   overflow: hidden !important;
//   &.no-height {
//     height: 0px !important;
//   }
//   &.no-padding {
//     padding-top: 0px !important;
//     padding-bottom: 0px !important;
//   }
// }

form.product-form-regular {
  button.add-to-cart {
    @include mobile {
      margin-bottom: 20px;
    }
  }

  .product-options.m-color {
    @include mobile {
      flex-direction: column;
      .product-options__list {
        margin-left: -8px;
        margin-top: 10px;
      }
    }
  }
}

[data-bis-btn] {
  @include mobile {
    margin-bottom: 20px;
  }
}

.badge__form-regular {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: -10px;
}