
.product-images {
  border-bottom: 1px solid #dfe3e8;
  height: auto;
  transition: all .3s ease;
  @include desktop {
    padding-left: 15px;
    padding-right: 15px;
  }
  &.fade {
    opacity: 0;
  }
  .main_img_wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }
  @include desktop {
    border-bottom: none;
    position: relative;
    background-size: contain;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
  }
  .info_badge {
    background: #eefad7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    align-items: center;
    top: 30px;
    right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
  }
  .slick-arrow {
    // display: none !important;
    @include desktop {
      // display: inline-block !important;
    }
  }
  img {
    border-radius: 5px;
  }
  .slider_back {
    color: $color-light-blue-new;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 0px;
    bottom: unset;
    @include desktop {
      bottom: 0px;
      top: unset;
      right: 0px;
    }
    svg {
      height: 10px;
      width: auto;
      margin-right: 7px;
      transform: rotateY(180deg);
      path {
        fill: $color-light-blue-new;
      }
    }
  }

  .badge_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-40px, -55px);
    z-index: 9;
    @include mobile {
      transform: translate(0px, -25px);
      svg {
        width: 120px;
        height: auto;
      }
    }
  }

}

.product-slider {
  opacity: 0;
  &.is-visible {
    opacity: 1;
  }
  .slick-arrow {
    width: 30px;
    height: 30px;
    top: 50%;
    @include desktop {
      width: 45px;
      height: 45px;
    }
    // bottom: -45px;
    // right: calc(50% - 45px);
  }
  .slick-next {
    right: 15px;
    @include desktop {
      right: 15px;
    }
    @include s_r_tablet {
      right: 15px;
    }
  }
  .slick-prev {
    left: 15px;
    top: 50%;
    transform: translateY(-50%) !important;
    @include desktop {
      left: 0px;
    }
    @include s_r_tablet {
      left: 15px;
    }
    // right: auto;
    // left: calc(50% - 45px);
  }
  .slick-dots {
    position: absolute;
    bottom: $gutter;
    left: $gutter;
    right: $gutter;
  }
}

[data-slider-dots-overlay] {
  position: relative;
  ul.slick-dots {
    background: #fffdfc;
    border-radius: 20px;
    height: 20px;
    padding: 0px 10px;
    position: absolute;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
    [data-slider-count] {
      color: #000;
      font-size: 16px;
      font-weight: bold;
      margin-top: -4px;
      text-align: center;
      position: absolute;
      width: 50px;
      top: 0px;
      transform: translateY(-100%);
    }

    [data-slick-next-trigger] {
      cursor: pointer;
      right: 0px;
      position: absolute;
      transform: translateX(15px);
    }

    li {
      display: flex;
      margin: 3px;
    }
    li button {
      background: #666666;
      border: none;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      margin: 0px;
    }
    li.slick-active button {
      background: #000;
      border: 1px solid $color-green;
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }
  }
}

.product-thumb-slider {
  max-width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  .thumb_wrapper {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    img {
      border: 1px solid #dfe3e8;
      border-radius: 5px;
    }
  }
  .slick-current.slick-active {
    .thumb_wrapper img {
      border: 2px solid $color-light-blue-new;
    }
  }
}