// Product Info:
.product-info {
  margin: 0 auto;
  @include desktop {
    // margin-left: auto;
    // margin-right: 60px;
    // width: 450px;
  }
  
  .buy-info {
    margin-top: $gutter;
    font-size: 14px;
    p {
      margin: 0;
    }
  }
  .title {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 34px;
    font-weight: bold;
    color: $color-black;
    // text-transform: uppercase;
  }
  .subtitle {
    margin-top: 0;
    font-stretch: condensed;
    color: $color-brown;
    font-weight: 500;
  }
}


.price-type-wrapper {
  flex-direction: column;
  align-items: flex-start;
  &.inline {
    @include desktop {
      flex-direction: row;
      align-items: center;
      .plan_type {
        margin-left: 8px;
      }
    }
  }
  .plan_type {
    background: #c5ffbb;
    border-radius: 5px;
    color: #031f24;
    font-size: 14px;
    // font-weight: bold;
    margin-top: 5px;
    padding: 4px 8px;
    @include desktop {
      // font-size: 20px;
    }
  }
  .price_cross_out {
    color: #666;
    text-decoration: line-through;
  }
  @media (max-width: 400px) {
    align-items: flex-start;
    // flex-direction: column;
    .inline .plan_type {
      margin-left: 5px;
    }
  }
}


.product-benefits {
  margin-top: $gutter;
  font-weight: 600;
  font-size: $fz-6;
  p {
    margin-bottom: 0;
    &:before {
      content: "";
      display: inline-block;
      margin-right: 0.5em;
      width: 14px;
      height: 1em;
      background: url('../images/checkmark.svg') no-repeat center center / contain;
    }
  }
}
.product-info__bottom {
  margin-top: 20px;
  font-size: $fz-7;
  padding-left: 40px;
  position: relative;
  &:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../images/flag.png') no-repeat center center / contain;
    position: absolute;
    top: 2px;
    left: 0;
  }
}

.product-info__reviews {
  margin-bottom: $gutter;
}
.product-info__descr {
  margin-top: $gutter;
  font-size: $fz-5;
  line-height: 1.2;
  p {
    margin: 0;
  }
  p, li, ul, ol, dl {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
  }
  ul {
    margin: 0;
    list-style: none;
  }
  li {
    &:before {
      font-size: 0.6em;
      margin-right: .5em;
    }
  }
}

.product-price, .product-price * {
  color: $color-dark-green;
  font-family: $fs-st;
  margin-top: 8px;
  // font-size: 20px;
  font-weight: 500;
}
.was-price {
  color: #707071;
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
}
.product-price__amount {
  &.is-hidden {
    display: none;
  }
}


.product-info__top-label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.product-info__bottom-label {
  margin: 25px (-$gutter) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-size: $fz-5;
  font-weight: 600;
  background: $color-grey-lightest;
  text-align: center;
  @include desktop {
    margin: 25px (-$gutter*2) 0;
  }
}

.product-stock {
  margin-top: $gutter;
  font-weight: 600;
  text-align: center;
}
.product-stock__bar {
  display: inline-block;
  width: 285px;
  height: 10px;
  background: $color-blue;
  position: relative;
  border-radius: 10px;
  &:before {
    content: "";
    display: block;
    width: 25%;
    height: 100%;
    background: $color-red;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    animation: stock 2s;
  }
}

.membership-info {
  margin-top: -2px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $color-yellow;
  border-radius: 3px;
  font-size: $fz-7;
  .btn {
    color: $color-red;
    font-weight: 600;
  }
  i {
    margin-right: 5px;
    color: $color-red;
    font-size: $fz-5;
    vertical-align: middle;
    top: -1px;
  }
}

.membership-popup-section {
  .popup-window {
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
  .close {
    color: $color-red;
    opacity: 1;
    font-size: $fz-4;
  }
}
.membership-popup {
  padding: $gutter*2 $gutter*3;
  color: $color-black;
  .title {
    font-weight: 900;
    font-size: $fz-3;
    color: $color-black;
    text-align: center;
  }
}
.membership-items {
  margin-bottom: 0;
  margin-top: $gutter*2;
  padding-left: 0;
  list-style-type: none;
  li {
    position: relative;
    padding-left: $gutter*2;
    &:before {
      content: "✓"; 
      position: absolute;
      top: 0;
      left: 0;
      font-size: $fz-4;
      color: $color-blue;
    }
    +li {
      margin-top: 20px;
    }
    .title {
      margin-bottom: 0;
      font-weight: 600;
      text-align: left;
      font-size: $fz-5;
      +.subtitle {
        margin-top: 0;
      }
    }
    .subtitle {
      font-size: $fz-7;
    }
  }
}

#shopify-section-ea-product-main {
  .product-main__left {
    align-items: flex-start;
    &.product-regular {
      align-items: center;
      // display: flex;
      display: block;
      padding-right: 30px;
      @include mobile {
        align-items: unset;
        padding-right: unset;
      }
      .shipping-features .feature-wrapper {
        .shipping-feature {
          margin-left: 30px;
          margin-right: 30px;
        }
        .shipping-feature:nth-child(2) {
          display: none !important;
        }
      }
    }
  }
}

.product-form.form-regular {

  .product-options.m-size {
    .product-options__title {
      // justify-content: flex-start !important;
      [data-popup-open='size-guide'] {
        position: absolute;
        right: 0px;
        @include desktop {
          right: 30px;
        }
      }
      span[data-selected-size], span[data-selected-color] {
        margin-left: 4px;
      }
    }
    label.product-option__label {
      @include mobile {
        font-size: 12px;
      }
    }
  }

  .shipping-features {
    @include mobile {
      margin-top: 25px;
    }
    .feature-wrapper {
      .shipping-feature:nth-child(2) {
        display: none !important;
      }
    }
  }
  .description_tabs {
    @include mobile {
      border-top: 1px solid #d6d6d6;
      margin-top: 20px;
      padding-top: 10px;
    }
  }
  .description_tabs {
    @include mobile {
      border-top: 1px solid #d6d6d6;
      margin-top: 20px;
      padding-top: 10px;
    }
  }
  .product-options-wrapper {
    margin-top: 20px;
  }
  .product-options__list {
    @include mobile {
      margin: 0 -5px;
    }
    .product-option {
      // margin-right: 5px;
      margin-bottom: 3px;
      @include mobile {
        max-width: calc(100% / 3) !important;
        .product-option__text {
          padding: 0px;
        }
      }
    }
  }
  .product-options__title {
    justify-content: flex-start !important;
  }
  .product-options.m-size {
    [data-popup-open="size-guide"] {
      position: absolute;
      right: 0px;
      @include desktop {
        right: 30px;
      }
    }
    [data-selected-size] {
      margin-left: 3px;
    }
  }
}

body {
  .yotpo.yotpo-main-widget .yotpo-icon-star,
  .yotpo.yotpo-main-widget .yotpo-icon-half-star,
  .yotpo.yotpo-main-widget .yotpo-icon-empty-star,
  .yotpo.embedded-widget .yotpo-icon-star,
  .yotpo.embedded-widget .yotpo-icon-half-star,
  .yotpo.embedded-widget .yotpo-icon-empty-star,
  .yotpo.yotpo-modal .yotpo-icon-star,
  .yotpo.yotpo-modal .yotpo-icon-half-star,
  .yotpo.yotpo-modal .yotpo-icon-empty-star,
  .yotpo.bottomLine .yotpo-icon-star,
  .yotpo.bottomLine .yotpo-icon-half-star,
  .yotpo.bottomLine .yotpo-icon-empty-star,
  .yotpo.yotpo-reviews-carousel .yotpo-icon-star,
  .yotpo.yotpo-reviews-carousel .yotpo-icon-half-star,
  .yotpo.yotpo-reviews-carousel .yotpo-icon-empty-star,
  .mobile-filters-modal .yotpo-icon-star,
  .mobile-filters-modal .yotpo-icon-half-star,
  .mobile-filters-modal .yotpo-icon-empty-star {
  color: #80bd01 !important; /*Change the value here to the color to use for stars*/
  font-size: 20px !important;
  background-image: unset !important;
  }
}