.product-main-section {
  position: relative;
}
.product-main {
  min-height: 0;
  height: auto;
  display: block;
  padding: 0;
  .scroll-next {
    display: none;
  }
}
.product-main__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  // max-width: unset;
  padding: 0;
  // padding: 0 15px;

  .product-option {
    input {
      display: none;
    }
  }

  @include desktop {
    flex-direction: unset;
  }
}

.product-main__left,
.product-main__right {
  position: relative;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  flex: 1;
}
.product-main__left {
  min-width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @include desktop {
    // display: flex !important;
    // align-items: center;
    position: sticky;
    min-width: 50%;
    max-width: 50%;
    padding-left: 0px;
    padding-right: 0px;
    top: 80px;
  }
  @include s_r_tablet {
    .pre-order-wrapper {
      display: none !important;
    }
  }
}
.product-main__right {
  max-width: 500px;
  padding-left: 15px;
  padding-right: 15px;
  @include desktop {
    min-width: 50%;
    max-width: 50%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@include desktop {
  .product-main {
    position: relative;
    .scroll-next {
      display: inherit;
      bottom: 0;
    }
  }
  .product-main__container {
    // align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    flex: inherit;
  }
  .product-main__left,
  .product-main__right {
    display: block;
    width: initial;
    flex: inherit;
  }
  .product-main__right {
    @include desktop {
      // position: sticky;
      // top: 30px;
    }
  }
}

@include s_r_tablet {
  .product-main__container {
    flex-direction: column;
    .product-main__right {
      min-width: 100%;
      max-width: 100%;
    }
    .product-main__left {
      // min-width: 80%;
      // max-width: 80%;
      margin: 0 auto;
      margin-top: 15px;
      .product-info {
        margin: 0px;
        // width: 600px;
      }
    }
  }
}


.product_ajax_form {
  .product_variants {
    display: flex;
    justify-content: center;
    height: 45px;
    margin-top: 25px;
    &.multiple-variants {
      display: block;
      height: 90px;
      .product_variants_color {
        display: flex;
        justify-content: center;
      }
      .product_variants_size {
        margin-top: 10px;
        select {
          background: transparent;
          border-radius: 8px;
          font-size: 14px;
          height: 35px;
          width: 130px;
          outline: none;
          padding: 0 8px;
        }
      }
    }
    .product_option {
      margin-left: 8px;
      margin-right: 8px;
      input {
        display: none;
        &:checked + label::after {
          content: '';
          border: 2px solid $color-swatch-active;
          border-radius: 50%;
          left: -4px;
          top: -4px;
          width: 28px;
          height: 28px;
          position: absolute;
        }
      }
      label {
        border-radius: 50%;
        cursor: pointer;
        margin-bottom: 0px;
        width: 20px;
        height: 20px;
        position: relative;
      }
    }
  }
}

body.template-product.template-product-switch {
  #product-stickybar {
    @include desktop {
      // top: 40px;
    }
  }
}

#product-stickybar {
  background: #FFF;
  bottom: 0;
  box-shadow: 0 -12px 23px 0 #b7b7b71f;
  width: 100%;
  left: 0px;
  position: fixed;
  opacity: 0;
  transform: translateY(100%);
  transition: all .5s ease;
  z-index: 9;
  @include mobile {
    padding-bottom: 10px;
    z-index: 999;
  }
  @include desktop {
    bottom: unset;
    box-shadow: 0 6px 10px 0 #00000005;
    transform: translateY(-100%);
    top: 0px;
    .cta_wrapper {
      a {
        height: 55px !important;
      }
    }
  }
  .cta_wrapper {
    a {
      border-radius: 100px;
    }
  }
  &.visible, &.active {
    opacity: 1;
    transform: unset;
  }
  .wrapper {
    align-items: center;
    justify-content: space-between;
    height: 75px;
    @include desktop {
      height: 90px;
    }
    .sticky_cta {
      .d-flex {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        @include desktop {
          align-items: center;
          flex-direction: unset;
          justify-content: unset;
        }
      }
    }
  }
  .sticky_info {
    align-items: center;
    .image_wrapper {
      display: flex;
      align-items: center;
      margin-right: 15px;
      img {
        border-radius: 5px;
      }
    }
  }
  .sticky_plan_type {
    background: #eefad7;
    border: 1px solid #cae695;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: -0.3px;
    margin-bottom: 3px;
    padding: 3px 5px;
  }
  .sticky_title {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-size: 14px;
    font-weight: 500;
    @include desktop {
      font-size: 16px;
    }
  }
  .sticky_feature {
    color: $color-light-blue-new;
    font-size: 12px;
    font-weight: 500;
    @include desktop {
      font-size: 14px;
    }
  }
  .product-options.m-size {
    border: none;
    display: flex;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    .product-options__title {
      font-style: normal;
      font-weight: bold;
      margin-right: 15px;
    }
    .product-options__list {
      .product-option {
        margin-right: 5px;
        input {
          display: none;
        }
        .product-option__text {
          font-size: 12px;
          height: 22px;
        }
      }
    }
    .size-chart-trigger {
      display: none !important;
    }
  }
  .product-options.m-color {
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    padding: 0 !important;
    .product-options__title {
      font-size: 14px;
      margin-bottom: 0px;
      margin-right: 5px;
    }
    [data-selected-color] {
      display: none !important;
    }
    .product-option {
      margin-left: 4px;
      margin-right: 4px;
      padding: 0 3px !important;
      input {
        display: none;
      }
    }
    .product-option__label {
      width: 15px;
      height: 15px;
      // input:checked + label::after {
      input:checked + label::after {
        content: "";
        border: 1px solid #000;
        border-radius: 50%;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        top: -4px;
        left: -4px;
        position: absolute;
      }
    }
  }
  .sticky_price {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-right: 4px;
    [data-sticky-price] {
      color: $color-dark-green;
      font-family: $fs-stb;
      font-weight: 500;
    }
    [data-sticky-compare-price] {
      color: #707071;
      margin-right: 8px;
      text-decoration: line-through;
    }
    // span.hide--mobile {
    //   background: #eefad7;
    //   border: 1px solid #ddefbc;
    //   padding: 2px 10px;
    //   font-size: 14px;
    //   border-radius: 5px;
    // }
    @include desktop {
      display: block;
      flex-direction: unset;
      font-size: 16px;
      margin-right: 30px;
    }
  }
  .cta_wrapper {
    a {
      display: flex;
      font-size: 15px;
      font-weight: 700;
      width: 125px;
      height: 35px;
      min-width: unset;
      padding: 0px;
      @include desktop {
        font-size: 16px;
        width: unset;
        padding: 0 2em;
      }
      svg {
        margin-left: 8px;
        width: 14px;
        height: auto;
        fill: $color-light-green;
        stroke: $color-light-green;
        stroke-width: 20px;
        transition: all .3s ease;
        transform: rotate(-90deg);
        @include desktop {
          width: 16px;
        }
      }
      &:hover svg {
        // transform: translateX(5px);
      }
    }
  }
  .return_tech {
    display: none;
    margin-bottom: 5px;
    text-align: right;
    button {
      background: transparent;
      border: none;
      color: $color-blue;
      font-size: 14px;
      font-weight: 600;
      @include desktop {
        font-size: 16px;
      }
      svg {
        width: 12px;
        height: auto;
      }
    }
  }
}

body.template-product {
  z-index: unset;
  @include desktop {
    &.template-product-explore, &.template-product-fit {
      // padding-bottom: 105px !important;
    }
  }

  .shopify-section.product-reviews .promoted-products-box {
    display: none !important;
  }
}



body.template-product-explore, body.template-product-fit, body.template-product-switch {
  @include desktop {
    #product-stickybar {
      .sticky_price {
        display: flex !important;
        align-items: flex-end;
        // flex-direction: column !important;        
      }
      [data-sticky-plan-text] {
        background: $color-btn-hover;
        border: 1px solid #ddefbc;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 7px;
        padding: 2px 5px;
      }
    }
  }
}


.template-product {
  .product-main-wrapper {
    position: relative;
  }

  .store-front {
    .shopify-section.choose-plan {
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: 0px;
      position: absolute;
      z-index: -1;
    }
  }

  .product-features-icon-plan {
    display: none;
  }
  [data-single-atc] {
    display: none;
  }
}

.product-main-plan-wrapper {
  position: relative;
  .shopify-section.product-main-section, 
  .shopify-section.choose-plan {
    transition: opacity .8s linear;
  }
}