{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-collection-content-collar-leash', section: section %}

{% endif %}

{% schema %}
  @@include('custom-collection.json')
{% endschema %}