<style>
  {% for block in section.blocks %}
    {% if block.settings.title != blank %}
    [data-color-name='{{ block.settings.title | handle }}'] {
      background: {{ block.settings.color }} !important;
    }
    {% endif %}
  {% endfor %}
</style>


{% schema %}
{
  "name": "Color Option",
  "tag": "section",
  "class": "color-swatch-option",
  "settings": [],
  "blocks": [
    {
      "type": "block",
      "name": "Color",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color"
        }
      ]
    }
  ]
}
{% endschema %}