{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-video-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-video-second.json')
{% endschema %}