{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-instagram-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-instagram.json')
{% endschema %}