{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-testimonial-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-testimonial.json')
{% endschema %}