{%if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-logo-list-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-logo-list-second.json')
{% endschema %}