{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'product-grid-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-product-grid.json')
{% endschema %}