{% if section.settings.visible %}
  
  {% render 'ea-section-styles', section: section %}

  <div class="section_container">
    <div class="main_content container" data-animate-block>
      <div class="title">{{ section.settings.title }}</div>
      <div class="faq-content" data-accordions-container>
        {% for block in section.blocks %}
          <div class="faq-item accordion" data-accordion>
            <h3 class="faq-item__title accordion__title" data-accordion-button><span>{{ block.settings.title }}</span><i class="icon-plus"><svg src="plus.svg"></svg></i><i class="icon-minus"><svg src="minus.svg"></svg></i></h3>
            <div class="faq-item__content accordion__content" data-accordion-content>{{ block.settings.answer }}</div>
          </div>
        {% endfor %}
        <div class="faq-bottom">
          <div>More Questions?</div>
          <div>{% if section.settings.email != blank %}Email Us: <a href="mailto:{{ section.settings.email }}">{{ section.settings.email }}</a>{% endif %}</div>
        </div>
      </div>
    </div>
  </div>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {% for block in section.blocks %}
          {
            "@type": "Question",
            "name": "{{ block.settings.title }}",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "{{ block.settings.answer }}"
            }  
          }{% if forloop.first %}{% if section.blocks.size > 1 %},{% endif %}{% else %}{% if forloop.last != true %},{% endif %}{% endif %}
        {% endfor %}
      ]
    }
  </script>

{% endif %}

{% schema %}
{ 
  "name": "FAQ",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email"
    }
  ],
  "blocks": [
    {
      "name": "FAQ",
      "type": "faq",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Question"
        },
        {
          "id": "answer",
          "type": "richtext",
          "label": "Answer"
        }
      ]
    }
  ]
}
{% endschema %}
