{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-contact-info-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-contact-info.json')
{% endschema %}