{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-product-faq-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-product-faq.json')
{% endschema %}