{% if section.settings.visible %}

  {% render 'ea-section-styles', section:section %}

  {% render 'custom-review-carousel-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-review-carousel.json')

{% endschema %}