{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-richtext-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-richtext.json')
{% endschema %}