{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-cta-content', section: section %}

{% endif %}


{% schema %}
  @@include('custom-cta.json')
{% endschema %}