{% render 'ea-section-styles', section: section %}

<div class="section-container">
  <div class="main_content container">
    <div class="title not-animated">{{ section.settings.title }}</div>
    <div class="content_wrapper d-flex" data-animate-block>
      {% for block in section.blocks %}
        <div class="guarantee_item d-flex" data-animation-delay-{{ forloop.index }} data-fade-animation>
          <div class="icon_wrapper">{{ block.settings.icon }}</div>
          <div class="text_wrapper">
            <div class="item_title">{{ block.settings.title }}</div>
            <div class="item_content">{{ block.settings.content }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Guarantee",
  "class": "guarantee",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show block",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Background",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "name": "Block",
      "type": "block",
      "limit": 3,
      "settings": [
        {
          "type": "html",
          "id": "icon",
          "label": "SVG"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our Gurantee",
      "category": "custom"
    }
  ]
}
{% endschema %}