{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-related-products-content-regular', section: section %}

{% endif %}

{% schema %}
  @@include('custom-related-products.json')
{% endschema %}