{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-image-video-slider-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-image-video-slider.json')
{% endschema %}