{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-text-with-image-freeze-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-text-with-image-freeze.json')
{% endschema %}