{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-card-grid-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-card-grid.json')
{% endschema %}