
{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-contact-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-contact.json')
{% endschema %}