{% if section.settings.visible %}

  {% render 'ea-section-styles' %}

  <div class="section_container">
    <div class="main_content container" data-animate-block>
      <div class="main_wrapper d-flex">
        <div class="image_wrapper">{% render 'rimage', image: section.settings.image, size: '800x' %}</div>
        <div class="text_wrapper">
          <div class="title">{{ section.settings.title }}</div>
          <div class="text-list">
            {% for block in section.blocks %}
              <div class="list d-flex">
                {% render 'icon' with 'icon-checkmark' %}
                {{ block.settings.title }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}

{% schema %}
{
  "name": "Image with text list",
  "class": "image-with-text-list-second",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show block",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Background",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ]
}
{% endschema %}