{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-image-with-text-block-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-image-with-text-block.json')
{% endschema %}