{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-hero-banner-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-hero-banner-second.json')
{% endschema %}