{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'compare-model-content-product', section: section %}

{% endif %}

{% schema %}
  @@include('custom-compare-model-product.json')
{% endschema %}