{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  <div class="section_container">
    <div class="main_content container">
      <div class="main_wrapper">
        {% assign set = section.settings %}
        {% if set.image != blank %}
          <div class="hero__banner" id="hero-banner-{{ section.id }}">
            <div class="banner_wrapper" {% if set.entire_link == true and set.btn_link != blank %}data-link-trigger data-target="{{ set.btn_link }}"{% endif %}>
              {% assign image = set.image %}
              {% assign mob_image = set.mob_image | default: image %}
              <div class="banner_img_wrapper hide--mobile">
                <img loading="lazy" src="{{ image | img_url: '2000x' }}" alt="Hero banner">
                {% comment %}{% render 'rimage', image: image, size: '1400x'  %}{% endcomment %}
              </div>
              <div class="banner_img_wrapper hide--desktop hide--tablet">
                <img loading="lazy" src="{{ mob_image | img_url: '500x' }}" alt="Hero banner">
                {% comment %}{% render 'rimage', image: mob_image, size: '1400x'  %}{% endcomment %}
              </div>
              <div class="banner_info-wrapper">
                {% assign mob_pos = set.content_pos_mob | split: ' ' %}
                <div class="banner_info pos-control {{ set.content_pos }} mob-{{ mob_pos[0] }} mob-{{ mob_pos[1] }} text-{{ set.text_align }} mob-text-{{ set.text_align_mob }}" style="background: {{ set.content_bg }}">
                  {% if set.pretitle != blank %}
                    <div class="pretitle not-animated" style="color: {{ set.fc_pretitle }}">{{ set.pretitle }}</div>
                  {% endif %}
                  {% if set.title != blank %}
                    <div class="title not-animated" style="color: {{ set.fc_title }}">{{ set.title }}</div>
                  {% endif %}
                  {% if set.subtitle != blank %}
                    <div class="subtitle not-animated" style="color: {{ set.fc_subtitle }}">{{ set.subtitle }}</div>
                  {% endif %}
                  {% if set.text != blank %}
                    <div class="text" style="color: {{ set.fc_text }}">{{ set.text }}</div>
                  {% endif %}
                  {% if set.btn_link != blank and set.btn_label != blank and set.entire_link == false %}
                    <div class="btn_wrapper">
                      <a onclick="dataLayer.push({'CTA': '{{ set.btn_link }}'});" class="btn m-green btn-small btn-rounded" href="{{ set.btn_link }}" data-scroll-btn data-target="#shopify-section-custom-form-sweepstakes" data-target-mob="#shopify-section-custom-form-sweepstakes .form-wrapper">{{ set.btn_label }}</a>
                    </div>
                  {% endif %}
                  {% if set.show_icon and set.icon != blank %}
                    <div class="badge_wrapper">{{ set.icon }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            <style>
              @media (min-width: 1201px) {
                #hero-banner-{{ section.id }} .banner_info .title {
                  font-size: {{ set.fs_title }}px;
                }
                #hero-banner-{{ section.id }} .banner_info .subtitle, #hero-banner-{{ section.id }} .banner_info .subtitle p {
                  font-size: {{ set.fs_subtitle }}px;
                }
                #hero-banner-{{ section.id }} .banner_info .text {
                  font-size: {{ set.fs_text }}px;
                }
              }

              @media (max-width: 1200px) {
                #hero-banner-{{ section.id }} .banner_info .title {
                  font-size: {{ set.mob_fs_title }}px;
                }
                #hero-banner-{{ section.id }} .banner_info .subtitle, #hero-banner-{{ section.id }} .banner_info .subtitle p {
                  font-size: {{ set.mob_fs_subtitle }}px;
                }
                #hero-banner-{{ section.id }} .banner_info .text {
                  font-size: {{ set.mob_fs_text }}px;
                }
              }
            </style>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  
{% endif %}

{% schema %}
{
  "name": "Hero Banner",
  "tag": "section",
  "class": "hero-banner",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "2000 x 1000 px recommended"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Image (Mobile)",
      "info": "600 x 800 px recommended"
    },
    {
      "type": "color",
      "id": "content_bg",
      "label": "Text background"
    },
    {
      "type": "text",
      "id": "pretitle",
      "label": "Pre title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Sub title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Content position"
    },
    {
      "type": "select",
      "id": "content_pos",
      "options": [
        {
          "label": "Top Left",
          "value": "top left"
        },
        {
          "label": "Top Center",
          "value": "top center"
        },
        {
          "label": "Top Right",
          "value": "top right"
        },
        {
          "label": "Middle Left",
          "value": "middle left"
        },
        {
          "label": "Middle Center",
          "value": "middle center"
        },
        {
          "label": "Middle Right",
          "value": "middle right"
        },
        {
          "label": "Bottom Left",
          "value": "bottom left"
        },
        {
          "label": "Bottom Center",
          "value": "bottom center"
        },
        {
          "label": "Bottom Right",
          "value": "bottom right"
        }
      ],
      "default": "middle center",
      "label": "Desktop"
    },
    {
      "type": "select",
      "id": "content_pos_mob",
      "options": [
        {
          "label": "Top Left",
          "value": "top left"
        },
        {
          "label": "Top Center",
          "value": "top center"
        },
        {
          "label": "Top Right",
          "value": "top right"
        },
        {
          "label": "Middle Left",
          "value": "middle left"
        },
        {
          "label": "Middle Center",
          "value": "middle center"
        },
        {
          "label": "Middle Right",
          "value": "middle right"
        },
        {
          "label": "Bottom Left",
          "value": "bottom left"
        },
        {
          "label": "Bottom Center",
          "value": "bottom center"
        },
        {
          "label": "Bottom Right",
          "value": "bottom right"
        }
      ],
      "default": "middle center",
      "label": "Mobile"
    },
    {
      "type": "header",
      "content": "Text alignment"
    },
    {
      "type": "select",
      "id": "text_align",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "default": "center",
      "label": "Desktop"
    },
    {
      "type": "select",
      "id": "text_align_mob",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "default": "center",
      "label": "Mobile"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "header",
      "content": "Badge"
    },
    {
      "type": "checkbox",
      "id": "show_icon",
      "label": "Show Badge",
      "default": true
    },
    {
      "type": "html",
      "id": "icon",
      "label": "Badge"
    },
    {
      "type": "checkbox",
      "id": "entire_link",
      "label": "Make entire banner to link?"
    },
    {
      "type": "header",
      "content": "Font size (Desktop)"
    },
    {
      "type": "range",
      "id": "fs_title",
      "min": 30,
      "max": 70,
      "default": 65,
      "step": 1,
      "unit": "px",
      "label": "Title"
    },
    {
      "type": "range",
      "id": "fs_subtitle",
      "min": 15,
      "max": 40,
      "default": 19,
      "step": 1,
      "unit": "px",
      "label": "Sub title"
    },
    {
      "type": "range",
      "id": "fs_text",
      "min": 15,
      "max": 40,
      "default": 24,
      "step": 1,
      "unit": "px",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Font size (Mobile)"
    },
    {
      "type": "range",
      "id": "mob_fs_title",
      "min": 20,
      "max": 50,
      "default": 34,
      "step": 1,
      "unit": "px",
      "label": "Title"
    },
    {
      "type": "range",
      "id": "mob_fs_subtitle",
      "min": 14,
      "max": 40,
      "default": 16,
      "step": 1,
      "unit": "px",
      "label": "Sub title"
    },
    {
      "type": "range",
      "id": "mob_fs_text",
      "min": 14,
      "max": 40,
      "default": 19,
      "step": 1,
      "unit": "px",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "fc_pretitle",
      "label": "Pre title",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "fc_title",
      "label": "Title",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "fc_subtitle",
      "label": "Sub title",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "fc_text",
      "label": "Text",
      "default": "#000"
    }
  ]
}
{% endschema %}