{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-tech-specs-content', section: section %}

  {% endif %}

{% schema %}
  @@include('custom-tech-spec.json')
{% endschema %}