{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-banner-tab-content' %}

{% endif %}

{% schema %}
  @@include('custom-banner-tab.json')
{% endschema %}