{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  {% render 'custom-choose-plan-content', section: section %}

{% endif %}

{% schema %}
  @@include('custom-choose-plan.json')
{% endschema %}