{% assign set = section.settings %}

<style>
  #shopify-section-{{ section.id }} {
    background-color: {{ set.sectionbg }};
  }
</style>

<div class="section login is-hidden has-image" data-login-forgot>

  <div class="container">
    <div class="login__wrap m-no-margin">
      {% if set.image %}
        <div class="login__image">
          <img src="{{ set.image | img_url: '1000x' }}" alt="{{ set.image.alt }}">
        </div> <!-- /.login__image -->
      {% endif %}

      <div class="login__form">
        <div class="login__content">
        
          {% if set.title != blank %}
            <h1 class="register_title">{{ set.title }}</h1>
          {% endif %}
          
          <div class="form">
            {% form 'recover_customer_password' %}
              {% if form.errors %}
                <div class="">
                  {% for field in form.errors %}
                    <p class="form__error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
                  {% endfor %}
                </div>
              {% endif %}

              {%- if form.posted_successfully? -%}
                <script>
                  Swal.fire({
                    title: 'Success!',
                    text: 'Please check your inbox.',
                    icon: 'success',
                    confirmButtonText: 'Cool'
                  })
                </script>
              {%- endif -%}
              
              <div class="form__field">
                <label for="customer_email" class="label">E-mail</label>
                <input id="customer_email" type="email" class="form__input" name="email" required/>
              </div>
    
              {% if set.subtitle != blank %}
                <div class="subtitle not-animated">{{ set.subtitle }}</div>
              {% endif %}

              <div class="form_account_button">
                <button type="submit" class="m-password">{{ set.btn }}</button>
              </div>


              <div class="form_account_button">
                <a href="/account/login" class="btn m-forget" data-login-link>{{ set.loginlink | default: 'Cancel' }}</a>
              </div>
            {% endform %}
          </div> <!-- /.form -->
        
        </div>
      </div> <!-- /.login__form -->
    </div> <!-- /.login__wrap -->
  </div>
</div> <!-- /.section -->



{% schema %}
  @@include('ea-login-forgot-password.json')
{% endschema %}