<nav class="nav" data-accordions-container data-accordions-mobile-only="1">
  <ul class="nav__items">

    {% for block in section.blocks %}

      {% if block.type contains 'dropdown' %}
        <li class="nav__item m-level-1 m-dropdown" data-trigger-hover {{ block.shopify_attributes }}>
          <a href="{{ block.settings.url }}" class="nav__link m-level-1" data-accordion-button data-active-history="true" data-handle="{{ block.settings.title | downcase | replace: '&', 'and' | handle }}">
            {{ block.settings.title }}
            {% comment %}
              <i class="icon-closed">{% render 'icon' with 'icon-plus' %}</i>
              <i class="icon-opened">{% render 'icon' with 'icon-minus' %}</i>
            {% endcomment %}
          </a>
          {% render 'nav-dropdown', block: block %}
        </li>

      {% elsif block.type == 'link' %}
        <li class="nav__item m-level-1" data-megamenu="{{ block.settings.title | downcase | replace: ' ', '-' | replace: '&', '-' }}" {{ block.shopify_attributes }}>
          <a class="nav__link m-level-1" href="{{ block.settings.url | default: 'javascript:;' }}" {% if block.settings.open_new %}target="blank"{% endif %} {% unless block.settings.title == 'COMPARE MODEL' %}data-active-history="{% if block.settings.open_new %}false{% else %}true{% endif %}"{% endunless %} data-handle="{{ block.settings.title | downcase | replace: '&', 'and' | handle }}" {% if block.settings.title == 'COMPARE MODEL' %}data-popup-open="compare-model"{% endif %}>
            {{ block.settings.title }}
            {% comment %}
              <i class="icon-closed">{% render 'icon' with 'icon-plus' %}</i>
              <i class="icon-opened">{% render 'icon' with 'icon-minus' %}</i>
            {% endcomment %}
          </a>
        </li>              
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="mob-link-wrapper hide--desktop hide--tablet">
    {% for block in section.blocks %}
      {% if block.type == 'mob_link' %}
        <li class="mob_link">
          <a href="{{ block.settings.url }}">{{ block.settings.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="mob_link" data-open-chat>
      <a href="javascript:openChat()">
        {% render 'icon' with 'icon-mob-chat' %} Chat with us
      </a>
    </li>
  </ul>

  {% assign blocks = section.blocks | where: "type", "slider" %}
  {% if blocks.size > 0 %}
    <div class="our-customers hide--desktop hide--tablet">
      {% if section.settings.title != blank %}
        {% render 'icon' with 'icon-review-star' %}
        <div class="title not-animated">{{ section.settings.title }}</div>
      {% endif %}
      <div class="slider-wrapper d-flex">
        {% for block in blocks %}
          <div class="slider-item">
            <div class="item_wrapper">
              <div class="image_wrapper">{% render 'rimage', image: block.settings.image, size: '300x' %}</div>
              <div class="info_wrapper d-flex">
                <div class="icon_wrapper">
                  {% render 'rimage', image: block.settings.icon, size: '50x' %}
                </div>
                <div class="item_title">{{ block.settings.title }}</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

</nav> <!-- /.site-header__nav -->

{% comment %}
<div class="social_link hide--desktop hide--tablet">
  <div class="wrapper d-flex">
    {% for i in (1..4) %}
      {% assign icon_key = 'icon' | append: i %}
      {% assign link_key = 'link' | append: i %}
      <div class="social_item">
        <a aria-label="Social Link" href="{{ section.settings[link_key] }}">{{ section.settings[icon_key] }}</a>
      </div>
    {% endfor %}
  </div>
</div>
{% endcomment %}

{% schema %}
  @@include('ea-megamenu.json')
{% endschema %}