{% if section.settings.visible %}
  {% render 'ea-section-styles', section: section %}
  {% render 'ea-newsletter-content', section: section %}
{% endif %}


{% schema %}
  @@include('ea-newsletter.json')
{% endschema %}
