{% assign set = section.settings %}

{% render 'ea-section-styles', section: section %}

<div class="section login has-image page-contact container" data-login-forgot>
  {% render 'ea-section-foreground-image', section: section %}

  <div class="login__wrap m-no-margin">
    {% if set.image %}
      <div class="login__image">
        <img src="{{ set.image | img_url: '1000x' }}" alt="{{ set.image.alt }}">
      </div> <!-- /.login__image -->
    {% endif %}

    <div class="login__form">
      <div class="login__content">
      
        {% if set.title != blank %}
          <h2 class="title not-animated">{{ set.title }}</h2>
        {% endif %}
        {% if set.subtitle != blank %}
          <div class="subtitle not-animated">{{ set.subtitle }}</div>
        {% endif %}
        <div class="form">
          {%- assign formId = 'ContactForm' -%}
          {% form 'contact', id: formId %}
            {% if form.errors %}
              <div class="">
                {% for field in form.errors %}
                  <p class="form__error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
                {% endfor %}
              </div>
            {% endif %}

            <div class="field-group">
              
              <div class="form__field">
                <label for="{{ formId }}-name" class="label">Name *</label>
                <input type="text" id="{{ formId }}-name" class="form__input" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" required>
              </div>

              <div class="form__field">
                <label for="{{ formId }}-lastname" class="label">Last *</label>
                <input type="text" id="{{ formId }}-lastname" class="form__input" name="contact[lastname]" value="{% if form[lastname] %}{{ form[lastname] }}{% elsif customer %}{{ customer.lastname }}{% endif %}" required>
              </div>

            </div>
    
            <div class="field-group">
              <div class="form__field">
                <label for="{{ formId }}-email" class="label">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
                <input
                  type="email"
                  id="{{ formId }}-email"
                  class="form__input"
                  name="contact[email]"
                  autocorrect="off"
                  autocapitalize="off"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  aria-required="true"
                  {%- if form.errors contains 'email' -%}
                    class="input--error"
                    aria-invalid="true"
                    aria-describedby="{{ formId }}-email-error"
                  {%- endif -%}
                  required
                  >
              </div>
      
              <div class="form__field m-select">
                <label for="{{ formId }}-inquiry" class="label">Subject *</label>
                <select name="{{ formId }}-inquiry" id="" class="form__input select" name="contact[inquiry]" required>
                  <option value="Device Damaged">Device Damaged</option>
                  <option value="Subscription Cancellation">Subscription Cancellation</option>
                  <option value="Activation/Setup Help">Activation/Setup Help</option>
                  <option value="Battery Life Issue">Battery Life Issue</option>
                  <option value="Lost Device">Lost Device</option>
                  <option value="Location or Tracking Issue">Location or Tracking Issue</option>
                  <option value="False Alerts">False Alerts</option>
                  <option value="Broken or Damaged Accessory">Broken or Damaged Accessory</option>
                  <option value="Subscription Question">Subscription Question</option>
                  <option value="Account/Profile Update">Account/Profile Update</option>
                  <option value="Discounts/Promo/Coupons">Discounts/Promo/Coupons</option>
                  <option value="Return of Device">Return of Device</option>
                  <option value="Activity Monitoring Questions">Activity Monitoring Questions</option>
                  <option value="Health Questions">Health Questions</option>
                  <option value="Order Status or Change">Order Status or Change</option>
                  <option value="Product Questions">Product Questions</option>
                </select>
                <i class="icon-caret-down">{% render 'icon' with 'icon-dropdown' %}</i>
              </div>

            </div>
            
            

            <div class="form__field text_field">
              <label for="{{ formId }}-message" class="label">Let us know how we can help *</label>
              <textarea rows="10" id="{{ formId }}-message" class="textarea form__input" name="contact[body]" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
            </div>
      
            <button type="submit" class="btn m-black-new">{{ set.btn }}</button>

            {%- if form.posted_successfully? -%}
              <div class="form_success">Thank you! Your email has been sent, and our team will contact you in 2-3 business days</div>
              {% comment %}
              <script>
                Swal.fire({
                  title: 'Success!',
                  text: 'Thank you for contacting us.',
                  icon: 'success',
                  confirmButtonText: 'Cool'
                })
              </script>
              {% endcomment %}
            {%- endif -%}

          {% endform %}
        </div> <!-- /.form -->
        {% if section.settings.phone_num != blank %}
          <div class="phone_number">
            <label>Prefer a call or chat?</label>
            <strong>Phone:</strong> Call us at <a href="tel:{{ section.settings.phone_num }}" class="phone_call">{{ section.settings.phone_num }}</a>
            <a href="#">Live Chat</a>
          </div>
        {% endif %}
        {% if section.settings.bottom_text != blank %}
          <div class="bottom_text">{{ section.settings.bottom_text }}</div>
        {% endif %}
      </div>
    </div> <!-- /.login__form -->
  </div> <!-- /.login__wrap -->
</div> <!-- /.section -->



{% schema %}
  @@include('ea-page-contact.json')
{% endschema %}
