{% assign set = section.settings %}
<div class="topbar" data-top-bar>
  <div class="container">
    {% if set.topbar_text1 != blank %}
      <div class="topbar__text hide--mobile">{{ set.topbar_text1 }}</div>
    {% endif %}
    {% if set.topbar_text2 != blank %}
      <div class="topbar__text topbar__text2">{{ set.topbar_text2 }}</div>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <nav class="nav hide--mobile">
        <ul class="nav__items">
          {% comment %}
          {% for link in linklists[set.topbar_menu].links %}
            <li class="nav__item">
              <a href="{{ link.url }}" class="nav__link">{{ link.title }}</a>
            </li>
          {% endfor %}
          {% endcomment %}
          {% for block in section.blocks %}
            {% if block.settings.title != blank and block.settings.link != blank %}
              <li class="nav__item">
                <a href="{{ block.settings.link }}" class="nav__link" {% if block.settings.open_new %}target="blank"{% endif %}>{{ block.settings.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </div>
</div> <!-- /.topbar -->


{% schema %}
{
  "name": "Top Bar",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "topbar_text1",
      "label": "Top bar text 1"
    },
    {
      "type": "richtext",
      "id": "topbar_text2",
      "label": "Top bar text 2"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "open_new",
          "label": "Open in new tab"
        }
      ]
    }
  ]
}
{% endschema %}