{% if section.blocks.size > 0 %}

  <div class="popup is-hidden" data-popup="gift-upsell">
    <div class="popup-window">
      <div class="popup-content">
        {% if section.settings.title != blank %}
          <div class="title not-animated">{{ section.settings.title }}</div>
        {% endif %}
        {% if section.settings.subtitle != blank %}
          <div class="subtitle not-animated">{{ section.settings.subtitle }}</div>
        {% endif %}
        <div class="upsell-wrapper d-flex">
          {% for block in section.blocks %}
            {% if block.settings.product != blank %}
            {% assign product = all_products[block.settings.product] %}
            <div class="upsell-item">
                {% render 'gift-upsell-item', product: product %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="popup-footer">
        <div class="total_price">
          <label>Total price:</label>
          <div class="price_wrapper">
            <span class="was-price">$297.45</span>
            <span class="regular-price">$200.35</span>
          </div>
          <div class="save">You saved <span>$54.75</span></div>
        </div>
        <div class="checkout_buttons d-flex">
          <button class="btn m-black-new btn-rounded upsell-checkout" disabled>Proceed to checkout</button>
          <button class="btn btn-rounded regular-checkout">No thanks <div>Proceed to checkout</div></button>
        </div>
        <div data-popup-close>Previous</div>
      </div>
    </div>
    <div class="popup-bg" data-popup-close></div>
  </div>

{% endif %}

{% schema %}
{
  "name": "Gift upsell popup",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Buttons"
    }
  ],
  "blocks": [
    {
      "name": "Upsell",
      "type": "block",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "badge",
          "label": "Badge"
        }
      ]
    }
  ]
}
{% endschema %}