{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  <div class="section_container">
    <div class="main_content container" data-animate-block>

      {% if section.settings.title != blank %}
        <div class="title t-center">{{ section.settings.title }}</div>
      {% endif %}

      {% if section.settings.subtitle != blank %}
        <div class="subtitle t-center">{{ section.settings.subtitle }}</div>
      {% endif %}

      <div class="product-grid-wrapper d-flex">

        {% for block in section.blocks %}

          {% if block.settings.product != blank %}

            {% assign product = all_products[block.settings.product] %}
            {% assign plan_product = all_products[block.settings.plan_product] %}

            {% assign product_price = product.selected_or_first_available_variant.price %}
            {% assign product_discount = block.settings.product_discount | plus: 0 | times: 100 %}

            {% assign plan_price = plan_product.selected_or_first_available_variant.price %}
            {% assign plan_discount = block.settings.plan_discount | plus: 0 | times: 100 %}

            {% assign price_total = product_price | plus: plan_price %}
            
            <div class="product-grid-item {% if forloop.index == 2 %}active{% endif %}" id="block--{{ block.id }}"
              data-index="{{ forloop.index }}" 
              data-item-total="{{ price_total }}"
              data-item-save="{{ product_discount | plus: plan_discount }}"
              data-product-id="{{ product.selected_or_first_available_variant.id }}"
              data-plan-id="{{ plan_product.selected_or_first_available_variant.id }}"

              data-plan-type="{% if plan_product.tags contains 'plan_device' %}explore{% elsif plan_product.tags contains 'plan_switch' %}switch{% elsif plan_product.tags contains 'plan_fit' %}fit{% endif %}"
            >
              {% if block.settings.is_best_seller and block.settings.badge_label %}
                <div class="badge badge_best-seller">{{ block.settings.badge_label }}</div>
              {% endif %}
              <div class="product_image">
                {% assign image = block.settings.image | default: product.selected_or_first_available_variant.image | default: product.featured_image %}
                <div class="image_wrapper">
                  {% render 'rimage', image: image %}
                </div>
                {% if block.settings.is_new %}
                  <div class="badge badge_new">NEW</div>
                {% endif %}
              </div>

              <div class="info_wrapper">
                {% if block.settings.title != blank %}
                  <div class="info_title">{{ block.settings.title }}</div>
                {% endif %}
                {% if block.settings.desc != blank %}
                  <div class="info_desc">{{ block.settings.desc }}</div>
                {% endif %}
                {% if block.settings.price != blank %}
                  <div class="info_price">{{ block.settings.price }}</div>
                {% endif %}
              </div>

              {% render 'ajax-form-gift-set', product: product, btn: 'atc', setting: block.settings, index: forloop.index %}

              <div class="popup_trigger">
                <a href="#" class="btn m-black-new btn-rounded btn-small" data-popup-open="gift-upsell">Choose</a>
              </div>              

            </div>

          {% endif %}

        {% endfor %}

      </div>


    </div>
  </div>
{% endif %}


{% schema %}
{
  "name": "Gift set",
  "class": "gift-set-section",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "product_discount",
          "label": "Discount"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Product Image"
        },
        {
          "type": "product",
          "id": "plan_product",
          "label": "Plan"
        },
        {
          "type": "text",
          "id": "plan_discount",
          "label": "Plan Discount"
        },
        {
          "type": "checkbox",
          "id": "is_new",
          "label": "Is new?"
        },
        {
          "type": "checkbox",
          "id": "is_best_seller",
          "label": "Is best seller?"
        },
        {
          "type": "text",
          "id": "badge_label",
          "label": "Best seller text",
          "default": "MOST POPULAR"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Description"
        },
        {
          "type": "richtext",
          "id": "price",
          "label": "Price"
        }
      ]
    }
  ]
}
{% endschema %}