{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  <div class="section_container">
    <div class="main_content container">
      <div class="main_wrapper d-flex">
        <div class="timer_wrapper" style="background: {{ section.settings.timer_bg }}">
          <div class="title not-animated">{{ section.settings.title }}</div>
          <div class="subtitle not-animated">{{ section.settings.subtitle }}</div>
          <div class="timer_discount d-flex">
            <label>{{ section.settings.timer_label }}</label>
            <div id="countdown" class="countdown d-flex">
              <div class="days">
                <div id="days"></div>
                <label>Days</label>
              </div>
              <span class="dot">{% render 'icon' with 'icon-dot' %}</span>
              <div class="hours">
                <div id="hours"></div>
                <label>Hours</label>
              </div>
              <span class="dot">{% render 'icon' with 'icon-dot' %}</span>
              <div class="minutes">
                <div id="minutes"></div>
                <label>Minutes</label>
              </div>
            </div>
          </div>
        </div>
        <div class="image_wrapper">
          {% render 'rimage', image: section.settings.image, wrapper_class: 'hide--mobile' %}
          {% assign mob_image = section.settings.mob_image | default: section.settings.image %}
          {% render 'rimage', image: mob_image, wrapper_class: 'hide--desktop hide--table' %}
        </div>
      </div>
    </div>
  </div>

  <script>
    const second = 1000,
          minute = second * 60,
          hour = minute * 60,
          day = hour * 24;
  
    let event = "{{ section.settings.event_time }}",
        countDown = new Date(event).getTime();
        count();
    var timer = setInterval(function() {    
      count();
    }, 60000);


    function count() {
      let now = new Date().getTime(),
          distance = countDown - now;

      if(navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0){
          distance  += 28800000;
      }

      console.log(distance);

      if(document.getElementById("days") != null) {
        document.getElementById("days").innerText = Math.floor((distance) / (day)),
        document.getElementById("hours").innerText = Math.floor((distance % (day) ) / (hour)),
        document.getElementById("minutes").innerText = Math.floor(((distance % (day)) % (hour)) / (minute));
        // document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);
      }

      //do something later when date is reached
      if (distance < 0) {
        var target = document.getElementById("countdown");
        if(target){
          target.style.visibility = "hidden";
        }
        clearInterval(timer);
      }
    }
  </script>

{% endif %}

{% schema %}
{
  "name": "Timer",
  "class": "timer-section",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Image (mobile)"
    },
    {
      "type": "header",
      "content": "Timer"
    },
    {
      "type": "color",
      "id": "timer_bg",
      "label": "Background",
      "default": "#f6f7f8"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "timer_label",
      "label": "Timer label"
    },
    {
      "type": "text",
      "id": "event_time",
      "label": "Event Time",
      "default": "Jan 1, 2022 00:00:00"
    }
  ]
}
{% endschema %}