{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}
  {% render 'product-video-content' %}

{% endif %}

{% schema %}
  @@include('product-video.json')
{% endschema %}