.shopify-section.banner-tab {
  .section_header {
    color: $color-text;
    text-align: center;
    .subtitle {
      font-size: 14px;
      margin-top: 5px;
    }
  }

  @include mobile {
    .tab-banner-content {
      .slick-list.draggable, .slick-track {
        display: flex;
      }
      .slick-slide, .slick-slide > div, .tab-banner-item, .hero__banner, .banner_wrapper {
        height: 100%;
      }

      .banner_wrapper {
        display: flex;
        flex-direction: column;
      }
      .banner_info {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
      }
    }
  }


  .tab-banner-wrapper {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 25px;
    @include desktop {
      margin-left: 0px;
      margin-right: 0px;
    }
    .tab-banner-header {
      background: $color-dark-green;
      // border-top-left-radius: 5px;
      // border-top-right-radius: 5px;
      // border-bottom: 1px solid #c5d1d3;
      display: flex;
      justify-content: center;
      align-items: center;
      // height: 40px;
      @include desktop {
        border-radius: 5px;
        margin-bottom: 5px;
      }
      @include mobile {
        .slick-slide.slick-active {
          .header_item {
            .label {
              color: $color-green;
            }
            .icon {
              display: none;
            }
            .icon_active {
              display: inline-block;
            }
          }
        }
      }
      .header_item {
        cursor: pointer;
        display: flex !important;
        align-items: center;
        margin: 0 20px;
        height: 40px;
        position: relative;
        @include desktop {
          height: 55px;
        }
        @include s_r_tablet {
          margin: 0 10px;
        }
        svg {
          width: auto;
          height: 20px;
          @include desktop {
            width: 30px;
            height: auto;
          }
          @include s_r_tablet {
            width: 20px;
          }
        }
        svg path {
          // fill: $color-white;
        }
        .icon_active {
          display: none;
        }
        .active {
          display: none;
          top: -40px;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          svg {
            fill: $color-green;
            width: 18px;
            height: auto;
          }
        }
        .label {
          color: $color-white;
          display: flex;
          height: 100%;
          align-items: center;
          font-size: 16px;
          margin-left: 10px;
          position: relative;
          @include tablet {
            font-size: 14px;
          }
          @include s_r_tablet {
            font-size: 12px;
            margin-left: 8px;
          }
        }
        &.active {
          position: relative;
          .active {
            display: block;
          }
          &::after {
            content: '';
            background: $color-light-green;
            bottom: 0px;
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
          }
        }
        &.active {
          @include desktop {
            .icon {
              display: none;
            }
            .icon_active {
              display: inline-block;
            }
            .label {
              color: $color-light-green;
              font-family: $fs-stb;
              font-weight: 500;
            }
          }
        }
        @include desktop {
          &:hover {
            .icon {
              display: none;
            }
            .icon_active {
              display: inline-block;
            }
            .label {
              color: $color-light-green;
            }
          }
        }
      }
    }

    .tab-banner-content {
      .tab-banner-item {
        overflow: hidden;
        display: none;
        &.active {
          display: block;
        }
        @include desktop {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      .subtitle {
        font-size: 19px;
        font-weight: normal;
        line-height: 1.4;
        margin-top: 10px;
        @include r_tablet {
          font-size: 19px;
        }
      }
    }

  }

  .btn_wrapper {
    margin-top: 40px;
    text-align: center;
    button {
      // background: $color-dark-green;
      border-radius: 100px;
      // color: $color-light-green;
      font-family: $fs-stb;
      font-size: 18px;
      font-weight: 500;
      height: 55px;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .slick-arrow {
    &.slick-prev {
      transform: translateY(-50%);
      @media (min-width: 1440px) {
        transform: translateX(-60px) translateY(-50%);
      }
    }
    &.slick-next {
      transform: translateY(-50%) rotate(-180deg) !important;
      @media (min-width: 1440px) {
        transform: translateX(60px) translateY(-50%) rotate(-180deg) !important;
      }
    }
  }
  .banner_img_wrapper img {
    @include mobile {
      border-radius: unset !important;
    }
  }
  .banner_wrapper .banner_info {
    .title {
      font-size: 2.438rem;
    }
    .subtitle p {
      // font-family: $fs-t;
    }

    @include mobile {
      border-radius: unset !important;
      position: relative !important;
      transform: unset !important;
      top: unset !important;
      left: unset !important;
      max-width: 100% !important;
      width: 100% !important;
    }
  }
  @include desktop {
    .banner_wrapper .banner_info {
      border-radius: 5px;
      max-width: 480px !important;
      padding: 20px;
    }
  }
  @include s_r_tablet {
    [data-banner-slider] {
      button.slick-arrow {
        width: 40px;
        height: 40px;
      }
    }
    .banner_wrapper .banner_info {
      max-width: 300px !important;
    }
  }
  @include mobile {
    [data-banner-slider] {
      button.slick-arrow {
        width: 40px;
        height: 40px;
      }
    }
    .tab-banner-item .banner_info {
      border-radius: 5px;
      width: 300px;
      padding: 20px;
      .title {
        font-size: 24px;
      }
      .subtitle {
        font-size: 14px;
      }
    }
  } 
}

body.template-product-fit {
  .shopify-section.banner-tab {
    .tab-banner-header {
      @media (min-width: 1140px) {
        justify-content: space-between;
        padding-left: 45px;
        padding-right: 45px;
      }
    }
  }
}