.shopify-section.buzz-feed {
  transform: translateY(-50%);
  @include mobile {
    margin-bottom: -90px;
    transform: translateY(calc(-50% - 10px));
    ul.slick-dots {
      li.slick-active button {
        background: $color-dark-green;
        width: 10px;
        height: 10px;
      }
      li button {
        background:#c4c4c4;
        border: none;
        margin: 0 5px;
        width: 8px;
        height: 8px;
      }
    }
    
  }
  .content_wrapper {
    display: flex;
    justify-content: space-between;
    @media(max-width: 989px) {
      display: block;
      .slick-list.draggable {
        display: flex;
        .slick-track {
          display: flex;
          .slick-slide {
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
          }
        }
      }
    }
    @include mobile {
      display: block;
    }
  }
  .buzz-item {
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.04);
    max-width: 320px;
    padding: 20px;
    @media (max-width: 989px) {
      height: 100%;
      max-width: 480px;
    }
    @include mobile {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.04);
      height: 100%;
      margin-bottom: 10px;
      max-width: 90%;
      margin-left: 5%;
    }
    .buzz_title {
      justify-content: space-between;
    }
    .image_wrapper {
      min-width: 90px;
      max-width: 90px;
    }
    svg {
      width: 24px;
      height: auto;
    }
    .buzz_content {
      color: $color-dark-green;
      font-size: 14px;
      margin-top: 25px;
      p {
        margin-bottom: 0px;
      }
    }
  }
}