.shopify-section.card-grid {
  .title {
    text-align: center;
  }

  .subtitle {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
    a {
      color: $color-subtitle;
      text-decoration: underline !important;
    }
  }

  .btn_wrapper {
    margin-top: 60px;
    text-align: center;
    @include desktop {
      margin-top: 30px;
    }
  }

  .card-grid-wrapper {
    justify-content: space-between;
    margin-top: 45px;
    margin-left: -15px;
    margin-right: -15px;
    @include desktop {
      display: flex;
      margin-left: 0px;
      margin-right: 0px;
    }
    .slick-list.draggable {
      padding-left: 30px;
      padding-right: 30px;
      .slick-slide {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .card-grid-item {
      background: #FFF;
      border-radius: 5px;
      overflow: hidden;
      @include desktop {
        max-width: calc(100% / 3 - 15px);
        min-width: calc(100% / 3 - 15px);
      }
      @include s_r_tablet {
        max-width: calc(100% / 3 - 10px);
        min-width: calc(100% / 3 - 10px);
      }
    }
    .item_top {
      position: relative;
      .wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 80%;
        @include desktop {
          max-width: 270px;
        }
      }
      .item_pretitle {
        color: $color-white;
        font-family: $fs-stb;
        font-size: 16px;
        @include desktop {
          font-size: 20px;
        }
        @include s_r_tablet {
          font-size: 16px;
        }
      }
      .item_title {
        color: $color-white;
        font-family: $fs-t;
        font-size: 34px;
        line-height: 1.05;
        margin-top: 15px;
        @include desktop {
          font-size: 48px;
        }
        @include s_r_tablet {
          font-size: 26px;
        }
      }
    }
    .item_content {
      padding-top: 45px;
      padding-bottom: 45px;
      text-align: center;
      .icon {
        svg {
          width: 24px;
          height: auto;
          @include desktop {
            width: 40px;
          }
        }
      }
      .feature {
        // color: $color-green;
        color: $color-dark-green;
        font-family: $fs-stb;
        font-size: 19px;
        margin-top: 20px;
        @include desktop {
          font-size: 20px;
        }
      }
      .bottom_title {
        color: $color-dark-green;
        font-family: $fs-t;
        font-size: 18px;
        line-height: 1.1;
        margin-top: 15px;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;
        p {
          font-family: $fs-t;
        }
        @include desktop {
          font-size: 48px;
        }
        @include s_r_tablet {
          font-size: 20px;
        }
      }
      .item_subtitle {
        color: $color-dark-green;
        font-size: 14px;
        margin-top: 20px;
        min-height: 42px;
        padding-left: 30px;
        padding-right: 30px;
        @include desktop {
          font-size: 16px;
          min-height: unset;
        }
      }
    }
  }
}