.shopify-section.choose-plan {
  .main_wrapper {
    @include mobile {
      [data-single-atc] {
        color: $color-light-blue-new;
        font-family: $fs-stb;
        font-weight: 500;
        text-decoration: underline !important;
        text-underline-position: under;
      }
    }
  }
  .section_header {
    text-align: center;
    .title {
      font-size: 26px;
      @include desktop {
        font-size: 34px;
      }
    }
    .subtitle {
      font-size: 14px;
      line-height: 1.4;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      text-align: center;
      @include desktop {
        font-size: 19px;
        line-height: 1.26;
        padding-left: 15px;
        padding-right: 15px;
      }
      p {
        margin: 0px;
      }
      @include s_r_tablet {
        font-size: 16px;
        max-width: 480px;
      }
    }
    .text {
      font-size: 15px;
      font-weight: bold;
      margin-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      @include desktop {
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
      }
      p {
        margin: 0px;
      }
    }
    [data-scroll-btn] {
      background: transparent;
      border: none;
      color: $color-blue;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      outline: none;
      padding: 0px;
      svg {
        margin-left: 5px;
      }
    }
  }
  .plan_items {
    align-items: stretch;
    justify-content: center;
    // flex-wrap: wrap;
    margin-top: 65px;
    position: relative;
    @include desktop {
      padding-bottom: 65px;
    }
    @include mobile {
      flex-direction: column;
    }
    @include s_r_tablet {
      margin-left: -5px;
      margin-right: -5px;
    }
    .plan-item:nth-child(2) {
      // order: -1;
    }
    .plan-item {
      flex: 1;
      height: inherit;
      margin-bottom: 15px;
      position: relative;
      &:first-child {
        // order: 1;
      }
      &:nth-child(2) {
        .item_subtitle {
          // display: none;
          @include desktop {
            // display: block;
          }
        }
      }
      &:last-child {
        // order: 2;
      }
      @include desktop {
        margin-bottom: unset;
        order: unset !important;
        position: unset;
      }
      @include r_tablet {
      }
      .item_wrapper.featured-plan {
        border: 2px solid #5677ef;
      }
      .item_wrapper {
        background: #FFF;
        border: 1px solid #e6edee;
        // box-shadow: 0 3px 6px 0 #00000012;
        border-radius: 12px;
        box-shadow: 0 1px 0px #00000012, 0px -1px 4px #0100000d;
        cursor: pointer;
        height: 100%;
        padding: 15px;
        position: relative;
        transition: all .3s ease;
        @include desktop {
          margin: 0 8px;
          padding: 30px 25px 40px 25px;
        }
        @include r_tablet {
          margin: 0 10px;
          min-width: unset;
          max-width: unset;
        }
        @include s_r_tablet {
          margin: 0 5px;
          .item_bottom {
            & > div:first-child {
              flex: 1;
            }
            & > div:last-child {
              max-width: 80px;
              min-width: 80px;
            }
          }
        }
        .item_bottom {
          & > div:first-child {
            flex: 1;
          }
        }
      }
      &:hover {
        .item_wrapper {
          transform: translateY(-3px);
          @include desktop {
            box-shadow: 0 10px 20px #00000026;
          }
        }
      }
      &.highlight .item_wrapper {
        border: 2px solid #6dbf00;
      }
      .badge {
        align-items: center;
        justify-content: flex-start;
        // position: relative;
        z-index: 1;
        @include desktop {
          align-items: flex-start;
          justify-content: space-between;
        }
        .badge {
          // background: #000;
          // border-radius: 2px;
          // color: #FFF;
          color: $color-light-blue-new;
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 500;
          height: 20px;
          margin-right: 10px;
          padding-left: 5px;
          padding-right: 5px;
          @include desktop {
            margin-right: unset;
          }
        }
        .icon {
          position: absolute;
          top: 15px;
          right: 25px;
          z-index: 1;
          @include mobile {
            top: 5px;
            right: 85px;
          }
        }
        svg path {
          fill: $color-light-blue-new;
        }
      }
      .item_title {
        color: $color-subtitle;
        font-family: $fs-t;
        font-size: 24px;
        max-width: calc(100% - 80px);
        @include desktop {
          max-width: unset;
        }
        @include s_r_tablet {
          font-size: 18px;
        }
        @include desktop {
          font-size: 48px;
        }
      }
      .item_subtitle {
        // background: $color-blue;
        background: $color-light-blue-new;
        color: $color-white;
        font-size: 12px;
        min-height: 21px;
        max-width: calc(100% - 80px);
        width: fit-content;
        padding: 3px 8px;
        @include desktop {
          font-size: 16px;
          max-width: unset;
        }
        p {
          margin: 0px;
        }
      }
      .item_price {
        // color: $color-text;
        color: $color-dark-green;
        font-size: 19px;
        font-weight: 500;
        margin-top: 10px;
        @include s_r_tablet {
          font-size: 16px;
        }
        p {
          margin: 0px;
        }
        em {
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          text-decoration: line-through;
        }
        strong {
          color: $color-dark-green;
          font-family: $fs-stb;
          font-size: 14px;
          font-weight: 500;
          @include s_r_tablet {
            font-size: 16px;
          }
          @include desktop {
            font-size: 16px;
          }
        }
      }
      .item_desc {
        color: $color-dark-green;
        font-size: 14px;
        line-height: 1.21;
        margin-top: 4px;
        @include desktop {
          font-size: 16px;
        }
        p {
          margin: 0px;
        }
      }
      .icon_wrapper {
        border-radius: 12px;
        margin-top: auto;
        width: 50px;
        top: 0px;
        right: 15px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include desktop {
          width: 150px;
        }
      }
      .item_text {
        color: #707071;
        font-size: 14px;
        margin-top: 8px;
        p {
          margin: 0px;
        }
      }
    }
    [data-atc-product-item] {
      display: flex;
      justify-content: center;
      [data-ajax-atc-btn] {
        // background: $color-green;
        // background: $color-new-green;
        // background: $color-dark-green;
        border: none;
        border-radius: 30px;
        // color: $color-white;
        // color: $color-light-green;
        align-items: center;
        justify-content: center;
        bottom: 0px;
        font-size: 12px;
        font-weight: 600;
        position: absolute;
        &[disabled] {
          cursor: not-allowed !important;
          opacity: .5;
          @include mobile {
            width: 70px;
          }
        }
        span {
          display: flex;
          align-items: center;
        }
        svg {
          display: none;
          margin-left: 8px;
          transform: rotate(-90deg);
          path {
            fill: $color-button-text;
          }
          @include desktop {
            display: block;
          }
        }

        top: 15px;
        right: 40px;
        width: 62px;
        height: 25px;
        @include desktop {
          font-size: 18px;
          top: unset;
          right: unset;
          width: 110px;
          height: 45px;
        }
        @include s_r_tablet {
          font-size: 14px;
          width: 100px;
          height: 30px;
        }
        @include mobile {
          top: 10px;
          right: 20px;
        }
      }
    }
  }
  .link_btn {
    background: #FFF;
    border: 1px solid #dfe3e8;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 #00000012;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 15px;
    @include desktop {
      background: transparent;
      border: none;
      border-radius: none;
      box-shadow: none;
      display: block;
      align-items: unset;
      justify-content: space-between;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 35px;
      text-align: center;
      padding: 0px;
      width: auto;
    }
    a {
      color: $color-blue;
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline;
      svg {
        display: none;
        margin-left: 3px;
        transform: rotate(-90deg);
        @include desktop {
          display: inline-block;
        }
        path {
          fill: $color-blue;
        }
      }
    }
    a.btn {
      border-radius: 5px;
      font-size: 12px;
      line-height: 25px;
      height: 25px;
      width: 62px;
      transform: translateX(-5px);
    }
  }

  .feature_list {
    justify-content: space-between;
    margin-top: 40px;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    @include desktop {
      display: flex;
      margin-top: 60px;
      margin-left: unset;
      margin-right: unset;
      overflow: unset;
    }
    @include s_r_tablet {
      overflow: hidden;
    }
    .feature_item {
      margin-left: 15px;
      margin-right: 15px;
      @include desktop {
        margin-left: 0px;
        margin-right: 0px;
      }
      @include r_tablet {
        margin-left: 15px;
        margin-right: 15px;
      }
      span {
        color: #53585a;
        font-size: 14px;
        font-weight: 600;
      }
    }


    .m-scroll {
      display: flex;
      position: relative;
      width: 800px;
      height: 30px;
      margin: auto;
      overflow: hidden;
      z-index: 1;
    
      &__title {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      transition: all 1s ease;
      & > div {
          display: flex;
          animation: scrollText 33s infinite linear;
        }
      }
    }
  
    /*div:hover {
      animation-play-state: paused;
    }*/
    @keyframes scrollText {
      from   { transform: translateX(0%); }
      to { transform: translateX(-50%); }
    }

  }

}

.product-main-plan-wrapper {

  .btn-back-wrapper {
    text-align: center;
  }
  
  .choose-plan-back {
    display: inline-flex !important;
    cursor: pointer;
    align-items: center;
    color: $color-subtitle;
    font-weight: bold;
    transform: translateY(-15px);
    opacity: 1 !important;
    transition: all .3s ease;
    @include desktop {
      transform: translateY(-20px);
    }
    svg {
      fill: $color-subtitle;
      stroke: $color-subtitle;
      stroke-width: 45px;
      width: 14px;
      height: auto;
      margin-right: 5px;
      transition: all .3s ease;
    }
    &:hover {
      color: $color-link-hover-new;
      svg {
        fill: $color-link-hover-new;
        stroke: $color-link-hover-new;
      }
    }

  }
  
}


body.template-page-plan, body.template-page-plan-explore, body.template-page-plan-fit, body.template-page-plan-switch {
  .shopify-section.choose-plan {
    .plan-item button, .btn-back-wrapper {
      display: none !important;
    }
  }
}


[data-plan-version="1"] .shopify-section.choose-plan {
  .section_header .title {
    font-size: 24px;
    @include desktop {
      font-size: 60px;
    }
    @include mobile {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .section_header .subtitle {
    font-size: 16px;
  }
  .section_header .text {
    color: #d44d4d;
    font-size: 16px;
    margin-top: 20px;
    @include desktop {
      font-size: 19px;
    }
  }
}
.plan-feature-wrapper {
  border-radius: 10px;
  box-shadow: 20px 0 46px 0 #0000000d;
  align-items: center;
  justify-content: center;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  @include mobile {
    // border: 1px solid #d9d9d9;
    // box-shadow: 0 -7px 16px 0 #00000012;
    box-shadow: none;
    flex-direction: column-reverse;
    overflow: hidden;
  }

  .plan-feature__features {
    width: 42%;
    @include mobile {
      width: 100%;
    }
    @include desktop {
      background: #f0f4f7;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 60px 50px;
    }
  }

  .feature_title {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-size: 24px;
    font-weight: 500;
  }
  .feature_content {
    font-size: 14px;
    @include desktop {
      font-size: 16px;
    }
    .icon {
      color: #d44d4d;
      display: flex;
      align-items: center;
      margin-right: 6px;
      margin-top: 7px;
      svg {
        width: 8px;
        height: auto;
        fill: #d44d4d;
      }
    }
    .content_list_item {
      display: flex;
      align-items: flex-start;
      color: $color-dark-green;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .feature__easy-cancel {
    margin-top: 25px;
  }
  .feature__easy-cancel .feature_content {
    font-size: 14px;
    .content_list_item {
      margin-top: 7px;
      margin-bottom: 7px;
    }
  }
  .plan-feature__items {
    background: $color-white;
    flex-direction: column;
    width: 58%;
    padding: 0 20px;

    @include desktop {
      padding: 0 50px;
    }

    @include mobile {
      width: 100%;
    }

    .plan-item  {
      border-top: 1px solid #d9d9d9;
      padding-top: 35px;
      padding-bottom: 35px;
      position: relative;

      .badge_best-seller {
        top: 0;
        right: 0;
        @include desktop {
          right: -50px;
          top: 50%;
          transform: translateX(50%) translateY(-50%);
        }
        position: absolute;
        
      }
    }

    .plan-item:nth-child(2) {
      // border-top: none;
      // order: -1;
    }

    .plan-item:first-child {
      border-top: none;
    }

    .plan-item .item_wrapper {
      justify-content: space-between;

      .item_title {
        color: $color-dark-green;
        font-family: $fs-stb;
        font-size: 16px;
        font-weight: 500;
        @include desktop {
          font-size: 19px;
        }
      }

      .item_subtitle {
        color: $color-light-blue-new;
        font-family: $fs-stb;
        font-size: 14px;
        font-weight: 500;
        @include desktop {
          margin-top: -3px;
        }
      }

      button {
        border-radius: 100px;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 30px;
        font-family: $fs-stb;
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
        @include desktop {
          margin-top: 15px;
        }
        svg {
          display: none;
          margin-top: -3px;
          width: 10px;
          height: auto;
        }
        svg path {
          fill: $color-black;
          // transform: rotate(-90deg);
        }
      }

      & > div:last-child {
        text-align: right;

        .item_badge {
          color: #d44d4d;
          font-size: 12px;
          font-weight: bold;
          @include mobile {
            margin-bottom: 5px;
          }
        }
        .item_price {
          color: $color-dark-green;
          font-family: $fs-stb;
          font-size: 16px;
          font-weight: 500;
          p {
            margin-bottom: 0px;
          }
          @include desktop {
            font-size: 19px;
          }
          @include mobile {
          }
        }
        .item_desc {
          color: #666;
          font-size: 14px;
        }
      }

    }


  }

}


.plan--footer {
  justify-content: space-between;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

  .plan_footer-chat {
    @include mobile {
      flex-direction: column;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    .icon {
      margin-right: 10px;
      @include mobile {
        margin-right: 0px;
        margin-bottom: 10px;
      }
    }
    .chat_label {
      label {
        color: $color-dark-green;
        font-family: $fs-stb;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 3px;
      }
      a {
        color: $color-link-new;
        display: block;
        font-family: $fs-stb;
        font-size: 12px;
        font-weight: 500;
        &:hover {
          color: $color-link-hover-new
        }
      }
    }
  }

  .plan_footer-guarantee {
    color: #666666;
    font-size: 16px;
    font-weight: 500;
  }

}


  /*** I already have plan ***/
  .plan_footer-guarantee {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #0093c8;
    
    a {
      border-bottom: 2px solid;
      padding-bottom: 2px;
      text-transform: capitalize;
      color: $color-link-new;
      font-family: $fs-stb;
      font-weight: 500;
    }
    .arrow-right {
      width: 0; 
      height: 0; 
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 6px solid $color-link-new;
      display: inline-block;
    }
    a:hover {
      color: $color-link-hover-new;
      .arrow-right {
        border-left-color: $color-link-hover-new;
      }
    }
  }

  @include mobile {
    .plan_footer-guarantee {
      width: 100%;
      margin-bottom: 45px;
      text-align: left;
    }
  }


.custom-product-menu-v2 {
  background: #323335;
  width: 100%;
  top: 0px;
  position: fixed;
  transform: translateY(-100%);
  transition: all .8s ease;
  z-index: 9999;
  &.visible {
    transform: unset;
  }
  .menu-wrapper {
    height: 45px;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: $color-white;
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
    transition: all .3s ease;
    svg {
      fill: $color-white;
      margin-right: 8px;
      transition: all .3s ease;
    }
    &:hover {
      color: $color-light-green;
      svg {
        fill: $color-light-green;
      }
    }
  }
}


body.template-page {
  @include mobile {
    .shopify-section.choose-plan .plan_items .plan-item .badge .icon {
      right: 5px;
    }
    .shopify-section.choose-plan .plan_items .plan-item .icon_wrapper {
      width: 100px;
    }
  }
}