.collection {
  .title {
    padding-bottom: 0.1em;
    font-size: $fz-1;
    font-weight: 600;
    @include desktop {
      padding: 0;
      font-size: 29px;
      font-weight: 400;
    }
  }
  .section__content {
    padding-top: 0;
  }
}

// Single row collection:
.collection.m-singlerow {
  .container {
    max-width: 100%;
  }

  .product-cell {
    margin-top: 0;
    &:hover {
      .product-cell__info {
        opacity: 1;
      }
    }
  }
  .product-cell__info {
    opacity: 0;
  }
}

.filter {
  display: block;
  text-align: center;
  align-items: flex-end;
  padding: $gutter * 3 0;
  border-bottom: 1px solid $color-brown-light;
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
  .label {
    margin-bottom: 10px;
    font-size: $fz-5;
  }
  .nav {
    margin-top: $gutter * 2;
    justify-content: center;
    padding: 0 0 $gutter/2 0;
    @include desktop {
      margin-top: $gutter * 3;
    }
  }
  .nav__item:not(:first-child) {
    margin-left: $gutter * 3;
  }
  .nav__link {
    padding: 0 0 0.1em 0;
    text-transform: uppercase;
    font-size: $fz-4;
    font-weight: 500;
    font-stretch: condensed;
    border-bottom: 2px solid transparent;
    &.is-active {
      color: $color-brown;
      border-bottom-color: $color-black;
    }
  }
  .tab {
    min-width: 100px;
    @include desktop {
      min-width: unset;
    }
  }
}

.collection__pagination {
  margin: $gutter * 2 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-products {
  .title {
    font-size: $fz-3;
    text-align: center;
    @include desktop {
      font-size: 16px;
      text-align: left;
    }
  }
}


body.template-collection {
  .collection_banner {
    @include s_r_tablet {
      .title {
        font-size: 24px !important;
      }
      .subtitle, .btn_wrapper {
        display: none !important;
      }
    }
    .btn_wrapper a {
      color: $color-light-green !important;
    }
    .btn_wrapper a svg path {
      fill: $color-light-green !important;
    }
  }
  .collection_tab_header {
    background: #eefad7;
    border-top: 1px solid #a2a2a2;
    box-shadow: 0 6px 10px 0 #00000014;
    justify-content: center;
    height: 45px;
    position: relative;
    z-index: 996;
    @include desktop {
      display: flex;
    }
    .collection_header {
      color: #666666;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 16px;
      // font-weight: bold;
      margin: 0 15px;
      a {
        color: #666666 !important;
        font-weight: normal;
      }
      &.active {
        a {
          color: #000 !important;
          font-weight: bold;
        }
      }
      &.highlight {
        color: #ff0000 !important;
      }
    }
  }
  .collection_tab_content {
    .collection_tab_content_item {
      display: none;
      margin-top: 30px;
      &.active {
        display: block;
      }
    }
    .collection_products {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      &.disable_link {
        .product-item a {
          pointer-events: none;
        }
      }
      .collection-product-item {
        margin-bottom: 30px;
        margin-top: 30px;
        .product-item {
          display: flex;
          flex-direction: column;
          height: 100%;
          .image_warpper a {
            opacity: 1 !important;
          }
          .rimage.img {
            z-index: 1;
          }
          .rimage {
            padding-top: 100% !important;
            img {
              object-fit: contain;
            }
          }
          .second_img {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            img {
              width: 100%;
              width: 100%;
              height: 100%;
              position: absolute;
              object-fit: contain;
            }
          }
          &:hover {
            .rimage.img {
              display: none;
            }
            .second_img {
              display: block;
            }
          }
          @include desktop {
          }
          .info_wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
            @include desktop {
            }
            .info {
              display: flex;
              flex: 1;
              flex-direction: column;
              justify-content: space-between;
              @include desktop {
              }
            }
          }
        }
        .image_warpper {
          width: 100%;
          height: 0px;
          padding-bottom: 100%;
          overflow: hidden;
          position: relative;
          .product_badge {
            background: #000;
            border-radius: 3px;
            color: #FFF;
            display: flex;
            align-items: center;
            height: 25px;
            font-size: 12px;
            font-weight: 500;
            padding-left: 8px;
            padding-right: 8px;
            position: absolute;
            top: 15px;
            right: 0px;
          }
        }

      }
    }
  }
}

[data-product-row] {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
  @include desktop {
    margin-left: 0px;
    margin-right: 0px;
  }
  [data-product-item] {
    min-width: calc(50% - 5px);
    max-width: calc(50% - 5px);
    .product-item {
      .image_warpper {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
      }
      .info_wrapper {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
      }
    }
  }
  &[data-row-2] {
    @include desktop {
      padding-left: 75px;
      padding-right: 75px;
    }
    [data-product-item] {
      @include desktop {
        min-width: calc(100% / 2 - 30px);
        max-width: calc(100% / 2 - 30px);
      }
    }
  }
  &[data-row-3] {
    [data-product-item] {
      @include desktop {
        min-width: calc(100% / 3 - 30px);
        max-width: calc(100% / 3 - 30px);
      }
    }
  }
  &[data-row-4] {
    [data-product-item] {
      @include desktop {
        min-width: calc(100% / 4 - 30px);
        max-width: calc(100% / 4 - 30px);
      }
    }
  }
  [data-product-item] {
    .product_title {
      color: $color-dark-green;
      font-family: $fs-stb;
      font-size: 14px;
      font-weight: bold;
      &.d-flex {
        flex-direction: column;
        justify-content: space-between;
        @include desktop {
          flex-direction: unset;
        }
      }
      .product-color-variants {
        transform: translateY(10px);
        @include desktop {
          transform: unset;
        }
        .color-variant-item {
          border-radius: 50px;
          cursor: pointer;
          margin-right: 10px;
          width: 15px;
          height: 15px;
          position: relative;
          @include desktop {
            margin-left: 10px;
            margin-right: unset;
          }
          &.active::after {
            content: '';
            border: 1px solid #666;
            border-radius: 50%;
            width: calc(100% + 8px);
            height: calc(100% + 8px);
            left: -4px;
            top: -4px;
            position: absolute;
          }
        }
      }
      @include desktop {
        font-size: 16px;
      }
      @include s_r_tablet {
        font-size: 14px;
      }
    }
    .product_feature {
      color: $color-dark-green;
      font-size: 14px;
      margin-top: 4px;
    }
    .info_wrapper {
      background: #fcfcfc;
      padding: 10px;
      @include desktop {
        padding: 18px 15px;
      }
    }
    [data-item-variant-selector] {
      background: #FFF;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      font-size: 14px;
      height: 35px;
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      @include desktop {
        font-size: 16px;
      }
      @include s_r_tablet {
        font-size: 14px;
      }
    }
    .product_atc_form {
      margin-top: 10px;
      #product-variant-selector {
        background: url('down-chevron.svg');
        background-position: calc(100% - 8px) center;
        background-repeat: no-repeat;
        color: $color-dark-green;
        appearance: none;
      }
      .btn_wrapper {
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        button {
          // background: #94c83d;
          // background: $color-new-green;
          border-radius: 100px;
          // color: #FFF;
          // color: $color-button-text;
          font-size: 14px;
          font-weight: bold;
          min-width: unset;
          width: 70px;
          height: 30px;
          padding: 0px;
          outline: none;
          &[disabled] {
            cursor: not-allowed !important;
            opacity: .5;
            @include mobile {
              width: 70px;
            }
          }
          @include desktop {
            width: 110px;
            height: 35px;
          }
          @include s_r_tablet {
            width: 50px;
            height: 30px;
            span.hide--mobile {
              display: none !important;
            }
          }
        }
        .product_price {
          color: $color-dark-green;
          font-family: $fs-stb;
          font-size: 14px;
          font-weight: 500;
          @include desktop {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.collection_dropdown_menu {
  position: relative;
  [data-accordion-button] {
    background: #FFF;
    height: 42px;
    position: relative;
    z-index: 2;
    a {
      border-bottom: 1px solid #dfe3e8;
      color: $color-link-hover-new !important;
      font-size: 14px;
      font-weight: bold;
      justify-content: space-between;
      max-height: 42px;
      padding: 10px 35px;
      text-transform: uppercase;
    }
    svg {
      fill: $color-link-hover-new;
      width: 14px;
      height: auto;
    }
  }
  [data-accordion-content] {
    width: 100%;
    position: absolute;
    z-index: 1;
    ul {
      background: #FFF;
      list-style: none;
      margin: 0px;
      padding: 0px 35px;
      li:last-child {
        a {
          border-bottom: none !important;
        }
      }
      a {
        background: #FFF;
        border-bottom: 1px solid #dfe3e8;
        color: #323335;
        display: flex;
        font-size: 14px;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        opacity: 1 !important;
        text-decoration: none !important;
        &.active {
          color: $color-subtitle !important;
        }
      }
    }
  }

  [data-dropdown-bg] {
    background: #00000040;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
  }

}


.collection-list-wrapper {
  .collection-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .collection-item {
    min-width: calc(25% - 5px);
    max-width: calc(25% - 5px);
  }
}