.popup.compare-model-popup {
  .popup-window {
    border-radius: 10px;
    max-width: 1080px;
    width: 90%;
    @include desktop {
      width: 75%;
    }
  }
  .popup-content {
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    @include desktop {
      padding: 75px 30px 45px 30px;
    }
  }
  
  .popup-header {
    margin-top: 45px;
    margin-bottom: 30px;
    text-align: center;
    @include desktop {
      margin-top: 0px;
      margin-bottom: 50px;
    }
    .icon {
      margin-top: 25px;
      svg {
        width: 34px;
        height: auto;
      }
    }
    .subtitle {
      margin-top: 10px;
      strong {
        color: $color-light-blue-new;
        font-size: 14px;
      }
    }
  }

  button.close {
    color: $color-light-blue-new;
    font-size: 14px;
    font-weight: bold;
    width: 70px;
    height: 27px;
    padding: 0px;
    opacity: 1;
    text-align: left;
    z-index: 1;
    svg {
      left: unset;
      right: 0px;
      margin-left: 5px;
      width: 25px;
      height: auto;
      position: absolute;
      top: 0px;
      path {
        fill: $color-light-blue-new;
      }
    }
  }
  .col-2, .col-3 {
    flex-basis: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .col-2 {
    & > div {
      min-width: 50%;
      max-width: 50%;
      @include s_r_tablet {
        &:first-child {
          min-width: 40%;
          max-width: 40%;
        }
        &:last-child {
          min-width: 60%;
          max-width: 60%;
        }
      }
    }
  }
  .col-3 {
    & > div {
      min-width: calc(100% / 3);
      max-width: calc(100% / 3);
    }
  }
  .compare-model-wrapper {
    & > .title {
      @include s_r_tablet {
        // display: block !important;
        text-align: center !important;
      }
    }
  }
  .model-header {
    padding-left: 0px;
    padding-right: 0px;
    @include desktop {
      padding-left: 15px;
      padding-right: 15px;
    }
    & > div:first-child {
      background: #f7fafb;
      min-width: 50%;
      max-width: 50%;
      @include mobile {
        background: transparent;
      }
      @include desktop {
        min-width: 40%;
        max-width: 40%;
      }
    }

    // .title {
    //   line-height: 1.16;
    //   min-width: 40%;
    //   max-width: 40%;
    //   padding-right: 30px;
    //   transform: translateY(40px) !important;
    //   span {
    //     display: block;
    //     max-width: 440px;
    //     transform: translateY(30px);
    //     @include s_r_tablet {
    //     }
    //   }
    // }
    .rows_header {
      min-width: 50%;
      max-width: 50%;
      overflow-x: hidden;
      padding-left: 0px;
      padding-right: 0px;
      @include desktop {
        min-width: 60%;
        max-width: 60%;
        padding-left: 20px;
        padding-right: 3px;
      }
      @include mobile {
        display: none !important;
      }
      &.col-3 {
        // max-width: calc(100% / 3);
        // min-width: calc(100% / 3);
        .row_item_header {
          padding-top: 10px;
          &:nth-child(2) {
            order: -1;
          }
          @include desktop {
            max-width: calc(100% / 3 - 8px) !important;
            min-width: calc(100% / 3 - 8px) !important;
            margin-left: 8px;
            margin-right: 8px;
          }
          &:first-child {
            background: #f7fafb;
          }
          &:nth-child(2) {
            background: #f7fafb;
          }
          &:last-child {
            background: #f7fafb;
          }
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
      @include desktop {
        justify-content: center;
        overflow: unset;
        padding-left: 20px;
        padding-right: 3px;
      }
      .row_item_header {
        display: flex;
        // align-items: center;
        align-items: flex-start;
        flex-direction: column;
        min-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        span {
          background: $color-light-blue-new;
          border-radius: 5px;
          color: $color-white;
          font-size: 11px;
          margin-left: auto;
          margin-right: auto;
          padding: 3px 10px;
          margin-bottom: 8px;
        }
        @include desktop {
          min-width: 50%;
          padding: 0px; 
        }
        .image_wrapper {
          margin-left: auto;
          margin-right: auto;
          max-width: 80%;
          width: 80%;
        }
        @include s_r_tablet {
          display: flex;
          align-items: center;
          .image_wrapper {
            width: 80%;
          }
        }
      }
    }
  }
  .model-content-main {
    position: relative;
    // &::before {
    //   content: '';
    //   background: transparent;
    //   box-shadow: -5px 0 10px 0 #0000000f;
    //   height: 100%;
    //   width: 10px;
    //   right: 50%;
    //   position: absolute;
    //   transform: translateX(10px);
    //   top: 0px;
    //   z-index: 1;
    //   @include s_r_tablet {
    //     right: 55%;
    //     transform: translateX(12px);
    //   }
    // }
  }
  .model-info {
    padding-left: 0px;
    padding-right: 0px;
    @include desktop {
      padding-left: 15px;
      padding-right: 15px;
    }
    @include mobile {
      display: none !important;
    }
    .swipe {
      @include s_r_tablet {
        // display: block !important;
      }
    }
    & > div:first-child {
      background: #f7fafb;
      min-width: 50%;
      max-width: 50%;
      @include desktop {
        min-width: 40%;
        max-width: 40%;
      }
    }
    & > div.rows_info {
      min-width: 50%;
      max-width: 50%;
      @include desktop {
        min-width: 60%;
        max-width: 60%;
      }
    }
    .swipe_icon {
      align-items: center;
      justify-content: center;
      // margin-top: 10px;
      transform: translateY(-20px);
      span {
        color: #666666;
        font-size: 12px;
        line-height: 1;
        max-width: 80px;
      }
      @include s_r_tablet {
        justify-content: flex-start;
        padding-left: 30px;
        padding-top: 15px;
      }
    }
    .rows_info {
      border-bottom-width: 1px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin-bottom: -30px;
      // padding-top: 15px;
      // padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      overflow-x: auto;
      z-index: 1;
      &::-webkit-scrollbar {
        display: none;
      }
      @include desktop {
        justify-content: center;
        margin-bottom: -2px;
        overflow: unset;
        padding-left: 20px;
        padding-right: 3px;
      }
      .row_item_info {
        background: #f7fafb;
        text-align: center;
        min-width: 100%;
        max-width: 100%;
        @include desktop {
          min-width: 50%;
          max-width: 50%;
        }
      }
      &.col-3 {
        .row_item_info {
          &:nth-child(2) {
            order: -1;
          }
          @include desktop {
            max-width: calc(100% / 3 - 8px) !important;
            min-width: calc(100% / 3 - 8px) !important;
            margin-left: 8px;
            margin-right: 8px;
          }
          .icon_wrapper {
            svg {
              height: 15px !important;
              @media (width: 768px) {
                height: 12px !important;
              }
            }
          }
          &:first-child {
            background: #f7fafb;
          }
          &:nth-child(2) {
            background: #f7fafb;
          }
          &:last-child {
            background: #f7fafb;
          }
          @include mobile {
            background: transparent !important;
          }
        }
      }
      .icon_wrapper {
        svg {
          height: 12px;
          width: auto;
          @include desktop {
            height: 20px;
          }
          @include s_r_tablet {
            height: 14px;
          }
        }
      }
      .price_info {
        color: $color-subtitle;
        font-family: $fs-stb;
        font-weight: 500;
        font-size: 16px;
        margin-top: 45px;
        margin-bottom: 30px;
        @include desktop {
          font-size: 20px;
        }
      }
      .title_wrapper {
        color: $color-dark-green;
        font-family: $fs-stb;
        font-weight: 500;
        font-size: 30px;
        strong {
          border-radius: 5px;
          display: flex;
          font-family: $fs-st;
          font-size: 12px;
          font-weight: normal;
          align-items: center;
          height: 20px;
          width: fit-content;
          margin-left: auto;
          margin-right: auto;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
  .see_more {
    [data-read-more] {
      background: #FFF;
      border-top: 1px solid #dfe3e8;
      border-bottom: 1px solid #dfe3e8;
      cursor: pointer;
      display: flex;
      height: 35px;
      align-items: center;
      justify-content: center;
      color: #666666;
      font-size: 14px;
      font-weight: bold;
      &[data-open='true'] {
        svg {
          transform: rotate(180deg);
        }
      }
      svg {
        width: 14px;
        height: auto;
        margin-left: 6px;
      }
    }
    @include desktop {
      border-left: 2px solid #dfe3e8;
      border-right: 2px solid #dfe3e8;
      display: block !important;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .model-content {
    position: relative;
    .compare_item {
      padding-left: 0px;
      padding-right: 0px;
      &.desk_hidden {
        display: none;
      }
      &.mob_hidden {
        display: none !important;
        
        @include desktop {
          display: flex !important;
          &.desk_hidden {
            display: none !important;
            &.visible {
              display: flex !important;
            }
          }
        }
        @include mobile {
          &.visible {
            border-left: 1px solid #dfe3e8;
            border-right: 1px solid #dfe3e8;
            display: flex !important;
            overflow: hidden;
            &.heading_item {
              border-top: 1px solid #dfe3e8;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              margin-top: 6px;
            }
            &.item-bottom {
              border-bottom: 1px solid #dfe3e8;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              margin-bottom: 3px;
            }
            .compare_list {
              z-index: -1;
            }
            .compare_title span::after {
              display: none !important;
            }
          }
          &.heading_item {
            .compare_title svg {
              display: block !important;
            }
            &.visible .compare_title {
              width: 200%;
              svg {
                right: -7px;
                top: 50%;
                transform: translateY(-50%) rotateX(180deg);
              }
            }
          }
          &:not(.visible).heading_item {
            display: flex !important;
            .compare_header {
              background: #f7f4f0;
              border: 1px solid #dfe3e8;
              border-radius: 5px;
              min-width: 100%;
              max-width: 100%;
              margin-top: 3px;
              margin-bottom: 3px;
              @include mobile {
                // background: transparent;
              }
            }
            
            .compare_title span {
              padding-top: 15px;
              padding-bottom: 15px;
            }
            .compare_title span::after {
              display: none !important;
            }
            .compare_desc, .compare_list {
              display: none !important;
            }
          }
        }
      }
      @include desktop {
        padding-left: 15px;
        padding-right: 15px;
      }
      &:nth-child(2) {
        .compare_header {
          border-top-left-radius: 4px;
          @include desktop {
            // border-top: 2px solid #dfe3e8;
          }
          span {
            border-top: none;
          }
        }
        .compare-list-item span {
          border-top: none;
        }
      }
      &:first-child {
      }
      &:last-child {
        .compare_header {
          // border-bottom-left-radius: 4px;
          padding-bottom: 20px;
          @include desktop {
            // border-bottom: 2px solid #dfe3e8;
          }
          @include s_r_tablet {
            border-bottom: none;
          }
        }
        .compare_list {
          // border-bottom-right-radius: 4px;
          @include desktop {
            // border-bottom: 2px solid #dfe3e8;
          }
          @include s_r_tablet {
            border-bottom: none;
          }
        }
        .compare-list-item {
          padding-bottom: 10px;
        }
      }
      .compare_header {
        background: #f7fafb;
        padding-left: 25px;
        flex-direction: column;
        min-width: 50%;
        max-width: 50%;
        @include mobile {
          padding-left: 15px;
          background: transparent;
        }
        @include desktop {
          min-width: 40%;
          max-width: 40%;
        }
        @media (width: 1024px) {
          flex-direction: unset;
        }
        @include l_tablet {
          // border-left: 2px solid #dfe3e8;
          flex-direction: unset;
          padding-right: 45px;
        }
        @include desktop {
          // border-left: 2px solid #dfe3e8;
        }
        @include s_r_tablet {
          // border-left: 2px solid #dfe3e8;
          padding-right: 15px;
        }
        &.main_title {
          .compare_title span {
            position: relative;
            &::after {
              content: '';
              background: #dfe3e8;
              width: calc(100vw - 60px);
              // width: calc(100vw - 63px);
              height: 1px;
              bottom: 0px;
              left: 0px;
              transform: translateY(8px);
              z-index: 1;
              @include desktop {
                display: none;
              }
              @include mobile {
                // width: calc(100vw - 48px);
              }
            }
          }
        }
        span {
          color: #323335;
          display: flex;
          flex-direction: column;
          height: 100%;
          padding-top: 8px;
          padding-bottom: 8px;
          padding-right: 8px;
          p {
            margin: 0px;
          }
          @include desktop {
            // border-top: 1px solid #dfe3e8;
            padding-right: 0px;
          }
        }
        .compare_title span {
          color: $color-dark-green;
          font-family: $fs-stb;
          font-weight: 500;
        }
        .compare_title {
          font-size: 14px;
          min-width: 30%;
          position: relative;
          svg {
            display: none;
            width: 14px;
            height: auto;
            right: 8px;
            top: 50%;
            transform: translateY(-8px);
            position: absolute;
          }
          @include desktop {
            font-size: 16px;
          }
          @include s_r_tablet {
            font-size: 14px;
          }
        }
        .compare_desc * {
          color: $color-dark-green;
          font-family: $fs-st;
        }
        .compare_desc {
          flex: 1;
          font-size: 12px;
          font-weight: 500;
          span {
            justify-content: center;
          }
          @include desktop {
            font-size: 16px;
          }
          @include s_r_tablet {
            font-size: 14px;
          }
        }
      }
      .compare_list {
        align-items: center;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        overflow-x: hidden;
        min-width: 50%;
        max-width: 50%;
        @include desktop {
          min-width: 60%;
          max-width: 60%;
          // border-left: 2px solid #dfe3e8;
          // border-right: 2px solid #dfe3e8;
          overflow: unset;
          // padding-left: 15px;
          padding-left: 8px;
          padding-right: 15px;
        }
        &::-webkit-scrollbar {
          display: none;
        }
        &.mob-align-end {
          .compare-list-item {
            padding-top: 38px;
            @include desktop {
              padding-top: unset;
            }
            @include s_r_tablet {
              padding-top: 38px;
            }
          }
        }
      }
      .compare_list.col-3 {
        .compare-list-item {
          &:first-child {
            background: #f7fafb;
          }
          &:nth-child(2) {
            background: #f7fafb;
            order: -1;
          }
          &:last-child {
            background: #f7fafb;
          }
          &:last-child {
            // order: -1;
          }
          @include mobile {
            background: transparent !important;
          }
          @include desktop {
            max-width: calc(100% / 3 - 8px);
            min-width: calc(100% / 3 - 8px);
            margin-left: 8px;
            margin-right: 8px;
          }
        }
      }
      .compare-list-item {
        height: 100%;
        min-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        @include desktop {
          min-width: 50%;
          padding: 0px;
        }
        @include mobile {
          text-align: right;
          padding-right: 5px;
        }
        span {
          color: $color-dark-green;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          height: 100%;
          padding: 8px;
          @include mobile {
            justify-content: flex-end;
          }
          @include desktop {
            // border-top: 1px solid #dfe3e8;
            font-size: 14px;
            padding: 8px 30px;
          }
          @include s_r_tablet {
            padding: 5px;
          }
          p {
            margin: 0px;
          }
        }
        svg path {
          fill: #00ab59;
        }
        
        span.icon-false svg path {
          fill: #a7b3b5;
        }
      }
    }
    [data-scroll-wrapper] {
      position: absolute;
      top: -112px;
      right: 0px;
      width: 50%;
      height: calc(100% + 112px);
      overflow: auto;
      z-index: 1;
      &.len-3 {
        [data-scroll-trigger] {
          width: 300% !important;
        }
      }
      [data-scroll-trigger] {
        width: 200%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .model-footer {
    @include desktop {
      display: flex;
    }
    @include s_r_tablet {
      // display: none !important;
    }
    & > div:first-child {
      min-width: 50%;
      max-width: 50%;
      @include desktop {
        min-width: 40%;
        max-width: 40%;
      }
    }
    & > div.footer-wrapper {
      min-width: 100%;
      max-width: 100%;
      @include desktop {
        justify-content: space-between;
        min-width: 60%;
        max-width: 60%;
        padding-left: 15px;
        padding-right: 0px;
        .btn_wrapper {
          min-width: calc(100% / 3 - 16px);
          max-width: calc(100% / 3 - 16px);
        }
        .btn_wrapper a {
          display: inline-flex;
          align-items: center;
          width: 90%;
        }
      }
      @include mobile {
        justify-content: center;
      }
    }
    .footer-wrapper.col-3 {
      .btn_wrapper:nth-child(2) {
        order: -1;
      }
    }
    .btn_wrapper {
      // margin-top: 0px;
      text-align: center;
      @include s_r_tablet {
        // margin-top: 30px;
      }
      @include mobile {
        display: none;
        &.active {
          display: block;
          min-width: unset;
          max-width: unset;
          a {
            margin-top: 15px;
          }
        }
      }
      .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 140px;
      }
    }
  }
}


#shopify-section-custom-compare-model-product {
  .popup.compare-model-popup {
    position: relative;
    z-index: 1;
  }
  .popup-window {
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    max-height: unset;
    left: unset;
    top: unset;
    right: unset;
    position: relative;
    transform: unset;
  }
  .compare_list, .rows_info {
    // background: #FFF;
  }
  [data-animate-block] {
    .title {
      margin-bottom: 20px;
      padding-left: 25px;
      padding-right: 25px;
      text-align: center;
      @include desktop {
        margin: 0;
        padding: 0;
        text-align: left;
        // transform: translateY(70px) !important;
      }
    }
    &.is-active {
      .title {
        @include desktop {
          transform: translateY(40px) !important;
        }
        @include s_r_tablet {
          // transform: translateY(-30px) !important;
        }
      }
    }
  }
}


.popup.is-hidden.compare-model-popup {
  .model-content .compare_item .compare_header.main_title .compare_title span:after {
    width: calc(90vw - 25px);
    @include desktop {
      display: none;
    }
  }
  .model-content .compare_item {
    &:last-child > div {
      @include s_r_tablet {
        // border-bottom: 2px solid #dfe3e8;
      }
      @include desktop {
        // border-bottom: 2px solid #dfe3e8;
      }
    }
  }
  .title {
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    @include desktop {
      font-size: 2.125rem;
      padding: unset;
      margin: unset;
      text-align: unset;
    }
    @include s_r_tablet {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
  .main_title {
    .compare_title span {
      position: relative;
      &::after {
        content: '';
        width: calc(100vw - 25px);
      }
    }
  }
}

#shopify-section-custom-compare-model-product {
  @include r_tablet {
    .popup-window {
      width: 95%;
    }
  }
}

body.template-collection {
  .model-footer {
    // display: none !important;
  }
}

.mob-model-header {
  // margin-bottom: 30px;
  .mob-header-item {
    background: #f7fafb;
    border: 1px solid #dfe3e8;
    border-radius: 5px;
    box-shadow: 0 4px 7px 0 #0000000f;
    min-width: calc(100% / 3 - 10px);
    max-width: calc(100% / 3 - 10px);
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    position: relative;
    @include mobile {
      background: transparent;
    }
    &:nth-child(2) {
      order: -1;
    }
    .icon_wrapper svg {
      height: 10px;
      width: auto;
    }
    .price_info {
      font-size: 14px;
    }
    .active-icon {
      display: none;
    }
    span.badge {
      background: #7bc7e2;
      border-radius: 5px;
      color: $color-white;
      font-size: 11px;
      top: 0px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;
      padding: 3px 8px;
      position: absolute;
    }
  }
  .mob-header-item.active {
    background: #f7fafb;
    border: 2px solid #6dbf00;
    .active-icon {
      display: block;
      svg {
        width: 14px;
        height: auto;
        fill: #6dbf00;
        left: 50%;
        top: 100%;
        transform: translate(-50%);
        position: absolute;
        z-index: 1;
      }
    }
  }
  .mob-model-headings {
    margin-top: 30px;
    padding-left: 15px;
    .heading-item {
      color: $color-blue;
      display: none;
      font-size: 19px;
      font-weight: bold;
      &.active {
        display: block;
      }
    }
  }
}

[data-compare-model-popup] {
  .model-footer {
    @include desktop {
      margin-top: 40px;
    }
  }
  .popup-window {
    @include mobile {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  // @include mobile {
  //   .compare_title span:after, .heading_item .compare_title span:after {
  //     width: calc(100vw - 60px)!important;
  //   }
  // }
}

.popup.compare-model-popup {
  .popup-window {
    @include mobile {
      width: 100% !important;
    }
  }
  &[data-compare-model-popup] {
    @include mobile {
      .popup-window {
        left: 3% !important;
        right: 3% !important;
        width: 94% !important;
        padding-bottom: 30px;
      }
      .small_text {
        font-size: 12px;
      }
    }
  }
}


.popup-section {
  .heading_item .compare_title span {
    @include mobile {
      &::after {
        width: calc(100vw - 48px) !important;
      }
    }
  }
}

@include mobile {
  .compare-list-item {
    color: $color-blue !important;
    span {
      color: $color-blue !important;
    }
    svg, path {
      fill: $color-blue !important;
    }
  }
}

#shopify-section-custom-compare-model {
  .model-content .compare_item:first-child .compare-list-item span {
    align-items: flex-start !important;
    margin-top: 4px;
  }
}


/* ====================================
  New Compare Model
======================================= */

$color-bg-model-title: #f7f4f0;



.model-row-wrapper {
  .model-row-header {
    & > div {
      display: flex;
    }
  }
  .visibility-hidden {
    display: none !important;
    &.visible {
      display: flex !important;
    }
  }
  p {
    margin: 0px;
  }
  .row-header {
    flex-direction: column;
    height: 120px !important;
    position: relative;
    @include mobile {
      height: 150px !important;
    }
    .new_badge {
      background: $color-link-hover-new;
      border-radius: 5px;
      color: #FFF;
      font-size: 12px;
      top: -0px;
      padding: 1px 5px;
      position: absolute;
      transform: translateY(-50%);
      z-index: 1;
    }
    .icon_wrapper svg {
      height: 11px;
      width: auto;
    }
    .title_wrapper {
      strong {
        border-radius: 5px;
        display: block;
        font-size: 10px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 3px 5px;
      }
    }
    .price_wrapper {
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
    }
    .badge {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      margin-top: 5px;
      span {
        border-radius: 5px;
        height: 24px;
        line-height: 24px;
      }
      span.active {
        background: #ffce4a;
        color: #d44d4d;
        padding-left: 12px;
        padding-right: 12px;
      }
      span.deactive {
        background: #dadbe2;
        color: #000;
        letter-spacing: -0.3px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  & > .model-row  {
    flex: 1 0 calc(100% / 3);
    width: calc(100% / 3);
    &.highlight {
      // border: 1px solid $color-blue;
    }
    .row-title {
      background: $color-bg-model-title;
      color: $color-dark-green;
      font-family: $fs-stb;
      font-size: 16px;
      font-weight: 500;
      padding: 7px 0 7px 10px;
    }
    .row-subtitle {
      color: $color-dark-green;
      align-items: center;
      font-size: 14px;
      padding: 15px 10px;
      p {
        @include mobile {
          word-break: break-word;
        }
      }
    }
  }
  .model-row-group {
    & > .model-subrow {
      font-size: 14px;
      text-align: center;
      flex: 1 0 100%;
      width: 100%;
      position: relative;
      &::after {
        content: '';
        display: block;
        border: 1px solid #b1b1b1;
        border-radius: 5px 5px 0 0;
        position: absolute;
        width: calc(100% - 6px);
        height: 100%;
        left: 3px;
        top: 0px;
      }
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 5px;
        &:nth-child(3) {
          color: $color-dark-green;
        }
      }
      &.active {
        .badge .deactive {
          display: none;
        }
        &::after {
          border: 2px solid $color-light-blue-new;
        }
      }
    }
    &.highlight {
      .model-subrow {
        display: none;
      }
      .active {
        display: block;
      }
    }
    &.compare {
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      .active {
        display: none;
      }
      .new_badge {
        display: none;
      }
    }
  }
  .odd {
    background: #FFF;
  }
  .even {
    background: #f7fafb;
  }
  .icon-true {
    svg path {
      fill: $color-link-new;
    }
  }
}

.compare-model-popup {
  .see-more {
    background: #f7fafb;
    color: $color-link-new;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    svg {
      width: 14px;
      height: auto;
      margin-left: 6px;
      fill: $color-link-new;
    }
    &:hover {
      color: $color-link-hover-new;
      svg {
        fill: $color-link-hover-new;
      }
    }

    span {
      font-size: 14px;
      font-weight: bold;
    }
    span:nth-child(2) {
      display: none;
    }
    &.active {
      svg {
        transform: rotateX(180deg);
      }
      span:first-child {
        display: none;
      }
      span:nth-child(2) {
        display: block;
      }
    }
  }

  .popup-header {
    padding-left: 15px;
    padding-right: 15px;
    .swipe-text {
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      span {
        color: $color-dark-green;
        font-size: 12px;
        line-height: 1;
        max-width: 90px;
      }
      svg path {
        fill: #000;
      }
    }
  }

  .popup-footer {
    margin-top: 30px;
    text-align: center;
    .icon {
      svg {
        width: 30px;
        height: auto;
      }
    }
    .subtitle {
      font-size: 16px;
      margin-top: 10px;
    }
    a {
      color: $color-blue;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

#shopify-section-custom-compare-model-product {
  .subtitle {
    p {
      color: $color-dark-green;
      font-family: $fs-stb;
      font-weight: 500;
      font-size: 20px;
    }
    a, a strong {
      color: $color-subtitle;
      font-family: $fs-stb;
      font-size: 20px;
      font-weight: 500;
      text-underline-position: under;
      text-decoration: underline;
    }
  }
}

.compare-model-popup[data-popup] {
  .rows_info .row_item_info {
    @include desktop {
      padding-top: 1em;
    }
  }
}