
.shopify-section.contact-info {
  .section-header {
    text-align: center;
  }
  .main_wrapper {
    @include mobile {
      flex-direction: column-reverse;
    }
    @include desktop {
      padding-left: 45px;
      padding-right: 45px;
    }
  }
  .title {
    // color: $color-grey;
    color: $color-white;
    font-family: $fs-stb;
    font-size: 20px;
    // letter-spacing: 2.4px;
    @include mobile {
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
    }
  }
  .subtitle {
    color: $color-white;
    font-family: $fs-st;
    font-size: 16px;
    margin-top: 10px;
    max-width: 330px;
    @include mobile {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  .contact-infos {
    margin-top: 15px;
    // justify-content: center;
    @include mobile {
      justify-content: center;
    }
    .contact-phone {
      margin-right: 30px;
      padding-top: 0px;
    }
    a {
      color: $color-white;
      font-size: 14px;
      font-weight: normal;
      @include desktop {
        font-size: 16px;
      }
      &:hover {
        color: $color-blue;
      }
    }
    svg path {
      fill: $color-white;
    }
    .contact-title {
      margin-left: 5px;
    }
    .contact__info {
      justify-content: center;
      min-width: calc(100% / 3);
      max-width: calc(100% / 3);
      margin-top: 50px;
      @include mobile {
        min-width: 50%;
        max-width: 50%;
      }
      .icon_wrapper {
        margin-right: 20px;
        svg {
          height: 60px;
          width: auto;
        }
        @include tablet {
          margin-right: 0px;
        }
      }
      .info__title {
        // color: $color-green;
        color: $color-button-text;
        font-size: 22px;
        font-weight: 600;
        @include tablet {
          margin-top: 15px;
        }
      }
      .info__text {
        color: $color-grey;
        font-size: 18px;
        font-weight: 800;
        a {
        }
      }
      @include tablet {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
  .contact-info-wrapper {
    @include mobile {
      border-top: 1px solid #dfe3e8;
      margin-top: 25px;
      padding-top: 10px;
    }
    @include desktop {
      // border-right: 1px solid #dfe3e8;
      min-width: 350px;
      margin-right: 60px;
    }
    @include tablet {
      min-width: 320px;
      margin-right: 40px;
      padding-right: 40px;
    }
    @include mobile {
      margin-right: 0px;
      padding-right: 0px;
      padding-top: 25px;
    }
  }

  .icon-blocks-wrapper {
    align-items: center;
    .icon-block-item {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      @include desktop {
        padding-left: 30px;
        padding-right: 30px;
      }
      @include mobile {
        flex: 1;
        svg {
          width: auto;
        }
      }
    }
    .block-item_title {
      color: $color-white;
      font-family: $fs-stb;
      font-size: 10px;
      line-height: 1.2;
      margin-top: 10px;
      @include desktop {
        font-size: 16px;
      }
    }
  }
}
