body.template-page-contact {
  .page-contact.container {
    margin-left: auto;
    margin-right: auto;
    .login__image {
      img {
        width: 100%;
      }
    }
    .login__form {
      display: flex;
      align-items: center;
      margin-top: unset;
      padding-left: 50px;
      width: auto;
      
      @include mobile {
        padding-left: 0px;
        padding-top: 0px;
      }
      .login__content {
        flex: 1;
        .subtitle {
          color: $color-dark-green;
          font-size: 14px;
          p, strong {
            font-family: $fs-stb;
            font-weight: 500;
          }
        }
        .field-group {
          margin: 0px;
          @include mobile {
            display: flex;
            justify-content: space-between;
          }
        }
        .form__field {
          margin-top: 15px;
          padding-left: 0px;
          @include mobile {
            min-width: calc(50% - 5px);
            max-width: calc(50% - 5px);
            &.text_field {
              min-width: 100%;
              max-width: 100%;
            }
          }
          label {
            color: $color-dark-green;
            font-family: $fs-stb;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 3px;
          }
          input, select, textarea {
            background: #fcfcfc;
            border: 1px solid #c3c3c3;
            border-radius: 7px;
            color: #747474;
            font-size: 14px;
          }
          input, select {
            height: 35px;
          }
          &.m-select {
            .icon-caret-down {
              bottom: 17px;
            }
          }
          textarea {
            
          }
        }
        button[type='submit'] {
          border-radius: 100px;
          margin-top: 30px;
          min-width: 90px;
        }
        .phone_number {
          color: $color-dark-green;
          margin-top: 30px;
          label {
            color: $fs-stb;
            display: block;
            font-family: $fs-stb;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 5px;
          }
          a {
            color: $color-light-blue-new;
            display: block;
            font-family: $fs-stb;
            font-size: 16px;
            font-weight: 500;
            margin-top: 5px;
            &.phone_call {
              display: inline-block;
            }
          }
        }
        .bottom_text {
          color: $color-dark-green;
          margin-top: 15px;
          @include mobile {
            font-size: 16px;
          }
          em {
            color: $color-light-blue-new;
            font-family: $fs-stb;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
          }
          strong {
            font-family: $fs-stb;
            font-weight: 500;
          }
          p {
            margin-top: 5px;
          }
        }
      }
    }
  }
  .form_success {
    color: #df0b0b;
    margin-top: 20px;
  }
}