.shopify-section.custom-cta {
  .cta_wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    text-align: center;
    .pretitle {
      color: $color-dark-green;
      font-family: $fs-stb;
      font-size: 14px;
      font-weight: 500;
    }
    .title {
      color: $color-dark-green;
      font-family: $fs-t;
      font-size: 48px;
      // font-weight: 500;
      @include mobile {
        font-size: 34px;
      }
    }
    .subtitle {
      color: $color-dark-green;
      font-family: $fs-stb;
      font-size: 16px;
      font-weight: 500;
      margin-top: 15px;
      p {
        margin: 0px;
      }
    }
    .btn_wrapper {
      margin-top: 25px;
      a {
        border-radius: 100px;
        // color: #FFF;
        display: flex;
        align-items: center;
        font-family: $fs-stb;
        font-size: 16px;
        font-weight: 500;
        width: 160px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        @include mobile {
          font-weight: normal;
          letter-spacing: 0.48px;
        }
        &.btn_black {
          background: #000;
        }
        &.btn_green {
          background: #6dbf00;
        }
      }
    }
  }
}


#shopify-section-custom-cta-page-our-story {
  .cta_wrapper {
    max-width: 500px;
    .subtitle a {
      color: #1c93ea;
    }
  }
}


#shopify-section-custom-cta-page-affiliate1 {
  .cta_wrapper {
    max-width: 580px;
    .subtitle {
      padding-left: 15px;
      padding-right: 15px;
      p {
        margin-bottom: 20px !important;
        &:last-child {
          margin-bottom: 0px !important;
        }
      }
    }
    .btn_wrapper {
      a {
        // background: $color-green;
        // background: $color-new-green;
        // color: $color-button-text;
      }
    }
  }
}


#shopify-section-custom-cta-page-affiliate2 {
  .cta_wrapper {
    max-width: 500px;
    .btn_wrapper {
      a {
        // background: $color-green;
        // background: $color-new-green;
        // color: $color-button-text;
      }
    }
  }
}


.shopify-section.regular-cta {
  .main_wrapper {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .main_content {
    padding-top: 10px;
    padding-bottom: 15px;
    @include desktop {
      border-radius: 5px;
    }
  }
  .title {
    color: $color-dark-green;
    font-family: $fs-t;
    @include mobile {
      margin-bottom: 15px;
    }
  }
  .subtitle {
    margin-top: 0px;
    p {
      color: $color-dark-green;
    }
  }
  .btn_wrapper {
    margin-top: 35px;
  }
  a.btn {
    padding-left: 25px;
    padding-right: 25px;
    width: unset;
    &:hover {
      // background: $color-light-green !important;
    }
  }
}