

// Core styles
.faq {
  position: relative;
  .container.m-short {
    max-width: $container-s;
    .section__content {
      padding-top: $gutter;
      @include desktop {
        padding-top: $gutter*3;
      }
    }
  }
}

// Item
.faq-item {
  border: none;
  // border-bottom: 1px solid #dfe3e8;
  color: inherit;
  &+& {
    margin-top: 0;
  }
  h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 0;
    font-size: inherit;
    color: inherit;
  }
  p {
    &:first-child {
      margin-top: 0;
    }
  }
  .faq-item__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $gutter 0;
    position: relative;
    span {
      color: $color-dark-green;
      font-family: $fs-stb;
      font-size: 20px;
      font-weight: 500;
      padding-right: 15px;
    }
    &:after {
      display: none;
    }
    i {
      color: $color-button;

      svg {
        width: 8px;
        height: auto;
      }
      svg path {
        fill: $color-dark-green;
      }
    }
  }
  .faq-item__content {
    color: $color-dark-green;
    padding: $gutter 0;
    font-size: 16px;
  }
}



// Grid
.faq-grid {
  display: block;
  @include desktop {
    display: flex;
    flex-wrap: nowrap;
  }
}


// Topbar
.faq-topbar {
  background: #cfdbd5;
  overflow: auto;
  padding: 20px;
  @include desktop {
    padding: 20px 0 $gutter 0;
  }
  .container {
    display: flex;
    @include row(0);
    flex-wrap: nowrap;
    justify-content: space-between;
    width: max-content;
    @include desktop {
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      width: unset;
    }
  }

}
.faq-topbar__item {
  min-width: unset;
  max-width: unset;
  padding: 0 20px;
  @include desktop {
    padding: 0px;
  }
}
.faq-topbar__title {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  font-size: $fz-4;
  font-weight: 500;
  font-stretch: condensed;
  color: $color-dark-grey;
  transition: $transition-time;
  padding-bottom: 0.2em;
  position: relative;
  @include desktop {
    padding-bottom: 0px;
  }
  &.is-active,
  &:hover {
    color: $color-button;
    &:after {
      opacity: 1;
    }
  }
}

// Questions
.faq-questions {
  flex: 1;
  color: $color-black;
  margin-top: $gutter*2;
  @include desktop {
    margin-top: 0px;
  }
  .faq-image + & {
    padding: 0;
    @include desktop {
      padding: $gutter*3 0 $gutter*3 $gutter*5;
    }
  }
}

.faq-section {
  display: none;
  &.is-active {
    display: block;
  }
  .faq-section__title {

  }
  .faq-section__icon {

  }
}


// Image
.faq-image {
  min-width: 0;
  max-width: none;
  margin: 0 (-$gutter);
  @include desktop {
    min-width: 500px;
    max-width: 500px;
    margin: 0;
  }
}


// Bottom
.faq__more {
  margin-top: $gutter*4;
  font-size: $fz-3;
  text-align: center;
  a {
    color: $color-button;
    font-weight: 600;
    text-decoration: none;
  }
}
.faq__more-title {
  font-size: inherit;
  font-weight: 300;
  color: $color-button;
}


// Product page styles
.faq.m-product {
  .faq-section {
    display: block;
  }
}

.need-help {

  text-align: center;
  margin: 82px;

  @include desktop {
    margin: 68px 0;
  }
  
  .title {
    color: $color-black;
    font-weight: bold;
    font-size: $fz-4;
  }

  .action-blocks {
    margin-top: 68px;
    justify-content: center;

    @include desktop {
      margin-top: 48px;
    }
  }

  .action-block {
    padding: 0 45px;

    @include desktop {
      padding: 0 65px;
    }

    .image {
      margin-bottom: 15px;
    }
  }
}

body.template-page-choose-plan {
  .shopify-section.product-faq {
    .text-wrap {
      @include r_tablet {
        min-width: 80% !important;
        max-width: 80% !important;
        margin-left: 10%;
      }
    }
  }
}

.shopify-section.product-faq {
  .container {
    max-width: 1000px;
  }
  .block-wrap {
    .image-wrap {
      border-radius: 5px;
      min-width: 46%;
      max-width: 46%;
      overflow: hidden;
    }
    .text-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include desktop {
        min-width: 54%;
        max-width: 54%;
        padding-left: 45px;
      }
      &.full-content {
        min-width: 100%;
        max-width: 100%;
      }
      .title {
        color: $color-subtitle;
        font-size: 48px;
        line-height: 1.16;
        margin-bottom: 25px;
        text-align: center;
        @include desktop {
          text-align: left;
        }
      }
      .text-footer {
        margin-top: 30px;
        text-align: center;
        @include desktop {
          text-align: left;
        }
        span {
          color: #171516;
          display: block;
          font-size: 19px;
          font-weight: bold;
        }
        a {
          color: $color-blue;
          font-size: 14px;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

#shopify-section-custom-faq-page-plan {
  .container {
    max-width: 800px;
  }
  .title {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    text-align: center;
  }
  .text-footer {
    margin-top: 75px;
    text-align: center;
  }
}

#shopify-section-custom-faq-page-affiliate {
  .title {
    color: $color-dark-green;
    font-family: $fs-t;
    font-size: 48px;
    // font-weight: 500;
    margin-bottom: 60px;
    text-align: center;
    @include mobile {
      font-size: 34px;
      margin-bottom: 30px;
    }
  }
  .faq-content {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    .faq-item {
      background: transparent;
      svg {
        width: 14px;
      }
    }
    .faq-item__title {
      color: #323335;
      font-size: 16px;
      font-weight: 600;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .faq-bottom {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-weight: 500;
    margin-top: 75px;
    text-align: center;
    a {
      // color: #6dbf00;
      // color: $color-button-text;
      color: $color-light-blue-new;
    }
  }
}


#shopify-section-custom-faq-page-plan-new,
#shopify-section-custom-cart-faq-new {
  .container {
    max-width: 800px;
  }
  .title {
    text-align: center;
  }
  .faq-item {
    border-bottom: none;
  }
  [data-accordion-content] {
    color: $color-dark-green;
    font-size: 16px;
    padding-top: 0px;
    a {
      color: $color-blue !important;
    }
  }
  [data-accordion-button] {
    color: $color-dark-green;
    font-size: 20px;
    font-weight: 500;
    & > div {
      font-family: $fs-stb;
    }
    span.faq-item__title-main {
      display: flex;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 15px;
      position: relative;
    }
    i {
      right: 0px;
      position: absolute;
    }
    p {
      font-family: $fs-st;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.44;
      margin-top: 5px;
      padding-right: 15px;
    }
    svg {
      width: 8px;
      height: auto;
    }
  }
}

#shopify-section-custom-cart-faq-new {
  .text-wrap .title {
    @include desktop {
      margin-bottom: 65px;
    }
  }
}


#shopify-section-custom-faq-page-plan-new {
  .title {
    color: $color-subtitle;
    font-size: 48px;
    text-align: left;
  }
}