.site-footer-container {
  display: none;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  @include mobile {
    display: block;
    position: static;
  }
  .row {
    @include desktop {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }
}

.site-footer {
  // background: #f7f4f0;
  padding-top: 45px;
  padding-bottom: 15px;
  color: $color-footer;
  // background: #f3f3f3;
  text-align: center;
  .row {
    justify-content: center;
  }
  .footer-cta-hidden & {
    margin-top: 0;
    padding-top: $gutter*4;
  }
  .nav__link {
    color: inherit;
    font-size: $fz-7;
    @include mobile {
      font-size: $fz-6;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: $fz-4;
    color: inherit;
  }
  // [data-cookie-setting] {
  //   cursor: pointer;
  //   color: #000000;
  //   margin-top: -150px;
  //   margin-left: -15px;
  //   position: absolute;
  //   text-align: left;
  //   @include tablet {
  //     margin-left: 25px;
  //     margin-top: -75px;
  //   }
  //   @include mobile {
  //     margin-left: 5px;
  //     margin-top: unset;
  //     position: relative;
  //   }
  // }
}

.osano-cm-widget {
  display: none;
}

.site-footer__top {
}
.site-footer__logo {
  text-align: left;
  @include mobile {
    text-align: center;
  }
  img, svg {
    width: auto;
    height: 25px;
  }


  
}

.site-footer__text {
  color: $color-white;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  text-align: left;
  @include mobile {
    font-size: 12px;
    text-align: center;
  }
  p {
    margin-bottom: 0px;
  }
}

.footer-block__title {
  color: $color-white;
  text-align: left;
  font-size: 14px;
  // color: #53585a;
  font-weight: 500;
}

.footer-social__text {
  color: $color-white;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  strong {
    color: #c5ffbb;
    font-weight: 500;
  }
  P {
    margin: 0px;
  }
  @include mobile {
    text-align: center;
  }
}


.footer_block_download {
  @include mobile {
    border-top: 1px solid #dfe3e8;
    padding-top: 15px;
  }
}
.footer-download {
  display: flex;
  margin-top: 10px;
  @include desktop {
    flex-direction: column;
  }
  a {
    margin-bottom: 8px;
    @include mobile {
      // flex: 1;
    }
    @include desktop {
      width: 100%;
    }
  }

  @include mobile {
    justify-content: space-between;
    a {
      width: calc(50% - 5px);
      svg {
        width: 100%;
        height: auto;
      }
    }
    a:first-child {
      // margin-right: 15px;
      // width: 140px;
    }
  
    a:last-child {
      // width: 158px;
    }
  }
}

.site-footer__info {
  margin: $gutter*0.5 0 0 0;
  line-height: 24px;
  font-size: $fz-7;
  color: $color-grey-light;
  a {
    color: $color-white;
    text-decoration: underline;
  }
  p {
    margin-bottom: 0;
    +p {
      margin-top: 0.5rem;
    }
  }
}
.social-links {
  margin: 0.5rem 0 0;
  color: inherit;
  text-align: center;
  justify-content: flex-start;
  @include mobile {
    margin-top: $gutter;
    justify-content: center;
  }
  .nav__items {
    justify-content: flex-end;
    svg path {
      fill: $color-white !important;
    }
  }
  li.nav__item:last-child a {
    margin-right: 0px;
  }
  .nav__link {
    padding: 0;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    font-size: $fz-4;
    &:hover {
      text-decoration: none;
    }
  }
  a {
    border-bottom: none !important;
  }
}
.site-footer__nav {
  line-height: 24px;
  .nav__title {
    display: flex;
    font-size: $fz-4;
    font-weight: 500;
    font-stretch: condensed;
    white-space: nowrap;
  }
  &.nav.m-vertical {
    justify-content: space-around;
    .nav__items {
      align-items: center;
    }
    .nav__link {
      padding: 0;
      white-space: nowrap;
      text-align: center;
    }
  }
}
.site-footer__bottom {
  margin-top: $gutter*2;
  font-size: $fz-7;
  color: $color-grey-light;
  @include mobile {
    font-size: $fz-6;
  }
  a {
    color: $color-white;
    text-decoration: none;
  }
}
.site-footer__bottom-menu {
  .nav__item {
    line-height: 1;
  }
  .nav__link {
    @include mobile {
      text-transform: uppercase;
      font-weight: 500;
      font-stretch: condensed;
    }
  }
  .nav__item + .nav__item {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid currentColor;
  }
  .nav__link {
    padding: 0;
  }
}
.site-footer__copy {
  p {
    margin-bottom: 0;
  }
  p+p {
    margin-top: 1em;
  }
  span {
    margin: 0 5px;
    vertical-align: middle;
    color: $color-red;
    font-size: 1.25em;
  }
}

.footer-box {
  @include mobile {
    border-top: 1px solid $color-light-grey;
    padding-top: 20px;
    padding-bottom: 20px;
    &.m-no-border {
      border: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
}

@include mobile {
  .site-footer {
    // padding-top: $gutter*2;
    padding-top: 0px;
    padding-bottom: $gutter*2;
    .nav.m-flex {
      display: block;
    }
    .nav__title {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      padding-bottom: $gutter;
      border-bottom: 1px solid $color-brown-light;
      &.is-open {
        i {
          transform: rotate(-180deg);
        }
      }
      i {
        display: inline-block;
        font-size: 9px;
        color: $color-brown-light;
        transition: $transition-time;
      }
    }
  }
  .site-footer__logo {
    text-align: left;
    @include mobile {
      text-align: center;
    }
  }
  .site-footer__info {
    font-size: 14px;
  }
  .site-footer__top {
    padding-right: 0;
  }
  .site-footer__bottom {
    margin-top: 0;
    padding: 0;
    display: block;
    border: 0;
    text-align: center;
    .nav__items {
      flex: 1;
      justify-content: center;
    }
  }


  .site-footer__bottom-menu {
    margin-top: $gutter;
  }
}

.footer-download-tablet {
  margin-top: 24px;
}

.footer-download-mobile, .footer-logo-mobile {
  margin-top: 36px;
}

.site-footer__top {
  @include desktop {
    padding-left: 45px;
    padding-right: 45px;
  }
  .row {
    @include tablet {
      // flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
    }
    .left-side {
      // min-width: 70%;
      // max-width: 70%;
      flex: 1;
      @include mobile {
        min-width: 100%;
        max-width: 100%;
      }
    }
    .right-side {
      width: 160px;
      // min-width: 30%;
      // max-width: 30%;
      padding-left: 30px;
      @include mobile {
        min-width: 100%;
        max-width: 100%;
        padding-left: 0px;
      }

      .footer-block__title {
        $color: $color-white;
        font-size: 16px;
        @include desktop {
          font-size: 20px;
        }
      }
      .footer_block_social {
        
        @include mobile {
          margin-top: 45px;
        }
      }
      .footer_block_download {
        // margin-top: 30px;
      }
      .footer_block_logo {
        margin-top: 120px;
        @include tablet {
          margin-top: 0px;
        }
        @include mobile {
          border-top: 1px solid #dfe3e8;
          margin-top: 45px;
        }
      }
    }
  }
  .menu-wrapper {
    @include mobile {
      flex-wrap: wrap;
    }
    .menu-item {
      flex: 1;
      // min-width: 25%;
      // max-width: 25%;
      text-align: left;
      @include mobile {
        min-width: 100%;
        max-width: 100%;
      }
      .menu_title {
        // color: #81bc00;
        color: $color-white;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
        @include tablet {
          font-size: 17px;
        }
        @include mobile {
          border-top: 1px solid #dfe3e8;
          margin-bottom: 0px;
          padding-top: 15px;
          padding-bottom: 15px;
          position: relative;
          span.arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0px;
            svg {
              width: 14px;
              height: auto;
              transform: rotateX(180deg);
              transition: all .3s ease;
            }
            svg path {
              fill: $color-white;
            }
          }
          &.is-open {
            span.arrow svg {
              transform: unset;
            }
          }
        }
      } 
      ul {
        list-style: none;
        padding-left: 0px;
        @include mobile {
          display: none;
          // padding-left: 30px;
        }
        li {
          margin-top: 7px;
        }
        li a {
          color: $color-white;
          font-size: 16px;
          transition: all .3s ease;
          &:hover {
            border-color: $color-light-green;
            color: $color-light-green;
          }
        }
      }
    }
  }

  .footer-mixed-block {
    @include tablet {
      display: flex !important;
      margin-top: 30px;
      & > div {
        min-width: 50%;
        max-width: 50%;
      }
    }
    @include mobile {
      display: none !important;
    }
  }
}

.footer_bottom {
  margin-top: 10px;
  @include desktop {
    // border-top: 2px solid #dfe3e8;
    margin-top: 45px;
    // padding-top: 30px;
  }
  @include mobile {
    .footer_block_logo {
      border-top: 1px solid #dfe3e8;
      // margin-top: 15px;
      padding-top: 20px;
    }
  }
}

.footer_bottom-wrapper {
  justify-content: space-between;
  @include mobile {
    flex-direction: column-reverse;
  }
}

.accessibility {
  border: 1px solid #000000;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px !important;
  width: 120px;
  height: 35px;
  @include desktop {
    transform: translateY(30px);
  }
  @include mobile {
    margin: 20px auto;
  }
  svg {
    margin-right: 5px;
  }
}

#accessibility-menu-btn {
  display: none !important;
}

.add-aacc {
  border: 1px solid $color-white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-top: 25px;
  opacity: 1 !important;
  padding: 10px 15px;
  width: fit-content;
  svg {
    fill: $color-white;
    transition: all .3s ease;
  }
  &:hover {
    color: $color-light-green;
    svg {
      fill: $color-light-green;
    }
  }
  @include mobile {
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  svg {
    margin-right: 5px;
  }
  @include mobile {
    color: $color-white;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}