.shopify-section.iterable-sweepstakes-form {
  .main_content {
    text-align: center;
  }
  .block_title {
    color: $color-link-new;
    font-family: $fs-stb;
    font-size: 24px;
    font-weight: 500;
  }
  .text, .footer_text {
    color: $color-dark-green;
    font-size: 19px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .icon-block-wrapper {
    justify-content: center;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    @include mobile {
      flex-direction: column;
    }
    @include desktop {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    .block-item {
      flex: 1;
      max-width: calc(100% / 3);
      padding-left: 30px;
      padding-right: 30px;
      @include desktop {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    svg {

    }
  }

  .features {
    border-radius: 5px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 20px;
    @include desktop {
      padding: 30px 50px;
    }
    .feature_title {
      color: $color-dark-green;
      font-size: 19px;
      font-family: $fs-stb;
      font-weight: 500;
      margin-bottom: 5px;
      text-align: left;
    }
    .feature_content-list {
      flex-wrap: wrap;
      @include mobile {
        flex-direction: column;
      }
      li {
        color: $color-dark-green;
        list-style: none;
        margin-top: 5px;
        padding-left: 15px;
        text-align: left;
        position: relative;
        @include desktop {
          min-width: 50%;
          max-width: 50%;
        }
        &::before {
          content: '';
          background: $color-dark-green;
          border-radius: 50%;
          display: block;
          width: 5px;
          height: 5px;
          left: 0px;
          top: 10px;
          position: absolute;
        }
      }
    }
  }
  .form-wrapper {
    border: 2px solid $color-dark-green;
    border-radius: 5px;
    max-width: 650px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    @include desktop {
      padding: 45px 75px;
    }
    .form_title {
      color: $color-dark-green;
      font-family: $fs-stb;
      font-size: 26px;
      font-weight: 500;
      @include mobile {
        margin-bottom: 15px;
      }
    }
    form > div {
      @include desktop {
        display: flex;
        margin-top: 25px;
      }

      input {
        border: 1px solid #c4cad1;
        border-radius: 5px;
        color: $color-dark-green;
        font-size: 16px;
        flex: 1;
        height: 50px;
        width: 100%;
        outline: none;
        padding: 5px 10px;
        @include desktop {
          margin-left: 5px;
          margin-right: 5px;
        }
        @include mobile {
          margin-top: 6px;
          margin-bottom: 6px;
        }
      }
    }
    input[type='submit'] {
      display: inline-flex;
      align-items: center;
      line-height: 1;
      margin-top: 20px;
      width: auto;
      padding-left: 30px;
      padding-right: 30px;
      @include desktop {
        margin-top: 25px;
      }
    }
  }

  .footer_title {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .footer_text {
    color: #515F62;
    font-size: 14px;
    max-width: 600px;
  }

  .terms {
    position: relative;
    label::before {
      content: '';
      border: 1px solid $color-dark-green;
      border-radius: 5px;
      display: block;
      width: 25px;
      height: 25px;
      left: 5px;
      position: absolute;
    }
    input {
      display: none !important;
    }
    input:checked + label {
      &::before {
        background: $color-dark-green;
      }
      &::after {
        content: '';
        border-color: $color-white;
        border-style: solid;
        border-width: 2px 2px 0 0;
        display: block;
        width: 16px;
        height: 8px;
        left: 9px;
        top: 7px;
        transform: rotate(135deg);
        position: absolute;
      }
    }
    label {
      color: $color-dark-green;
      cursor: pointer;
      font-style: italic;
      padding-left: 35px;
      text-align: left;
    }
  }
  .warning {
    color: #DF0B0B;
    display: none;
    font-style: italic;
    font-size: 14px;
    margin-top: 10px;
  }

}