.shopify-section.gift-set-section {
  .title {
    text-align: center;
  }
  .subtitle {
    margin-top: 0px;
    text-align: center;
  }

  .product-grid-wrapper {
    justify-content: space-between;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    .product-grid-item {
      border: 2px solid #d2d2d8;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      max-width: calc(100% / 3 - 20px);
      min-width: calc(100% / 3 - 20px);
      padding: 30px;
      position: relative;
      transition: all .3s ease;
      * {
        color: $color-dark-green;
      }
      &.active, &:hover {
        border-color: $color-light-blue-new;
      }
      &.active {
        box-shadow: 0 5px 14px 0 #bababa;
      }
      .product_image {
        border-radius: 5px;
        overflow: hidden;
        position: relative;
      }
      .image_wrapper {
        max-width: 180px;
        margin-left: auto;
        margin-right: auto;
      }
      .badge_new {
        background: #ffd4bb;
        border-radius: 5px;
        color: $color-dark-green;
        font-family: $fs-stb;
        font-size: 12px;
        line-height: 1;
        padding: 5px 8px;
        position: absolute;
        top: 0px;
        right: 0px;
      }
      .badge_best-seller {
        background: $color-light-blue-new;
        border-radius: 5px;
        color: $color-white;
        font-size: 14px;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3px 8px;
        position: absolute;
      }
      .popup_trigger {
        display: flex;
        flex: 1;
        align-items: flex-end;
        justify-content: center;
        margin-top: 20px;
        a {
          color: $color-light-green !important;
        }
      }
    }
    .info_title {
      border-bottom: 1px solid #d9d9d9;
      padding-bottom: 15px;
      p {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      strong {
        font-family: $fs-stb;
        font-weight: 500;
      }
      em {
        color: $color-light-blue-new;
        font-family: $fs-stb;
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
      }
    }
    .info_desc {
      border-bottom: 1px solid #d9d9d9;
      font-size: 14px;
      padding-top: 15px;
      padding-bottom: 15px;
      p {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      em {
        font-style: normal;
        text-decoration: line-through;
      }
      em + em {
        color: #d44d4d;
        text-decoration: none;
      }
    }

    .info_price {
      border-bottom: 1px solid #d9d9d9;
      font-size: 14px;
      padding-top: 15px;
      padding-bottom: 15px;
      em {
        color: #515f62;
        font-style: normal;
        text-decoration: line-through;
      }
      em + em {
        color: #d44d4d;
        text-decoration: none;
      }
      p {
        margin-bottom: 0px;;
      }
    }

    .product_ajax_form {
      .product_variants > div {
        display: flex;
        justify-content: space-between;
      }
      .variants-wrapper {
        align-items: center;
        .product_option {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      .product_variants_size {
        .product_option {
          margin-left: 5px;
          margin-right: 5px;
          &:last-child {
            margin-right: 0px;
          }
        }
        .product_option label {
          border: 1px solid #515f62;
          border-radius: 5px;
          color: $color-black;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          width: 50px;
          height: 35px;
          &::after {
            border: 2px solid $color-light-blue-new;
            border-radius: 5px;
            left: -2px;
            top: -2px;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
          }
        }
      }
    }
  }
}

.section-group {
  .group {
    display: none;
    &.active {
      display: block;
    }
  }
}

