.topbar {
  background: #c5ffbb;
  color: $color-dark-green;
  opacity: 1;
  transition: $transition-time;
  font-family: $ff-topbar;
  letter-spacing: $ls-1;
  position: relative;
  z-index: 2;
  .container {
    display: block;
    max-height: 40px;
    min-height: 40px;
    position: relative;
    @include desktop {
      display: flex;
      align-items: center;
      max-height: 35px;
      min-height: 35px;
    }
  }
  .topbar__tools {
    margin-left: auto;
    position: absolute;
    right: $gutter;
    top: 50%;
    transform: translate(0, -50%);
  }
  .topbar__text2 {
    color: $color-dark-green;
    font-weight: bold !important;
    p {
      @include mobile {
        font-size: 11px !important;
      }
    }
    @include mobile {
      text-align: center;
    }
  }
  .topbar__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0px;
    flex: 1;
    @include desktop {
      display: block;
      padding: $gutter 0;
      margin: 0;
      font-size: $fz-6;
      font-weight: normal;
     }
    @include mobile {
      font-size: 13px;
    }
    p {
      margin: 0;
    }
  }
  .nav__link {
    padding: 0;
    color: inherit;
  }
  .nav__item {
    line-height: 1;
    &:not(:first-child) {
      margin-left: $gutter/2;
      padding-left: $gutter/2;
    }
    a {
      font-size: 14px;
    }
  }
}

.site-header-container {
  position: fixed;
  z-index: 997;
  left: 0;
  right: 0;
  top: 0;
  transition: $transition-time;
  &.is-scrolled {
    .topbar {
      opacity: 0;
    }
    .site-header > .container {
      height: 50px;
      .site-header__nav {
        .nav__item.m-level-1 {
          height: 50px;
        }
      }
    }
    .nav__item.m-level-1 {
      height: $header-height/2;
    }
    .site-header__logo img {
      height: $header-height/2 - 20px;
    }
  }
  .container {
    // max-width: 100%;
    // padding: 0 5%;
    display: flex;
    justify-content: space-between;
  }
  .search-container{
    opacity: 0;
    position: absolute;
    width: 100%;
    background-color: white;
    padding: 60px 0;
    text-align: center;
    border-bottom: 1px solid #8484846b;
    &.is_active{
      opacity: 1;
      transition: all .2s;
    }
  }
  &.hidden {
    @include desktop {
      transform: translateY(-100%) !important;
    }
  }
}
body.template-collection {
  .site-header {
    box-shadow: none !important;
    border-bottom: 1px solid #dfe3e8;
    @include desktop {
      // border-bottom: none;
      box-shadow: 0 6px 10px 0 #00000014 !important;
    }
  }
  header.is-scrolled {
    .site-header {
    box-shadow: 0 6px 10px 0 #00000014 !important;
    }
  }
}
.site-header {
  background: #FFF;
  box-shadow: 0 6px 10px 0 #00000014;
  position: relative;
  font-size: $fz-header;
  transition: $transition-time;
  z-index: 999;
  @include desktop {
    z-index: unset;
  }

  &.m-transparent {
    background: $color-header-bg;
    @include desktop {
      background: none;
    }
  }
  >.container {
    align-items: center;
    height: 50px;
    @include desktop {
      // height: 45px;
      height: 60px;
    }
  }
  .nav__link {
    font-size: inherit;
    font-weight: normal;
    font-size: $fz-5;
    letter-spacing: $ls-1;
    &.m-level-1 {
      // color: $color-header-link;
      color: #323335;
    }
    &.m-login {
      white-space: nowrap;
    }
    &.m-search {
      font-size: 22px;
    }
    &.m-cart {
      position: relative;
      font-size: $fz-5;
      @include desktop {
        font-size: 22px;
      }
    }
  }

  span.icon-wrapper {
    display: flex;
    position: relative;
  }
  .mobile_menu_toggle, .site-header__cart {
    svg {
      height: 32px;
      width: auto;
    }
  }
  .site-header__cart {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span.icon-wrapper {

    }
    [data-cart-count] {
      background: $color-subtitle;
      border-radius: 50%;
      color: $color-white;
      display: flex;
      align-items: center;
      font-size: 11px;
      justify-content: center;
      width: 16px;
      height: 16px;
      top: -7px;
      right: -4px;
      position: absolute;
    }
  }

  .mob--toolbar {
    flex: 2;
  }
  .toolbar-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & > div {
      margin-left: 22px;
    }
  }
}

.site-header__logo {
  flex: 1;
  text-align: center;
  @include desktop {
    text-align: left;
  }
  img, svg {
    width: auto;
    height: 40px;
    object-fit: contain;
    @include desktop {
      height: 90px;
    }
  }

  svg {
    width: 130px;
    height: auto;
  }
  
  a {
    color: white;
  }
}
.site-header__nav {
  margin: 0 auto;
  position: relative;
  .nav__link.m-level-1 {
    color: #014550;
    font-family: $fs-st;
  }
  >div {
    >.nav {
      display: flex;
      justify-content: center;
      >.nav__items {
        min-width: 100%;
        max-width: 100%;
        justify-content: center;
        @include desktop {
          margin-right: 15px;
        }
      }
    }
  }
  .nav__item.m-level-1 {
    display: flex;
    align-items: center;
    // height: 45px;
    height: 60px;
  }
  .nav__link.m-level-1 {
    white-space: nowrap; 
    transition: none;

    i svg {
      fill: #666;
      width: 14px;
      height: auto;
    }
    @include desktop {
      &:hover {
        color: $color-light-blue-new;
        i svg {
          fill: $color-light-blue-new;
        }
        i.icon-closed {
          display: none;
        }
        i.icon-opened {
          display: inline-block;
        }
      }
    }
    i.icon-opened {
      display: none;
    }

    &.m-icon {
      i {
        margin-left: 1em;
        font-size: 0.4em;
        top: -1px;
      }
    }
  }
}
.site-header__tools {
  justify-content: flex-end;
  .nav__item{
    justify-content: flex-end;
    @include desktop {
      justify-content: space-between;
    }
    .nav__link {
      border: none !important;
      font-size: 20px;
      @include desktop {
        font-size: 22px;
      }
    }
    .search{
      cursor: pointer;
      svg{
        width:20px;
        height: 20px;
        margin-right: 10px;
        path{
          fill: white;
        }
      }
    }
    .nav__link.shop_btn {
      border-radius: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: bold;
      min-width: unset;
      width: 80px;
      height: 30px;
      padding: 0px;
    }
  }
  a.m-cart svg path {
    fill: $color-black;
  }
  a.shop_btn {
    // color: #202020 !important;
  }
}
.site-header__nav,
.site-header__tools {
  
}


.cart-count {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // color: #FFF;
  color: $color-button-text;
  font-size: 14px;
  font-weight: 700;
  height: 15px;
  margin-left: 5px;
}

.mobile_menu_toggle {
  // flex: 2;
}
.site-header__toggle {
  color: $color-white !important;
  display: block !important;
  flex: 1;
  font-size: $fz-6;
  font-weight: 500;
  margin-left: auto;
  margin-right: 0px;
  min-width: 0;
  padding: 0;
  text-align: left;
  span {
    display: block;
    width: 22px;
    height: 3px;
    background: $color-black;
    transition: $transition-time;
    opacity: 1;
    position: relative;
    +span {
      margin-top: 5px;
    }
    &:nth-child(2) {
      transition: none;
    }
  }
}

.site-header__toggle {
  body.is-menu-open & {
    span {
      &:nth-child(1) {
        transform: rotate(-45deg);
        top: 8px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(45deg);
        top: -8px;
      }
    }
  }
  @include desktop {
    display: none;
  }
}


.visuallyhidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.template-index{
  // padding-top: 0 !important;
}
.search-overlay{
  max-width: 1200px;
  margin: 0 auto;
  span.search-close{
    cursor: pointer;  
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 999;
    &:hover{
      svg{
        polygon{
          fill: rgb(146, 146, 146);
          transition: all .1s;
        }
      }
    }
  }
  .search-overlay__title, .search-popup__title{
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-transform: none;
    line-height: 1.5;
    margin-bottom: 0 !important;
  }
  .search-form.search-popup__form{
    padding: 20px 0;
    padding-top: 0px !important;
    .search__fields{
      .field{
        margin-bottom: 0.75rem;
        .control{
          position: relative;
          input[type="text"]{
            outline: none;
            border-radius: 0;
            border: 1px solid lightgrey;
            padding-left: 2.25em;
            display: inline-flex;
            font-size: 1rem;
            height: 2.25em;
            -webkit-justify-content: flex-start;
            -moz-justify-content: flex-start;
            -ms-justify-content: flex-start;
            justify-content: flex-start;
            -ms-flex-pack: flex-start;
            line-height: 1.5;
            padding-bottom: calc(0.375em - 1px);
            padding-right: calc(0.625em - 1px);
            padding-top: calc(0.375em - 1px);
            position: relative;
            vertical-align: top;
            &:focus+.icon{
              path{
                fill: #6d6d6d;
                transition: .2s;
              }
            }
          }
          .icon{
            position: absolute;
            top: 21px;
            left: 15px;
            z-index: 99;
            width: 14px;
          }
        }
      }
    }
  }
}
.popup-window{
  width: 460px;
  .search-overlay{
    padding: 30px 45px;
    .search-overlay__title{
      text-align: center;
    }
  }
}

body.template-cart {
  .custom-sticky-menu {
    @include mobile {
      display: flex;
      align-items: center;
      height: 50px;
      max-height: 50px;
      position: relative;
      & > div {
        height: 100%;
        & > a {
          align-items: center;
          display: flex;
          height: 100%;
        }
      }
    }
    a span {
      color: $color-link-new;
      margin-left: 5px;
    }
    .menu_back svg {
      width: 12px;
      height: auto;
    }
    .menu_back svg path {
      fill: $color-subtitle;
      stroke: $color-subtitle;
      stroke-width: 50px;
    }

    .sticky_logo {
      svg {
        height: 20px;
        width: auto;
      }
    }

  }  
}

@include desktop {
  .custom-sticky-menu {
    background: $color-white;
    box-shadow: 0 4px 11px 0 #0000000d;
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 11;
    .container {
      height: 100%;
    }
    .sticky-menu-wrapper {
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
    .menu_back {
      a {
        color: $color-subtitle;
        display: flex;
        align-items: center;
        opacity: 1 !important;
        span {
          font-family: $fs-stb;
          font-size: 16px;
          font-weight: 500;
          margin-left: 6px;
          text-decoration: underline;
          text-underline-position: under;
        }
        svg {
          transition: .3s;
          path {
            stroke: $color-white;
            stroke-width: 1px;
          }
        }
        &:hover {
          color: $color-light-blue-new;
          span {
            color: $color-light-blue-new;
          }
          svg {
            fill: $color-light-blue-new;
            path {
              stroke: $color-light-blue-new;
            }
          }
        }
      }
    }
  }
}


@include s_tablet {
  // .mobile_menu_toggle {
  //   display: block !important;
  //   .site-header__toggle {
  //     display: block !important;
  //   }
  // }
  // .site-header__nav {
  //   display: none !important;
  // }
}

body.is-menu-open  {
  header.site-header-container.is-scrolled {
    transform: unset !important;
  }
  header.site-header-container.is-scrolled .topbar {
    opacity: 1 !important;
  }
}

header.mob_scroll {
  // transform: translateY(-30px) !important;
}

header.visibility-hidden {
  transform: translateY(-85px) !important;
}

.nav-cart-wrapper {
  position: relative;
}

.cart-popup {
  cursor: pointer;
  display: none;
  top: 70px;
  right: 0px;
  opacity: 0;
  position: absolute;
  transform: translateY(-30px);
  transition: transform .5s cubic-bezier(1,1.5,0.5,1.5), opacity .3s ease;
  width: max-content;
  z-index: -1;
  @include desktop {
    top: 50px;
  }
  &.visible {
    opacity: 1;
    transform: unset;
    z-index: auto;
  }
  &::before {
    content: '';
    background: $color-dark-green;
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    right: 88px;
    top: -6px;
    transform: rotate(45deg);
    @include desktop {
      right: 32px;
    }
  }
}

.cart-popup-wrapper {
  align-items: center;
  background: $color-dark-green;
  border-radius: 15px;
  padding: 20px;
  .item_image {
    width: 50px;
  }
  img {
    border-radius: 5px;
  }
  .item_title {
    color: $color-white;
    font-size: 14px;
    max-width: 160px;
    margin-left: 10px;
    margin-right: 30px;
  }
  .item_view {
    background: $color-light-green;
    border-radius: 100px;
    color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 30px;
    width: 80px;
  }
}