.hero__banner {
  .banner_wrapper {
    position: relative;
    .banner_img_wrapper img {
      border-radius: 5px;
      width: 100%;
    }
    .banner_info-wrapper {
      height: 100%;
      max-width: 1300px;
      width: 100%;
      left: 50%;
      top: 0px;
      transform: translateX(-50%);
      position: absolute;
    }
    .banner_info {
      &.pos-control {
        max-width: 540px;
        position: absolute;
        @include tablet {
          max-width: 440px;
        }
        @include desktop {
          display: flex;
          flex-direction: column;
          // height: 100%;
          justify-content: center;
          padding-left: 55px;
          padding-right: 55px;
        }
        @media (max-width: 767px) {
          &.mob-top {
            top: 30px;
          }
          &.mob-bottom {
            bottom: 30px;
          }
          &.mob-left {
            left: 30px;
          }
          &.mob-right {
            right: 30px;
          }
          &.mob-middle {
            top: 50%;
            transform: translateY(-50%);
          }
          &.mob-center {
            left: 50%;
            transform: translateX(-50%);
          }
          &.mob-middle.mob-center {
            transform: translate(-50%, -50%);
          }
          &.mob-text-left {
            text-align: left;
          }
          &.mob-text-center {
            text-align: center;
          }
          &.mob-text-right {
            text-align: right;
          }
        }
        @include desktop {
          &.top {
            top: 70px;
          }
          &.bottom {
            bottom: 70px;
          }
          &.left {
            left: 90px;
          }
          &.right {
            right: 90px;
          }
          &.middle {
            top: 50%;
            transform: translateY(-50%);
          }
          &.center {
            left: 50%;
            transform: translateX(-50%);
          }
          &.middle.center {
            transform: translate(-50%, -50%);
          }
          &.text-left {
            text-align: left;
          }
          &.text-center {
            text-align: center;
          }
          &.text-right {
            text-align: right;
          }
        }
      }
      .title {
        line-height: 1.15;
      }
      .subtitle {
        font-weight: bold;
        line-height: 1.3;
        margin-bottom: 15px;
        margin-top: 20px;
        p {
          margin: 0px;
          min-height: 10px;
        }
      }
      .text {
        font-weight: bold;
        margin-top: 6px;
        p {
          margin: 0px;
          min-height: 10px;
        }
      }
      .btn_wrapper {
        margin-top: 24px;
      }
      .badge_wrapper {
        margin-top: 20px;
        svg {
          width: 250px;
          height: auto;
          @include mobile {
            width: 180px;
          }
        }
        @media (width: 768px) {
          position: absolute;
          bottom: 0;
          left: 190px;
          svg {
            width: 150px;
          }
        }
      }
    }
  }
}

body.template-index .shopify-section.hero-banner, #shopify-section-custom-banner-page-sweepstakes {
  .container {
    max-width: unset;
    padding-left: 15px;
    padding-right: 15px;
    @include desktop {
      padding-left: 45px;
      padding-right: 45px;
    }
    @include r_tablet {
      padding-left: 15px;
      padding-right: 15px;
      .banner_info {
        max-width: 380px;
      }
    }
  }
  .banner_info-wrapper {
    max-width: unset;
    .pretitle {
      font-family: $fs-stb;
      font-size: 20px;
      font-weight: 500;
    }
    .title {
      font-size: 60px;
      margin-top: 10px;
    }
    .subtitle {
      margin-top: 10px;
      margin-bottom: 10px;
      p {
        font-family: $fs-t;
        font-size: 26px;
        font-weight: 300;
      }
    }
    .text {
      margin-top: 0px;
      p {
        font-family: $fs-stb;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .btn_wrapper {
      margin-top: 15px;
      a {
        background: $color-btn-hover;
        color: $color-dark-green;
        text-transform: unset !important;
        &:hover {
          background: transparent;
          border-color: $color-btn-hover;
          color: $color-btn-hover;
        }
      }
    }
  }
  .banner_info {
    max-width: 280px;
    min-width: 280px;
    @include desktop {
      height: 100%;
      max-width: 480px;
      &.left {
        // left: 0px;
      }
      &.right {
        // right: 0px;
      }
      &.center {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    
    .btn_wrapper a {
      @include desktop {
        width: 160px;
        height: 40px;
      }
    }
  }
  .hero__banner {
    border-radius: 5px;
    overflow: hidden;
  }
}

body.template-index .shopify-section.hero-banner {
  .banner_info {
    @media (max-width: 1400px) {
      &.left {
        left: 30px;
      }
      &.right {
        right: 30px;
      }
    }
    @media (max-width: 1248px) {
      &.left {
        left: 0px;
      }
      &.right {
        right: 0px;
      }
    }
  }
  .btn_wrapper a {
    background: $color-btn-hover;
    &:hover {
      border-color: $color-btn-hover;
    }
  }
}


#shopify-section-custom-banner-page-sweepstakes {
  .container {
    .banner_info {
      &.left {
        // left: 0px;
      }
      &.right {
        // right: 0px;
      }
    }
  }
  @media (min-width: 1600px) {
    .banner_info {
      left: calc(50% - 550px);
    }
  }
}

@include mobile {
  body.template-index, #shopify-section-custom-banner-page-sweepstakes {
    .banner_wrapper {
      img {
        border-radius: 10px 10px 0 0 !important;
      }
      .banner_info {
        border-radius: 0 0 10px 10px !important;
      }  
    }
    .banner_wrapper.mob-top {
      display: flex;
      flex-direction: column-reverse;
      img {
        border-radius: 0 0 10px 10px !important;
      }
      .banner_info {
        border-radius: 10px 10px 0 0 !important;
      }
    }
    .banner_info-wrapper {
      margin-top: -1px;
      position: relative !important;
      left: unset !important;
      transform: unset !important;
    }
    .banner_info {
      position: relative !important;
      left: unset !important;
      transform: unset !important;
      max-width: unset !important;
      width: 100%;
      top: 0 !important;
      padding: 30px !important;
    }
  }
}


body.template-collection {
  .hero__banner {
    .banner_info {
      min-width: 240px;
      max-width: 240px;
      @include desktop {
        max-width: 420px !important;
      }
    }
    .title {
      font-size: 26px;
      font-weight: bold;
      @include desktop {
        font-size: 45px;
      }
      @include r_tablet {
        font-size: 30px;
      }
    }
    .subtitle {
      font-size: 14px;
      font-weight: normal !important;
      margin-top: 15px !important;
      @include desktop {
        font-size: 16px;
      }
    }
    .btn_wrapper {
      margin-top: 15px !important;
      a {
        color: $color-light-blue-new;
        font-weight: 600;
        font-size: 14px;
        svg path {
          fill: $color-light-blue-new;
        }
      }
    }
  }
}

#shopify-section-custom-hero-banner-page-our-story,
#shopify-section-custom-hero-banner-page-affiliate,
#shopify-section-custom-hero-banner-page-press {
  .container {
    max-width: unset;
    padding-left: 15px;
    padding-right: 15px;
    @include desktop {
      padding-left: 45px;
      padding-right: 45px;
    }
    @include tablet {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .banner_info {
    max-width: 350px;
    &.left {
      left: 15px;
    }
    &.right {
      right: 15px;
    }
    .title {
      line-height: 1.4;
    }
    @include mobile {
      &.mob-center {
        left: 50%;
      }
    }
  }
  .hero__banner {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
  }
}


#shopify-section-custom-hero-banner-page-our-story {
  .banner_info {
    max-width: 400px;
    @include desktop {
      left: 160px !important;
    }
    @include mobile {
      left: 15% !important;
      top: 50px !important;
      width: 70%;
      transform: unset !important;
    }
  }
  .banner_info .title {
    line-height: 1.3;
    @include desktop {
      font-size: 28px !important;
    }
    @include mobile {
      font-size: 24px !important;
    }
  }  
  img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

#shopify-section-custom-logo-list-page-our-story {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


#shopify-section-custom-hero-banner-page-affiliate {
  .banner_info {
    max-width: 400px;
  }
}
