.hero-container {
  display: block;
  @include desktop {
    display: flex;
  }
}
.hero {
  flex: 1;
  min-width: 50%;
  position: relative;
  background: $color-hero-bg;
}
.hero__container {
  // max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 45px;
  width: 100%;
}
.hero__info-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  @include desktop {
    left: calc(50% - 1200px / 2);
    right: calc(50% - 1200px / 2);
  }
  &.m-half.m-index-1 {
    width: auto;
    left: calc(100% - #{$container-l}/2);
    right: 0;
  }
  &.m-half.m-index-2 {
    width: auto;
    left: 0;
    right: calc(100% - #{$container-l}/2);
  }
}
.hero__info {
  max-width: 100%;
  padding: 0 $gutter;
  position: absolute;
  z-index: 1;
  color: $color-hero;
  @include desktop {
    max-width: 60%;
  }
  .pretitle {
    color: $color-green;
    font-weight: bold;
  }
  &.m-white {
    color: $color-white;
    .pretitle {
      color: $color-white
    }
  }

  $margin-desktop: 50px;
  $margin-mobile: 30px;

  &.mobile_top-left {
    text-align: left;
    top: $margin-mobile;
    left: 0px;
    right: auto;
    transform: none;     
  }

  @include desktop {
    &.top-left {
      text-align: left !important;
      top: $margin-desktop !important;
      left: 0px !important;
      right: auto !important;
      transform: none !important; 
    }
  }

  &.mobile_top-center {
    text-align: center;        
    margin: auto;
    top: $margin-mobile;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }

  @include desktop {
    &.top-center {
      text-align: center !important; 
      margin: auto !important;
      top: $margin-desktop !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
    }
  }

  &.mobile_top-right {
    text-align: right;        
    left: auto;
    right: 0px;
    top: $margin-mobile;
  }

  @include desktop {
    &.top-right {
      text-align: right !important; 
      left: auto !important;
      right: 0px !important;
      top: $margin-desktop !important;
    }
  }

  &.mobile_middle-left {
    text-align: left;        
    // left: $margin-mobile;
    left: 0px;
    right: auto;
    transform: translateY(-50%);
    top: 50%;
  }

  @include desktop {
    &.middle-left {
      text-align: left !important;
      left: 0px !important;
      right: auto;
      transform: translateY(-50%) !important;
      top: 50% !important;
    }
  }

  &.mobile_middle-center {
    text-align: center;        
    left: 50%;         
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @include desktop {
    &.middle-center {
      text-align: center !important;
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%, -50%) !important;
    }
  }

  &.mobile_middle-right {
      text-align: right;        
      left: auto;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);      
  }

  @include desktop {
    &.middle-right {
      text-align: right !important;
      left: auto !important;
      right: 0px !important;
      top: 50% !important;
      transform: translateY(-50%) !important;
    }
  }

  &.mobile_bottom-left {
    text-align: left;        
    left: 0px;
    right: auto;
    bottom: $margin-mobile;
    top: auto;
    transform: none;   
  }   

  @include desktop {
    &.bottom-left {
      text-align: left !important;
      left: 0px !important;
      right: auto !important;
      bottom: $margin-desktop !important;
      top: auto !important;
      transform: none !important; 
    }
  }

  &.mobile_bottom-center {
    text-align: center;        
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    bottom: $margin-mobile;      
    top: auto;
  }

  
  @include desktop {
    &.bottom-center {
      text-align: center !important;     
      left: 50% !important;
      transform: translateX(-50%) !important;
      right: auto !important;
      bottom: $margin-desktop !important;      
      top: auto !important;
    }
  }

  &.mobile_bottom-right {
    text-align: right;        
    left: auto;
    right: 0px;
    bottom: $margin-mobile;
    top: auto;
    transform: none;
  }
  
  @include desktop {
    &.bottom-right {
      text-align: right !important;   
      left: auto !important;
      right: 0px !important;
      bottom: $margin-desktop !important;
      top: auto !important;
      transform: none !important;
    }
  }
}

.hero__title,
.hero__text {
  color: inherit;
}
.hero__title {
  color: inherit;
  font-size: 24px;
  .pretitle + & {
    margin-top: 0.33em;
  }
  +.subtitle {
    font-size: $fz-6;
    max-width: 100%;
    margin-top: $gutter;
    @include desktop {
      font-size: 16px;
    }
  }
}
.hero__text {
  margin-top: 1.5em;
  font-size: 1.75vw;
  line-height: 1.25;
  p {
    margin-bottom: 0;
  }
  p+p {
    margin-top: 0;
  }
}

.hero__img {
  text-align: right;
  position: relative;
  margin-left: auto;
  z-index: 0;

}

.hero.m-blog {
  min-height: 0;
  height: auto;
  .hero__img {
    padding: 0;
  }
  .hero__title {
    font-size: $fz-title;
  }
  .hero__info {
    display: block;
    height: auto;
    position: static;
    text-align: center;
    transform: none;
  }
}

.hero__btn {
  a.btn {
    border-radius: 18px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px !important;
    width: 140px;
    height: 35px;
    line-height: 34px;
    &.m-green {
      background: $color-green;
      color: #FFFFFF;
    }
  }
}

.hero__container {
  .hero__title {
    &.m-large {
      font-weight: bold !important;
      line-height: 1.15;
    }
  }

  .pretitle {
    margin-top: 25px;
  }

  .subtitle {
    font-size: 24px;
    font-weight: bold;
  }
}

body.template-index {
  .hero__info {
    @include desktop {
      max-width: 520px;
    }
  }
}