.shopify-section.icon-list {
  .btn_wrapper {
    text-align: center;
    @include desktop {
      margin-top: 25px;
    }
    @include mobile {
      margin-bottom: 30px;
      transform: translateY(-10px);
    }
    a {
      color: $color-light-blue-new;
      font-size: 16px;
      font-weight: bold;
    }
    svg {
      transform: rotate(-90deg);
    }
    svg path {
      fill: $color-light-blue-new;
    }
    a:hover {
      color: $color-light-blue-new;
      svg path {
        fill: $color-light-blue-new;
      }
    }
  }
  .main_wrapper {
    flex-wrap: wrap;
    justify-content: center;
    @include desktop {
      display: flex;
      justify-content: space-between;
      &.center-align {
        justify-content: center;
        .list-item {
          margin-left: 45px;
          margin-right: 45px;
        }
      }
    }
    .list-item {
      // max-width: 50%;
      // min-width: 50%;
      margin-top: 30px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      &:first-child {
        margin-top: 0px;
      }
      @include desktop {
        margin-top: unset;
        max-width: calc(20% - 30px);
        min-width: calc(20% - 30px);
        padding-left: 0px;
        padding-right: 0px;
      }
      @include tablet {
        margin-top: 15px !important;
        max-width: 500px;
        min-width: unset;
      }
      @media (min-width: 768px) and (max-width: 1200px) {
        max-width: 50%;
      }
      .icon_wrapper {
        svg {
          max-width: 50px;
          @include desktop {
            max-width: unset;
          }
        }
      }
      .icon_title {
        color: $color-subtitle;
        font-family: FinancierDisplay;
        font-size: 26px;
        margin-top: 10px;
        @include desktop {
          // font-size: 32px;
          margin-top: 20px;
        }
      }
      .icon_text {
        color: $color-dark-green;
        font-family: TWKEverett;
        font-size: 14px;
        line-height: 1.36;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  .list-slider.mobile {
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    @include desktop {
      display: flex;
      margin-top: 60px;
      margin-left: unset;
      margin-right: unset;
      overflow: unset;
    }
    @include s_r_tablet {
      overflow: hidden;
    }
    

    .m-scroll {
      display: flex;
      position: relative;
      width: 800px;
      height: 200px;
      margin: auto;
      overflow: hidden;
      z-index: 1;
    
      &__title {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      transition: all 1s ease;
      & > div {
          display: flex;
          animation: scrollText 33s infinite linear;
        }
      }
      .list-item  {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 240px;
        .icon_text {
          p {
            white-space: break-spaces;
          }
        }
        .text_wrapper {
          text-align: center;
          .icon_title {
            font-size: 16px;
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 5px;
          }
          .icon_text {
            font-size: 14px;
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  
    /*div:hover {
      animation-play-state: paused;
    }*/
    @keyframes scrollText {
      from   { transform: translateX(0%); }
      to { transform: translateX(-50%); }
    }

  }

  .slick-dots {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

body.template-index {
  .shopify-section.icon-list {
    @include desktop {
      margin-top: -25px;
    }
  }
}

body.template-page-plan-explore , body.template-page-plan-fit, body.template-page-plan-switch {
  .shopify-section.icon-list {
    .btn_wrapper {
      display: none !important;
    }
  }
}