.shopify-section.icon-card-block {
  .content_wrapper.d-flex {
    flex-wrap: wrap;
    margin-left: -60px;
    margin-right: -60px;
    @include tablet {
      margin-left: unset;
      margin-right: unset;
    }
    @include mobile {
      margin-left: unset;
      margin-right: unset;
    }
    .icon-card-item {
      max-width: calc(100% / 3);
      min-width: calc(100% / 3);
      margin-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
      @include tablet {
        max-width: 50%;
        min-width: 50%;
      }
      @include mobile {
        border: 1px solid #d8d8d8;
        border-radius: 5px;
        max-width: 100%;
        min-width: 100%;
        margin-top: 10px;
        &.hidden--item {
          display: none;
          &.visible {
            display: block;
          }
        }
      }
      .item_wrapper {
        border: 1px solid #d8d8d8;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0 auto;
        padding: 20px;
        @include mobile {
          border: none;
          padding: 15px;
        }
      }
      .image_wrapper {
        display: flex;
        align-items: center;
        height: 90px;
        @include mobile {
          height: 60px;
        }
      }
      .text {
        color: $color-dark-green;
        font-size: 16px;
        flex: 1;
        @include mobile {
          font-size: 14px;
        }
        p {
          margin: 0px;
        }
      }
      .btn_wrapper {
        margin-top: 30px;
        @include mobile {
          margin-top: 5px;
        }
        a {
          color: $color-light-blue-new;
          font-weight: 700;
          text-decoration: none;
          opacity: 1!important;
          @include mobile {
            font-size: 14px;
          }
        }
      }
    }
  }
  .btn_more {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    span {
      color: $color-light-blue-new;
      font-size: 14px;
      font-weight: 600;
      &.text_less {
        display: none;
      }
    }
    &.active {
      svg {
        transform: rotateX(180deg);
      }
      span.text_more {
        display: none;
      }
      span.text_less {
        display: unset;
      }
    }
    svg {
      fill: $color-light-blue-new;
      width: 14px;
      height: auto;
      margin-left: 5px;
    }
  }
}