.shopify-section.icon-text-grid {
  .section_header {
    text-align: center;
    .subtitle {
      color: $color-text;
      font-size: 16px;
      line-height: 1.25;
      max-width: 840px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      text-align: center;
      @include r_tablet {
        max-width: 640px;
      }
    }
  }
  .block-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    @include desktop {
      margin-top: 90px;
    }
    @include s_r_tablet {
      margin-top: 150px;
    }
  }
  .grid-item {
    margin: 45px 30px;
    text-align: center;
    @include desktop {
      margin: 0 30px;
      max-width: 500px;
    }
    @include r_tablet {
      margin: 30px;
    }
    .icon_wrapper {
      margin-left: auto;
      margin-right: auto;
      width: 240px;
    }
    .text_wrapper {
      margin-top: 30px;
      .item_title {
        color: #53585a;
        font-size: 16px;
        font-weight: bold;
      }
      .item_text {
        color: #53585a;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 12px;
      }
    }
  }
}

body.template-page-choose-plan {
  .shopify-section.icon-text-grid {
    @include desktop {
      margin-top: -240px;
    }
  }
}