.shopify-section.image-with-text-block {
  .main_wrapper {
    @include desktop {
      display: flex;
    }
    .title {
      max-width: 200px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .text-block {
      flex-direction: column;
      // justify-content: space-between;
      @include desktop {
        display: flex;
        max-width: calc(56% - 15px);
        min-width: calc(56% - 15px);
        margin-right: 15px;
      }
      @include r_tablet {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 0px;
        min-width: 100%;
        max-width: 100%;
      }
      .block_item {
        border: 1px solid #e6edee;
        border-radius: 20px;
        flex-direction: column;
        padding: 25px;
        @include desktop {
          // box-shadow:  -10px 2px 15px 0 rgba(0, 0, 0, 0.05);
          flex-direction: unset;
          // height: calc(50% - 25px);
        }
        @include r_tablet {
          min-width: calc(50% - 5px);
          max-width: calc(50% - 5px);
          height: unset;
        }
        .icon_wrapper {
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          min-width: 100px;
          max-width: 100px;
          height: 100%;
          overflow: hidden;
          // .rimage {
          //   width: 100%;
          //   height: 100%;
          //   object-fit: cover;
          //   object-position: center;
          // }
        }
        .text_wrapper {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          flex: 1;
          flex-direction: column;
          justify-content: space-between;
          padding: 0px;
          @include desktop {
            padding: 0 20px 0 40px;
          }
          .text p {
            color: $color-dark-green;
            font-family: $fs-t;
            font-size: 24px;
            @include desktop {
              font-size: 28px;
              line-height: 1.3;
            }
          }

          .subtitle {
            margin-top: 35px;
          }

          .subtitle p {
            color: $color-dark-green;
            font-size: 16px;
            strong {
              color: $color-subtitle;
              font-weight: normal;
            }
          }
        }
      }
      .block_item:first-child {
        margin-bottom: 20px;
      }
    }
    .image_wrapper {
      display: flex;
      max-width: 44%;
      min-width: 44%;
      position: relative;
      img {
        border-radius: 20px;
      }
      .btn_wrapper {
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        a {
          font-weight: 700;
          width: 140px;
          height: 45px;
        }
      }
    }
    .slick-list.draggable {
      display: flex;
      .slick-track {
        display: flex;
      }
      .slick-slide {
        & > div {
          height: 100%;
          .block_item {
            height: 100%;
            .icon_wrapper {
              height: auto;
              width: 100px;
              min-width: unset;
              margin-left: auto;
              margin-right: auto;
              transform: translateY(50%);
            }
            .text_wrapper {
              padding-top: 75px;
              @include desktop {
                background: #f8fbfd;
              }
              .text {
                font-size: 16px;
                text-align: center;
              }
              .subtitle {
                font-size: 14px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}


.shopify-section.image-with-text-block-second {
  .block_wrapper {
    .block {
      margin-bottom: 100px;
      @include mobile {
        flex-direction: column !important;
        margin-bottom: 75px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
      &.reverse {
        flex-direction: row-reverse;
        .text_wrapper {
          padding-left: 0px !important;
          padding-right: 75px;
        }
      }
      .image_wrapper {
        min-width: 58%;
        max-width: 58%;
        @include tablet {
          min-width: 50%;
          max-width: 50%;
        }
        @include mobile {
          min-width: 100%;
          max-width: 100%;
        }
      }
      .text_wrapper {
        min-width: 42%;
        max-width: 42%;
        padding-left: 75px;
        padding-top: 90px;
        @include tablet {
          min-width: 50%;
          max-width: 50%;
          padding-top: 0px;
          padding-left: 30px;
        }
        @include mobile {
          min-width: 100%;
          max-width: 100%;
          text-align: center;
          padding-left: 10px !important;
          padding-right: 10px !important;
          padding-top: 30px;
        }
        .block_title {
          color: $color-dark-green;
          font-family: $fs-t;
          font-size: 48px;
          line-height: 1.18;
          margin-bottom: 20px;
          @include mobile {
            font-size: 34px;
            padding-left: 15px;
            padding-right: 15px;
          }
        }
        .block_text {
          color: $color-dark-green;
          p {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

body.template-index {
  .shopify-section.image-with-text-block {
    @include desktop {
      .image_wrapper {
        .title {
          color: #85d0ab;
          line-height: 1.13;
          max-width: 280px;
          left: 45px;
          text-align: left;
          top: 45px;
          position: absolute;
          z-index: 1;
        }
      }
    }
  }
}