.shopify-section.image-text-grid {
  .section_header {
    text-align: center;
    .icon {
      margin-left: auto;
      margin-right: auto;
      width: 160px;
    }
    .subtitle {
      color: $color-dark-green;
      line-height: 1.5;
      max-width: 760px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
      @include desktop {
        padding-left: 0px;
        padding-right: 0px;
      }
      @include s_r_tablet {
        max-width: 600px;
      }
    }
  }
  .grid-wrapper {
    justify-content: center;
    margin-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    @include desktop {
      display: flex;
      padding-left: 45px;
      padding-right: 45px;
    }
    @include s_r_tablet {
      padding-left: 0px;
      padding-right: 0px;
    }
    .image-text-grid-item {
      text-align: center;
      @include desktop {
        min-width: calc(100% / 3);
        max-width: calc(100% / 3);
        padding-left: 45px;
        padding-right: 45px;
      }
      @include s_r_tablet {
        padding-left: 10px;
        padding-right: 10px;
      }
      .text_wrapper {
        margin-top: 20px;
      }
      .item_title {
        color: $color-subtitle;
        font-family: $fs-t;
        font-size: 32px;
        margin-bottom: 6px;
        @include s_r_tablet {
          font-size: 19px;
        }
      }
      .item_text {
        color: $color-dark-green;
        font-size: 14px;
        line-height: 1.44;
        @include s_r_tablet {
          font-size: 14px;
        }
      }
    }
  }
}