.shopify-section.image-with-text-list-second {
  .main_wrapper {
    @include mobile {
      flex-direction: column;
    }
    .image_wrapper {
      min-width: 58%;
      max-width: 58%;
      @include tablet {
        min-width: 50%;
        max-width: 50%;
      }
      @include mobile {
        min-width: 100%;
        max-width: 100%;
      }
    }
    .text_wrapper {
      min-width: 42%;
      max-width: 42%;
      padding-left: 70px;
      padding-top: 60px;
      @include tablet {
        min-width: 50%;
        max-width: 50%;
        padding-left: 30px;
        padding-top: 30px;
      }
      @include mobile {
        min-width: 100%;
        max-width: 100%;
        padding-left: 0px;
        padding-top: 20px;
      }
      .title {
        color: $color-dark-green;
        font-size: 48px;
        font-family: $fs-t;
        font-weight: 500;
        @include tablet {
          font-size: 34px;
        }
        @include mobile {
          font-size: 34px;
          margin-bottom: 15px;
        }
      }
    }
    .text-list {
      .list {
        color: $color-dark-green;
        font-family: $fs-stb;
        font-size: 15px;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 10px;
        svg {
          stroke: $color-subtitle;
          stroke-width: 10px;
          min-width: 15px;
          margin-right: 8px;
        }
      }
    }
  }
}