.shopify-section.image-slider {
  .main_wrapper {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .icon_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 160px;
  }
  .title {
    text-align: center;
    @include s_r_tablet {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .subtitle {
    color: #666;
    font-size: 16px;
    line-height: 1.44;
    margin-top: 15px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    text-align: center;
    @include s_r_tablet {
      max-width: 540px;
    }
  }
  .item_title {
    font-size: 34px;
    line-height: 1.16;
    margin-bottom: 45px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    @include desktop {
      font-size: 45px;
      padding-left: 0px;
      padding-right: 0px;
    }
    @include tablet {
      font-size: 34px;
    }
    @include s_r_tablet {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  button.slick-arrow {
    display: none !important;
    margin-top: 33px;
    @include desktop {
      display: block !important;
    }
    @include s_r_tablet {
      display: none !important;
    }
    &.slick-prev {
      margin-left: -90px;
      @include r_tablet {
        margin-left: -60px;
      }
    }
    &.slick-next {
      margin-right: -90px;
      @include r_tablet {
        margin-right: -60px;
      }
    }
  }
  ul.slick-dots {
    // transform: translateY(50px);
  }
}

.slider-controls {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  [data-hor-slider-prev] {
    left: 0px;
  }
  [data-hor-slider-next] {
    right: 0px;
  }
  [data-hor-slider-prev], [data-hor-slider-next] {
    background: unset !important;
    width: 58px;
    height: 58px;
    padding: 0px;
    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

body.template-page-choose-plan {
  .shopify-section.image-slider {
    position: relative;
    z-index: 2;
  }
  button.slick-arrow {
    margin-top: 0px !important;
  }
}
