.shopify-section.instagram-section {
  .title {
    text-align: center;
  }
  .subtitle {
    color: $color-green;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  .instagram-slider {
    margin-top: 75px;
    .slider-item {
      max-width: 350px;
      min-width: 350px;
      padding: 0 15px;
      .text_wrapper {
        padding: 15px 20px;
      }
      .item_title {
        color: $color-text;
        font-size: 16px;
        font-weight: bold;
      }
      .item_text {
        color: $color-text;
        font-size: 14px;
        line-height: 1.3;
        margin-top: 10px;
        p {
          margin: 0px;
          min-height: 10px;
        }
      }
    }

    .slick-list.draggable {
      display: flex;
      .slick-track {
        display: flex;
        .slick-slide {
          & > div {
            height: 100%;
            .slider-item {
              display: flex !important;
              flex-direction: column;
              height: 100%;
              .text_wrapper {
                border: 1px solid #dcdcdc;
                flex: 1;
              }
            }
          }
        }
      }
    }

    .slick-arrow {
      background: none;
      width: 70px;
      height: 70px;
      padding: 0px;
      opacity: 1;
      svg {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
      }
      &.slick-next {
        right: 45px;
      }
      &.slick-prev {
        left: 45px;
        svg {
          transform: rotateY(180deg);
        }
      }
    }
  }
}