.shopify-section.logo-list {
  max-width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    max-width: calc(100% - 90px);
  }
  @include tablet {
    max-width: calc(100% - 30px);
  }
  .main_wrapper {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    @include desktop {
      display: flex;
    }
    @include s_r_tablet {
      display: block;
    }
    .slick-list.draggable {
      // padding-right: 50px !important;
      @include s_r_tablet {
        padding-right: 0px !important;
      }
    }
    @include mobile {
      .slick-list.draggable {
        display: flex;
      }
      .slick-track {
        display: flex;
      }
      .slick-track .slick-slide {
        height: 100%;
        & > div {
          height: 100%;
        }
      }
    }
    .logo_list_item {
      display: flex !important;
      align-items: center;
      height: inherit;
      flex-direction: column;
      justify-content: flex-end;
      text-align: center;

      opacity: 0;
      transform: translateY(30px);
      transition-property: all;

      max-width: 100%;
      min-width: 100%;
      padding-left: 10px;
      padding-right: 10px;

      @include desktop {
        min-width: 25%;
        max-width: 25%;
        padding-left: 35px;
        padding-right: 35px;
      }
      @include r_tablet {
        padding-left: 10px;
        padding-right: 10px;
      }

      @include s_r_tablet {
        min-width: unset;
        max-width: unset;
        padding-left: 30px;
        padding-right: 30px;
      }

      .icon_wrapper {
        display: flex;
        height: 30px;
        margin-top: 15px;
        margin-bottom: 10px;
        justify-content: center;
        svg {
          height: 100%;
          width: auto;
        }
        svg path {
          fill: #08aa5c;
        }
        @include desktop {
          height: 25px;
          justify-content: flex-end;
        }
        @include s_r_tablet {
          justify-content: center;
        }
      }
      .text_wrapper {
        color: $color-dark-green;
        flex: 1;
        p {
          font-family: $fs-t;
          font-size: 19px;
          line-height: 1.13;
          margin: 0px;
          @include desktop {
            font-size: 24px;
          }
        }
      }
    }
    &.pre-active {
      [data-animate-index] {
        opacity: 1;
        transform: unset;
      }
      [data-animate-index='1'] {
        transition-duration: 0.4s;
      }
      [data-animate-index='2'] {
        transition-delay: 0.1s;
        transition-duration: 0.5s;
      }
      [data-animate-index='3'] {
        transition-delay: 0.2s;
        transition-duration: 0.6s
      }
      [data-animate-index='4'] {
        transition-delay: 0.3s;
        transition-duration: 0.7s;
      }
    } 
  }
}

body.template-product {
  .shopify-section.logo-list {
    max-width: 100%;
  }
}

body.template-index {
  .shopify-section.logo-list {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

