#shopify-section-custom-menu-category {
  .title {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-size: 34px;
    font-weight: 500;
    text-align: center;
  }
  .subtitle {
    color: $color-dark-green;
    font-size: 16px;
    line-height: 1.25;
    max-width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .categories {
    margin-top: 30px;
    text-align: center;
    .category {
      a {
        background: $color-dark-green;
        border: 2px solid transparent;
        border-radius: 3px;
        color: $color-light-green;
        display: inline-block;
        font-size: 16px;
        letter-spacing: 0.48px;
        line-height: 1.25;
        margin: 8px 0;
        padding: 8px 10px;
        width: 300px;
        opacity: 1 !important;
        &:hover {
          background: transparent;
          border-color: $color-dark-green;
          color: $color-dark-green;
        }
      }
    }
  }
}