.newsletter {
  margin-left: 15px;
  margin-right: 15px;
  // background: #97d700;
  @include tablet {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include mobile {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container_wrapper {
    // background: $color-new-green;
    background: $color-light-green;
    // border-bottom: 1px solid #dfe3e8;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
    @include mobile {
      align-items: flex-start;
      border-bottom: none;
      padding: 30px 15px;
      text-align: left !important;
    }
    @include tablet {
      // flex-direction: column;
      text-align: center;
    }
    @include mobile {
      flex-direction: column;
    }
    & > div {
      // min-width: 50%;
      // max-width: 50%;
      @include tablet {
        text-align: left;
        // min-width: 100%;
        // max-width: 100%;
      }
    }
    .form-field {
      @include mobile {
        width: 100%;
      }
    }
  }
  .title p {
    color: #031f24;
    font-family: $fs-t;
    font-size: 34px;
    @include desktop {
      font-size: 40px;
    }
    @media (max-width: 1200px) {
      line-height: 1;
    }
  }
  .title {
    margin: 0;
    @include tablet {
      font-size: 18px;
      // font-weight: normal;
      margin-bottom: 20px;
    }
    @include mobile {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
  .pretitle {
    color: $color-button-text;
    font-size: 16px;
    @include mobile {
      color: #323335;
      text-transform: none;
      font-stretch: normal;
      letter-spacing: initial;
      line-height: 1.38;
    }
  }
  .pretitle p {
    color: #014550;
    font-size: 18px;
    font-family: $fs-stb;
    @include desktop {
      font-size: 18px;
    }
  }
  .form-field {
    flex: 1;
    padding-left: 30px;
    display: flex;
    align-items: center;
    // padding-left: 160px;
    margin-left: auto;
    max-width: 540px;
    position: relative;
    @include tablet {
      min-width: 480px !important;
      max-width: 480px !important;
      margin-top: 15px;
      padding-left: 0px;
    }
    @include mobile {
      min-width: unset !important;
      max-width: unset !important;
    }
  }
  .input {
    height: 45px;
    flex: 1;
    background: #fff;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    padding: 0 $gutter;
    width: 340px;
    @include placeholder {
      color: $color-body;
    }
    @include mobile {
      border-width: 1px;
      max-width: calc(100% - 100px);
    }
    &::-webkit-input-placeholder {
      color: $color-dark-green;
    }
  }
  .btn {
    // background: $color-green;
    // background: $color-black;
    border-radius: 20px !important; 
    // color: #fff !important;
    // color: #FFF !important;
    height: 45px !important;
    // font-weight: bold !important;
    font-size: 18px !important;
    font-stretch: normal;
    letter-spacing: 1px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    transition: all .3s ease;
    @include mobile {
      font-size: 16px !important;
      height: 45px !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}


@include mobile {
  .newsletter {
    .container {
      display: block;
    }
    .form-field {
      justify-content: space-between;
      margin-top: 20px;
    }
    .input {
      width: auto;
      flex: 1;
      font-size: 14px;
    }
    .btn {
      letter-spacing: initial !important;
    }
  }
}

.site-header-container.is-scrolled {
  .sticky-newsletter {
  transform: translateY(-100%);
  }  
}

.sticky-newsletter {
  background: #FFF;
  box-shadow: 0 4px 11px 0 #0000000d;
  left: 0px;
  width: 100%;
  position: fixed;
  top: 100%;
  // transform: translateY(-100%);
  transform: unset;
  transition: all .3s ease;
  z-index: -2;

  &.closed {
    transform: translateY(-100%) !important;
  }

  .container {
    position: relative;
  }

  form.newsletter {
    background: #FFF;
    padding: 0px;
    .container div {
      min-width: unset;
      max-width: unset;
    }
  }

  input[type='text'] {
    border: 1px solid #c4cad1;
    border-radius: 5px;
    height: 40px;
    &::-webkit-input-placeholder {
      color: #707070;
    }
    @include desktop {
      width: 400px;
    }
  }

  button {
    background: #117cc0 !important;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 14px !important;
    height: 40px;
    letter-spacing: 1px;
    margin-left: 10px;
    min-width: unset;
    padding-left: 15px;
    padding-right: 15px;
  }

  .sticky-newsletter-close {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    right: 15px;
    position: absolute;
    transition: all .3s ease;
    &:hover {
      opacity: .7;
    }
    svg {
      margin-left: 5px;
      width: 16px;
      height: auto;
    }
  }

}

.sticky-newsletter-wrapper {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  .heading {
    font-size: 14px;
    font-weight: 600;
    max-width: 200px;
    @include desktop {
      margin-right: 30px;
    }
  }
}

#shopify-section-ea-newsletter {
  @include mobile {
    margin-bottom: 15px;
  }
}