.shopify-section.guarantee {
  .title {
    color: $color-grey;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
  .content_wrapper {
    margin-top: 60px;
    @include tablet {
      margin-top: 40px;
    }
  }
  .content_wrapper {
    @include tablet {
      flex-direction: column;
    }
  }
  .guarantee_item {
    font-size: 18px;
    min-width: calc(100% / 3);
    max-width: calc(100% / 3);
    @include tablet {
      justify-content: center;
      margin-top: 15px;
      margin-bottom: 15px;
      min-width: 100%;
      max-width: 100%;
      .icon_wrapper {
        min-width: 60px;
        max-width: 60px;
      }
    }
    @include mobile {
      padding-left: 10px;
    }
    .item_title {
      color: $color-grey;
      font-size: 18px;
      font-weight: bold;
    }
    .item_content {
      color: $color-grey;
      p {
        margin-bottom: 0px;
      }
    }
    .text_wrapper {
      max-width: 300px;
      padding-left: 25px;
      @include tablet {
        max-width: 450px;
      }
    }
  }
}

