.shopify-section.pre-order, .pre-order-wrapper {
  .main_wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .section_title {
    font-size: 16px;
    font-weight: bold;
  }

  .pre-order-block {
    background: #f8fbfd;
    border-radius: 5px;
    border: 1px solid #b1b1b1;
    // box-shadow: 0 -6px 14px 0 #0000000f;
    margin-top: 15px;
    // margin-bottom: -100px;
    padding: 15px;
    position: relative;
    @include desktop {
      padding: 15px 30px;
    }
    .block-title {
      justify-content: space-between;
      font-size: 14px;
      font-weight: bold;
      div:last-child {
        flex: 1;
        min-width: 85px;
        text-align: right;
        @include desktop {
          min-width: unset;
        }
      }
    }
    .block-text {
      color: #666666;
      font-size: 14px;
      margin-top: 5px;
      p {
        margin: 0px;
      }
    }
    .progress {
      align-items: center;
      margin-top: 18px;
      .progress-bar {
        background: #f7f4f0;
        border: 1px solid #323335;
        border-radius: 12px;
        height: 18px;
        flex: 1;
        margin-right: 10px;
        position: relative;
        @include desktop {
          height: 25px;
        }
        span {
          background-image: linear-gradient(to bottom, #6dbf00, #8fde00);;
          border: 1px solid #323335;
          border-radius: 12px;
          font-size: 12px;
          line-height: 18px;
          left: -1px;
          top: -1px;
          position: absolute;
          height: calc(100% + 2px);
          text-align: center;
          @include desktop {
            font-size: 14px;
            line-height: 25px;
          }
        }
      }
    }
    .progress-label {
      font-size: 12px;
      font-weight: 500;
      justify-content: space-between;
      margin-top: 8px;
      padding-right: 30px;
    }
  }
}