.shopify-section.product-grid {
  .product-grid-wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
    // margin-left: -15px;
    // margin-right: -15px;
    @include desktop {
      margin-left: unset;
      margin-right: unset;
    }
    .product-grid-item {
      cursor: pointer;
      max-width: 100%;
      min-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      transition: all .3s ease;
      @include desktop {
        padding-left: 0px;
        padding-right: 0px;
      }
      @include mobile {
        margin-top: 8px;
        margin-bottom: 8px;
      }
      &:hover {
        @include desktop {
          box-shadow: 0 10px 20px #00000026;
          transform: translateY(-3px);
        }
      }
    }
    @include desktop {
      &.grid-column-2 {
        .product-grid-item {
          max-width: calc(50% - 30px);
          min-width: calc(50% - 30px);
        }
      }
      &.grid-column-3 {
        .product-grid-item {
          max-width: calc(100% / 3 - 15px);
          min-width: calc(100% / 3 - 15px);
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }
    @include s_r_tablet {
      &.grid-column-2 {
        .product-grid-item {
          max-width: calc(50% - 10px);
          min-width: calc(50% - 10px);
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
    .product-grid-item {
      // background: #f8fbfd;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 45px;
      padding-bottom: 45px;
      text-align: center;
      &:first-child {
        // background: #f7f4f0;
        @include desktop {
          // background: #f8fbfd;
        }
      }
      &:hover {
        @include desktop {
          // background: #eefad7;
          border-radius: 5px;
        }
      }
      @include desktop {
        border-radius: 5px;
      }
      @include desktop {
        .info_wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .description {
            // display: flex;
            flex: 1;
            // flex-direction: column;
            // justify-content: space-between;
          }
        }
      }
      .info_wrapper {
        flex: 4;
      }
      .title {
        flex: 1;
        font-family: $fs-stb;
        font-size: 34px;
        @include desktop {
          font-size: 1.6rem;
          min-height: 149px;
        }
      }
      .title p {
        font-family: $fs-stb;
        font-size: 34px;
        @include desktop {
          font-size: 40px;
        }
      }
      .title strong {
        border-radius: 5px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: normal;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -5px;
        width: fit-content;
        padding-left: 10px;
        padding-right: 10px;
        @include desktop {
          margin-bottom: -15px;
        }
        @include mobile {
          margin-top: 5px;
        }
      }
      .title sup {
        font-size: 8px;
      }
      .title em {
        color: $color-dark-green;
        font-family: $fs-t;
        font-size: 32px;
      }
      .feature {
        flex: 1;
        font-size: 16px;
        margin-top: 10px;
        p {
          color: $color-dark-green;
          font-family: $fs-stb;
          font-weight: 500;
        }
      }
      .description {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: 1.5;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        p:first-child {
          flex: 1;
        }
        p {
          color: $color-dark-green;
        }
        p:last-child {
          color: $color-light-blue-new;
        }
        em {
          font-size: 14px;
          font-style: normal;
        }
        strong {
          font-family: $fs-stb;
          // font-weight: 500;
        }
      }
      .product_image {
        flex: 2;
        max-width: 65%;
        min-width: 65%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .btn_wrapper.btn-footer {
    margin-top: 30px;
    text-align: center;
    a {
      // color: $color-blue;
      color: $color-link-new;
      font-family: $fs-stb;
      font-weight: 500;
      font-size: 20px;
      text-decoration: underline !important;
      text-underline-position: under;
      // font-weight: bold;
      svg {
        height: auto;
        width: 18px;
      }
      &:hover {
        color: $color-link-hover-new;
      }
    }
  }
}

body.template-collection {
  .shopify-section.product-grid {
    .btn_wrapper.btn-footer {
      // display: none !important;
    }
  }
}