.shopify-section.related-products {
  .title {
    margin-bottom: 30px;
    text-align: center;
  }
  .related-items-slider {
    margin-left: -5px;
    margin-right: -5px;
    @include desktop {
      margin-left: 0px;
      margin-right: 0px;
    }
    * {
      outline: unset;
    }
    .slick-slide {
      padding-left: 5px;
      padding-right: 5px;
      @include desktop {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
    .product_title {
      color: $color-dark-green;
      font-family: $fs-stb;
      font-size: 14px;
      font-weight: 500;
      @include desktop {
        font-size: 16px;
      }
      @include s_r_tablet {
        font-size: 14px;
      }
    }
    .product_feature {
      color: $color-dark-green;
      font-size: 14px;
    }
  }
  .info_wrapper {
    background: #fcfcfc;
    padding: 18px 15px;
  }
  [data-item-variant-selector] {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    font-size: 14px;
    height: 35px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    @include desktop {
      font-size: 16px;
    }
    @include s_r_tablet {
      font-size: 14px;
    }
  }
  .product_atc_form {
    margin-top: 10px;
    select#product-variant-selector {
      color: $color-dark-green;
    }
    .btn_wrapper {
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      button {
        // background: #94c83d;
        border-radius: 100px;
        // color: #FFF;
        font-family: $fs-stb;
        font-size: 14px;
        font-weight: 500;
        min-width: unset;
        width: 50px;
        height: 30px;
        padding: 0px;
        outline: none;
        &[disabled] {
          cursor: not-allowed;
          opacity: .5;
          @include mobile {
            width: 70px;
          }
        }
        @include desktop {
          font-size: 16px;
          width: 140px;
          height: 35px;
        }
        @include s_r_tablet {
          font-size: 14px;
          width: 50px;
          height: 30px;
          span.hide--mobile {
            display: none !important;
          }
        }
      }
      .product_price {
        color: $color-dark-green;
        font-size: 14px;
        font-weight: 500;
        @include desktop {
          font-size: 16px;
        }
      }
    }
  }
  .slick-dots {
    transform: translateY(30px);
  }

  @media (max-width: 767px) {
    .slick-list.draggable {
      display: flex;
      .slick-track {
        display: flex;
      }
      .slick-slide {
        & > div {
          height: 100%;
        }
        .related-product-item {
          height: 100%;
        }
        .product-item {
          height: 100%;
          display: flex;
          flex-direction: column;
          .info_wrapper {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-end;
            .info {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
  
}