.shopify-section.review-carousel {
  [data--hidden] {
    display: none;
  }
  .slick-arrow {
    background: none;
    width: 70px;
    height: 70px;
    padding: 0px;
    opacity: 1;
    svg {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: auto;
      transition: all .3s ease;
    }
    &.slick-next {
      right: 45px;
    }
    &.slick-prev {
      left: 45px;
      svg {
        transform: rotateY(180deg);
      }
    }
    svg circle {
      fill: $color-subtitle;
    }
    &:hover svg circle {
      fill: #046737;
    }
  }
  .section_header {
    .title {
      color: $color-dark-green;
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
      @include s_r_tablet {
        font-size: 30px;
      }
    }
    .subtitle {
      color: $color-subtitle;
      font-family: $fs-stb;
      font-size: 16px;
      margin-top: 10px;
      text-align: center;
      text-decoration: underline;
      @include desktop {
        font-size: 20px;
      }
    }
  }
  .button_wrapper {
    margin-top: 50px;
    text-align: center;
    a {
      border-radius: 30px;
      font-size: 18px;
      font-weight: bold;
      height: 48px;
      width: 320px;
    }
  }
  .review--carousel {
    margin-top: 30px;
    padding-left: 15px;
    position: relative;
    @include tablet {
      padding-left: 0px;
    }
    .slick-list.draggable {
      padding-left: calc(50% - 150px);
      padding-right: calc(50% - 150px);
     
      @include desktop {
        padding-left: 0px !important;
        padding-right: 75px !important;
      }
    }
    .review-item {
      width: 300px !important;
      padding: 0 15px;
      .item_wrapper {
        border: 1px solid #e8e9ed;
        border-radius: 5px;
        cursor: pointer;
        display: block !important;
        overflow: hidden;
        padding-bottom: 15px;
        position: relative;
        // a {
        //   position: absolute;
        //   left: 0px;
        //   top: 0px;
        //   width: 100%;
        //   height: 100%;
        // }
      }
      .image_wrapper {
        position: relative;
        img {
          width: 100%;
        }
        .btn_video {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          svg {
            width: 67px;
            height: auto;
            path {
              fill: #FFF;
            }
          }
        }
      }
      .thumb_wrapper {
        width: 33px;
        img {
          // width: 33px;
        }
      }
      .content_wrapper {
        min-height: 200px;
        padding: 15px;
        padding-bottom: 0px;
        &.read_more {
          // color: $color-subtitle;
          max-height: 200px;
          overflow: hidden;
          // text-decoration: underline;;
          & + .btn_read_more {
            background: #fff;
            color: $color-subtitle;
            display: block;
            padding-left: 5px;
            position: absolute;
            transform: translateY(-100%);
            text-decoration: underline;
            right: 12px;
            &.spacing {
              margin-top: 5px;
            }
            span {
              // color: #81bc00;
              color: $color-button-text;
            }
          }
        }
        
        .info_wrapper {
          align-items: center;
          margin-bottom: 15px;
          .review_title {
            margin-left: 10px;
          }
          .icon_wrapper {
            position: absolute;
            right: 10px;
          }
        }
        .review_star {
          margin-bottom: 8px;
          svg path {
            fill: #038848;
          }
        }
        .review_text {
          p {
            margin-bottom: 0px;
          }
        }
      }
      span.btn_read_more {
        color: $color-subtitle;
        text-decoration: underline;
        text-underline-position: under;
        // display: none;
      }
      .product_link {
        display: none;
      }
    }
  }
  .slider-controls {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    .slick-arrow {
      cursor: pointer;
      width: 69px;
      height: 69px;
      opacity: 1;
      @include mobile {
        display: none !important;
      }
      svg {
        position: absolute;
        left: 0px;
      }
      &.slick-prev {
        left: 20px;
        svg {
          transform: rotateY(180deg); 
        }
      }
      &.slick-next {
        right: 45px;
      }
    }
  }
}

:not(.review-fancybox-container) .review-item .review_text {
  max-height: unset;
}
.review-fancybox-container {
  .fancybox-slide .fancybox-content {
    width: 80% !important;
    height: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px !important;
    position: absolute;
    @include desktop {
      width: 65% !important;
    } 
    .review-item {
      .item_wrapper {
        display: flex;
        @include tablet {
          flex-direction: column;
        }
        @include mobile {
          max-height: 90vh;
          overflow: auto;
        }
        .image_wrapper {
          max-width: 60%;
          min-width: 60%;
          position: relative;
          @include tablet {
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            max-width: 360px;
            min-width: 360px;
          }
          @include mobile {
            margin-top: 0px;
            min-width: 100%;
            max-width: 100%;
          }
          &.video_cover {
            cursor: pointer;
            @include mobile {
              display: flex;
            }
          }
          img {
            width: 100%;
            &.fadeout {
              opacity: 0;
            }
          }
          .btn_video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            svg {
              width: 69px;
              path {
                fill: #FFF;
              }              
            }
          }
          .embed_container[data--hidden] {
            display: block !important;
          }
          .video_container {
            width: 100%;
            height: 0px;
            padding-bottom: 56.25%;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            z-index: -1;
            &.visible {
              z-index: 1;
            }
            * {
              position: absolute;
              width: 100%;
              height: 100%;
            }
          }
        }
        .content_wrapper {
          display: flex;
          flex-direction: column;
          max-width: 40%;
          min-width: 40%;
          padding: 30px 45px;
          position: relative;
          @include tablet {
            max-width: 100%;
            min-width: 100%;
          }
          @include mobile {
            padding: 20px;
          }
          .info_wrapper {
            align-items: center;
            margin-bottom: 25px;
            .thumb_wrapper {
              width: 33px;
            }
            .review_title {
              font-weight: bold;
              margin-left: 10px;
            }
            .icon_wrapper {
              position: absolute;
              right: 30px;
            }
          }
          .review_star {
            svg path {
              fill: $color-subtitle;
            }
            @include tablet {
              margin-bottom: 15px;
            }
          }
          .review_text {
            flex: 1;
            @media (min-width: 1025px) {
              width: calc(100% + 45px);
              position: relative;
              overflow: auto;
              p {
                padding-right: 45px;
                position: absolute;
              }
            }
            @include tablet {
              max-height: 20vh !important;
              overflow: auto;
            }
          }
          .btn_wrapper {
            border-top: 1px solid #ccc;
            padding-top: 30px;
            @include mobile {
              padding-top: 20px;
              a {
                height: 40px;
                line-height:39px;
                font-size: 16px;
              }
            }
          }
        }
        .btn_read_more {
          display: none !important;
        }
      }
      .product_link {
        border-radius: 30px;
        display: flex !important;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        height: 48px;
        line-height: 47px;
      }
    }
  }
  .fancybox-infobar {
    display: none !important;
  }
  [data-fancybox-close] {
    display: block !important;
    svg {
      width: 30px;
      height: auto;
      path {
        fill: #FFF !important;
      }
    }
    @include desktop {
      display: none !important;
    }
  }
  [data-fancybox-prev], [data-fancybox-next] {
    // opacity: 1 !important;
    padding: 0px !important;
    // visibility: visible !important;
    width: 14px !important;
    @include desktop {
      width: 23px !important;
    }
    div {
      background: unset !important;
      padding: 0px !important;
    }
  }
  [data-fancybox-prev] {
    left: 5% !important;
    transform: translateX(-50%);
    @include desktop {
      left: calc(17.5% / 2) !important;
    }
  }
  [data-fancybox-next] {
    right: 5% !important;
    transform: translateX(50%);
    @include desktop {
      right: calc(17.5% / 2) !important;
    }
  }
}