.shopify-section.custom-richtext {
  .title {
    line-height: 1.16;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @include s_r_tablet {
      max-width: 540px;
    }
  }
  .subtitle {
    color: #666;
    font-size: 16px;
    line-height: 1.44;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    @include s_r_tablet {
      max-width: 540px;
    }
    p {
      color: #666;
    }
  }
}


.shopify-section.custom-richtext-second {
  .container {
    @include mobile {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  .title {
    color: $color-dark-green;
    font-family: $fs-t;
    font-size: 48px;
    text-align: center;
    @include mobile {
      font-size: 34px;
    }
  }
  .subtitle {
    color: $color-dark-green;
    max-width: 700px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    p {
      margin: 0;
    }
  }
  .block_wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
    @include mobile {
      display: block;
    }
    .block_item {
      text-align: center;
      .item_title {
        color: $color-subtitle;
        font-family: $fs-stb;
        font-size: 24px;
        font-weight: 500;
        @include mobile {
          font-size: 40px;
        }
      }
      .item_text {
        color: $color-dark-green;
        font-family: $fs-stb;
        font-size: 16px;
        font-weight: 500;
        p {
          margin: 0;
        }
      }
    }
  }
}