.sidenav {
  width: 100%;
  transform: translate(-105%, 0);
  transition: $transition-time;
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  background: #FFF;
  z-index: 998;
  opacity: 0;
  overflow: auto;
  display: flex !important;
  flex-direction: column; 
  body.is-menu-open & {
    transform: translate(0%, 0);
    opacity: 1;
  }
  .nav {
    display: block;
  }
  #shopify-section-ea-megamenu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 0px;
    @include desktop {
      display: block;
      padding-top: 0px;
    }
  }
  .nav__items {
    align-items: flex-start;
    flex-direction: column;
  }
  .nav__item {
    width: 100%;
    flex: 1;
    &.m-level-1 {
      // border-bottom: 1px solid $color-light-grey;
      
    }
  }
  .nav__link {
    padding: 18px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    &.m-icon {
      i {
        font-size: 4px;
      }
    }
    &.accordion__title {
      display: flex;
      justify-content: flex-start;
      padding: $gutter;
      font-weight: 500;
      text-transform: uppercase;
      font-size: $fz-5;
      &:after { display: none; }
      i {
        margin-left: 1em;
        font-size: $fz-5;
      }
    }
    &.m-level-1 {
      
    }
    &.m-level-2 {
      padding: $gutter/2 $gutter;
      text-transform: none;
      font-weight: normal;
      text-align: left;
      color: $color-white;
      font-size: $fz-6;
    }
    &.m-level-3 {
      font-size: $fz-6;
    }
  }
  .accordion {
    .accordion__content {
      padding: 0 $gutter*2;
    }
  }

  span.icon-wrapper {
    display: flex;
    position: relative;
  }
}

.sidenav__topbar {
  background: #323335;
  font-size: 14px;
  padding: 5px 0;
  text-align: center;
  p {
    margin: 0px;
  }
}
.sidenav, .sidenav-bg {
  &.mob_scroll {
    // top: 0px !important;
  }
}
.sidenav__header {
  box-shadow: 0 1px 11px 0 #00000014;
  justify-content: space-between;
  max-height: 50px;
  min-height: 50px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.sidenav__toolbar {
  & > div {
    margin-left: 22px;
  }
  a {
    display: flex;
    flex-direction: column;
    font-size: 8px;
    // width: 50px;
    justify-content: center;
    text-align: center;
    position: relative;
    svg {
      width: auto;
      height: 32px;
    }
  }
  [data-cart-count] {
    background: $color-link-new;
    color: $color-white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-size: 11px;
    justify-content: center;
    width: 16px;
    height: 16px;
    top: -7px;
    right: -4px;
    position: absolute;
  }
}

.sidenav__close {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  padding-left: 0px;
  padding-right: 0px;
  svg {
    width: auto;
    height: 32px;
  }
}

.sidenav-bg {
  z-index: -1;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: $transition-time opacity ease-in-out;
  body.is-menu-open & {
    opacity: 1;
    z-index: 997;
  }
}