.size_guide-wrapper {
  background: #f5f5f5;
  padding: 20px 30px;

  &.is-hidden {
    display: none;
  }
  .size_guide_title {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .size_guide_wrapper {
    @include mobile {
      flex-direction: column;
    }
  }
  .size_guide_item {
    min-width: calc(100% / 3);
    max-width: calc(100% / 3);
    @include mobile {
      min-width: 100%;
      max-width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .item_title {
      color: $color-subtitle;
      font-family: $fs-stb;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .item_content {
      color: $color-dark-green;
      font-size: 14px;
      padding-right: 30px;
      @include mobile {
        padding-right: 0px;
      }
      p {
        margin-bottom: 5px;
        strong {
          font-family: $fs-stb;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }
  .image_wrapper {
    max-width: 100px;
    min-width: 100px;
    @include mobile {
      margin-left: auto;
      margin-right: auto;
    }
  }
}