.section__tech {
  display: none;

}
.shopify-section.tech-specs {
  .section-header {
    .title {
      color: $color-grey;
      font-size: 24px;
      font-weight: 800;
      letter-spacing: 2.4px;
      text-align: center;
    }
  }
  table {
    max-width: 850px;
    min-width: 850px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      min-width: 90%;
      max-width: 90%;
    }
    @include mobile {
      min-width: 100%;
      max-width: 100%;
    }
    tr {
      border-bottom: 1px solid #c5c5c5;
      height: 50px;
      &.is-hidden {
        display: none;
      }
      &:first-child {
        border-top: 1px solid #c5c5c5;
      }
    }
    td {
      font-size: 13px;
      letter-spacing: 0.8px;
      padding: 20px;
      @include mobile {
        padding: 15px;
      }
      &:first-child {
        border-right: 1px solid #c5c5c5;
        width: 180px;
        span {
          display: block;
          font-size: 12px;
          margin-top: 8px;
        }
        @include mobile {
          width: 140px;
        }
      }
      p {
        margin: 0px;
      }
    }
    .spec_color {
      span {
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
    }
  }
  .icons {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    .icon_title {
      color: $color-grey;
      font-size: 18px;
      margin-top: 10px;
      max-width: 170px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .return_tech {
    text-align: center;
    button {
      background: transparent;
      border: none;
      color: $color-link-new;
      font-size: 19px;
      font-weight: 600;
      outline: none;
      svg path {
        fill: $color-link-new;
        transition: all .3s ease;
      }
      &:hover {
        color: $color-link-hover-new;
        svg path {
          fill: $color-link-hover-new;
        }
      }
    }
    &.top {
      margin-bottom: 30px;
    }
    &.bottom {
      margin-top: 60px;
    }
  }
}

body.template-product {
  .shopify-section.tech-specs {
    .section-header .title span {
      display: none;
    }
  }
}