.shopify-section.testimonial-slider {
  .section_header {
    text-align: center;
    .title {
      line-height: 1.16;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .testimonial-slider {
    margin-top: 60px;
    .slick-list.draggable {
      display: flex;
      padding-left: calc(50% - 160px) !important;
      padding-right: calc(50% - 160px) !important;
      @include desktop {
        padding-left: 200px !important;
        padding-right: 200px !important;
      }
      .slick-track {
        display: flex;
        .slick-slide {
          padding-left: 10px;
          padding-right: 10px;
          @include desktop {
            padding: 0 7.5px;
          }
          & > div {
            height: 100%;
          }
        }
      }
    }
    .slick-dots {
      @include desktop {
        transform: translateY(50px);
      }
      @include s_r_tablet {
        transform: translateY(30px);
      }
    }
    .testimonial-item {
      background: #FFF;
      border-radius: 5px;
      height: 100%;
      max-width: 300px;
      min-width: 300px;
      @include desktop {
        max-width: 360px;
        min-width: 360px;
      }
      &.image-item {
        .item_top {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          overflow: hidden;
        }
        .item_bottom {
          border: 1px solid #eee;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      } 
      &.text-item {
        border: 1px solid #e6edee;
        border-radius: 5px;
        display: flex !important;
        flex-direction: column;
        .item_top {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex: 1;
          .wrapper {
            box-sizing: content-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 240px;
            overflow: auto;
            padding: 30px;
            @include desktop {
              max-height: 300px;
              padding: 30px 45px;
            }
            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 2px #00000036;
              border-radius: 10px;
              background-color: #FFFFFF;
            }
            &::-webkit-scrollbar {
              background-color: transparent;
              width: 4px;
              @include desktop {
                width: 8px;
              }
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 50px;
              background-image: linear-gradient(to bottom, $color-dark-green, $color-dark-green);
            }
          }
          .review_star {
            margin-bottom: 30px;
            svg {
              height: auto;
              width: 120px;
            }
            svg path {
              fill: $color-dark-green;
            }
          }
          .text {
            color: $color-dark-green;
            font-size: 14px;
            line-height: 1.53;
            text-align: center;
            p {
              margin: 0px;
            }
          }
          .author {
            margin-top: 20px;
            text-align: center;
            p {
              color: $color-dark-green;
              font-family: $fs-stb;
              font-size: 16px;
              font-weight: 500;
              margin-bottom: 0px;
            }
          }
        }
        .item_bottom {
          // border-top: 1px solid #eeeeee;
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }
      .item_bottom {
        display: flex;
        align-items: center;
        height: 75px;
        padding-left: 15px;
        padding-right: 15px;
        .author {
          color: $color-dark-green;
          font-family: $fs-stb;
          font-size: 16px;
          font-weight: 500;
          margin-left: 12px;
        }
        .item_title {
          color: #666;
          font-weight: 500;
          p {
            margin: 0px;
          }
        }
      }
      .icon_wrapper {
        width: 45px;
      }
    }
  }
}