.text-video-section {
  position: relative;

  .title, .subtitle {
    text-align: center;
    @include desktop {
      text-align: left;
    }
  }
  .video-item {
    padding: 0 105px 105px;
    margin-top: 100px;
    position: relative;
    @include desktop {
      margin-top: 15px;
    }
    &:before {
      @include overlay {
        top: -60px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }
  }
}


.shopify-section.section-video {
  .main_wrapper {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .title {
      line-height: 1.16;
      strong {
        @include desktop {
          display: block;
        }
      }
    }
    .subtitle {
      color: $color-dark-green;
      line-height: 1.44;
      max-width: 450px;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      @include desktop {
        max-width: 600px;
      }
    }
    .video_wrapper {
      margin-top: 35px;
    }
  }
}

.embed-container {
  width: 100%;
  height: 0px;
  padding-bottom: 56.25%;
  position: relative;
  * {
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }
}