.shopify-section.text-with-freeze-image {
  .title.section-title {
    line-height: 1.16;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    text-align: center;
  }
  [data-vertical-slider] {
    .vertical-slide:first-child {
      display: none;      
    }
    .vertical-slide {
      &:nth-child(2) {
        .image_wrapper {
          // padding-top: 75px !important;
          @include desktop {
            padding-top: 30px !important;
          }
        }
      }
      &:last-child {
        .text_wrapper {
          padding-bottom: 75px !important;
          @include desktop {
            padding-bottom: 30px !important;
          }
        }
      }
      &.is-active {
        .image_wrapper, .text_content {
          transform: unset !important;
          opacity: 1 !important;
        }
      }
      .slider-item-wrapper {
        display: flex;
        flex-direction: column-reverse;
        @include desktop {
          flex-direction: unset;
        }
        .image_wrapper img {
          border-radius: 5px;
        }
        .text_wrapper {
          // background: #f7f4f0;
          border-radius: 5px;
          display: flex;
          align-items: center;
          padding: 30px 15px 15px;
          @include desktop {
            max-width: calc(50% - 30px);
            min-width: calc(50% - 30px);
            padding: 30px 0px 30px 120px;
          }
          @include s_r_tablet {
            padding: 15px;
          }
          .item_title {
            color: $color-subtitle;
            font-family: $fs-t;
            font-size: 34px;
            @include desktop {
              font-size: 48px;
            }
          }
          .item_subtitle {
            color: $color-dark-green;
            font-size: 16px;
            font-weight: normal;
            margin-top: 15px;
            p {
              line-height: 1.44;
              margin: 0px;
            }
            @include s_r_tablet {
              display: none;
            }
          }
          .content_list {
            margin-top: 10px;
            .content_list_item {
              margin-top: 15px;
              margin-bottom: 15px;
              @include s_r_tablet {
                margin-top: 10px;
                margin-bottom: 10px;
              }
              svg {
                max-width: 40px;
                height: auto;
              }
              & > div:first-child {
                min-width: 45px;
                max-width: 45px;
                margin-right: 5px;
              }
              & > div:last-child {
                color: $color-dark-green;
                font-family: $fs-stb;
                font-size: 16px;
                @include s_r_tablet {
                  font-size: 14px;
                }
              }
            }
          }
          .text_content {
            flex-direction: column;
            opacity: 0;
            transform: translateY(30px);
            transition: all .3s ease;
            @include desktop {
              max-width: 380px;
            }
          }
          .btn_wrapper {
            a.btn {
              margin-top: 20px;
              @include s_r_tablet {
                margin-top: 10px;
              }
            }
          }
        }
        .image_wrapper {
          // background: #f7f4f0;
          border-radius: 5px;
          overflow: hidden;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 30px;
          opacity: 0;
          transform: translateY(30px);
          transition: all .3s ease;
          @include desktop {
            background: unset;
            min-width: 50%;
            max-width: 50%;
            padding: 30px 0 30px 30px;
          }
        }
      }
    }
    [data-vertical-slide] {
      @include desktop {
        // position: absolute;
        // left: 15px;
        // width: calc(100% - 30px);
        // transition: all .3s ease;
        // top: 150px;
      }
      .slider-item-wrapper {
        @include desktop {
          // opacity: 0;
          // transition: all 1s ease;
          // .text_content {
          //   transition: all 1s ease;
          // }
        }
      }
      &.first {
        width: 100%;
        left: unset;
        position: relative;
        top: 0px;
      }
      &.prev {
        .slider-item-wrapper {
          // .text_content {
          //   @include desktop {
          //     transform: translateY(-30px);
          //   }
          // }
        }
      }
      &.next {
        // transform: translateY(30px);
        .slider-item-wrapper {
          // transform: translateY(30px);
          .text_content {
            @include desktop {
              // transform: translateY(30px);
            }
          }
        }
      }
      &.visible {
        // opacity: 1;
        // transform: unset;
        z-index: 1;
        @include desktop {
          // .slider-item-wrapper {
          //   opacity: 1;
          //   transform: unset;
          //   .text_content {
          //     transform: unset;
          //   }
          // }
        }
      }
    }
  }
}