#shopify-section-holiday-timer {
  .main_wrapper {
    .image_wrapper {
      min-width: 50%;
      width: 50%;
    }
  }

  .timer_wrapper {
    padding: 40px 60px;
  }
  .title {
    font-family: $fs-stb;
    font-weight: 500;
    font-size: 34px;
  }
  .subtitle {
    margin-top: 10px;
  }

  .timer_discount {
    background: $color-white;
    border-radius: 10px;
    box-shadow: 0 3px 15px 0 #0000000f;
    align-items: center;
    justify-content: space-between;
    color: $color-dark-green;
    height: 80px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    & > label {
      font-family: $fs-stb;
      font-size: 16px;
      margin-bottom: 0px;
      max-width: 110px;
    }
    label {
      margin-bottom: 0px;
    }
  }

  #countdown {
    align-items: center;
    flex: 1;
    padding-left: 50px;
    & > span {
      flex: 1;
    }
    & > div, & > span {
      text-align: center;
    }
  }
}