.cart-wrapper {
  h1.title {
    font-size: 34px;
    margin-bottom: 30px;
    text-align: left;
    @include mobile {
      margin-bottom: 10px;
    }
    @include desktop {
      font-size: 48px;
    }
    @include s_r_tablet {
      font-size: 24px;
    }
  }
  .cart-table {
    border: none;
    width: 100%;
    table-layout: fixed;
    margin: $gutter*2 0 0;
    @include desktop {
      margin-top: $gutter*4;
    }
    tr {
      display: flex;
      flex-wrap: wrap;
      padding-left: 115px;
      position: relative;
      @include desktop {
        padding-left: unset;
      }
    }
    th, td {
      padding: 5px 0;
      width: 100%;
      vertical-align: middle;
      &:last-child {
        text-align: right;
      }
      @include desktop {
        width: 20%;
      }
      &.m-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        @include desktop {
          width: 150px;
          position: relative;
          top: unset;
          left: unset;
        }
      }
      &.m-info {
        width: 100%;
        line-height: 1.2;
        @include desktop {
          width: auto !important;
        }
      }

      &.m-long {
        width: 100%;
        @include desktop {
          width: 65%;
        }
      }

      &.m-variants {
        width: 60%;
        position: relative;
        @include desktop {
          width: 25%;
        }
      }

      &.m-price {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        @include desktop {
          width: 15%;
          display: block;
        }
      }

      th {
        text-align: left;
        font-weight: 500;
        font-size: $fz-5;
        text-transform: uppercase;
        border-bottom: 2px solid #e4e4e4;
        letter-spacing: 0.01em;
      }

      td {
        padding: $gutter*3 0;
      }

      .field {
        margin-top: 0;
        position: relative;
      }

      .label {
        top: -25px;
        @include desktop {
          font-weight: 600;
          position: absolute;
          top: -8px;
          i {
            font-size: 0.8em;
          }
        }
      }

      .select, .input {
        width: 100%;
        font-size: 14px;
        font-weight: 100;
        @include desktop {
          width: 200px;
        }
      }
        
      .qty-selector {
        height: 40px;
        width: auto;
        .e-input {
          font-size: 14px;
          @include desktop {
            font-size: 16px;
          }
        }
      }

      .cart-product-image {
        display: block;
        text-align: center;
        img {
          display: block;
          max-width: 100%;
          @include desktop {
            max-width: 150px;
          }
        }
      }



      &.m-qty {
        padding-left: 10px;
        width: 40%;
        @include desktop {
          width: unset;
        }
        .field {
          flex-direction: column;
          align-items: flex-start;
        }
        .label {
          margin-left: 0;
          position: absolute;
          @include desktop {
            position: relative;
          }
        }
      }
      
    }

    .product-summary {
      .product-variant-text {
        margin: 0;
        font-size: $fz-4;
        color: $color-light-grey;
        letter-spacing: 0.05em;
      }
    }
  
    .cart-remove-link {
      margin-top: $gutter;
    }
    .select {
      letter-spacing: 0.1em;
  
    }
  }

  .responsive-table-row + .responsive-table-row::after, tfoot > .responsive-table-row:first-child::after {
    display: none;
    @include desktop {
      display: block;
    }
  }

  table, tbody, th, td {
    display: block;
  }

}

.cart-summary {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include desktop {
    flex-direction: unset;
  }
  .subtitle {
    max-width: 370px;
    margin-top: $gutter;
    order: 1;
    @include desktop {
      order: unset;
    }
  }
  .order-summary-box {
    width: 100%;
    text-align: right;
    order: 0;
    @include desktop {
      order: unset;
    }
    .label {
      font-weight: normal;
      @include desktop {
        font-weight: 700;
      }
    }
    .d-flex > div {
      // width: 100%;
      @include desktop {
        width: unset;
      }
    }
    .btn {
      width: 100%;
      margin: 0;
      @include desktop {
        width: unset;
        margin-left: $gutter;
      }
    }
    .link {
      margin-top: 25px;
      font-size: $fz-5;
      font-weight: bold;
      font-stretch: normal;
      @include desktop {
        margin-top: 0.5em;
      }
      i {
        margin-right: 10px;
        display: inline-block;
        font-size: 0.75em;
      }
    }
  }

  .prices-summary {
    display: flex;
    font-size: $fz-3;
    font-weight: bold !important;
    width: auto;
    margin: 0 0 15px 0;
    & > span:last-child {
      margin-left: 10px;
    }
    @include desktop {
      justify-content: space-between;
      font-weight: 500 !important;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $gutter*3;
    }
  }
  
}

.order-summary-box__prices {
  text-align: left;
  p {
    font-size: $fz-4;
  }
  svg {
    height: 1em;
    color: #717171;
    fill: currentColor;
  }
}

.cart-price {
  letter-spacing: 0.01em;
  font-weight: 500;
  font-stretch: condensed;
  font-size: $fz-4;
  margin-top: 10px;
}

body.template-cart {
  .cart-wrapper form {
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      padding-left: 0px;
      padding-right: 0px;
    }
    @include s_r_tablet {
      // flex-direction: column;
    }
    .cart-table-wrapper {
      @include desktop {
        min-width: calc(100% - 420px);
        max-width: calc(100% - 420px);
      }
      @include s_r_tablet {
        min-width: calc(100% - 380px);
        max-width: calc(100% - 380px);
        // min-width: 100%;
        // max-width: 100%;
      }
      @include mobile {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }

      .cart-table-top {
        // background: #f6f7f8;
        // padding: 30px;
        @include mobile {
          // padding: 15px;
        }
      }

      .cart-items {
        .plan_notification {
          font-size: 16px;
          font-weight: bold;
          margin-top: 60px;
          margin-bottom: 10px;
        }
        .cart-line-item {
          background: $color-white;
          border: 1px solid #e6edee;
          border-radius: 5px;
          margin-bottom: 15px;
          padding: 10px;
          position: relative;
          .item_description {
            @include mobile {
              font-size: 14px;
            }
          }
          [data-cart-item-qty] {
            background: #FFF;
            border: 1px solid #dfe3e8;
            border-radius: 5px;
            width: 60px;
            height: 25px;
            padding-left: 5px;
            @include desktop {
              margin-top: 8px;
            }
          }
          .image_wrapper {
            width: 50px;
            @include desktop {
              width: 120px;
            }
            @include s_r_tablet {
              width: 70px;
            }
            @include mobile {
              img {
                border: 1px solid #ddd;
                border-radius: 5px;
              }
            }
          }
          .info_wrapper {
            flex: 1;
            & > .d-flex {
              justify-content: space-between;
              flex-direction: column;
              padding-left: 15px;
              padding-right: 5px;
              @include desktop {
                flex-direction: unset;
              }
              @include mobile {
                padding-left: 10px;
                padding-right: 0px;
              }
            }
            .what_include {
              margin-top: 7px;
              padding-left: 15px;
              padding-right: 5px;
              @include desktop {
                padding-left: 0px;
              }
              [data-include-title] {
                cursor: pointer;
                color: #444;
                display: flex;
                font-size: 14px;
                font-weight: 600;
                height: 18px;
                @include desktop {
                  font-size: 14px;
                  height: unset;
                }
                &.opened {
                  svg {
                    transform: rotate(180deg);
                  }
                }
                svg {
                  margin-left: 4px;
                  width: 8px;
                  height: auto;
                  fill: #444;
                  @include desktop {
                    margin-left: 8px;
                    width: 14px;
                  }
                }
              }
              [data-include-content] {
                color: #666;
                display: none;
                font-size: 12px;
                font-weight: 500;
                @include desktop {
                  font-size: 14px;
                }
                p {
                  margin-top: 6px;
                }
              }
            }
            .item_info {
              .item_title {
                max-width: calc(100% - 20px);
                @include mobile {
                  font-size: 15px;
                  max-width: 100%;
                }
                a, div {
                  color: $color-dark-green;
                  font-family: $fs-stb;
                  font-weight: 500;
                  font-size: 16px;
                }
                a:hover {
                  color: $color-link-hover-new !important;
                }
                @include desktop {
                  max-width: unset;
                }
              }
              .item_feature {
                color: $color-light-blue-new;
                font-family: $fs-stb;
                font-size: 13px;
                font-weight: 500;
                margin-top: 5px !important;
              }
              .item_variant {
                color: $color-dark-green;
                font-weight: 500;
                font-size: 13px;
                margin-top: 5px;
                * {
                  font-family: $fs-stb;
                }
                li {
                  list-style: none;
                  margin: 5px 0;
                }
              }
            }
            .item-price-remove {
              display: flex;
              justify-content: space-between;
              text-align: right;
              @include mobile {
                flex-wrap: wrap;
                align-items: center;
              }
              @include desktop {
                display: block;
                justify-content: unset;
              }
              .item_price {
                color: $color-subtitle;
                font-size: 14px;
                font-weight: 500;
                // font-weight: bold;
                .line-item-qty {
                  color: $color-black;
                  font-family: $fs-stb;
                  font-weight: 500;
                }
                .was-price {
                  color: #707071;
                  // font-weight: bold;
                  font-size: 14px;
                  margin-right: 5px;
                  text-decoration: line-through;
                }
                .regular-price {
                  color: $color-subtitle;
                  font-family: $fs-stb;
                  font-weight: 500;
                }
                .was-price + .regular-price {
                  // color: #d44d4d;
                }
                .save-badge {
                  color: #d44d4d;
                  font-size: 14px;
                  // font-weight: bold;
                  // margin-top: -3px;
                }
              }
              strong {
                font-weight: normal;
              }
              strong span {
                color: $color-black !important;
                font-weight: normal;
                // font-weight: bold;
              }
              .item_remove {
                margin-top: 5px;
                // position: absolute;
                // top: 5px;
                // right: 15px;
                @include desktop {
                  position: relative;
                  top: unset;
                  right: unset;
                }
                a {
                  color: #53585a;
                  font-size: 14px;
                  svg {
                    width: 14px;
                    height: auto;
                    @include desktop {
                      width: 8px;
                    }
                  }
                }
              }
              .swith_paragraph {
                background: $color-green;
                border-radius: 5px;
                color: #fff;
                font-size: 12px;
                margin-top: 5px;
                padding: 2px 14px;
              }
            }
          }
          &.plan-draft {
            .add_to_order {
              justify-content: space-between !important;
            }
            .info_wrapper {
              justify-content: flex-start;
            }
          }
          &.plan-item {
            .image_wrapper a {
              pointer-events: none !important;
            }
            .popup-trigger {
              color: $color-text;
              display: inline-block;
              font-weight: bold;
              text-decoration: underline;
            }
            .info_wrapper {
              display: flex;
              flex-direction: column;
              justify-content: center;
              & > .d-flex {
                @include mobile {
                  // flex-direction: row !important;
                }
              }
            }
            .plan_popup {
              display: block;
              margin-bottom: 0px;
              .paragraph:first-child {
                display: inline-block;
              }
              .popup-trigger {
                font-weight: bold;
                text-decoration: underline;
              }
              .popup-content {
                bottom: 30px;
                border-radius: 5px;
                left: 0px;
                overflow: hidden;
                .content p:first-child {
                  margin-top: 0px;
                }
              }
              &.plan_reason_popup {
                p {
                  margin: 0px;
                }
                .popup_title {
                  color: #444;
                  cursor: pointer;
                  font-size: 14px;
                  font-weight: 500;
                  svg {
                    fill: #444;
                    margin-left: 3px;
                    width: 14px;
                    height: auto;
                    transition: all .3s ease;
                  }
                  &.opened {
                    svg {
                      transforM: rotateX(180deg);
                    }
                  }
                }
                .popup_content {
                  color: #444;
                  // display: none;
                  font-size: 14px;
                  padding-top: 5px;
                }
                .popup-trigger {
                  color: $color-blue;
                  cursor: pointer;
                  font-size: 14px;
                  font-weight: bold;
                  text-decoration: none;
                  svg {
                    transform: rotate(-90deg);
                  }
                }
                .popup-content {
                  left: 0px;
                  @include desktop {
                    // left: unset;
                    // right: 0px;
                  }
                }
              }
            }
            .item_feature {
              cursor: pointer;
              margin-top: 5px;
              .content-list {
                color: $color-black;
                div {
                  color: $color-dark-green;
                  font-family: $fs-st;
                  font-size: 13px;
                  margin-top: 3px;
                  margin-bottom: 3px;
                }
                svg {
                  margin-right: 5px;
                  width: 12px;
                }
                svg path {
                  fill: $color-subtitle;
                }
                @include mobile {
                  margin-top: -10px;
                  svg {
                    // width: 14px;
                    height: auto;
                  }
                }
              }
              .popup-trigger {
                color: $color-blue;
              }
              p {
                font-size: 15px;
                line-height: 1.33;
                margin: 0px;
              }
            }
            .add_to_order {
              align-items: center;
              margin-top: 6px;
              justify-content: flex-end;
              button {
                margin-top: 0px;
              }
            }
            .product_atc_form {
              button {
                color: $color-green;
                font-size: 14px;
                font-weight: bold;
                min-width: unset;
                height: unset;
                padding: 0px;
                justify-content: flex-end;
                svg {
                  fill: $color-green;
                  width: 14px;
                  height: auto;
                  margin-left: 4px;
                  stroke: $color-green;
                  stroke-width: 40px;
                }
              }
            }
            .image_wrapper {
              // display: none;
              @include desktop {
                // display: block;
              }
            }
            .info_wrapper {
              & > .d-flex {
                // padding-left: 0px;
                // padding-right: 0px;
                @include desktop {
                  // padding-left: 15px;
                  // padding-right: 5px;
                }
              }
              .item_info {
                // width: calc(100% - 80px);
                @include desktop {
                  width: unset;
                }
                @include mobile {
                  flex: 1;
                }
                .item_title {
                  @include mobile {
                    margin-bottom: 15px;
                  }
                }
              }
            }
            .add_to_order {
              align-items: flex-start;
              flex-direction: row;
              justify-content: flex-start;
              padding-left: 0px;
              @include desktop {
                align-items: center;
                padding-left: 15px;
              }
            }
            .item_remove {
              svg {
                width: 8px !important;
              }
            }
            .item-price-remove {
              @include mobile {
                align-items: center;
                margin-top: 8px;
                // flex-direction: column;
                // justify-content: flex-start;
              }
              .item_price {
                // position: absolute;
                // right: 15px;
                // transform: translateY(-100%);
                .was-price {
                  color: $color-subtitle !important;
                  font-family: $fs-stb;
                  font-weight: 500;
                }
                @include desktop {
                  position: relative;
                  right: unset;
                  transform: unset;
                }
                @include s_r_tablet {
                  min-width: 75px;
                }
              }
              .paragraph {
                font-weight: 300;
                background: $color-light-blue-new;
                border-radius: 5px;
                color: $color-white;
                font-size: 16px;
                margin-top: 2px;
                // margin-top: 5px;
                padding: 3px 10px;
                @include mobile {
                  // right: 10px;
                  // position: absolute;
                }
              }
            }
            &.plan-draft {
              .add_to_order {

              }
            }
          }
        }
      }
    }
    .cart-summary-wrapper {
      // background: #FFF;
      // border-radius: 5px;
      // box-shadow: 0 2px 19px 0 #0000000a;
      // min-width: 350px;
      // overflow: hidden;
      // padding: 20px;
      // position: fixed;
      // max-width: unset;
      // left: 0px;
      // width: 100%;
      // top: unset;
      // bottom: 0px;
      // z-index: 11;
      @include desktop {
        // background: #f7fafb;
        // box-shadow: 0 2px 19px 0 #0000000a;
        // padding: 20px;
      }
      @include mobile {
        // background: $color-white;
        // padding-left: 15px;
        // padding-right: 15px;
        // padding-top: 30px;
      }
      .label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: inherit;
        font-size: 12px;
        margin-top: 15px;
        svg {
          fill: $color-dark-green;
        }
        p {
          color: $color-dark-green;
          font-family: $fs-stb;
          font-weight: 500;
          margin-left: 5px;
          margin-top: 0px;
        }
      }

      @include desktop {
        // background: #F7F4F0;
        max-width: 380px;
        position: sticky;
        top: 70px;
        bottom: unset;
        z-index: 1;
      }
      
      @include s_r_tablet {
        min-width: 300px;
        max-width: 300px;
        // background: transparent;
        // margin-left: auto;
        // margin-top: 30px;
        // margin-bottom: 30px;
      }

      .cart-summary {
        background: #f7fafb;
        // box-shadow: 0 2px 19px 0 #0000000a;
        padding: 20px;
      }

      .summary_title {
        border-bottom: 1px solid #000;
        color: $color-dark-green;
        display: block;
        font-family: $fs-t;
        font-size: 34px;
        padding-bottom: 5px;
        margin-bottom: 20px;
      }

      .summary_infos .summary_info {

        font-size: 16px;

        label {
          color: $color-dark-green;
          // font-size: 20px;
        }

        &.total_price div {
          .was-price {
            color: #666;
            font-size: 14px;
          }
          .was-price + .regular-price {
            color: $color-dark-green;
            // font-family: $fs-stb;
            // font-weight: 500;
            // font-size: 20px;
          }
        }

        &.plan_total {
          label {
            margin-bottom: 2px;
          }
        }

        &.tax {
          color: #323335;
        }

        &.free_shipping {
          margin-top: 3px;
          div {
            color: $color-dark-green;
            // font-family: $fs-stb;
            // font-size: 16px;
            // font-weight: 500;
          }
        }
        
      }

      .plan_info {
        & > div {
          justify-content: space-between;
          align-items: flex-start;
          & > div {
            color: $color-dark-green;
            // font-family: $fs-stb;
            font-size: 14px;
            // font-weight: 500;
          }
        }
        .free {
          text-decoration: line-through;
        }
        label {
          color: $color-dark-green;
          font-size: 14px;
          margin-bottom: 0px;
        }
        label .sub_info {
          color: #515f62;
          font-size: 12px;
          margin-bottom: 0.5rem;
        }
      }

      .summary_info {
        display: flex;
        justify-content: space-between;
      }

      .summary_info.info_text {
        color: $color-dark-green;
        display: block !important;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 15px;
        b {
          font-family: $fs-stb;
          font-weight: 500;
        }
      }

      .summary_prices {
        border-top: 1px solid $color-dark-green;
        margin-top: 10px;
        padding-top: 20px;
        .summary_info {
          label {
            color: $color-dark-green;
            // font-size: 20px;
          }
          div {
            color: $color-subtitle;
            // font-family: $fs-stb;
            // font-weight: 500;
            // font-size: 16px;
          }
          &.total_saving {
            color: #d44d4d;
            // font-weight: 500;
          }
          &.summary_info {
          }
        }
      }
      .btn-checkout {
        button {
          border-radius: 100px;
          font-family: $fs-stb;
          font-size: 20px;
          font-weight: 500;
          height: 55px;
          margin: 0px;
          width: 100%;
          svg {
            fill: $color-button-text;
            margin-left: 8px;
            width: 22px;
            height: auto;
            stroke: $color-button-text;
            stroke-width: 20px;
            transition: all .3s ease;
            @include mobile {
              display: none !important;
            }
          }
          &:hover svg {
            transform: translateX(8px);
          }
        }
      }
      .label {
        color: $color-text;
        font-size: 12px;
        // font-style: italic;
        line-height: 1.36;
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
      [data-guarantee-wrapper] {
        // background: #FFF;
        // border-top: 1px solid #dfe3e8;
        // margin-left: -20px;
        // margin-right: -20px;
        // margin-bottom: -20px;
        margin-top: 20px;
        // padding-top: 20px;
        @include mobile {
          padding-left: 15px;
          padding-right: 15px;
        }
        .guarantee_item {
          align-items: center;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0px;
          }
          .icon_wrapper {
            display: flex;
          }
          svg {
            width: 25px;
            height: auto;
          }
          .text_wrapper {
            margin-left: 10px;
            .item_title {
              color: $color-dark-green;
              font-family: $fs-stb;
              font-size: 16px;
              font-weight: 500;
              // font-weight: bold;
              @include s_r_tablet {
                font-size: 14px;
              }
            }
            .item_content {
              color: $color-dark-green;
              font-size: 16px;
              margin-top: 3px;
              @include s_r_tablet {
                // font-size: 14px;
              }
              p {
                margin: 0px;
              }
            }
          }
        }
      }
    }
  }

  .item_price strong span {
    color: $color-black !important;
    font-weight: bold;
  }
}

[data-cart-page-form] {
  align-items: flex-start;
}

.cart-legal {
  color: $color-dark-green;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 25px;
  @include mobile {
    margin-bottom: 30px;
  }
  @include desktop {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  a {
    color: $color-subtitle;
    font-family: $fs-stb;
    font-weight: 500;
    opacity: 1 !important;
    text-decoration: underline !important;
    &:hover {
      // text-decoration: underline !important;
    }
  }
}

.upsell_wrapper {
  background: #f7fafb;
  border-radius: 5px;
  // background: #f7f4f0;
  // margin-left: -15px;
  // margin-right: -15px;
  padding: 30px 15px;
  @include desktop {
    margin-top: 45px;
    padding: 20px;
  }
  .upsell_title {
    color: $color-dark-green;
    font-size: 20px;
    font-family: $fs-stb;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 300px;
    text-align: center;
    @include desktop {
      max-width: unset;
      text-align: left;
    }
    @include mobile {
      border-top: 1px solid #dfe3e8;
      font-size: 16px;
      max-width: unset;
      padding-top: 20px;
      text-align: left;
    }
  }
  .upsell_subtitle {
    color: $color-dark-green;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 15px;
  }
  .price_wrapper {
    font-size: 16px;
    // padding-top: 8px;
    // padding-right: 15px;
    padding-right: 5px;
    text-align: right;
    .was-price {
      color: #707071;
    }
    .regular-price {
      font-family: $fs-stb;
      font-weight: 500;
      // font-weight: bold;
    }
    .was-price + .regular-price {
      // color: #d44d4d;
    }
    .save_badge {
      color: #d44d4d;
      font-size: 14px;
    }
  }
}

.upsell-products-wrapper {
  flex-direction: column;
  justify-content: space-between;
  select#cart-upsell-variants {
    appearance: none;
    background: url('down-chevron.svg');
    background-position: calc(100% - 8px) center;
    background-repeat: no-repeat;
    font-size: 14px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 0 5px;
  }
  @include mobile {
    // background: #f7f4f0;
    // border: 1px solid #dfe3e8;
    // border-radius: 5px;
    // padding: 2px 10px;
  }
  @include desktop {
    flex-direction: unset;
  }
  @include r_tablet {
    flex-direction: column;
  }
  .upsell-product-item {
    background: $color-white;
    border: 1px solid #dfe3e8;
    border-radius: 5px;
    margin: 8px 0;
    overflow: hidden;
    padding: 10px;
    &.hidden {
      display: none;
    }
    @include desktop {
      align-items: flex-start;
      // min-width: calc(50% - 10px);
      // max-width: calc(50% - 10px);
      width: calc(50% - 5px);
      margin: 0px;
    }
    @include r_tablet {
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px !important;
      }
    }
    @include mobile {
      align-items: flex-start;
      background: #FFF;
    }
    .image_wrapper {
      background: #FFF;
      // border-right: 1px solid #dfe3e8; 
      display: flex;
      align-items: center;
      min-width: 80px;
      max-width: 80px;
      @include desktop {
        min-width: 120px;
        max-width: 120px;
      }
    }
    .info_wrapper {
      background: #FFF;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      @include desktop {
        // background: #F8FBFD;
        height: 100%;
      }
      @include mobile {
        flex-direction: column;
      }
      .item_title {
        color: $color-dark-green;
        font-family: $fs-stb;
        font-size: 16px;
        font-weight: 500;
        justify-content: space-between;
      }
      .item_desc {
        color: $color-dark-green;
        font-size: 14px;
        margin-top: 6px;
        max-width: 300px;
        p {
          margin: 0px;
        }
      }
    }
    .price_wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      padding-top: 0px;
      padding-bottom: 0px;
      @include mobile {
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
      }
    }
    
    .btn_wrapper {
      flex: 1;
      // margin-top: 5px;
      @include mobile {
        margin-top: 5px;
      }
      a {
        // background: $color-new-green;
        border-radius: 100px;
        display: none;
        font-size: 14px;
        font-weight: 500;
        height: 30px;
        width: 100%;
        line-height: 26px;
        margin-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        outline: none;
        @include mobile {
          display: block;
          margin-top: 0px;
          min-width: 90px;
        }
      }
      a.btn-add {
        display: block;
      }
      @include mobile {
        .btn-added {
          display: none;
        }
      }
      a {
        // color: $color-button-text;
        // font-size: 14px;
        // font-weight: bold;
        // svg {
        //   fill: $color-button-text;
        //   width: 14px;
        //   height: auto;
        //   stroke: $color-button-text;
        //   stroke-width: 40px;
        // }
      }
    }
    
  }

  .btn_wrapper {
    .variant-colors {
      margin-top: 5px;
      margin-bottom: 10px;
    }
    &.added {
      .btn-add {
        display: none !important;
      }
      .btn-added {
        display: block;
      }
      select#cart-upsell-variants {
      }
    }
  }
  .product-option {
    input {
      display: none;
    }
    label {
      border: none;
      border-radius: 50px;
      width: 17px;
      height: 17px;
      margin-right: 10px;
      position: relative;
    }
    input:checked + label::after {
      content: "";
      display: block;
      border: 2px solid $color-link-hover-new;
      border-radius: 50px;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      left: -4px;
      top: -4px;
      position: absolute;
    }
  }

  &.switch-upsell {
    .atc_wrapper {
      display: flex;
      align-items: center;
      @include mobile {
        margin-top: 6px;
      }
    }
    @include desktop {
      .upsell-product-item {
        width: 100%;
      }
      .btn_wrapper {
        display: flex;
        align-items: center;
      }
      a {
        max-width: 240px;
        margin-left: auto;
      }
      .variant-colors {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    @include mobile {
      .btn_wrapper a {
        min-width: 70px;
      }
      .item_title {
        flex-direction: column;
      }
    }
  }

}


.popup.upsell-popup {
  .popup-window {
    width: 90%;
    @include desktop {
      width: 680px;
    }
  }
  button.close {
    width: 20px;
    height: 20px;
    padding: 0px;
    right: 30px;
    svg {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: auto;
    }
  }
  .popup_upsell-item {
    align-items: flex-start;
    padding: 20px 30px;
    flex-direction: column-reverse;
    @include desktop {
      flex-direction: unset;
    }
    .info_wrapper {
      margin-top: 15px;
      @include desktop {
        margin-top: 0px;
        min-width: 50%;
        max-width: 50%;
      }
      .item_title {
        color: $color-dark-green;
        font-family: $fs-stb;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
      }
      .item_desc {
        font-size: 14px;
        margin-top: 5px;
        p {
          color: $color-dark-green;
          margin: 0px;
        }
      }
      .item_price {
        color: $color-dark-green;
        font-family: $fs-stb;
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
        @include desktop {
          font-size: 19px;
        }
      }
      select {
        border: 1px solid #b1b1b1;
        border-radius: 3px;
        height: 40px;
        margin-top: 15px;
        width: 100%;
      }
      .btn_wrapper {
        margin-top: 10px;
        button {
          border: none;
          border-radius: 100px;
          margin: 0px;
          width: 100%;
        }
      }
      .btn_size_guide {
        margin-top: 30px;
        a {
          color: $color-light-blue-new;
          font-size: 14px;
          font-weight: bold;
          svg {
            fill: $color-light-blue-new;
            width: 14px;
          }
        }
      }
    }
    .image_wrapper {
      border: 1px solid #dfe3e8;
      margin-top: 30px;
      max-width: 100%;
      min-width: 100%;
      @include desktop {
        margin-left: 45px;
        min-width: calc(50% - 45px);
        max-width: calc(50% - 45px);
      }
    }
  }
  
}

.cart-empty {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.32;
  text-align: center;
  @include desktop {
    font-size: 34px;
  }
  p {
    margin: 0px;
  }
  .empty-cart-title p {
    color: $color-dark-green;
    font-family: $fs-stb;
    font-weight: 500;
  }
  .cart-menu {
    margin: 30px 0 50px;
    @include desktop {
      margin-top: 50px;
    }
    .menu_item {
      margin: 15px 0;
      @include desktop {
        margin: 30px 0;
      }
      a {
        border-radius: 100px;
        font-family: $fs-stb;
        font-size: 16px;
        font-weight: 500;
        margin: 0px !important;
        width: 80%;
        @include desktop {
          width: 320px;
          height: 55px;
          font-size: 19px;
        }
      }
    }
  }
}

body.template-cart.spacing {
  // padding-bottom: 177px !important;
  @include desktop {
    padding-bottom: 0px !important;
  }
}

#shopify-section-ea-cart {
  z-index: unset;
  @include mobile {
    background: #f6f7f8 !important;
  }
}

[data-cart-page-checkout] {
  span {
    display: flex;
    align-items: center;
  }
}

.cart-continue-shopping {
  color: $color-black !important;
  display: flex;
  svg {
    width: 25px;
    height: auto;
    margin-right: 5px;
  }
}

body.template-cart {
  @include mobile {
    .site-header__logo {
      min-width: fit-content;
    }

  }
}

.sticky-checkout {
  background: $color-white;
  bottom: 0;
  box-shadow: 0px 0px 10px 5px #00000014;
  left: 0;
  width: 100%;
  padding: 15px;
  position: fixed;
  transform: translateY(100%);
  transition: all .3s ease;
  z-index: 1;
  &.visible {
    transform: unset;
  }
  @include mobile {
    z-index: 999;
  }
  button {
    // background: $color-new-green !important;
    border: none;
    border-radius: 100px;
    box-shadow: none;
    // color: black !important;
    font-size: 19px;
    margin-top: 0px !important;
    height: 60px;
    width: 100%;
  }
  .sticky-summary {
    color: $color-dark-green;
    font-size: 18px;
    justify-content: space-between;
    @include mobile {
      margin-bottom: 15px;
    }
    label {
      font-weight: bold;
      @include mobile {
        margin-bottom: 0px;
      }
    }
    .regular-price {
      color: $color-dark-green;
      font-weight: bold;
    }
  }
}

body.template-cart {
  @include mobile {
    padding-bottom: 125px !important;
  }
}
