html {
  font-size: $fz-body;
}
body {
  color: $color-body;
  font-family: $ff-body;
  font-size: $fz-body;
  font-weight: normal;
  padding-top: 60px;
  padding-bottom: 0px !important;
  position: relative;
  overflow-x: hidden;
  @include desktop {
    padding-top: 0px;
  }
  
}

body *:not(i) {
  // font-family: "ProximaNova", sans-serif;
  font-family: TWKEverett;
}

img {
  max-width: 100%;
}

.no-js {
  display: none;
}

.hide {
  display: none !important;
}



.desktop--hide,
.hide--desktop {
  display: none !important;
}

@media (max-width: 1200px) and (min-width: 768px) {
  .hide--desktop {
    display: block !important;
  }
  .hide--tablet {
    display: none !important;
  }
}

@include mobile {
  body {
    padding-top: 60px;
  }
  
  .desktop--hide,
  .hide--desktop {
    display: block !important;
  }
  
  .small--hide,
  .hide--mobile {
    display: none !important;
  }
}


// .skewed-shape {
//   @include mobile {
//     -webkit-clip-path: polygon(0 0, 92% 0%, 85% 100%, 0% 100%) !important;
//     clip-path: polygon(0 0, 92% 0%, 85% 100%, 0% 100%) !important;
//   }
// }

body {
  padding-top: 80px;
}

[data--hidden] {
  display: none !important;
}

[data-animate-section] {
  opacity: 0;
  transform: translateY(30px);
  transition: all 2s ease;
  &.section-in {
    opacity: 1;
    transform: unset;
  }
}

.btn, button {
  transition: opacity .3s ease;
  &:hover {
    opacity: .7;
  }
  &.btn-small {
    border: none;
    font-size: 18px;
    font-weight: 500;
    width: 150px;
    height: 45px;
    line-height: 45px;
    min-width: unset;
    outline: none;
    padding: 0px;
  }
  &.m-green {
    background: $color-new-green;
    // color: #FFF !important;
    color: $color-button-text;
    font-weight: 700;
    text-transform: uppercase !important;
  }
  &.btn-rounded {
    border-radius: 25px;
  }
  &.m-black-new {
    background: $color-btn-black-bg;
    border: 2px solid transparent;
    color: $color-light-green;
    transition: all .3s ease;
    opacity: 1 !important;
    &:hover {
      // background: $color-btn-hover;
      border-color: $color-dark-green;
      background: transparent;
      color: $color-dark-green;
      svg {
        fill: $color-dark-green !important;
        stroke: $color-dark-green !important;
      }
    }
  }
}

a {
  text-decoration: none !important;
}

[data-animate-block].is-active {
  .title, .subtitle, .pretitle {
    opacity: 1 !important;
    transform: unset !important;
  }
}

body.is-menu-open {
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    max-width: 100% !important;
  }
}

[data-link-trigger] {
  cursor: pointer;
}


.ada-embed-button-container .ada-embed-button {
  // display: none !important;
  width: 50px !important;
  height: 50px !important;
  @include desktop {
    display: block !important;
  }
}

.ada-embed-button-container .ada-embed-button {
  background: $color-dark-green !important;
}

.yotpo .text-m {
  font-size: 14px !important;
  @include desktop {
    font-size: 16px !important;
  }
}


[data-loader-btn] {
  position: relative;
  &.loading {
    .loader_wrapper {
      opacity: 1;
    }
    span, svg {
      opacity: 0;
    }
  }

}

.loader_wrapper {
  background-color: #00000050;
  border-radius: 100px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  text-shadow: 1px 1px 4px #676464;
  transition: all .3s ease;
  & > div {
    margin-bottom: 10px;
  }
}

.loader_wrapper {
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  .loader {
    background: transparent;
    display: block;
    margin: 0px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    border-right: 3px solid rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    border-left: 3px solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

}


.ub-emb-overlay.ub-emb-visible {
  display: none !important;
}

.no-scroll {
  overflow: hidden !important;
}

body .acsb-trigger.acsb-ready {
  display: none !important;
}

.ada-embed-button-container--not-draggable {
  z-index: 9 !important;
}

html {
  scroll-behavior: smooth;
}

.ada-embed-button-container .ada-embed-button {
  @media (max-width: 1400px) {
    bottom: -20px !important;
    right: -20px !important;
  }
}