@font-face {
  font-family: 'Ringside';
  src: url('../fonts/Ringside-Thin.woff2') format('woff2'),
      url('../fonts/Ringside-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Ringside';
  src: url('../fonts/Ringside-Medium.woff2') format('woff2'),
      url('../fonts/Ringside-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ringside';
  src: url('../fonts/Ringside-Bold.woff2') format('woff2'),
      url('../fonts/Ringside-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ringside';
  src: url('../fonts/Ringside-ThinItalic.woff2') format('woff2'),
      url('../fonts/Ringside-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Ringside';
  src: url('../fonts/RingsideCompressed-Thin.woff2') format('woff2'),
      url('../fonts/RingsideCompressed-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Ringside';
  src: url('../fonts/RingsideCompressed-Light.woff2') format('woff2'),
      url('../fonts/RingsideCompressed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Ringside';
  src: url('../fonts/RingsideCompressed-Medium.woff2') format('woff2'),
      url('../fonts/RingsideCompressed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Ringside';
  src: url('../fonts/RingsideCompressed-Ultra.woff2') format('woff2'),
      url('../fonts/RingsideCompressed-Ultra.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Berlingske Serif XCn';
  src: url('../fonts/BerlingskeSerifXCn-Regular.woff2') format('woff2'),
      url('../fonts/BerlingskeSerifXCn-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berlingske Serif XCn';
  src: url('../fonts/BerlingskeSerifXCn-Bold.woff2') format('woff2'),
      url('../fonts/BerlingskeSerifXCn-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Berlingske Serif XCn';
  src: url('../fonts/BerlingskeSerifXCn-Italic.woff2') format('woff2'),
      url('../fonts/BerlingskeSerifXCn-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}



@font-face {
  font-family: 'Minion Pro';
  src: url('../fonts/MinionPro-Regular.woff2') format('woff2'),
      url('../fonts/MinionPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Regular.woff2') format('woff2'),
      url('../fonts/Apercu-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Bold.woff2') format('woff2'),
      url('../fonts/Apercu-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'FinancierDisplay';
  src: url('../fonts/FinancierDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TWKEverett';
  src: url('../fonts/TWKEverett-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TWKEverettMedium';
  src: url('../fonts/TWKEverett-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}