b, strong {
  font-weight: bold;
}

p {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
}

a {
  color: $color-link;
  transition: $transition-time;
  &:not(.no-hover-link):not(.btn) {
    will-change: opacity;
  }
  &:hover:not(.no-hover-link):not(.btn) {
    opacity: $nav-link-hover-opacity;
  }
  &:hover {
    color: $color-red
  }
}

.title,
.subtitle,
.pretitle {
  color: $color-dark-green;
  p {
    margin: 0;
    line-height: inherit;
  }
}

.title > p {
  font-size: 2.125rem;
  font-family: FinancierDisplay;
  color: $color-dark-green;
  line-height: 1.4;
  @include desktop {
    font-size: 48px;
  }
  @include mobile {
    line-height: 1;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 30px;
  }
}

.title {
  font-size: 2.125rem;
  font-family: FinancierDisplay;
  color: $color-dark-green;
  line-height: 1.4;
  @include desktop {
    font-size: 48px;
    // font-size: 2.438rem;
  }
  @include mobile {
    line-height: 1.1;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 30px;
  }
  &.m-black {
    color: $color-body;
  }
  &.m-white {
    color: $color-white;
  }
  &.m-large {
    font-size: $fz-1;
    @include desktop {
      font-size: 65px;
    }
  }
  &.m-heavy {
    font-weight: 900;
  }
  &:not(.not-animated) {
    @include smoothShow(0, 30px);
  }
 
  .pretitle + & {
    margin-top: $gutter;
  }
  a {
    color: inherit;
    text-decoration: none;
    p {
      display: inline-block;
    }
  }
  i, em {
    color: $color-title-accent;
    font-weight: normal;
    font-style: normal;
    font-family: $ff-2;
  }
}

.pretitle {
  font-weight: 500;
  // font-stretch: condensed;
  font-size: $fz-4;
  line-height: 1.15;
  &.m-accent {
    color: $color-brown;
  }
  &:not(.not-animated) {
    @include smoothShow(0, 30px, 0.25);
  }
}
.subtitle,
.title+p {
  color: $color-dark-green;
  font-size: 14px;
  line-height: 1.625;

  &:not(.not-animated) {
    @include smoothShow(0, 30px, 0.25);
  }
  .title + & {
    margin-top: $gutter;
    @include desktop {
      margin-top: $gutter*2;
    }
  }
  @include desktop {
    font-size: $fz-body;
  }
}

.h1 {
  font-size: $fz-3;
  @include desktop {
    font-size: $fz-1;
  }
}
.h1-07 {
  font-size: $fz-1*0.7;
}
.h2 {
  font-size: $fz-4;
  @include desktop {
    font-size: $fz-2;
    &.m-mob {
      font-size: $fz-4;
    }
  }
}
.h3 {
  font-size: $fz-5;
  @include desktop {
    font-size: $fz-3;
  }
}
.h4 {
  font-size: $fz-5;
  @include desktop {
    font-size: $fz-4;
  }
}
.h5 {
  font-size: $fz-5;
}
.h6 {
  font-size: $fz-6;
}

.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}

.list {
  .list__text {
    color: $color-dark-green;
    font-family: $fs-st;
    font-size: 16px;
    strong {
      font-family: $fs-stb;
      font-weight: 500;
    }
    p {
      font-family: $fs-st;
      line-height: 1.56;
      margin-top: 20px;
      font-size: 16px;
      @include desktop {
        font-size: 18px;
        line-height: 1.28;
      }
      @include s_r_tablet {
        font-size: 14px;
      }
    }
  }
}
.list--ico {
  margin: 0;
  padding: 0;
  list-style: none;
  .list__item {
    display: flex;
    align-items: flex-start;
  }
  .list__icon {
    margin: 0 $gutter;
    width: 1em;
    text-align: center;
    position: relative;
    top: -0.1em;
    @include desktop {
      margin-right: $gutter*2;
    }
    img {
      height: 0.815em;
      max-width: none;
    }
  }
}
.list__item {
  +.list__item {
    margin-top: $gutter*1.5;
  }
  &.m-opacity {
    transition: $transition-time;
    opacity: 0.25;
    &.scroll-line-active {
      opacity: 1;
    }
  }
  .list__text {
    p {
      font-size: 16px;
      padding-left: 12px;
      opacity: .25 !important;
      transition: opacity .3s ease !important;
      &.active {
        opacity: 1 !important;
      }
      &:nth-child(2) {
        font-size: 16px;
        padding-left: 0px;
        opacity: 1 !important;
        &::before {
          display: none !important;
        }
      }
      &::before {
        content: '';
        background :#4e4e4e;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        position: absolute;
        left: 0px;
        top: 7px;
      }
    }
  }
  .list__title {
    margin-bottom: 15px;
    position: relative;
    width: fit-content;
    &::before, &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0px;
      height: 2px;
      margin: 0px 0 0;
      transition: all 0.75s ease-in-out;
      transition-duration: 0.75s;
      opacity: 0;
      background-color: $color-subtitle;
      z-index: -1;
    }
  }
  &.m-with-circle {
    &.scroll-line-active {
      &:before {
        background: $color-dark-green;
      }
      .list__title {
        font-weight: 300;
        &::before, &::after {
          opacity: 1;
          width: 100%;
        }
      }
    }
    &:before {
      content: "";
      background: $color-dark-green;
      border: 1px solid $color-dark-green;
      border-radius: 50%;
      margin: 4px $gutter*2 0;
      margin-left: 0px;
      margin-right: 20px;
      min-width: 8px;
      height: 8px;
      z-index: 1;
      @include desktop {
        margin-left: 10px;
      }
    }
  }
  &.m-content-center {
    align-items: center;
  }
}

.list__title {
  color: $color-dark-green;
  font-family: $fs-t;
  font-weight: 300 !important;
  font-size: 26px;
  margin-bottom: 0;
  margin-top: -3px;
  @include desktop {
    // font-weight: bold;
  }
  @include s_r_tablet {
    font-size: 19px;
  }
}
.list__number {
  font-weight: bold;
  font-size: $fz-3;
  color: $color-green;
  @include desktop {
    font-size: $fz-2;
  }
}
.list--large {
  .list__title {
    font-size: 22px;
  }
  &.list--ico {
    .list__icon {
      width: 50px;
    }
  }
}


.buy-info {

}


.buy-info__item {
  display: flex;
  align-items: center;
  +.buy-info__item {
    margin-top: 1em;
  }
  p {
    margin-top: 0 !important;
  }
}
.buy-info__icon {
  margin-right: $gutter;
  min-width: 30px;
  max-width: 30px;
  height: 20px;
  img {
    margin-top: -3px;
    max-width: 100%;
    max-height: 100%;
  }
}
.buy-info.m-panel {
  background: #f4f3f6;
  display: block;
  text-align: left;
  font-size: 14px;
  padding: $gutter;
  text-align: center;
  font-weight: 600;
  .buy-info__item {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    color: #647d99;
    i {
      margin-right: 5px;
      vertical-align: middle;
      position: relative;
      top: -2px;
    }
    .icon-balloon {
      font-size: 1.5em;
    }
    img {
      margin-top: -5px;
    }
    .buy-info__icon {
      margin-right: $gutter/2;
      img {
        margin-top: -3px;
      }
    }
  }
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $fz-4;
  
    .buy-info__item {
      display: block;
      margin-left: $gutter*2;
      +.buy-info__item {
        margin-top: $gutter;
      }
    }
    img {
      margin-top: -5px;
    }
  }
}

.fs1 {
  font-family: FinancierDisplay;
}

.fs2 {
  font-family: TWKEverett;
}

.fs2_m {
  font-family: TWKEverettMedium;
}