.account {
  padding: $gutter*10 0;
  table {
    width: 100%;
  }

  h2, h3, h4 {
    @extend .mt-4;
  }
}

.customer-information {
  h1 {
    margin-bottom: 0;
  }
  p {
    margin-top: 5px;
  }
  .divider {
    color: $color-blue-grey;
    padding: 0 10px;
  }
  a {
    text-decoration: underline;
  }
}
.order-product-img {
  max-width: 100px;
}
.desktop-text-center {
  text-align: center;
  @include media-query(small) {
    text-align: right;
  }
}

.new-address-wrapper {
  margin-top: 40px;
  @include mobile {
    margin-top: 20px;
  }
}







/*============================================================================
  Responsive tables, defined with .responsive-table on table element.
==============================================================================*/
@include mobile {
  .responsive-table {
    width: 100%;

    thead {
      display: none;
    }

    tr {
      display: block;
    }

    // IE9 table layout fixes
    tr,
    td {
      float: left;
      clear: both;
      width: 100%;
    }

    th,
    td {
      display: block;
      text-align: right;
      padding: $gutter / 2 0;
      margin: 0;
    }

    td::before {
      content: attr(data-label);
      float: left;
      text-align: center;
      padding-right: 10px;
    }
  }

  // Add a keyline between rows
  .responsive-table-row + .responsive-table-row,
  tfoot > .responsive-table-row:first-child {
    position: relative;
    margin-top: 10px;
    padding-top: $gutter / 2;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: $gutter / 2;
      right: $gutter / 2;
      border-bottom: 1px solid $color-light-grey;
    }
  }
}


.my-account {
  @include mobile {
    padding-top: 0px;
  }
  .container.d-flex {
    @include mobile {
      flex-direction: column;
    }
  }
  .radio {
    label {
      position: relative;
    }
    .label:before {
      width: 25px;
      height: 25px;
      transform: translateY(3px);
    }
    input:checked+.label:before {
      background: #000;
      border-color: #000;
      box-shadow: none;
    }
    input:checked+.label:after {
      content: '';
      display: inline-block;
      border: 2px solid #000;
      border-color: transparent white white transparent;
      height: 12px;
      width: 7px;
      margin-top: 10px;
      margin-left: 9px;
      left: 0px;
      transform: rotate(45deg);
      position: absolute;
    }
  }
  .content {
    background: #fcfcfc;
    padding: 30px;
    width: 100%;
    h1 {
      font-size: 30px;
      @include mobile {
        font-size: 16px;
        font-weight: bold;
      }
    }
    @include mobile {
      background: #fff;
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .grid.columns {
    display: flex;
    @include mobile {
      display: block;
    }
    .grid__item {
      min-width: 50%;
      max-width: 50%;
      [data-accordion-button] svg {
        display: none;
      }
      @include mobile {
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 5px;
        [data-accordion-button] svg {
          display: inline-block;
        }
        [data-accordion-button].is-open svg {
          transform: rotate(180deg);
        }
        [data-accordion-content] {
          padding: 0 15px 10px 15px;
        }
        &:last-child [data-accordion-content] {
          display: none;
        }
      }
      h3 {
        font-size: 19px;
        font-weight: bold;
        @include mobile {
          background: #edebeb;
          font-size: 16px;
          margin: 0px !important;
          padding: 10px 15px;
          svg {
            display: inline-block;
            float: right;
            margin-top: 5px;
          }
        }
      }
      p {
        margin-bottom: 0px;
        margin-top: 10px;
      }
    }
  }

  #customer_orders {
    margin-top: 45px;
    h3 {
      font-size: 19px;
      font-weight: bold;
      margin-bottom: 15px;
      @include mobile {
        font-size: 16px;
      }
    }
  }

  #customer_orders {
    @include mobile {
      margin-left: -15px;
      margin-right: -15px;
      h3 {
        padding-left: 15px;
      }
    }
    table {
      @include mobile {
        border-top: 1px solid #f4f4f4;
        display: block;
        thead, thead th, tbody {
          display: block;
        }
        thead {
          float: left;
        }
        thead th {
          border-bottom: 1px solid #f4f4f4;
          font-size: 14px;
          height: 42px;
        }
        tbody {
          position: relative;
          width: auto;
          overflow-y: auto;
        }
        tbody tr {
          display: table-cell;
        }
        tbody td {
          border-bottom: 1px solid #f4f4f4;
          display: block;
          width: 100%;
          min-width: 115px;
        }
      }
      .head {
        background: #edebeb;
        @include mobile {
          // background: #f4f4f5;
          background: #fff;
          box-shadow: 5px 0 3px 0 rgba(159, 159, 159, 0.1);
        }
        th {
          padding: 7px 10px;
        }
      }
      tbody tr td {
        font-size: 14px;
        padding: 10px;
      }
    }
  }
  .swipe_info {
    background: #f4f4f4;
    font-size: 14px;
    line-height: 1;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
  }
}

.my-account-menu {
  @include mobile {
    position: sticky;
    top: 60px;
    z-index: 1;
  }
  [data-accordion-content] li {
    a:hover {
      color: $color-green !important;
      opacity: 1 !important;
    }
  }
  .my-account-menu-wrapper {
    background: #fcfcfc;
    margin-right: 30px;
    padding: 30px 20px;
    padding-bottom: 15px;
    @include mobile {
      background: #edebeb;
      margin-right: 0px;
      padding: 0 15px;
      [data-accordion-button] {
        margin: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      [data-accordion-button] svg {
        display: inline-block;
        float: right;
        width: 20px;
        height: auto;
        margin-top: 5px;
      }
      [data-accordion-button].is-open svg {
        transform: rotate(180deg);
      }
      [data-accordion-content] {
        display: none;
      }
    }
  }
  h1 {
    font-size: 30px;
    @include mobile {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .content {
    @include mobile {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .goto {
    width: 200px;
    @include mobile {
      width: 100%;
    }
    ul {
      padding-left: 0px;
      margin-bottom: 0px;
    }
    ul li {
      border-bottom: 1px solid #e2e2e2;
      list-style: none;
      margin-top: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      @include mobile {
        text-align: center;
      }
      &.link-subscription a {
        color: #e31313;
      }
      &.active a {
        color: $color-green;
      }
      .btn {
        display: block;
        height: unset;
        margin-top: 0px;
        text-align: left;
        padding: 0px;
        @include mobile {
          text-align: center;
        }
      }
    }
  }
}

body.template-addresses {
  @include mobile {
    .account.my-account {
      overflow: unset;
    }
    .container__account.d-flex {
      display: block !important;
    }
    .content h1 {
      font-size: 16px;
    }
  }
  .radio {
    margin-top: 25px;
    @include mobile {
      margin-top: 0px;
    }
    label {
      position: relative;
    }
    .label:before {
      width: 25px;
      height: 25px;
      transform: translateY(3px);
    }
    input:checked+.label:before {
      background: #000;
      border-color: #000;
      box-shadow: none;
    }
    input:checked+.label:after {
      content: '';
      display: inline-block;
      border: 2px solid #000;
      border-color: transparent white white transparent;
      height: 12px;
      width: 7px;
      margin-top: 10px;
      margin-left: 9px;
      left: 0px;
      transform: rotate(45deg);
      position: absolute;
    }
  }
  .address-new-toggle {
    background: $color-green;
    border-radius: 5px;
    color: #FFF;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    &.hide {
      display: none;
    }
  }
  .return_account {
    background: transparent;
    border: none;
    border-bottom: 1px solid $color-green;
    color: $color-green;
    height: unset;
    margin-top: 0px;
    min-width: unset;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  .return_account.hide {
    display: none;
  }
  form#address_form_new {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    #AddressProvinceContainerNew {
      width: 50%;
      .form__field {
        min-width: 100%;
        max-width: 100%;
      }
    }
    .form__field {
      min-width: 50%;
      max-width: 50%;
      padding: 0 15px;
      @include mobile {
        min-width: 100%;
        max-width: 100%;
      }
      input, .select {
        border: 1px solid #e2e2e2;
      }
      label {
        color: #575757;
        margin-bottom: 3px;
      }
    }
    .btn.add_address {
      background: $color-green;
      color: #FFF;
      border-radius: 5px;
      margin-top: 0px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .address-new-toggle {
      background: transparent;
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid #000;
      color: #000;
      width: 50px;
      text-align: left;
      justify-content: flex-start;
      padding-left: 0px;
      padding-right: 0px;
      height: auto;
      min-width: unset;
    }
    .actions {
      margin-top: 15px;
      padding-left: 15px;
      @include mobile {
        justify-content: center;
        text-align: center;
        padding-left: 0px;
        input {
          min-width: unset;
        }
      }
      .col-sm-6 {
        padding-left: 0px;
        padding-right: 0px;
        @include mobile {
          margin: 0 5px;
          width: unset;
        }
        &:last-child {
          padding-top: 10px;
        }
      }
    }
  }
  .added_addresses {
    .col-sm-4 {
      padding-left: 0px;
    }
    button {
      background: transparent;
      border: none;
      border-bottom: 1px solid $color-green;
      color: $color-green;
      min-width: unset;
      margin-top: 20px;
      margin-right: 30px;
      width: unset;
      height: unset;
      padding: 0px;
      padding-bottom: 5px;
    }
    .current_address.hide {
      display: none;
    }
    .current_address p strong {
      font-size: 18px;
    }
    form {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      h4 {
        min-width: 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        @include mobile {
          font-size: 18px;
        }
      }
      .form__field {
        min-width: 50%;
        max-width: 50%; 
        padding-left: 15px;
        padding-right: 15px;
        @include mobile {
          min-width: 100%;
          max-width: 100%;
        }
        input, select {
          border: 1px solid #e2e2e2;
        }
        label {
          color: #575757;
          margin-bottom: 3px;
        }
      }
      .actions {
        display: inline-block;
        margin-top: 30px;
        @include mobile {
          text-align: center;
        }
        input {
          background: $color-green;
          min-width: unset;
          border-radius: 5px;
          margin-right: 15px;
        }
        button {
          color: #000;
          border-bottom-color: #000 !important;
        }
        * {
          margin-top: 0px;
        }
      }
    }
  }
  .popup {
    background: #35364015;
    .popup-window {
      font-size: 20px;
      max-width: 400px;
      padding: 30px 75px;
      text-align: center;
      @include mobile {
        width: unset;
        top: 50%;
        bottom: unset;
        transform: translateY(-50%);
      }
    }
    .actions {
      margin-top: 20px;
    }
    button {
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 14px;
      margin: 0 3px;
      width: 80px;
      height: 35px;
    }
    [data-popup-close] {
      background: #b3b8cb;
    }
    [data-remove-address] {
      background: $color-green;
    }      
  } 
}

body.template-order .my-account {
  @include mobile {
    overflow: unset;
    .container__account.d-flex {
      display: block !important;
    }
    .created_at {
      margin-top: 15px;
    }
  }
  .order-header {
    align-items: center;
    justify-content: space-between;
    a {
      background: transparent;
      border: none;
      border-bottom: 1px solid #1c1c80;
      color: #1c1c80;
      margin: 0px;
      min-width: unset;
      height: unset;
      padding: 0px;
      padding-bottom: 5px;
    }
  }
  .order-details {
    h3.subtitle {
      font-weight: bold;
    }
    .payment_status, .fulfillment_status {
      margin-top: 5px;
    }
  }
  .tbl-order-detail {
    margin-top: 30px;
    thead {
      background: #edebeb;
      th {
        padding: 7px 10px;
      }
      th.total {
        width: 130px;
      }
    }
    tbody tr {
      border-bottom: 1px solid #edebeb; 
      @include mobile {
        border-bottom: 0px;
      }
    }
    tbody td {
      font-size: 14px;
      padding: 10px;
    }
    tfoot td {
      font-size: 14px;
      padding: 5px 10px;
      @include mobile {
        strong {
          display: none;
        }
      }
    }
    tfoot tr td:nth-child(3)::before {
      @include mobile {
        font-weight: bold;
      }
    }
  }
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
  background: black !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border-color: black !important;
}

.swal2-title, .swal2-content, .swal2-styled.swal2-confirm {
  font-family: $ff-1 !important;
}

.swal2-styled.swal2-confirm {
  background-color: black !important;
  font-size: 14px !important;
  font-family: $ff-1 !important;
  font-weight: 900 !important;
}