
.login {
  padding: $gutter*5 0;
  transition: $transition-time transform ease-in;
  .title {
    font-family: $ff-1;
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #0c0404;
    @include mobile {
      font-size: 28px;
      text-align: left;
    }
  }
  @include mobile {
   padding: 0;
   .title.ta-center {
      text-align: left;
    }
  }
  &.is-hidden {
    margin: 0;
    transform: translate(-100%, 0%);
    height: 0;
    min-height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .container {
    // max-width: $container-m;
  }
}

.login__wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  // background: $color-header-bg;
  @include mobile {
    margin-top: 0;
    display: block;
    background: transparent;
  }
  .title + .subtitle {
    margin-top: $gutter;
  }
  .btn.m-black {
    min-width: 100px;
    height: 40px;
    border-radius: 5px;
  }
  .btn.m-underline {
    margin-top: $gutter*2;
  }
  .subtitle {
    font-family: $ff-1;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #171516;
    padding-top: 10px;
  }
}
.register__wrap {
  display: flex;
  justify-content: center;
  background: $color-header-bg;
  @include mobile {
    margin-top: 0;
    padding: 0;
    display: block;
    background: transparent;
  }
  .title + .subtitle {
    margin-top: $gutter;
  }
  .btn.m-black {
    min-width: 100px;
    height: 40px;
    border-radius: 5px;
  }
  .btn.m-underline {
    margin-top: $gutter*2;
  }
  .subtitle {
    font-family: $ff-1;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: left;
    color: #747474;
  }
}
.login__content {
  // max-width: 400px;
  // width: 100%;
  @include mobile {
    max-width: 100%;
  }
}
.register_title {
  font-family: $ff-1;
  font-size: 36px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #0c0404;
  display: flex;
  justify-content: center;
  @include mobile {
    font-size: 28px;
    text-align: left;
  }
}
.login__form {
  // flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  @include mobile {
    padding: $gutter 0;
  }
  .label {
    font-family: $ff-1;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.28px;
    text-align: left;
    color: #0c0404;
    @include mobile {
      font-size: 14px;
    }
  }
  .form__input {
    max-width: 360px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px #c3c3c3;
    // background-color: #fffdfc;
    background-color: #ffffff;
    @include mobile {
      max-width: none;
      width: 100%;
    }
    &.textarea {
      height: 100px;
    }
  }
  .form__field {
    margin-top: $gutter*2;
    @include mobile {
      margin-top: $gutter;
    }
    .form__link {
      margin-top: 0.5em;
    }
    .label.m-secondary {
      margin-bottom: 0;
      margin-top: $gutter;
      font-family: $ff-1;
      font-size: 14px;
    }
    .radio {
      .label.m-secondary {
        margin-top: 0;
        font-size: 16px;
        @include mobile {
          font-size: 14px;
        }
      }
    }
  }
  .field-group {
    margin: -16px 33px 0;
    .form__field {
      margin: $gutter*2 0 0 0;
      padding: 0 8px;
      min-width: 50%;
      max-width: 50%;
      @include mobile {
        padding: unset;
      }
    }
    .form__field+.form__field {
      margin: $gutter*2 0 0 0;
      @include mobile {
        margin-left: 10px;
      }
    }
  }
  .form_register {
    margin: 0 8px;
    // border-radius: 5px;
    // background-color: #fffdfc;
    // border: 1px solid #343333;
    // width: 130px;
    // height: 35px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    a {
      color: unset;
      text-decoration: #000;
    }
    @include mobile {
      width: 80px;
    }
    a:hover {
      // color: #000 !important;
      // background-color: #fffdfc;
    }
  }
  .form_account_button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    a:hover {
      text-decoration: unset;
      color: #FF5500;
    }
    @include mobile {
      margin-top: 30px;
    }
  }
}

.login__right {
  padding-left: $gutter*7;
  margin-left: $gutter*7;
  flex: 1;
  border-left: 1px solid $color-button;
  @include mobile {
    padding: 0;
    margin: $gutter*2 0 0;
    border: 0;
    .btn {
      margin-top: $gutter*2;
    }
  }
}


.login__image {
  img {
    width: 572px;
    height: 755px;
    border-radius: 5px;
  }
  @include mobile {
    display: none;
  }
}

.m-contact {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: none !important;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $ff-1;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #fffdfc;
  margin: 20px 0;
  &:hover {
    background: #F50 !important;
  }
  @include mobile {
    height: 35px;
  }
  
}

.register__image {
  img {
    border-radius: 5px;
    width: 585px;
    // height: 915px;
  }
  @include mobile {
    display: none;
  }
}
.register__form {
  margin-right: 60px;
  width: 354px;
  margin-top: 50px;
  @include mobile {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: unset;
  }
  .login__content {
    .title {
      font-family: $ff-1;
      font-size: 36px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      color: #0c0404;
      @include mobile {
        font-size: 28px;
      }
    }
    .subtitle {
      padding-top: 10px;
      font-family: $ff-1;
      font-size: 19px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.37;
      letter-spacing: normal;
      text-align: left;
      color: #0c0404;
    }
    .description {
      font-family: $ff-1;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      @include mobile {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.64;
      }
    }
    .label {
      font-family: $ff-1;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: 0.28px;
      text-align: left;
      color: #0c0404;
    }
    .form__input {
      width: 100%;
      max-width: 100%;
      border: solid 1px #c3c3c3;
      // background-color: #fffdfc;
      background-color: #ffffff;
    }
    .field-group {
      width: 100%;
      margin-top: -15px;
      @include mobile {
        margin: 0;
      }
      .form__field {
        margin: $gutter*2 0 0 0;
        @include mobile {
          padding: 0;
          margin-top: $gutter;
        }
      }
      .form__field+.form__field {
        margin: $gutter*2 0 0 0;
        padding-left: 10px;
        @include mobile {
          margin-top: $gutter;
          padding-left: 5px;
        }
      }
    }
  }
  button {
    margin-top: 15px;
  }
}

// Login with image 
.login.has-image {
  margin: 0;
  align-items: flex-start;
  .login__wrap {
    margin-top: 0;
  }
  .login__content {
    max-width: 500px;
    .btn {
      margin-top: -15px;
    }
    @include mobile {
      max-width: 100%;
      padding: 0 $gutter;
      .btn {
        margin-top: -15px;
      }
    }
  }
  .contact__form {
    padding: 25px 0 0 50px;
    @include mobile {
      padding: 0 10px;
    }
  }
  .login__form {
    @include mobile {
      margin-top: 0;
      padding: $gutter*2 0;
    }
  }
  .login__buttons {
    display: flex;
    justify-content: center;
    .btn.m-underline {
      margin-top: 0;
    }
  }
  .form__link {
    margin-bottom: 0;
    margin-top: $gutter*2;
    font-size: $fz-6;
    color: $color-body;
    font-weight: 500;
    font-stretch: condensed;
    span {
      margin-right: 0.5em;
    }
  }
}

.login.page-contact {
  .login__wrap .btn.m-black {
    min-width: 160px;
    height: 40px;
  }
  .login__form {
    .form__input {
      width: 100%;
      max-width: 100%;
      height: 40px;
      &.textarea {
        height: 100px;
      }
    }
    .label {
      text-transform: none;
    }
  }
  .form__field {
    &.m-select {
      padding-right: 20px;
      max-width: 50%;
      @include mobile {
        padding-right: 0;
        max-width: none;
      }
    }
  }
  
}

.ea-product-register_title {
  font-family: $ff-1;
  font-size: 36px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #0c0404;
  @include mobile {
    font-size: 28px;
  }
}

.product-register-download_title {
  font-family: $ff-1;
  font-size: 36px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  padding-bottom: 20px;
  @include mobile {
    font-size: 28px;
    color: #0c0404;
    padding: 0 10px 20px;
  }
}

.thumb_image {
  margin-top: 40px;
  max-width: 100%;
}

.product-register-download_button {
  width: 311px;
  height: 35px;
  border-radius: 5px;
  border: solid 1px #000;
  background-color: #fff;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f3ec;
  a {
    font-family: $ff-1;
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
    text-decoration: unset;
  }
}

.m-register {
  color: $color-green !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 35px;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid $color-green !important;
  text-transform: lowercase;
  transition: all .3s ease;
  opacity: 1 !important;
  &:hover {
    background-color: $color-green;
    // border-color: #fffdfc;
    color: #ffffff !important;
  }
}
.m-login, .m-password {
  width: 150px;
  height: 35px;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  background-color: $color-green;
  border: 1px solid $color-green;
  text-transform: lowercase;
  transition: all .3s ease;
  &:hover {
    background-color: #ffffff;
    border-color: $color-green;
    color: $color-green;
  }
  @include mobile {
    width: 80px;
  }
}

.m-password {
  background-color: $color-green;
  border: 1px solid $color-green;
}
.m-contact {
  width: 130px;
  height: 40px;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #fffdfc;
  border-radius: 5px;
  background-color: #0c0404;
  border: 1px solid #0c0404;
  text-transform: lowercase;
  // &:hover {
  //   background-color: #0c0404;
  //   color: #fffdfc;
  // }
  @include mobile {
    width: 80px;
  }
}
.m-product {
  width: 130px;
  height: 40px;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #fffdfc;
  border-radius: 5px;
  background-color: #0c0404;
  border: 1px solid #0c0404;
  text-transform: lowercase;
  margin-top: 10px;
  &:hover {
    background-color: #0c0404;
    color: #fffdfc;
  }
  @include mobile {
    width: 122px;
    height: 35px;
  }
}
.m-forget {
  height: 35px;
  padding: 0 0 0.1em 0;
  min-width: 0;
  height: auto;
  border: 0;
  border-bottom: 1px solid currentColor;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $color-blue;
  opacity: 1 !important;
  transition: unset;
  text-transform: lowercase;
  &.m-bold {
    border-bottom-width: 2px;
    font-weight: 600;
  }
  &:hover {
    color: #000 !important;
  }
  @include mobile {
    font-size: 14px;
    font-weight: normal;
  }
}

.t-left {
  text-align: left !important;
}

.contact-content p {
  font-family: $ff-1;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  padding-top: 10px;
  @include mobile {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.64;
  }
}

.contact-phone {
  font-family: $ff-1;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  padding-top: 10px;
}

#page-contact {
  p {
    margin-top: 1px !important;
  }
  select {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #747474;
    width: 250px;
    @include mobile {
      width: 145px;
      font-size: 11px;
      line-height: 1.18;
    }
  }
}

.form__input1 {
  font-family: $ff-1;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
  border-radius: 5px;
  border: solid 1px #c3c3c3;
  // background-color: #fffdfc;
  background-color: #FFF;
  height: 35px;
  padding-left: 10px;
  &.first_input,&.second_input {
    width: 172px;
  }
  &.third_input {
    width: 354px;
  }
  @include mobile {
    &.first_input {
      width: 140px;
    }
    &.second_input {
      width: 155px;
    }
    &.third_input {
      width: 300px;
    }
  }
}

.contact-form {
  .field-group {
    width: 520px;
    @include mobile {
      width: 300px;
    }
  }
  .form__input {
    width: 250px;
    @include mobile {
      width: 145px;
    }
  }

  @include mobile {
    .m-product {
      width: unset !important;
    }
  }
}

#shopify-section-ea-product-register {
  iframe {
    // height: max-content !important;
    min-height: max-content !important;
    max-height: unset !important;
  }
  @media (min-width: 990px) and (max-width: 1200px) {
    .container {
      padding-left: 45px;
      padding-right: 45px;
    }
  }
  #ProductRegisterForm {
    button {
      border: none;
      color: #FFFDFC;
      &:hover {
        background: #F50;
      }
    }
  }
}


#page-contact {
  .m-contact {
    &:hover {
      border: 1px solid #000 !important;
      background: #FFFDFC !important;    
      color: #000;
    }
  }
  #ContactForm-message {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.password_reset_form {
  flex-direction: column;
  align-items: center;
  .form {
    width: 320px;
    label.form__label {
      font-weight: bold;
    }
  }
  button#button-id-ea-login-new-password {
    background: $color-green;
    border: 1px solid $color-green;
    height: 35px;
    font-size: 14px;
    font-weight: 900;
    transition: all .3s ease;
    &:hover {
      background: transparent;
    }
  }
}

#shopify-section-ea-page-contact {
  .login__content h2.title {
    text-align: left;
  }
  .contact-form .field-group {
    width: 100%;
  }
  @include desktop {
    .form__field.text_field {
      padding-right: 10px;
    }
    .login.page-contact .form__field.m-select {
      padding-right: 10px;
    }
  }
}