<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {% for article in blog.articles %}
        {
          "@type": "ListItem",
          "position": "{{ forloop.index | json }}",
          "url": "{{ shop.url }}{{ article.url }}",
          "name": "{{ article.title }}"
        } {%- unless forloop.last -%},{%- endunless -%}
      {% endfor %}
    ]
  }
</script>

{% section 'custom-hero-banner-blog' %}
{% section 'custom-featured-article' %}
{% section 'custom-blog-main' %}


{% comment %}
<header class="blog-header">
  <div class="container">
    <h3 class="title m-black not-animated ta-center">{{ blog.title }}</h3>
  </div>
</header>  <!-- /.blog-header -->

{% if blog.handle != 'press' %}
  {% section 'ea-blog-featured' %}
{% endif %}
{% section 'ea-blog-main' %}
{% endcomment %}