
{% section 'ea-cart' %}
<div class="hide--desktop hide--tablet">
  {% comment %}{% section 'custom-our-guarantee' %}{% endcomment %}
</div>
{% section 'custom-size-guide' %}
{% section 'custom-cart-faq-new' %}


<script>
  window.page = window.localStorage.getItem('product');
  window.pageUrl = window.localStorage.getItem('product_url');
</script>

{% comment %}

<script>
  localStorage.setItem('opened_side_cart', true);
  window.location.href = '/';
</script>

{% endcomment %}