<div class="sections-wrapper">
  {% section 'custom-collection' %}
  {% section 'custom-product-grid-collection-device' %}
  {% section 'custom-icon-list-collection-device' %}
  {% section 'custom-compare-model-product' %}
</div>
