<div class="sections-wrapper">
  {% comment %}{% section 'ea-collection' %}{% endcomment %}
  {% section 'custom-collection-collar-leash' %}
  <div data--hidden data-product-grid>
    {% section 'custom-product-grid' %}
  </div>
  {% section 'custom-size-guide' %}
</div>
