{% section 'custom-hero-banner-page-affiliate' %}
{% section 'custom-cta-page-affiliate1' %}
{% section 'custom-image-with-text-list' %}
{% section 'custom-faq-page-affiliate' %}
{% section 'custom-cta-page-affiliate2' %}