{% section 'custom-choose-plan-switch' %}
{% section 'custom-icon-list-explore' %}
{% section 'custom-richtext' %}
{% section 'custom-image-video-slider-page-plan' %}
{% section 'custom-icon-text-grid' %}
{% section 'custom-faq-page-plan' %}
{% section 'custom-testimonial-page-plan' %}
{% comment %}{% section 'custom-choose-plan-explore-second' %}{% endcomment %}

<script>
  window.page = window.localStorage.getItem('product');
  window.pageUrl = window.localStorage.getItem('product_url');
</script>