{% section 'holiday-timer' %}
{% section 'holiday-gift-set' %}

{% section 'gift-upsell-popup' %}

<div class="section-group">

  <div class="group" data-group="1">
    {% section 'custom-video' %}
    {% section 'custom-banner-tab' %}
    {% section 'custom-product-faq' %}
  </div>

  <div class="group active" data-group="2">
    {% section 'custom-video-product-switch' %}
    {% section 'custom-banner-tab-product-switch' %}
    {% section 'custom-product-faq-switch' %}
  </div>

  <div class="group" data-group="3">
    {% section 'custom-video-product-fit' %}
    {% section 'custom-banner-tab-product-fit' %}
    {% section 'custom-product-faq-product-fit' %}
  </div>

</div>