{% section 'custom-choose-plan-fit' %}
{% section 'custom-icon-list-fit' %}
{% section 'custom-richtext' %}
{% section 'custom-image-video-slider-page-plan' %}
{% section 'custom-icon-text-grid' %}
{% section 'custom-faq-page-plan' %}
{% section 'custom-testimonial-page-plan' %}
{% comment %}{% section 'custom-choose-plan-fit-second' %}{% endcomment %}


<script>
  window.page = window.localStorage.getItem('product');
  window.pageUrl = window.localStorage.getItem('product_url');
</script>