{% section 'custom-page-plan' %}
{% section 'custom-icon-list' %}
{% section 'custom-product-grid' %}
{% section 'custom-richtext' %}
{% section 'custom-image-video-slider-page-plan' %}
{% section 'custom-icon-text-grid' %}
{% section 'custom-faq-page-plan' %}
{% section 'custom-testimonial' %}
{% section 'custom-page-plan-second' %}

{% comment %}
<script>
  window.page = window.localStorage.getItem('product');
  window.pageUrl = window.localStorage.getItem('product_url');
</script>
{% endcomment %}