{% assign current_variant = product.selected_or_first_available_variant %}

<div class="product_ajax_form ajax-atc" data-ajax-form>
  
  <div class="product_variants multiple-variants" data-product-variants>
    <select data-all-variants data--hidden>
      {% for variant in product.variants %}
        <option value="{{ variant.id }}" data-option1="{{ variant.option1 | default: '_BLANK' }}" data-option2="{{ variant.option2 | default: '_BLANK' }}"></option>
      {% endfor %}
    </select>
    {% if product.options contains 'Color' or product.options contains 'Colour' %}
      <div class="product_variants_color">
        
        {% assign opt_idx = 0 %}
        {% for option in product.options %}
          {% if option == 'Color' or option == 'Colour' %}
            {% assign opt_idx = forloop.index %}
          {% endif %}
        {% endfor %}

        {% assign opt_handle = 'option' | append: opt_idx %}

        <label>
          Color:
          <span data-selected-val>{{ product.selected_or_first_available_variant[opt_handle] }}</span>
        </label>
        <div class="variants-wrapper d-flex">
          {% assign list = '' %}
          {% assign idx = 0 %}
          {% for variant in product.variants %}
            {% assign option = variant[opt_handle] %}
            {% unless list contains option %}
              {% assign idx = idx | plus: 1 %}
              {% assign handle = 'image' | append: idx %}
              {% assign img = setting[handle] %}
              {% assign vImg = img | default: variant.image %}
              <div class="product_option" data-product-variant-option data-variant-img="{{ vImg | img_url: '800x' }}" data-variant-url="{{ variant.url }}">
                <input type="radio" data-variant-option="1" id="product-option-color-{{ option | handle }}" name="product-option-color-{{ index }}" {% if list == '' %}checked{% endif %} value="{{ option }}">
                <label for="product-option-color-{{ option | handle }}" data-color-name="{{ option | handle }}"></label>
              </div>
              {% assign list = list | append: '&&' | append: option %}
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if product.options contains 'Size' or product.options contains 'size' %}
      <div class="product_variants_size">
        {% assign opt_idx = 0 %}
        {% for option in product.options %}
          {% if option == 'Size' or option == 'size' %}
            {% assign opt_idx = forloop.index %}
          {% endif %}
        {% endfor %}
        {% assign handle = 'option' | append: opt_idx %}
        <label>
          Size:
          <span data-selected-val>{{ product.selected_or_first_available_variant[handle] }}</span>
        </label>
        <div class="variants-wrapper d-flex">
          {% assign list = '' %}
          {% for variant in product.variants %}
            {% assign option = variant[handle] %}
            {% unless list contains option %}
              <div class="product_option">
                <input type="radio" data-variant-option="2" id="product-option-color-{{ option | handle }}" name="product-option-size-{{ index }}" {% if list == '' %}checked{% endif %} value="{{ option }}">
                <label for="product-option-color-{{ option | handle }}">{{ option }}</label>
              </div>
              {% assign list = list | append: '&&' | append: option %}
            {% endunless %}
          {% endfor %}
        </div>
        {% comment %}
        <select data-variant-option="2">
          {% assign opt_idx = 0 %}
          {% for option in product.options %}
            {% if option == 'Size' or option == 'size' %}
              {% assign opt_idx = forloop.index %}
            {% endif %}
          {% endfor %}
          {% assign handle = 'option' | append: opt_idx %}
          {% assign list = '' %}
          {% for variant in product.variants %}
            {% assign option = variant[handle] %}
            {% unless list contains option %}
              <option value="{{ option }}">{{ option }}</option>
              {% assign list = list | append: '&&' | append: option %}
            {% endunless %}
          {% endfor %}
        </select>
        {% endcomment %}
      </div>
    {% endif %}
  </div>

</div>