{% assign color_handle = color | handle %}

{% assign first_variant = null %}

{% assign product_img = null %}

{% for variant in product.variants %}
  {% if color == variant[option_color] %}
    {% assign product_img = variant.image %}
    {% assign first_variant = variant %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="product-item" data-atc-product-item data-img="{{  }}">
  {% assign img = product_img %}
  {% assign second_img = img %}
  <div class="image_warpper" data-img="{{ img | img_url: '300x' }}">
    <a href="{{ product.url }}">
      {% if hover %}
        {% for image in product.images %}
          {% if image.alt contains product.handle and image.alt contains color_handle %}
            {% assign second_img = image %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% render 'rimage-second', image: img, wrapper_class: 'img' %}
      <div class="second_img"><img src="{{ second_img | img_url: '300x' }}"></div>
      
      {% if product.metafields.global.type != blank %}
        <span class="product_badge">{{ product.metafields.global.type }}</span>
      {% endif %}
    </a>
  </div>
  <div class="info_wrapper">
    <div class="info">
      <div class="product_title d-flex">
        {% if product.title contains 'Battery' %}
          {{ product.title | replace: 'Battery', '' }} {{ color }} Battery
        {% elsif product.title contains 'Collar' %}
          {{ product.title | replace: 'Collar', '' }} {{ color }} Collar
        {% else %}
          {{ product.title }}
        {% endif %}
      </div>
      {% if feature != blank %}
        <div class="product_feature">{{ feature }}</div>
      {% endif %}
    </div>
    <div class="product_atc_form" data-ajax-form data-id="{{ first_variant.id }}" {% if product.tags contains 'accessory' %}data-type="accessory"{% endif %}>

      {% assign option_size = null %}

      {% for option in product.options %}
        {% if option == 'size' or option == 'Size' %}
          {% assign option_size = 'option' | append: forloop.index %}
        {% endif %}
      {% endfor %}

      {% if option_size != null %}
        <select id="product-variant-selector" data-item-variant-selector>
          {% for variant in product.variants %}
            {% if variant[option_color] == color %}
              <option value="{{ variant.id }}">{{ variant[option_size] }}</option>
            {% endif %}
          {% endfor %}
        </select>
      {% endif %}
<!-- 
      {% if product.options.size > 1 %}
        <select id="product-variant-selector" data-item-variant-selector>
          {% for variant in product.variants %}
            <option value="{{ variant.id }}">
              {% assign option1 = variant.option2 %}
              {% assign option2 = variant.option3 %}
                {{ option1 }}{% if option2 %} • {{ option2 }}{% endif %}
            </option>
          {% endfor %}
        </select>
      {% else %}
        
      {% endif %} -->
      <div class="btn_wrapper d-flex">
        {% assign isAvailable = true %}
        {% assign available_variant = product.selected_or_first_available_variant %}
        {% if product.selected_or_first_available_variant.inventory_quantity <= 5 %}
          {% assign isAvailable = false %}
        {% endif %}

        {% if available_variant.inventory_policy == 'continue' %}
          {% assign isAvailable = true %}
        {% endif %}
        
        <button class="btn m-black-new" data-ajax-atc-btn {% unless isAvailable %}disabled{% endunless %}><span class="hide--mobile hide--tablet">{% if isAvailable %}Add to Bag{% else %}Sold Out{% endif %}</span><span class="hide--desktop">{% if isAvailable %}Add{% else %}Sold Out{% endif %}</span></button>
        <div class="product_price">{{ product.price | money }}</div>
      </div>
    </div>
  </div>
</div>