<article class="post-cell post-cell--featured">
    
  <a href="{{ article.url }}" class="post-cell__image no-hover-link">{% render 'rimage', image: article.image %}</a>
  <!-- /.image -->

  <div class="post-cell__content">
    <div class="post-cell__meta">
      {% comment %}
        <span>{{ article.author }}</span>
        <span class="line"></span>
      {% endcomment %}
      {{ article.published_at | date: "%b %d, %Y" }}
    </div>
    <h3 class="post-cell__title title h2 m-black not-animated"><a href="{{ article.url }}" class="no-hover-link">{{ article.title }}</a></h3>
    <div class="post-cell__bottom">
      <a href="{{ article.url }}" class="post-cell__more no-hover-link">Read More</a>
    </div>
  </div> <!-- /.post-cell__content -->

  {%- unless article.tags.size == 0 -%}
  <span class="post-cell__tags">
    {%- for tag in article.tags -%}
      {{ tag }} {%- unless forloop.last -%}+{%- endunless -%}
    {%- endfor -%}
  </span>
  {%- endunless -%} <!-- /.post-cell__tags -->

</article>
