<div class="section_container">
  <div class="main_content container">
    <div class="main_wrapper" data-animate-block>
      <div class="section_header">
        <div class="title">{{ section.settings.title }}</div>
        <div class="subtitle">{{ section.settings.subtitle }}</div>
      </div>
      <div class="tab-banner-wrapper">
        <div class="tab-banner-header" style="background: {{ section.settings.header_bg }}">
          {% for block in section.blocks %}
            {% assign title = block.settings.tab_header %}
            {% if title != blank %}
              <div class="header_item {% if forloop.first %}active{% endif %}" data-target="{{ title | handle }}" data-tab-banner-header data-index="{{ forloop.index0 }}">
                <span class="icon">{{ block.settings.icon }}</span>
                <span class="icon_active">{{ block.settings.icon_active }}</span>
                <span class="label">{{ title }}</span>
                {% comment %}
                <span class="active">{% render 'icon' with 'icon-arrow-down' %}</span>
                {% endcomment %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="tab-banner-content slider-arrow-circle" data-banner-slider>
          {% for block in section.blocks %}
            <div class="tab-banner-item {% if forloop.first %}active{% endif %}" data-handle="{{ block.settings.tab_header | handle }}" id="banner-{{ set.id }}-{{ block.id }}">
              {% render 'hero__banner-tab', set: block.settings, block: block %}
            </div>
          {% endfor %}
        </div>
      </div>
      {% if section.settings.btn_label != blank %}
        <div class="btn_wrapper">
          <button class="btn show_specs m-black-new">{{ section.settings.btn_label }}</button>
        </div>
      {% endif %}
    </div>
  </div>
</div>