<article class="post-cell post-cell--featured post-cell--featured-second" data-type="{{ type }}">
  {% capture meta_info %}
    <div class="post-cell__meta">
      {% comment %}
        <span>Whistle Team</span>
        <span class="line"></span>
      {% endcomment %}
      {{ article.published_at | date: "%b %d, %Y" }}
      <span class="circle-dot"></span>
      {%- render 'ea-blog__read-time', article: article -%}
      <span class="circle-dot"></span>
      <span class="article_type">{{ blog.title }}</span>
    </div>
  {% endcapture %}


  <div class="hide--desktop">{{ meta_info }}</div>
  <a href="{{ article.url }}" class="post-cell__image no-hover-link">{% render 'rimage', image: article.image %}</a>
  <!-- /.image -->

  <div class="post-cell__content">
    <div class="hide--mobile">{{ meta_info }}</div>
    <h3 class="post-cell__title title h2 m-black not-animated"><a href="{{ article.url }}" class="no-hover-link">{{ article.title }}</a></h3>
    <div class="excerpt">{{ article.excerpt }}</div>
    <div class="post-cell__bottom">
      <a href="{{ article.url }}" class="post-cell__more no-hover-link">Read More {% render 'icon' with 'arrow-right' %}</a>
    </div>
  </div> <!-- /.post-cell__content -->

  {%- unless article.tags.size == 0 -%}
  <span class="post-cell__tags">
    {%- for tag in article.tags -%}
      {{ tag }} {%- unless forloop.last -%}+{%- endunless -%}
    {%- endfor -%}
  </span>
  {%- endunless -%} <!-- /.post-cell__tags -->

</article>
