<div class="section_container">
  <div class="main_content container" data-animate-block>
    <div class="main_wrapper">
      <div class="section_header">
        {% if section.settings.icon != blank %}
          <div class="icon">{% render 'rimage', image: section.settings.icon, size: '100x' %}</div>
        {% endif %}
        {% if section.settings.title != blank %}
          <div class="title">{{ section.settings.title }}</div>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="subtitle">{{ section.settings.text }}</div>
        {% endif %}
      </div>
      <div class="grid-wrapper" data-hor-slider data-mobile-only="1" data-arrows="false" data-dots="true" data-dots-default>
        {% for block in section.blocks %}
          {% if block.settings.image != blank %}
            <div class="image-text-grid-item">
              <div class="img_wrapper">{% render 'rimage', image: block.settings.image, size: '600x' %}</div>
              <div class="text_wrapper">
                {% if block.settings.title != blank %}
                  <div class="item_title">{{ block.settings.title }}</div>
                  <div class="item_text">{{ block.settings.text }}</div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% render 'swipe-text' %}
    </div>
  </div>
</div>