<div class="section_container">
  <div class="main_content container" data-animate-block>
    <div class="main_wrapper">
      <div class="section_header">
        {% if section.settings.title != blank %}
          <div class="title">{{ section.settings.title }}</div>
        {% endif %}
        {% if section.settings.subtitle != blank %}
          <div class="subtitle">{{ section.settings.subtitle }}</div>
        {% endif %}
      </div>
      <div class="block-wrapper d-flex">
        {% for block in section.blocks %}
          <div class="grid-item">
            <div class="icon_wrapper">
              {% render 'rimage', image: block.settings.image %}
            </div>
            <div class="text_wrapper">
              <div class="item_title">{{ block.settings.title }}</div>
              <div class="item_text">{{ block.settings.content }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>