{% render 'ea-section-styles', section: section %}
{% assign set = section.settings %}

{% if template == 'article.recipes' %}
  {% assign postType = 'featured' %}
{% endif %}

<div class="section posts posts--related">
  {% render 'ea-section-foreground-image' %}
  <div class="container">
    {% if set.title != blank %}
      <h3 class="title ta-center m-black">{{ set.title }}</h3>
    {% endif %}
    {% assign size = blog.articles.size | minus: 1 %}
    <div class="posts__grid {% if size > set.posts_per_row %}d_block{% endif %}">
      <div class="row {% if size > set.posts_per_row %}slider{% endif %} {% if size > set.posts_per_row_mobile %}mob_slider{% endif %}" {% if size > set.posts_per_row %}data-hor-slider{% elsif size > set.posts_per_row_mobile %} data-hor-slider data-mobile-only="1"{% endif %} data-slides-to-show="{{ set.posts_per_row }}" data-slides-to-show-mob="{{ set.posts_per_row_mobile }}" data-dots="true" data-arrows="false">
        {%- capture class -%}
          {%- render 'column-width', { device: 'md', columns: set.posts_per_row  } -%}
          {%- render 'column-width', { columns: set.posts_per_row_mobile  } -%}
        {%- endcapture -%}
        {% assign thisArticle = article %}
        {% assign counter = 0 %}
        {%- for article in blog.articles -%}
          {% if article.handle != thisArticle.handle and counter < set.max_posts %}
            <div class="{{ class | strip }}" data-animate-section>
              {%- render 'custom-featured-post-cell-second', article: article -%}
            </div>
            {% assign counter = counter | plus: 1 %}
          {% endif %}
        {%- endfor -%}
      </div>
    </div>  <!-- ./ .posts__grid -->
    <div class="ta-center">
      {% render 'button', {
        top: set.btntop,
        id: section.id,
        text: set.btn,
        url: blog.url,
        class: 'm-outline m-animated'
      } %}
    </div>
  </div> <!-- ./ .container -->
</div>