<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
  window.lazySizesConfig = window.lazySizesConfig || {};
  window.lazySizesConfig.loadMode = 1;
  window.lazySizesConfig.expand = 10;
  window.lazySizesConfig.loadHidden = false;
</script>
<script src="https://cdn.jsdelivr.net/g/lazysizes(lazysizes.min.js+plugins/rias/ls.rias.min.js+plugins/optimumx/ls.optimumx.min.js)" defer=""></script>

<!-- Head -->

{% if template.directory == 'customers' %}
  <script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
{% endif %}

{% if template.name == 'index' %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ shop.name }}",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{{ shop.url }}/search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    },
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>
{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% if template contains 'product' %}
<script type="text/javascript">
  (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/QbyU9U2DghNaYSxmwO9ZtKDcKu250oobXVL9K99o/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script>
{% endif %}

<!-- Iterable Sync encodeURIComponent -->
<script type="text/javascript">
  var customer_id = "{{customer.id}}";
  var shopify_domain = "{{shop.permanent_domain}}";
</script>

<!-- Friendbuy referral SmartPixel Apr 2016 -->
<script>
  window['friendbuy'] = window['friendbuy'] || [];
  window['friendbuy'].push(['site', 'site-b0b9bb6b-whistle.com']);
  window['friendbuy'].push(['track', 'customer',
      { id: '{{ customer.id}}', email: '{{ customer.email }}'}
  ]);
//  (function (f, r, n, d, b, y) {
//      b = f.createElement(r), y = f.getElementsByTagName(r)[0];b.async = 1;b.src = n;y.parentNode.insertBefore(b, y);
//  })(document, 'script', '//djnf6e5yyirys.cloudfront.net/js/friendbuy.min.js');
</script>
<!-- end Friendbuy -->


<!-- Impact Affiliate Marketing - UTT -->
<script type="text/javascript"> 
document.addEventListener('StartAsyncLoading',function(event){
  (function(a,b,c,d,e,f,g){e['ire_o']=c;e[c]=e[c]||function(){(e[c].a=e[c].a||[]).push(arguments)};f=d.createElement(b);g=d.getElementsByTagName(b)[0];f.async=1;f.src=a;g.parentNode.insertBefore(f,g);})('//d.impactradius-event.com/A1990397-ffca-4b52-89db-65dac2147dab1.js','script','ire',document,window);
});
</script>


<!-- Use of this pixel is subject to the Amazon ad specs and policies at http://www.amazon.com/b/?&node=7253015011 -->
<script>
document.addEventListener('StartAsyncLoading',function(event){
var _pix = document.getElementById('_pix_id_951ae397-eda6-f6e2-07a6-f63d91f3ed85');if (!_pix) { var protocol = '//'; var a = Math.random() * 1000000000000000000; _pix = document.createElement('iframe'); _pix.style.display = 'none'; _pix.setAttribute('src', protocol + 's.amazon-adsystem.com/iu3?d=generic&ex-fargs=%3Fid%3D951ae397-eda6-f6e2-07a6-f63d91f3ed85%26type%3D55%26m%3D1&ex-fch=416613&ex-src=https://www.whistle.com&ex-hargs=v%3D1.0%3Bc%3D6571622140201%3Bp%3D951AE397-EDA6-F6E2-07A6-F63D91F3ED85' + '&cb=' + a); _pix.setAttribute('id','_pix_id_951ae397-eda6-f6e2-07a6-f63d91f3ed85'); document.body.appendChild(_pix);}
});
</script>
<noscript> <img height='1' width='1' border='0' alt='' src='https://s.amazon-adsystem.com/iui3?d=forester-did&ex-fargs=%3Fid%3D951ae397-eda6-f6e2-07a6-f63d91f3ed85%26type%3D55%26m%3D1&ex-fch=416613&ex-src=https://www.whistle.com&ex-hargs=v%3D1.0%3Bc%3D6571622140201%3Bp%3D951AE397-EDA6-F6E2-07A6-F63D91F3ED85' /></noscript>

{% comment %}<script defer data-src="https://d40c52d253214cb4aa1c59044f3730be.js.ubembed.com" async></script>{% endcomment %}

<!-- tapjoy start -->
<script defer data-src="https://www.tp88trk.com/scripts/sdk/everflow.js" async></script>
<script type="text/javascript">
document.addEventListener('StartAsyncLoading',function(event){
  setTimeout(function(){
    EF.click({
      offer_id: EF.urlParameter('oid'),
      affiliate_id: EF.urlParameter('affid'),
      sub1: EF.urlParameter('sub1'),
      sub2: EF.urlParameter('sub2'),
      sub3: EF.urlParameter('sub3'),
      sub4: EF.urlParameter('sub4'),
      sub5: EF.urlParameter('sub5'),
      uid: EF.urlParameter('uid'),
      transaction_id: EF.urlParameter('utm_term'),
    });
  }, 1000);
})
</script>
<!-- tapjoy end -->

{% if template.name == 'product' %}
  <script src="https://www.paypal.com/sdk/js?client-id=4VDLDYL84PJLC&components=messages"></script>
{% endif %}
    
<!-- End Head -->
    
    
    
    
    <!-- Theme -->
  
  <script defer data-src="https://cmp.osano.com/AzZcicSFObiLE1BEC/1c16e4d6-cca5-44ea-a8ff-e326c8f98c17/osano.js"></script>
  <script type='text/javascript'>
    document.addEventListener('StartAsyncLoading',function(event){
      var jiltStorefrontParams = {{ shop.metafields.jilt_storefront | json }}; {% if customer %}jiltStorefrontParams.customerID = {{ customer.id }};{% endif %}
    })
  </script>
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/iQmT6TKQmCkoaKVKXJHL0Q" async></script>

  <script type='text/javascript'>
    document.addEventListener('StartAsyncLoading',function(event){
      var jiltStorefrontParams = {{ shop.metafields.jilt_storefront | json }}; {% if customer %}jiltStorefrontParams.customerID = {{ customer.id }};{% endif %}
    });
  </script>

  {% if template contains 'product' %}
  <script defer data-src="https://cdn-widgetsrepository.yotpo.com/v1/loader/iQmT6TKQmCkoaKVKXJHL0Q" async></script>
  {% endif %}

  <!-- LiveConnectTag for advertisers -->
  <script type="text/javascript" data-src="//b-code.liadm.com/a-05tb.min.js" async="true" charset="utf-8"></script>
  <!-- LiveConnectTag for advertisers -->

  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WD6RWQ');
  </script>
  <!-- End Google Tag Manager -->

  <!-- MS Bing -->
  <script>
    document.addEventListener('StartAsyncLoading',function(event){
      (function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"17525113"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
    })
  </script>
  <!-- End MS Bing -->

  <!-- Facebook Pixel Code -->
  <script>
    document.addEventListener('StartAsyncLoading',function(event){
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '339680363989897');
      fbq('track', 'PageView');
    })
  </script>
  <!-- Microsoft Advertising UET tag tracking code -->
  <script>
    document.addEventListener('StartAsyncLoading',function(event){
      (function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"17526828"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
    })
  </script>
  <!-- Microsoft Advertising UET tag tracking code -->
  <noscript>
    <img height="1" width="1" style="display:none" 
        src="https://www.facebook.com/tr?id=339680363989897&ev=PageView&noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

  {% comment %}
  <script defer async="true" src="https://cdn.optimizely.com/js/19860332042.js"></script>
  {% endcomment %}
<!-- End theme -->







<script src="{{ 'theme.js' | asset_url }}" async></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.css" rel="stylesheet">

<script>(function(){ var s = document.createElement('script'), e = ! document.body ? document.querySelector('head') : document.body; s.src = 'https://acsbapp.com/apps/app/dist/js/app.js'; s.async = true; s.onload = function(){ acsbJS.init({ statementLink : '', footerHtml : '', hideMobile : false, hideTrigger : false, language : 'en', position : 'left', leadColor : '#014550', triggerColor : '#146ff8', triggerRadius : '50%', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerIcon : 'people', triggerSize : 'medium', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerOffsetX : 10, triggerOffsetY : 10, triggerRadius : '50%' } }); }; e.appendChild(s);}());</script>