<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="{{ settings.color_primary }}">
<meta name="google-site-verification" content="cTaIpMnn3rcLoGUImGuNXPQ08_pecHfwPRFax8lKRkc" />
<meta name="facebook-domain-verification" content="ni8ove72wlq093ib8spkfej2lck0zw" />


{% comment %}{% if template contains 'whistle-plan' %}
  <meta name="robots" content="noindex">
{% endif %}
{% endcomment %}

{% if tags contains 'planpages' %}
  <meta name="robots" content="noindex">
{% endif %}

{% assign canoonical_url_modified = canonical_url %}
{% if template == 'collection' %}
  {% assign canoonical_url_modified = request.host | append: collection.url | append: '?page=1'  %}
  {% assign canoonical_url_modified = 'https://' | append: canoonical_url_modified %}
{% endif %}
<link rel="canonical" href="{{ canoonical_url_modified }}">
{% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
{% endif %}

{% capture seo_title %}
  {% if page_title == 'empty' %}
    {% if request.page_type == 'blog' %}
      {{ blog.title }}
    {% endif %}
  {% else %}
    {{ page_title }}
  {% endif %}
  {% if current_tags %}
    {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
    &ndash; {{ shop.name }}
  {% endunless %}
{% endcapture %}

<title>{{ seo_title }}</title>


{% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
{% endif %}

{% include 'social-meta-tags' %}


<link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.google-analytics.com" crossorigin>
<link rel="preconnect" href="https://cdn.shopify.com">
<link rel="preconnect" href="https://fonts.shopifycdn.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://use.typekit.net">
<link rel="preconnect" href="https://f.vimeocdn.com">
<link rel="preconnect" href="https://i.vimeocdn.com">



<link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">


{% if template contains 'index' %}
  <link rel="preload" href="//cdn.shopify.com/s/files/1/0231/7673/files/Group_9740_2_2000x.jpg?v=1632929209" as="image" media="(min-width: 768px)">
  <link rel="preload" href="//cdn.shopify.com/s/files/1/0231/7673/files/Group_10364_500x.jpg?v=1632962929" as="image" media="(max-width: 767px)">

{% endif %}

<link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style" onload="this.rel='stylesheet'">
<link rel="preload" href="{{ 'styles.scss.css' | asset_url }}" as="style" onload="this.rel='stylesheet'">


{% unless request.path contains '/a/review' %}
  {% if template == blank and page == blank %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  {% endif %}
{% endunless %}


<link href="{{ 'theme.css' | asset_url }}" rel="stylesheet">
<link href="{{ 'styles.scss.css' | asset_url }}" rel="stylesheet">

<link href="{{ 'extra.css' | asset_url }}" rel="stylesheet">

<link rel="" href="https://use.typekit.net/onl0byk.css" title="styles" as="style" onload="this.rel='stylesheet'">

<script>
  var script_loaded=!1;function loadJSscripts(){if(!script_loaded){script_loaded=!0;var t=document.getElementsByTagName("script");for(i=0;i<t.length;i++)if(null!==t[i].getAttribute("data-src")){var e=document.createElement("script");e.src=t[i].getAttribute("data-src"),document.body.appendChild(e)}document.dispatchEvent(new CustomEvent("StartAsyncLoading")),setTimeout(function(){document.dispatchEvent(new CustomEvent("StartPreviewBarLoading"))},700)}}window.addEventListener("scroll",function(t){setTimeout(function(){loadJSscripts()},500)}),window.addEventListener("mousemove",function(){setTimeout(function(){loadJSscripts()},500)}),window.addEventListener("touchstart",function(){setTimeout(function(){loadJSscripts()},500)}),window.addEventListener?window.addEventListener("load",function(){setTimeout(loadJSscripts,4e3)},!1):window.attachEvent?window.attachEvent("onload",function(){setTimeout(loadJSscripts,4e3)}):window.onload=loadJSscripts;var script_loaded=!1;function loadJSscripts(){if(!script_loaded){script_loaded=!0;var t=document.getElementsByTagName("script");for(i=0;i<t.length;i++)if(null!==t[i].getAttribute("data-src")){var e=document.createElement("script");e.src=t[i].getAttribute("data-src"),document.body.appendChild(e)}document.dispatchEvent(new CustomEvent("StartAsyncLoading")),setTimeout(function(){document.dispatchEvent(new CustomEvent("StartPreviewBarLoading"))},700)}}window.addEventListener("scroll",function(t){setTimeout(function(){loadJSscripts()},500)}),window.addEventListener("mousemove",function(){setTimeout(function(){loadJSscripts()},500)}),window.addEventListener("touchstart",function(){setTimeout(function(){loadJSscripts()},500)}),window.addEventListener?window.addEventListener("load",function(){setTimeout(loadJSscripts,4e3)},!1):window.attachEvent?window.attachEvent("onload",function(){setTimeout(loadJSscripts,4e3)}):window.onload=loadJSscripts;
</script>


<script>
  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  window.theme = {
    strings: {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      preOrder: {{ 'products.product.pre_order' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      recharge: {% if product.handle contains 'annual' %} "Subscribe" {% else %} "Subscribe For $1" {% endif %}
    },
    moneyFormat: {{ shop.money_format | json }}
  };
</script>
