{% assign set = section.settings %}

{% render 'ea-section-styles', section: section %}

{% render 'ea-section-foreground-image', section: section %}

{% form 'customer', class: 'newsletter', id: 'newsletter_form' %}
  {% if form.errors %}              
    <script>
      {% for field in form.errors %}
          Swal.fire({
          title: 'Error',
          text: '{{ field | capitalize }} - {{ form.errors.messages[field] }}',
          icon: 'error',
          confirmButtonText: 'Cool' 
          })
      {% endfor %}
    </script>
  {% endif %}

  {%- if form.posted_successfully? -%}
    <script>
      Swal.fire({
        title: 'Success!',
        text: 'Thank you! Please check your email to confirm your subscription.',
        icon: 'success',
        confirmButtonText: 'Cool' 
      })
    </script>
  {%- endif -%}
  <input type="hidden" name="contact[tags]" value="Iterable"/>
  <input type="hidden" name="challenge" value="false" />
  <div class="container">
    <div class="container_wrapper d-flex">
      <div>
        {% if set.title != blank %}
          <h2 class="title m-black not-animated h2">{{ set.title }}</h2>
        {% endif %}
        {% if set.pretitle != blank %}
          <h3 class="pretitle not-animated h4">{{ set.pretitle }}</h3>
        {% endif %}
      </div>
      <div class="form-field">
        <input type="text" class="input" name="contact[email]" placeholder="{{ set.placeholder }}">
        <button type="submit" class="btn m-black-new btn-rounded" aria-label="Newsletter signup">{{ set.btn }}</button>
      </div>
    </div>
  </div>
{% endform %}

<style>
.shopify-challenge__container .btn {
  margin-top: 30px;
}
.shopify-challenge__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
</style>