<div class="product-item" data-atc-product-item>
  <div class="icon-selected">{% render 'icon' with 'icon-selected' %}</div>

  {% assign img = product.featured_image %}
  {% assign second_img = img %}
  <div class="image_warpper" data-img="{{ img | img_url: '300x' }}">
      {% if hover %}
        {% assign second_img = product.images[1] | default: img %}
      {% endif %}
      {% render 'rimage-second', image: img, wrapper_class: 'img' %}
  </div>
  <div class="info_wrapper">
    <div class="info">
      <div class="product_title d-flex">
        {{ product.title }}
      </div>
    </div>
    <div class="product_atc_form" data-ajax-form data-id="{{ product.selected_or_first_available_variant.id }}" {% if product.tags contains 'accessory' %}data-type="accessory"{% endif %}>
        {% if product.options.size == 1 and product.options[0] == 'Color' and product.options_by_name['Color'].values.size > 1 %}
        
          <div class="product-color-variants d-flex">
            <label>Color: <span data-selected-val>{{ product.selected_or_first_available_variant.option1 }}</span></label>
            <div class="product-variants-wrapper d-flex">
              {% assign colors = '' %}
              {% for variant in product.variants %}
                {% assign color = variant.option1 %}
                {% unless colors contains color %}

                  <div class="color-variant-item">
                    <input {% if colors == '' %}checked{% endif %} type="radio" id="{{ product.handle }}-{{ color | handle }}" name="{{ product.handle }}-color" data-id="{{ variant.id }}" data-variant-color data-variant-img="{{ variant.image | img_url: '640x' }}">
                    <label for="{{ product.handle }}-{{ color | handle }}" data-color-name="{{ color | handle }}"></label>
                  </div>
                  {% assign colors = colors | append: '||' | append: color %}

                {% endunless %}
              {% endfor %}
            </div>
          </div>

        {% else %}

          {% if product.options.size > 1 %}

            <select id="product-variant-selector" data-item-variant-selector>
              {% for variant in product.variants %}
                <option value="{{ variant.id }}">
                  {% assign option1 = variant.option2 %}
                  {% assign option2 = variant.option3 %}
                    {{ option1 }}{% if option2 %} • {{ option2 }}{% endif %}
                </option>
              {% endfor %}
            </select>
            
          {% endif %}

        {% endif %}
        
      <div class="btn_wrapper d-flex">
        {% assign isAvailable = true %}
        {% assign available_variant = product.selected_or_first_available_variant %}
        {% if available_variant.inventory_quantity <= 5 %}
          {% assign isAvailable = false %}
        {% endif %}

        {% if available_variant.inventory_policy == 'continue' %}
          {% assign isAvailable = true %}
        {% endif %}

        {% comment %}<button class="btn m-black-new btn-rounded" data-ajax-atc-btn {% unless isAvailable %}disabled{% endunless %}><span class="hide--mobile hide--tablet">{% if isAvailable %}Add to Bag{% else %}Sold Out{% endif %}</span><span class="hide--desktop">{% if isAvailable %}Add{% else %}Sold Out{% endif %}</span></button>{% endcomment %}
        <button class="btn m-black-new btn-rounded">Select</button>

        {% assign compare_price = 6000 %}

        <div class="product_price" data-compare-price="{{ compare_price }}" data-regular-price="{{ product.price }}">
          <span class="was-price" data-compare-price="{{ compare_price }}">{{ compare_price | money }}</span>
          <span class="regular-price" data-regular-price="{{ product.price }}">{{ product.price | money }}</span>
        </div>
      </div>
    </div>
  </div>
</div>