{% if set.image != blank %}
  <div class="hero__banner" id="hero-banner-{{ section.id }}">
    <div class="banner_wrapper">
      {% assign image = set.image %}
      {% assign mob_image = set.mob_image | default: image %}
      <div class="banner_img_wrapper hide--mobile">
        {% render 'rimage', image: image, size: '1400x'  %}
      </div>
      <div class="banner_img_wrapper hide--desktop hide--tablet">
        {% render 'rimage', image: mob_image, size: '1400x'  %}
      </div>
      {% assign mob_pos = set.content_pos_mob | split: ' ' %}
      <div class="banner_info pos-control {{ set.content_pos }} mob-{{ mob_pos[0] }} mob-{{ mob_pos[1] }} text-{{ set.text_align }} mob-text-{{ set.text_align_mob }}">
        {% if set.title != blank %}
          <div class="title not-animated">{{ set.title }}</div>
        {% endif %}
        {% if set.subtitle != blank %}
          <div class="subtitle not-animated">{{ set.subtitle }}</div>
        {% endif %}
        <style>
          #banner-{{ set.id }}-{{ block.id }} .title, #banner-{{ set.id }}-{{ block.id }} .subtitle {
            color: {{ set.color }}
          }
          @media (max-width: 767px) {
            #banner-{{ set.id }}-{{ block.id }} .title, #banner-{{ set.id }}-{{ block.id }} .subtitle {
              color: {{ set.mob_color }}
            }
          }

          {% assign opacity = block.settings.overlay_opacity | plus: 0 | divided_by: 100.0 %}

          #banner-{{ set.id }}-{{ block.id }} .banner_info {
            background: {{ block.settings.overlay_color | color_modify: 'alpha', opacity }};
          }
        </style>
      </div>
    </div>
  </div>
{% endif %}