{% case icon %}
  {% when 'accordion-arrow' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="13.77" height="7.401" viewBox="0 0 13.77 7.401">
      <path id="np_arrow_2601665_000000" fill="#231f20" fill-rule="evenodd" d="M24.321 34.48l5.43 5.137 5.459-5.137c.72-.695 1.95.445 1.2 1.138l-6.149 5.859a.708.708 0 0 1-.96 0l-6.209-5.859c-.72-.695.51-1.833 1.23-1.138z" transform="translate(-22.874 -34.263)"/>
    </svg>

  {% when 'accordion-arrow-opened' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="5.58" height="12" viewBox="0 0 5.58 12" style="transform: rotate(90deg);">
      <path id="np_down-arrow_3012911_000000" fill="#231f20" d="M6.02 5.58a.741.741 0 0 1-.28-.08L.142.7A.389.389 0 0 1 .1.142.389.389 0 0 1 .662.1L6.02 4.66 11.338.1a.389.389 0 0 1 .56.04.386.386 0 0 1-.04.56L6.26 5.5a.429.429 0 0 1-.24.08z" transform="rotate(-90 6 6)"/>
    </svg>
    
  {% when 'accordion-arrow-closed' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="5.58" height="12" viewBox="0 0 5.58 12">
      <path id="np_down-arrow_3012911_000000" fill="#231f20" d="M6.02 5.58a.741.741 0 0 1-.28-.08L.142.7A.389.389 0 0 1 .1.142.389.389 0 0 1 .662.1L6.02 4.66 11.338.1a.389.389 0 0 1 .56.04.386.386 0 0 1-.04.56L6.26 5.5a.429.429 0 0 1-.24.08z" transform="rotate(-90 6 6)"/>
    </svg>

  {% when 'icon-cart' %}
    <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M19.3711 2.5H5.0625L4.74609 0.953125C4.67578 0.566406 4.32422 0.25 3.9375 0.25H0.421875C0.175781 0.25 0 0.460938 0 0.671875V1.51562C0 1.76172 0.175781 1.9375 0.421875 1.9375H3.23438L5.66016 14.4531C5.27344 14.875 5.0625 15.4023 5.0625 16C5.0625 17.2656 6.04688 18.25 7.3125 18.25C8.54297 18.25 9.5625 17.2656 9.5625 16C9.5625 15.6836 9.42188 15.1914 9.24609 14.875H14.3438C14.168 15.1914 14.0625 15.6836 14.0625 16C14.0625 17.2656 15.0469 18.25 16.3125 18.25C17.543 18.25 18.5625 17.2656 18.5625 16C18.5625 15.3672 18.2812 14.8047 17.8594 14.3828L17.8945 14.2422C18 13.7148 17.6133 13.1875 17.0508 13.1875H7.13672L6.82031 11.5H17.7891C18.2109 11.5 18.5273 11.2539 18.6328 10.8672L20.2148 3.55469C20.3203 3.02734 19.9336 2.5 19.3711 2.5ZM7.3125 16.8438C6.82031 16.8438 6.46875 16.4922 6.46875 16C6.46875 15.543 6.82031 15.1562 7.3125 15.1562C7.76953 15.1562 8.15625 15.543 8.15625 16C8.15625 16.4922 7.76953 16.8438 7.3125 16.8438ZM16.3125 16.8438C15.8203 16.8438 15.4688 16.4922 15.4688 16C15.4688 15.543 15.8203 15.1562 16.3125 15.1562C16.7695 15.1562 17.1562 15.543 17.1562 16C17.1562 16.4922 16.7695 16.8438 16.3125 16.8438ZM17.1211 9.8125H6.46875L5.37891 4.1875H18.3516L17.1211 9.8125Z" fill="white"></path>
    </svg>
  
  {% when 'icon-nav-cart' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20.59">
      <g transform="translate(-5.641 -6.77)">
        <path data-name="Path 58738" d="M9.586 9.139a.452.452 0 0 0-.451-.37H6.092a.451.451 0 1 0 0 .9h2.673l.607 3.341a.429.429 0 0 0 0 .048l1.328 7.261a2.255 2.255 0 0 0 2.218 1.851h8.61a2.255 2.255 0 0 0 2.182-1.689l1.919-7.415a.451.451 0 0 0-.437-.564H10.2zM24.608 13.4l-1.772 6.852a1.352 1.352 0 0 1-1.31 1.015h-8.61a1.352 1.352 0 0 1-1.332-1.111L10.357 13.4z"/>
        <path data-name="Path 58739" d="M15.173 25.369a1.991 1.991 0 1 0-1.991 1.991 1.991 1.991 0 0 0 1.991-1.991zm-3.08 0a1.089 1.089 0 1 1 1.089 1.089 1.088 1.088 0 0 1-1.089-1.089z"/>
        <path data-name="Path 58740" d="M22.653 25.369a1.991 1.991 0 1 0-1.991 1.991 1.991 1.991 0 0 0 1.991-1.991zm-3.08 0a1.089 1.089 0 1 1 1.089 1.089 1.088 1.088 0 0 1-1.089-1.089z"/>
      </g>
    </svg>


  {% when 'icon-close' %}
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
    <g>
    <g>
      <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
        L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
        c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
        l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
        L284.286,256.002z"/>
    </g>
    </g>
  </svg>

  {% when 'menu-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="13.413" height="13.413" viewBox="0 0 13.413 13.413">
      <defs>
        <style>
          .cls-1_menu_icon{fill:#0093c8}
        </style>
      </defs>
      <g id="np_link_2163828_000000" transform="translate(-6.25 -6.25)">
        <path id="Path_58400" d="M16.789 27.6h-9.1a1.439 1.439 0 0 1-1.439-1.436v-9.1a1.439 1.439 0 0 1 1.437-1.437h.958a.479.479 0 0 1 0 .958h-.958a.479.479 0 0 0-.479.479v9.1a.479.479 0 0 0 .479.479h9.1a.479.479 0 0 0 .479-.479v-.958a.479.479 0 0 1 .958 0v.958a1.439 1.439 0 0 1-1.435 1.436z" class="cls-1_menu_icon" transform="translate(0 -7.938)"/>
        <path id="Path_58401" d="M28.81 6.25h-8.623a1.439 1.439 0 0 0-1.437 1.437v8.623a1.439 1.439 0 0 0 1.437 1.437h8.623a1.439 1.439 0 0 0 1.437-1.437V7.687A1.439 1.439 0 0 0 28.81 6.25zM28.331 12a.479.479 0 0 1-.958 0v-1.966l-4.113 4.112a.479.479 0 1 1-.678-.677l4.346-4.345H24.5a.479.479 0 1 1 0-.958h3.832z" class="cls-1_menu_icon" transform="translate(-10.584)"/>
      </g>
    </svg>

  {% when 'icon-plus' %}
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 341.4 341.4" style="enable-background:new 0 0 341.4 341.4;" xml:space="preserve">
      <g>
        <g>
          <polygon points="192,149.4 192,0 149.4,0 149.4,149.4 0,149.4 0,192 149.4,192 149.4,341.4 192,341.4 192,192 341.4,192 341.4,149.4"/>
        </g>
      </g>
    </svg>
  
  {% when 'icon-minus' %}
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 341.333 341.333" style="enable-background:new 0 0 341.333 341.333;" xml:space="preserve">
      <g>
        <g>
          <rect y="149.333" width="341.333" height="42.667"/>
        </g>
      </g>
    </svg>

  {% when 'compare-model' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="13.413" height="13.413" viewBox="0 0 13.413 13.413">
      <defs>
        <style>
          .cls-1_compare_model{fill:#0093c8}
        </style>
      </defs>
      <g id="np_link_2163828_000000" transform="translate(-6.25 -6.25)">
        <path id="Path_58400" d="M16.789 27.6h-9.1a1.439 1.439 0 0 1-1.439-1.436v-9.1a1.439 1.439 0 0 1 1.437-1.437h.958a.479.479 0 0 1 0 .958h-.958a.479.479 0 0 0-.479.479v9.1a.479.479 0 0 0 .479.479h9.1a.479.479 0 0 0 .479-.479v-.958a.479.479 0 0 1 .958 0v.958a1.439 1.439 0 0 1-1.435 1.436z" class="cls-1_compare_model" transform="translate(0 -7.938)"></path>
        <path id="Path_58401" d="M28.81 6.25h-8.623a1.439 1.439 0 0 0-1.437 1.437v8.623a1.439 1.439 0 0 0 1.437 1.437h8.623a1.439 1.439 0 0 0 1.437-1.437V7.687A1.439 1.439 0 0 0 28.81 6.25zM28.331 12a.479.479 0 0 1-.958 0v-1.966l-4.113 4.112a.479.479 0 1 1-.678-.677l4.346-4.345H24.5a.479.479 0 1 1 0-.958h3.832z" class="cls-1_compare_model" transform="translate(-10.584)"></path>
      </g>
    </svg>

  {% when 'icon-true' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="13.43" viewBox="0 0 18 13.43">
      <path fill="#038848" d="M7.082 13.719a.934.934 0 0 0 1.3 0L18.719 3.383a.934.934 0 0 0 0-1.3L17.453.816a.891.891 0 0 0-1.266 0L7.75 9.254 3.777 5.316a.891.891 0 0 0-1.266 0L1.246 6.582a.934.934 0 0 0 0 1.3z" transform="translate(-.982 -.553)"/>
    </svg>

  {% when 'icon-false' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="13.113" height="13.113" viewBox="0 0 13.113 13.113">
      <path fill="#53585a" fill-rule="evenodd" d="M9.014 7.12l4.254-4.254a1.343 1.343 0 0 1 1.891 1.907L10.921 9.01l4.238 4.254a1.337 1.337 0 0 1-1.891 1.891l-4.254-4.238-4.238 4.238a1.343 1.343 0 0 1-1.907-1.891L7.124 9.01 2.869 4.772a1.348 1.348 0 0 1 1.907-1.907z" transform="translate(-2.459 -2.455)"/>
    </svg>

  {% when 'icon-circle-close' %}
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
      <g><g>
        <path d="M437.019,74.981C388.668,26.628,324.378,0,256,0C187.62,0,123.333,26.628,74.981,74.98S0,187.62,0,256
          c0,68.381,26.628,132.668,74.981,181.02C123.332,485.372,187.62,512,255.999,512s132.669-26.628,181.02-74.98
          C485.371,388.667,512,324.38,512,256C512,187.619,485.371,123.332,437.019,74.981z M368.853,347.642
          c5.857,5.857,5.857,15.355,0,21.213c-2.93,2.929-6.768,4.393-10.607,4.393c-3.838,0-7.678-1.465-10.605-4.393L256,277.214
          l-91.641,91.641c-2.93,2.929-6.768,4.393-10.607,4.393c-3.838,0-7.678-1.465-10.605-4.393c-5.858-5.857-5.858-15.355,0-21.213
          l91.64-91.641l-91.64-91.641c-5.858-5.857-5.858-15.355,0-21.213c5.857-5.857,15.354-5.857,21.213,0L256,234.788l91.64-91.641
          c5.857-5.857,15.355-5.857,21.213,0c5.857,5.857,5.857,15.355,0,21.213l-91.641,91.641L368.853,347.642z"/>
      </g></g>
    </svg>

  {% when 'icon-logo' %}
    <svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M14.4484 13C18.0666 13 21 10.0897 21 6.5C21 2.91027 18.0666 0 14.4484 0H0V5.668H1.64226C6.48694 5.668 8.33361 13 14.4484 13ZM14.4484 11.4053C9.49717 11.4053 7.90383 4.0404 1.64226 4.0404V1.5964H10.0178V4.85507C10.5 3.21013 12.1108 1.57387 14.4484 1.57387C17.2193 1.57387 19.4049 3.75093 19.4049 6.5C19.4067 9.24907 17.2193 11.4053 14.4484 11.4053Z" fill="#3cf084"></path>
    </svg>

  {% when 'icon-social-facebook' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="26.86" height="26.859" viewBox="0 0 26.86 26.859">
      <path fill="#6dbf00" d="M1362.552 6444.78h-20.145a3.361 3.361 0 0 0-3.357 3.357v20.145a3.36 3.36 0 0 0 3.357 3.357h10.072v-9.232h-3.357v-4.2h3.357v-3.357a5.037 5.037 0 0 1 5.036-5.036h3.357v4.2h-1.678c-.927 0-1.679-.087-1.679.839v3.357h4.2l-1.678 4.2h-2.518v9.232h5.036a3.361 3.361 0 0 0 3.358-3.357v-20.145a3.362 3.362 0 0 0-3.361-3.36z" transform="translate(-1339.05 -6444.78)"/>
    </svg>

  {% when 'icon-social-youtube' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="26.859" height="18.466" viewBox="0 0 26.859 18.466">
      <path fill="#6dbf00" d="M1426.8 6451.78c-.728-1.3-1.519-1.532-3.129-1.624-1.608-.109-5.652-.154-9.155-.154s-7.556.045-9.162.153c-1.607.093-2.4.328-3.134 1.625-.751 1.3-1.137 3.524-1.137 7.449v.014c0 3.908.386 6.153 1.137 7.436.734 1.295 1.526 1.53 3.132 1.64 1.608.094 5.654.149 9.164.149s7.548-.056 9.157-.148c1.61-.109 2.4-.344 3.129-1.64.757-1.281 1.14-3.526 1.14-7.436v-.013c-.001-3.931-.384-6.155-1.142-7.451zm-15.645 12.49v-10.07l8.393 5.036z" transform="translate(-1401.082 -6450.001)"/>
    </svg>

  {% when 'icon-social-instagram' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="26.86" height="26.859" viewBox="0 0 26.86 26.859">
      <path d="M1230.055 6453.134a6.714 6.714 0 1 0 6.715 6.714 6.716 6.716 0 0 0-6.715-6.714zm0 10.911a4.2 4.2 0 1 1 4.2-4.2 4.2 4.2 0 0 1-4.2 4.2z" transform="translate(-1216.627 -6446.156)"/>
      <g>
          <path d="M1233.452 6444.78h-10.072a8.4 8.4 0 0 0-8.394 8.394v10.072a8.4 8.4 0 0 0 8.394 8.394h10.072a8.4 8.4 0 0 0 8.393-8.394v-10.072a8.4 8.4 0 0 0-8.393-8.394zm5.875 18.466a5.881 5.881 0 0 1-5.875 5.875h-10.072a5.881 5.881 0 0 1-5.876-5.875v-10.072a5.882 5.882 0 0 1 5.876-5.875h10.072a5.882 5.882 0 0 1 5.875 5.875z" transform="translate(-1214.986 -6444.78)"/>
          <circle cx=".895" cy=".895" r=".895" transform="translate(21.149 6.977)"/>
      </g>
    </svg>

  {% when 'icon-social-twitter' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="26.86" height="21.823" viewBox="0 0 26.86 21.823">
      <path fill="#6dbf00" d="M1303.878 6450.5a11.465 11.465 0 0 1-3.173.87 5.475 5.475 0 0 0 2.422-3.043 11.041 11.041 0 0 1-3.492 1.333 5.506 5.506 0 0 0-9.525 3.765 5.66 5.66 0 0 0 .128 1.256 15.586 15.586 0 0 1-11.35-5.76 5.507 5.507 0 0 0 1.692 7.359 5.45 5.45 0 0 1-2.488-.678v.06a5.531 5.531 0 0 0 4.411 5.411 5.471 5.471 0 0 1-1.444.181 4.913 4.913 0 0 1-1.042-.093 5.56 5.56 0 0 0 5.145 3.835 11.066 11.066 0 0 1-6.827 2.349 10.269 10.269 0 0 1-1.318-.076 15.672 15.672 0 0 0 24.12-13.2c0-.242-.008-.478-.02-.711a10.982 10.982 0 0 0 2.761-2.858z" transform="translate(-1277.018 -6447.913)"/>
    </svg>

  {% when 'icon-social-linkedin' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 32 32">
      <path fill="#81BC00" d="M16 0C7.16 0 0 7.16 0 16s7.16 16 16 16 16-7.16 16-16S24.83 0 16 0zm-4.42 23.98H8.26V13.31h3.32v10.67zM9.92 11.86C8.86 11.86 8 11 8 9.94s.86-1.92 1.92-1.92 1.92.86 1.92 1.92c0 1.05-.86 1.92-1.92 1.92zM24 23.98h-3.32v-5.19c0-1.24-.02-2.83-1.72-2.83-1.73 0-1.99 1.35-1.99 2.74v5.28h-3.31V13.31h3.18v1.46h.05c.44-.84 1.52-1.72 3.14-1.72 3.36 0 3.98 2.21 3.98 5.08v5.85H24z"></path>
    </svg>

  {% when 'icon-arrow-down' %}
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.011 512.011" style="enable-background:new 0 0 512.011 512.011;" xml:space="preserve">
      <g><g>
        <path d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0
          s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667
          C514.096,145.416,514.096,131.933,505.755,123.592z"/>
      </g></g>
    </svg>

  {% when 'icon-direc-down' %}
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
      <g><g>
        <path d="M374.108,373.328c-7.829-7.792-20.492-7.762-28.284,0.067L276,443.557V20c0-11.046-8.954-20-20-20
          c-11.046,0-20,8.954-20,20v423.558l-69.824-70.164c-7.792-7.829-20.455-7.859-28.284-0.067c-7.83,7.793-7.859,20.456-0.068,28.285
          l104,104.504c0.006,0.007,0.013,0.012,0.019,0.018c7.792,7.809,20.496,7.834,28.314,0.001c0.006-0.007,0.013-0.012,0.019-0.018
          l104-104.504C381.966,393.785,381.939,381.121,374.108,373.328z"/>
      </g></g>
    </svg>

  {% when 'icon-direc-right' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="6.081" height="13.077" viewBox="0 0 6.081 13.077">
      <path id="np_down-arrow_3012911_000000" fill="#3b3839" d="M6.56 6.081a.808.808 0 0 1-.305-.087L.155.765a.424.424 0 0 1-.044-.61.424.424 0 0 1 .61-.044L6.56 5.079l5.8-4.968a.424.424 0 0 1 .61.044.421.421 0 0 1-.044.61l-6.1 5.229a.467.467 0 0 1-.261.087z" transform="rotate(-90 6.539 6.538)"></path>
    </svg>

  {% when 'icon-arrow-left' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="19.129" height="9.319" viewBox="0 0 19.129 9.319">
      <path d="M11 35.66a.574.574 0 0 0 .138.337l3.924 4.169a.491.491 0 0 0 .694.019.506.506 0 0 0 .019-.694l-3.15-3.341h17.013a.49.49 0 0 0 0-.981H12.625l3.15-3.341a.514.514 0 0 0-.019-.694.491.491 0 0 0-.694.019l-3.924 4.169a.437.437 0 0 0-.138.338z" transform="translate(-11 -31)"/>
    </svg>

  {% when 'icon-direc-left' %}
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
    <g>
    <g>
      <path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
        c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
        L143.492,221.863z"/>
    </g>
    </g>
    </svg>

  {% when 'slider-arrow-left-normal' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="30.969" height="57.696" viewBox="0 0 30.969 57.696">
      <path fill="#666" stroke="#666" d="M24.032 56.153a1.6 1.6 0 0 0 1.133.476 1.552 1.552 0 0 0 1.133-.476l26.718-26.72a1.587 1.587 0 0 0 0-2.266L26.3.44a1.6 1.6 0 1 0-2.266 2.266L49.617 28.3 24.032 53.887a1.6 1.6 0 0 0 0 2.266z" transform="translate(-23.023 .567)"/>
    </svg>

  {% when 'slider-arrow-right-normal' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="30.969" height="57.695" viewBox="0 0 30.969 57.695">
      <path fill="#666" stroke="#666" d="M52.983 56.153a1.6 1.6 0 0 1-1.133.476 1.552 1.552 0 0 1-1.133-.476L24 29.433a1.587 1.587 0 0 1 0-2.266L50.716.44a1.6 1.6 0 1 1 2.266 2.266L27.4 28.3l25.583 25.586a1.6 1.6 0 0 1 0 2.266z" transform="translate(-23.023 .567)"/>
    </svg>

  {% when 'play-video' %}
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
      <path id="XMLID_308_" d="M37.728,328.12c2.266,1.256,4.77,1.88,7.272,1.88c2.763,0,5.522-0.763,7.95-2.28l240-149.999 c4.386-2.741,7.05-7.548,7.05-12.72c0-5.172-2.664-9.979-7.05-12.72L52.95,2.28c-4.625-2.891-10.453-3.043-15.222-0.4 C32.959,4.524,30,9.547,30,15v300C30,320.453,32.959,325.476,37.728,328.12z"/>
    </svg>

  {% when 'icon-instagram' %}
    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.875 4.20703C8.57812 4.20703 9.24609 4.41797 9.87891 4.76953C10.5117 5.12109 11.0039 5.61328 11.3555 6.24609C11.707 6.87891 11.918 7.54688 11.918 8.25C11.918 8.98828 11.707 9.65625 11.3555 10.2891C11.0039 10.9219 10.5117 11.4141 9.87891 11.7656C9.24609 12.1172 8.57812 12.293 7.875 12.293C7.13672 12.293 6.46875 12.1172 5.83594 11.7656C5.20312 11.4141 4.71094 10.9219 4.35938 10.2891C4.00781 9.65625 3.83203 8.98828 3.83203 8.25C3.83203 7.54688 4.00781 6.87891 4.35938 6.24609C4.71094 5.61328 5.20312 5.12109 5.83594 4.76953C6.46875 4.41797 7.13672 4.20703 7.875 4.20703ZM7.875 10.8867C8.57812 10.8867 9.21094 10.6406 9.73828 10.1133C10.2305 9.62109 10.5117 8.98828 10.5117 8.25C10.5117 7.54688 10.2305 6.91406 9.73828 6.38672C9.21094 5.89453 8.57812 5.61328 7.875 5.61328C7.13672 5.61328 6.50391 5.89453 6.01172 6.38672C5.48438 6.91406 5.23828 7.54688 5.23828 8.25C5.23828 8.98828 5.48438 9.62109 6.01172 10.1133C6.50391 10.6406 7.13672 10.8867 7.875 10.8867ZM13.043 4.03125C13.043 3.78516 12.9375 3.57422 12.7617 3.36328C12.5508 3.1875 12.3398 3.08203 12.0938 3.08203C11.8125 3.08203 11.6016 3.1875 11.4258 3.36328C11.2148 3.57422 11.1445 3.78516 11.1445 4.03125C11.1445 4.3125 11.2148 4.52344 11.4258 4.69922C11.6016 4.91016 11.8125 4.98047 12.0938 4.98047C12.3398 4.98047 12.5508 4.91016 12.7266 4.69922C12.9023 4.52344 13.0078 4.3125 13.043 4.03125ZM15.7148 4.98047C15.7148 5.64844 15.75 6.73828 15.75 8.25C15.75 9.79688 15.7148 10.8867 15.6797 11.5547C15.6445 12.2227 15.5391 12.7852 15.3984 13.2773C15.1875 13.875 14.8359 14.4023 14.4141 14.8242C13.9922 15.2461 13.4648 15.5625 12.9023 15.7734C12.4102 15.9492 11.8125 16.0547 11.1445 16.0898C10.4766 16.125 9.38672 16.125 7.875 16.125C6.32812 16.125 5.23828 16.125 4.57031 16.0898C3.90234 16.0547 3.33984 15.9492 2.84766 15.7383C2.25 15.5625 1.72266 15.2461 1.30078 14.8242C0.878906 14.4023 0.5625 13.875 0.351562 13.2773C0.175781 12.7852 0.0703125 12.2227 0.0351562 11.5547C0 10.8867 0 9.79688 0 8.25C0 6.73828 0 5.64844 0.0351562 4.98047C0.0703125 4.3125 0.175781 3.71484 0.351562 3.22266C0.5625 2.66016 0.878906 2.13281 1.30078 1.71094C1.72266 1.28906 2.25 0.9375 2.84766 0.726562C3.33984 0.585938 3.90234 0.480469 4.57031 0.445312C5.23828 0.410156 6.32812 0.375 7.875 0.375C9.38672 0.375 10.4766 0.410156 11.1445 0.445312C11.8125 0.480469 12.4102 0.585938 12.9023 0.726562C13.4648 0.9375 13.9922 1.28906 14.4141 1.71094C14.8359 2.13281 15.1875 2.66016 15.3984 3.22266C15.5391 3.71484 15.6445 4.3125 15.7148 4.98047ZM14.0273 12.8906C14.168 12.5039 14.2383 11.8711 14.3086 10.9922C14.3086 10.5 14.3438 9.76172 14.3438 8.8125V7.6875C14.3438 6.73828 14.3086 6 14.3086 5.50781C14.2383 4.62891 14.168 3.99609 14.0273 3.60938C13.7461 2.90625 13.2188 2.37891 12.5156 2.09766C12.1289 1.95703 11.4961 1.88672 10.6172 1.81641C10.0898 1.81641 9.35156 1.78125 8.4375 1.78125H7.3125C6.36328 1.78125 5.625 1.81641 5.13281 1.81641C4.25391 1.88672 3.62109 1.95703 3.23438 2.09766C2.49609 2.37891 2.00391 2.90625 1.72266 3.60938C1.58203 3.99609 1.47656 4.62891 1.44141 5.50781C1.40625 6.03516 1.40625 6.77344 1.40625 7.6875V8.8125C1.40625 9.76172 1.40625 10.5 1.44141 10.9922C1.47656 11.8711 1.58203 12.5039 1.72266 12.8906C2.00391 13.6289 2.53125 14.1211 3.23438 14.4023C3.62109 14.543 4.25391 14.6484 5.13281 14.6836C5.625 14.7188 6.36328 14.7188 7.3125 14.7188H8.4375C9.38672 14.7188 10.125 14.7188 10.6172 14.6836C11.4961 14.6484 12.1289 14.543 12.5156 14.4023C13.2188 14.1211 13.7461 13.5938 14.0273 12.8906Z" fill="#979797"/>
    </svg>

  {% when 'icon-youtube' %}
    <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M19.3359 2.60938C19.4766 3.24219 19.6172 4.22656 19.6875 5.49219L19.7227 7.25L19.6875 9.00781C19.6172 10.3438 19.4766 11.293 19.3359 11.9258C19.1953 12.3477 18.9844 12.6992 18.7031 12.9805C18.3867 13.2969 18.0352 13.5078 17.6133 13.6133C16.9805 13.7891 15.5742 13.8945 13.3242 13.9648L10.125 14L6.92578 13.9648C4.67578 13.8945 3.23438 13.7891 2.63672 13.6133C2.21484 13.5078 1.82812 13.2969 1.54688 12.9805C1.23047 12.6992 1.01953 12.3477 0.914062 11.9258C0.738281 11.293 0.632812 10.3438 0.5625 9.00781L0.527344 7.25C0.527344 6.75781 0.527344 6.16016 0.5625 5.49219C0.632812 4.22656 0.738281 3.24219 0.914062 2.60938C1.01953 2.1875 1.23047 1.83594 1.54688 1.51953C1.82812 1.23828 2.21484 1.02734 2.63672 0.886719C3.23438 0.746094 4.67578 0.605469 6.92578 0.535156L10.125 0.5L13.3242 0.535156C15.5742 0.605469 16.9805 0.746094 17.6133 0.886719C18.0352 1.02734 18.3867 1.23828 18.7031 1.51953C18.9844 1.83594 19.1953 2.1875 19.3359 2.60938ZM8.15625 10.1328L13.1836 7.25L8.15625 4.40234V10.1328Z" fill="#979797"/>
    </svg>

  {% when 'icon-review-star' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="140.21" height="24.658" viewBox="0 0 140.21 24.658">
      <g>
          <path d="M-19.037 22.278a.819.819 0 0 1 .824 0l6.268 3.621a.862.862 0 0 0 1.249-.951l-1.35-7.365a.92.92 0 0 1 .255-.821l5.224-5.127a.9.9 0 0 0-.477-1.535l-7.1-.931a.857.857 0 0 1-.666-.507l-3.04-6.79a.837.837 0 0 0-1.544 0l-3.04 6.79a.857.857 0 0 1-.666.507l-7.1.931a.9.9 0 0 0-.477 1.539l5.224 5.127a.92.92 0 0 1 .255.821l-1.35 7.365a.862.862 0 0 0 1.249.951z" transform="translate(-236.396) translate(267.35 -1.355)"/>
          <path d="M-19.037 22.278a.819.819 0 0 1 .824 0l6.268 3.621a.862.862 0 0 0 1.249-.951l-1.35-7.365a.92.92 0 0 1 .255-.821l5.224-5.127a.9.9 0 0 0-.477-1.535l-7.1-.931a.857.857 0 0 1-.666-.507l-3.04-6.79a.837.837 0 0 0-1.544 0l-3.04 6.79a.857.857 0 0 1-.666.507l-7.1.931a.9.9 0 0 0-.477 1.539l5.224 5.127a.92.92 0 0 1 .255.821l-1.35 7.365a.862.862 0 0 0 1.249.951z" transform="translate(-236.396) translate(296.352 -1.355)"/>
          <path d="M-19.037 22.278a.819.819 0 0 1 .824 0l6.268 3.621a.862.862 0 0 0 1.249-.951l-1.35-7.365a.92.92 0 0 1 .255-.821l5.224-5.127a.9.9 0 0 0-.477-1.535l-7.1-.931a.857.857 0 0 1-.666-.507l-3.04-6.79a.837.837 0 0 0-1.544 0l-3.04 6.79a.857.857 0 0 1-.666.507l-7.1.931a.9.9 0 0 0-.477 1.539l5.224 5.127a.92.92 0 0 1 .255.821l-1.35 7.365a.862.862 0 0 0 1.249.951z" transform="translate(-236.396) translate(325.352 -1.355)"/>
          <path d="M-19.037 22.278a.819.819 0 0 1 .824 0l6.268 3.621a.862.862 0 0 0 1.249-.951l-1.35-7.365a.92.92 0 0 1 .255-.821l5.224-5.127a.9.9 0 0 0-.477-1.535l-7.1-.931a.857.857 0 0 1-.666-.507l-3.04-6.79a.837.837 0 0 0-1.544 0l-3.04 6.79a.857.857 0 0 1-.666.507l-7.1.931a.9.9 0 0 0-.477 1.539l5.224 5.127a.92.92 0 0 1 .255.821l-1.35 7.365a.862.862 0 0 0 1.249.951z" transform="translate(-236.396) translate(354.354 -1.355)"/>
          <path d="M-19.037 22.278a.819.819 0 0 1 .824 0l6.268 3.621a.862.862 0 0 0 1.249-.951l-1.35-7.365a.92.92 0 0 1 .255-.821l5.224-5.127a.9.9 0 0 0-.477-1.535l-7.1-.931a.857.857 0 0 1-.666-.507l-3.04-6.79a.837.837 0 0 0-1.544 0l-3.04 6.79a.857.857 0 0 1-.666.507l-7.1.931a.9.9 0 0 0-.477 1.539l5.224 5.127a.92.92 0 0 1 .255.821l-1.35 7.365a.862.862 0 0 0 1.249.951z" transform="translate(-236.396) translate(382.902 -1.355)"/>
      </g>
    </svg>

  {% when 'icon-arrow-right' %}
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
      <g><g>
        <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792
          H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083
          c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z
          "/>
      </g></g>
    </svg>

  {% when 'icon-info' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
      <path fill="#0093c8" d="M12.5 5a7.5 7.5 0 1 0 5.3 2.2A7.5 7.5 0 0 0 12.5 5zm1.257 11.012a3.758 3.758 0 0 1-1.311 1.243 2.265 2.265 0 0 1-1.069.229c-.969-.08-1.419-.811-1-1.972l1.274-3.5c.275-.755.008-.985-.21-.991q-.39-.007-.93.729a.192.192 0 0 1-.314-.223 3.758 3.758 0 0 1 1.311-1.243 2.267 2.267 0 0 1 1.069-.229c.969.08 1.419.811 1 1.972l-1.273 3.5c-.275.755-.008.985.21.991q.39.007.93-.729a.192.192 0 0 1 .313.222zm1.022-7.285a.907.907 0 1 1-.031-.693.907.907 0 0 1 .031.693z" transform="translate(-5 -5)"/>
    </svg>

  {% when 'icon-back' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="17.237" height="17.226" viewBox="0 0 17.237 17.226">
      <path fill="#0093c8" d="M7.257 7.667H.41a.41.41 0 0 1-.41-.41V.41A.41.41 0 0 1 .41 0h1.641a.41.41 0 0 1 .41.41v2.67a8.476 8.476 0 1 1 .609 11.951.411.411 0 0 1-.016-.6l1.161-1.161a.409.409 0 0 1 .561-.018A6.015 6.015 0 1 0 3.9 5.206h3.357a.41.41 0 0 1 .41.41v1.641a.41.41 0 0 1-.41.41z"/>
    </svg>

  {% when 'site-logo' %}
    <svg width="134" height="24" viewBox="0 0 134 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M26.5619 24C33.2221 24 38.5924 18.6171 38.5924 12C38.5924 5.35667 33.1957 0 26.5619 0H0V10.477H3.02737C11.9252 10.4508 15.3211 24 26.5619 24ZM26.5619 21.0591C17.4534 21.0591 14.5314 7.45733 3.02737 7.45733V2.94092H18.4275V8.95405C19.3225 5.9081 22.2709 2.8884 26.5619 2.8884C31.6426 2.8884 35.6703 6.90591 35.6703 12C35.6703 17.0678 31.6426 21.0591 26.5619 21.0591Z" fill="#3cf084"></path>
      <path d="M85.1084 21.2955V7.4574H82.0811V21.2955H85.1084Z" fill="#FFFFFF"></path>
      <path d="M113.487 21.2953V2.62573H110.486V21.2953H113.487Z" fill="#FFFFFF"></path>
      <path d="M61.0474 21.2953L66.0755 2.62573H62.8638L59.4153 17.199L56.4669 2.62573H52.6498L49.6487 17.2253L46.2265 2.62573H42.9885L48.0429 21.2953H51.4388L54.5715 6.22311L57.7305 21.2953H61.0474Z" fill="#FFFFFF"></path>
      <path d="M99.2976 11.0547C98.7448 8.71773 96.4545 7.22101 93.5325 7.16849C89.5837 7.11597 87.8726 9.40044 87.8463 11.4486C87.82 12.919 88.636 13.9956 90.1102 14.5733C92.1372 15.3611 94.9803 15.4136 96.1123 16.2801C97.0337 16.9891 96.5862 18.0919 95.7174 18.512C94.5065 19.116 91.5844 19.326 90.4261 17.0678H87.2935C87.82 19.7199 90.2682 21.453 93.5851 21.5055C97.06 21.558 99.5082 19.7462 99.5609 17.1204C99.5872 14.4945 97.5865 13.6543 94.7697 13.1028C93.0849 12.7877 91.8214 12.814 91.3475 12.3151C90.742 11.7112 90.5314 10.6608 91.8214 10.1094C93.2429 9.50547 95.7438 9.79431 96.0333 11.0547H99.2976Z" fill="#FFFFFF"></path>
      <path d="M122.227 7.19482C118.383 7.19482 115.277 10.5034 115.277 14.4421C115.277 18.3283 118.383 21.5056 122.227 21.5056C125.333 21.5056 127.729 19.9301 128.65 17.0942H125.359C124.727 18.302 123.543 18.906 122.2 18.906C120.384 18.906 118.804 17.8031 118.278 15.5712H129.097C129.282 13.0241 128.597 10.9235 127.228 9.42677C125.991 8.06135 124.227 7.19482 122.227 7.19482ZM118.304 13.1554C118.304 12.5778 119.147 9.82065 122.2 9.82065C125.28 9.82065 126.149 12.394 126.149 13.1554H118.304Z" fill="#FFFFFF"></path>
      <path d="M102.325 10.162V15.5186C102.43 19.0635 104.326 21.2954 107.537 21.2954C107.748 21.2954 107.958 21.2954 108.037 21.2692V18.302C106.274 18.302 105.431 17.488 105.326 15.5449V10.162H108.037V7.45737H105.326V3.83374H102.299V7.45737H100.798V10.162H102.325Z" fill="#FFFFFF"></path>
      <path d="M79.6855 21.2953V13.234C79.6855 9.5579 77.6848 7.32595 74.4205 7.32595C72.2881 7.32595 70.8929 8.71764 70.8929 8.71764V2.62573H67.9182V21.2953H70.9456V13.234C70.8929 11.4747 72.1302 10.2669 73.9203 10.2669C76.6318 10.2669 76.7107 12.5513 76.6844 13.234V21.2953H79.6855Z" fill="#FFFFFF"></path>
      <path d="M85.3981 4.12259C85.3981 5.12041 84.582 5.90815 83.608 5.90815C82.6339 5.90815 81.8179 5.09415 81.8179 4.12259C81.8179 3.15104 82.6339 2.33704 83.608 2.33704C84.582 2.33704 85.3981 3.15104 85.3981 4.12259Z" fill="#FFFFFF"></path>
      <path d="M129.94 9.63668V7.53602H129.203V7.27344H130.993V7.53602H130.256V9.63668H129.94Z" fill="#FFFFFF"></path>
      <path d="M133.414 9.63668V7.69357L132.598 9.63668H132.467L131.677 7.69357V9.63668H131.387V7.27344H131.809L132.546 9.059L133.283 7.27344H133.704V9.63668H133.414Z" fill="#FFFFFF"></path>
    </svg>

  {% when 'site-logo-black' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="296.641" height="40.329" viewBox="0 0 296.641 40.329">
      <g id="Logo" transform="translate(0 -0.036)">
        <path id="Path_58870" data-name="Path 58870" d="M44.147.036a20.741,20.741,0,0,0-14.113,5.5v9.335A14.884,14.884,0,0,1,35.72,7.895a15.409,15.409,0,0,1,17.39.34,14.849,14.849,0,0,1,5.4,7.2,14.528,14.528,0,0,1,.195,8.926,14.811,14.811,0,0,1-5.077,7.417,15.406,15.406,0,0,1-17.359,1.067L5.451,10.616V5.505H30.034V.168H0V13.312L30.8,35.534a20.676,20.676,0,0,0,2.384,1.719l.159.113a20.968,20.968,0,0,0,18.267,1.627A20.6,20.6,0,0,0,59.38,33.77a20.035,20.035,0,0,0,4.574-8.063,19.739,19.739,0,0,0,.425-9.214,19.944,19.944,0,0,0-3.814-8.434,20.491,20.491,0,0,0-7.253-5.886A20.944,20.944,0,0,0,44.139.067Z" fill="#3cf084"></path>
        <path id="Path_58871" data-name="Path 58871" d="M177.178,5.56h.625V2.852h1V2.326h-2.633v.527h1.006Z" transform="translate(114.017 1.569)" fill="#014550"></path>
        <path id="Path_58872" data-name="Path 58872" d="M177.948,5.56h.588V3.416l.907,2.144h.474l.9-2.144V5.56h.588V2.326h-.721l-1,2.389-1.006-2.389h-.726Z" transform="translate(115.234 1.569)" fill="#014550"></path>
        <path id="Path_58873" data-name="Path 58873" d="M67.135,34.732l5.71-31.338,5.71,31.338H88.823l6.861-32.37H90.359L83.641,33.7,77.931,2.361H67.711L62,33.7,55.331,2.361H49.957l6.91,32.37Z" transform="translate(27.501 1.594)" fill="#014550"></path>
        <path id="Path_58874" data-name="Path 58874" d="M86.574,34.732V20.423h14.2V34.732H106.2V2.361h-5.422v13.7h-14.2V2.361H81.151v32.37Z" transform="translate(48.884 1.594)" fill="#014550"></path>
        <path id="Path_58875" data-name="Path 58875" d="M107.083,34.732V2.361h-5.422v32.37Z" transform="translate(62.943 1.594)" fill="#014550"></path>
        <path id="Path_58876" data-name="Path 58876" d="M136.324,26.009c0-5.114-3.12-8.3-9.358-9.711l-4.8-1.126c-4.893-1.126-6.573-2.158-6.573-4.363,0-2.768,2.736-4.363,6.526-4.363,3.887,0,7.2,1.877,7.628,5.723h5.614c-.575-5.583-4.895-10.086-13.339-10.086-6.669,0-12.14,3.659-12.14,9.1,0,4.5,3.216,7.459,9.693,8.96l4.8,1.079c4.271.985,6.285,2.393,6.285,5.02,0,3-3.118,4.785-7.34,4.785a8.234,8.234,0,0,1-8.493-7.506h-5.614c.528,5.864,5.277,11.869,14.058,11.869C130.949,35.392,136.324,31.4,136.324,26.009Z" transform="translate(68.119 1.403)" fill="#014550"></path>
        <path id="Path_58877" data-name="Path 58877" d="M143.289,34.732V6.724h10.7V2.361H127.119V6.724h10.748V34.732Z" transform="translate(80.393 1.594)" fill="#014550"></path>
        <path id="Path_58878" data-name="Path 58878" d="M166.439,34.732V30.369h-14.4V2.361h-5.422v32.37Z" transform="translate(93.761 1.594)" fill="#014550"></path>
        <path id="Path_58879" data-name="Path 58879" d="M181.909,34.732V30.369H167.225V20.282h13.868V15.919H167.225v-9.2h14.3V2.361H161.8v32.37Z" transform="translate(104.167 1.594)" fill="#014550"></path>
      </g>
    </svg>
  
  {% when 'icon-caret-down' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="6.709" height="5.313" viewBox="0 0 6.709 5.313">
      <g>
        <path fill="#0093c8" d="M3.349 16.7l4.219-2.807a.542.542 0 0 0 0-.908L3.349 10.18a.545.545 0 0 0-.849.454v5.614a.545.545 0 0 0 .849.454z" transform="rotate(90 28.828 27.328) translate(-1 39.361)"/>
      </g>
    </svg>

  {% when 'icon-caret-right' %}
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="292.359px" height="292.359px" viewBox="0 0 292.359 292.359" style="enable-background:new 0 0 292.359 292.359;" xml:space="preserve">
      <g><path d="M222.979,133.331L95.073,5.424C91.456,1.807,87.178,0,82.226,0c-4.952,0-9.233,1.807-12.85,5.424 c-3.617,3.617-5.424,7.898-5.424,12.847v255.813c0,4.948,1.807,9.232,5.424,12.847c3.621,3.617,7.902,5.428,12.85,5.428 c4.949,0,9.23-1.811,12.847-5.428l127.906-127.907c3.614-3.613,5.428-7.897,5.428-12.847 C228.407,141.229,226.594,136.948,222.979,133.331z"/></g>
    </svg>

  {% when 'icon-checkmark' %}
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 422.686 422.686" style="enable-background:new 0 0 422.686 422.686;" xml:space="preserve" width="15">
      <g>
        <g>
          <path style="fill:#6dbf00;" d="M211.343,422.686C94.812,422.686,0,327.882,0,211.343C0,94.812,94.812,0,211.343,0
            c116.539,0,211.343,94.812,211.343,211.343C422.686,327.882,327.882,422.686,211.343,422.686z M211.343,16.257
            c-107.565,0-195.086,87.52-195.086,195.086s87.52,195.086,195.086,195.086s195.086-87.52,195.086-195.086
            S318.908,16.257,211.343,16.257z"/>
        </g>
        <g>
          <polygon style="fill:#6dbf00;" points="196.411,267.78 123.384,194.752 134.877,183.259 196.411,244.792 307.22,133.983 
            318.713,145.477 		"/>
        </g>
      </g>
    </svg>

  {% when 'icon-selected' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39">
      <g id="Group_10725" data-name="Group 10725" transform="translate(-285 -362)">
        <path id="Rectangle_2760" data-name="Rectangle 2760" d="M5,0H39a0,0,0,0,1,0,0V34a5,5,0,0,1-5,5H0a0,0,0,0,1,0,0V5A5,5,0,0,1,5,0Z" transform="translate(285 362)" fill="#5677ef"/>
        <path id="np_check_1144828_000000" d="M31.771,43.956,26,38.19a1.269,1.269,0,0,0-1.794,1.794l7.561,7.561L46.252,33.063a1.269,1.269,0,0,0-1.794-1.794Z" transform="translate(269.269 342.285)" fill="#fff"/>
      </g>
    </svg>

  {% when 'icon-swipe-text' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="31.131" height="15.757" viewBox="0 0 31.131 15.757">
      <defs>
        <linearGradient id="linear-gradient" x1=".5" x2=".5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#bae852"/>
          <stop offset="1" stop-color="#8fde00"/>
        </linearGradient>
        <style>
          .cls-1-swipe_text{fill:url(#linear-gradient)}
        </style>
      </defs>
      <g id="np_swipe-left_2055466_000000" transform="translate(-9.192 -29.344)">
        <path id="Path_58547" d="M14.952 40.231l-1.158-1.266-4.6 4.209 4.6 4.209 1.158-1.266-2.278-2.084h8.8v-1.718h-8.8z" class="cls-1-swipe_text" transform="translate(0 -5.951)"/>
        <path id="Path_58548" d="M65.252 37.223a7.879 7.879 0 1 1-7.88-7.879 7.879 7.879 0 0 1 7.88 7.879" class="cls-1-swipe_text" transform="translate(-24.929)"/>
      </g>
    </svg>

  {% when 'icon-mob-chat' %}
    <svg xmlns="http://www.w3.org/2000/svg" id="np_chat_974602_000000" width="21.609" height="20.898" viewBox="0 0 21.609 20.898">
      <defs>
          <style>
              .cls-1_mob-chat{fill:#4d4d4d}
          </style>
      </defs>
      <path id="Path_13085" d="M16.636 5a10.547 10.547 0 0 0-10.8 10.256 9.96 9.96 0 0 0 2.37 6.41l-1.584 3.555a.422.422 0 0 0 .078.479.544.544 0 0 0 .408.193h.076l5.835-.968a11.566 11.566 0 0 0 3.619.605 10.547 10.547 0 0 0 10.8-10.256A10.567 10.567 0 0 0 16.636 5zm0 19.545a10.17 10.17 0 0 1-3.389-.581.466.466 0 0 0-.255-.024l-5.045.846 1.35-3a.468.468 0 0 0-.076-.508A8.978 8.978 0 0 1 6.9 15.255a9.472 9.472 0 0 1 9.734-9.288 9.549 9.549 0 0 1 9.785 9.289 9.549 9.549 0 0 1-9.785 9.289z" class="cls-1_mob-chat" transform="translate(-5.832 -5)"/>
      <path id="Path_13086" d="M31.719 46.32a1.174 1.174 0 0 1-2.344 0 1.174 1.174 0 0 1 2.344 0" class="cls-1_mob-chat" transform="translate(-23.616 -35.87)"/>
      <path id="Path_13087" d="M47.552 46.32a1.174 1.174 0 0 1-2.345 0 1.174 1.174 0 0 1 2.345 0" class="cls-1_mob-chat" transform="translate(-35.575 -35.87)"/>
      <path id="Path_13088" d="M63.387 46.32a1.174 1.174 0 0 1-2.344 0 1.174 1.174 0 0 1 2.344 0" class="cls-1_mob-chat" transform="translate(-47.538 -35.87)"/>
    </svg>

  {% when 'icon-trash' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="15.271" height="17.217" viewBox="0 0 15.271 17.217">
      <defs>
        <style>
          .cls-1-icon-trash{fill:#272727}
        </style>
      </defs>
      <g id="np_trash_2908521_FFFFFF" transform="translate(-14.063)">
        <path id="Path_58119" d="M31.66 35.584H21.641l-1.328-15.271h12.682zm-9.408-.664h8.791l1.189-13.943H21.01z" class="cls-1-icon-trash" transform="translate(-4.922 -18.368)"/>
        <path id="Path_58120" d="M29 20.977H14.394a.332.332 0 1 1 0-.664H29a.332.332 0 1 1 0 .664z" class="cls-1-icon-trash" transform="translate(0 -18.368)"/>
        <path id="Path_58121" d="M42.08 13.766h-5.83v-.949a1.659 1.659 0 0 1 1.66-1.66h2.51a1.661 1.661 0 0 1 1.66 1.66zm-5.166-.666h4.5v-.286a1 1 0 0 0-1-1H37.91a1 1 0 0 0-1 1z" class="cls-1-icon-trash" transform="translate(-17.473 -11.157)"/>
        <path id="Path_58122" d="M48.738 32.906a.357.357 0 0 1 .332.332v9.276a.332.332 0 0 1-.332.332.357.357 0 0 1-.332-.332v-9.276a.332.332 0 0 1 .332-.332z" class="cls-1-icon-trash" transform="translate(-27.047 -28.285)"/>
        <path id="Path_58123" d="M36.581 32.906a.357.357 0 0 1 .332.332v9.276a.332.332 0 0 1-.332.332.357.357 0 0 1-.332-.332v-9.276a.332.332 0 0 1 .332-.332z" class="cls-1-icon-trash" transform="translate(-17.473 -28.285)"/>
        <path id="Path_58124" d="M60.894 32.906a.357.357 0 0 1 .332.332v9.276a.332.332 0 0 1-.332.332.357.357 0 0 1-.332-.332v-9.276a.332.332 0 0 1 .332-.332z" class="cls-1-icon-trash" transform="translate(-36.62 -28.285)"/>
      </g>
    </svg>

  {% when 'icon-size-chart' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="11.52" height="18.852" viewBox="0 0 11.52 18.852">
      <path fill="#087bff" stroke="#087bff" stroke-width="0.3px" d="M34.181 1a.186.186 0 0 0-.181.174V18.38a.182.182 0 0 0 .178.178h5.378a.182.182 0 0 0 .178-.178V1.174A.187.187 0 0 0 39.559 1zm.178 2.5h2.691a.178.178 0 0 0 .178-.178.182.182 0 0 0-.178-.178h-2.691V1.358h5.022V18.2h-5.022v-1.8h2.691a.178.178 0 0 0 .178-.178.182.182 0 0 0-.178-.178h-2.691v-1.79h1.975a.183.183 0 0 0 .178-.184.181.181 0 0 0-.177-.178h-1.976v-1.79h1.975a.182.182 0 0 0 .178-.178.178.178 0 0 0-.178-.178h-1.975m0-1.8h2.692a.178.178 0 0 0 .178-.178.182.182 0 0 0-.178-.178h-2.692V7.809h1.975a.181.181 0 0 0 0-.362h-1.975V5.656h1.975a.182.182 0 0 0 .178-.178.178.178 0 0 0-.178-.178h-1.975" transform="rotate(19 22.363 -83.354)"/>
    </svg>

    
  {% when 'icon-size-chart-horizontal' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="27.656" height="27.656" viewBox="0 0 27.656 27.656">
      <g transform="translate(14.603 46.104) rotate(-135)"><path d="M32.034,14.775,30.96,13.7a2.824,2.824,0,0,0-3.989,0L14.7,25.973a2.824,2.824,0,0,0,0,3.989l1.074,1.074a2.847,2.847,0,0,0,1.994.818,2.9,2.9,0,0,0,1.994-.818l12.3-12.3a2.817,2.817,0,0,0-.027-3.963Zm-.358,3.6L25.54,24.515l.179-.179L23.9,22.521l-.358.358,1.816,1.816-2.173,2.173-1.816-1.816-.358.385,1.816,1.816-3.453,3.425a2.3,2.3,0,0,1-3.247,0L15.058,29.6a2.3,2.3,0,0,1,0-3.247l12.3-12.3a2.28,2.28,0,0,1,1.636-.665,2.384,2.384,0,0,1,1.636.665L31.7,15.132a2.322,2.322,0,0,1-.025,3.247Z" transform="translate(0 0)" fill="#0093c8" stroke="#0093c8" stroke-width="0.3"/><path d="M61.6,41.24l.362-.362,1.808,1.808-.362.362Z" transform="translate(-35.527 -20.843)" fill="#0093c8" stroke="#0093c8" stroke-width="0.3"/><path d="M71.5,31.338l.362-.362,1.808,1.808-.362.362Z" transform="translate(-42.895 -13.473)" fill="#0093c8" stroke="#0093c8" stroke-width="0.3"/><path d="M25.391,65.2a1.43,1.43,0,0,0-1.074.46,1.559,1.559,0,0,0,0,2.173,1.531,1.531,0,0,0,1.074.46,1.43,1.43,0,0,0,1.074-.46,1.531,1.531,0,0,0,.46-1.074,1.488,1.488,0,0,0-.46-1.1A1.433,1.433,0,0,0,25.391,65.2Zm.716,2.25a1.066,1.066,0,0,1-1.457,0,1.035,1.035,0,0,1,.716-1.764.967.967,0,0,1,.716.307,1.009,1.009,0,0,1,.307.716A.856.856,0,0,1,26.107,67.449Z" transform="translate(-7.444 -38.945)" fill="#0093c8" stroke="#0093c8" stroke-width="0.3"/></g>
    </svg>

  {% when 'icon-info-coupon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="13.518" height="13.517" viewBox="0 0 13.518 13.517">
      <path id="np_info_3016385_000000" d="M17.759,11a6.768,6.768,0,1,0,4.776,1.982A6.76,6.76,0,0,0,17.759,11Zm.693,9.531a.693.693,0,0,1-1.386,0V17.239a.693.693,0,0,1,1.386,0Zm-.693-4.852a.693.693,0,1,1,.49-.2.692.692,0,0,1-.49.2Z" transform="translate(-11 -11)" fill="#0093c8"/>
    </svg>

  {% when 'icon-newsletter-close' %}
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
    <g>
      <g>
        <path d="M256,0C114.508,0,0,114.497,0,256c0,141.493,114.497,256,256,256c141.492,0,256-114.497,256-256
          C512,114.507,397.503,0,256,0z M256,472c-119.384,0-216-96.607-216-216c0-119.385,96.607-216,216-216
          c119.384,0,216,96.607,216,216C472,375.385,375.393,472,256,472z"/>
      </g>
    </g>
    <g>
      <g>
        <path d="M343.586,315.302L284.284,256l59.302-59.302c7.81-7.81,7.811-20.473,0.001-28.284c-7.812-7.811-20.475-7.81-28.284,0
          L256,227.716l-59.303-59.302c-7.809-7.811-20.474-7.811-28.284,0c-7.81,7.811-7.81,20.474,0.001,28.284L227.716,256
          l-59.302,59.302c-7.811,7.811-7.812,20.474-0.001,28.284c7.813,7.812,20.476,7.809,28.284,0L256,284.284l59.303,59.302
          c7.808,7.81,20.473,7.811,28.284,0C351.398,335.775,351.397,323.112,343.586,315.302z"/>
      </g>
    </g>
    </svg>

  {% when 'icon-compare-model' %}
    <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m444.555 191.141h-238c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h238c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5z"/><path d="m444.555 248.474h-238c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h238c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5z"/><path d="m444.555 305.807h-238c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h238c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5z"/><path d="m468.378 125.549h-285.646c-24.053 0-43.622 19.568-43.622 43.622v179.617c0 24.053 19.568 43.622 43.622 43.622h200.211c2.141 0 4.13.963 5.458 2.644l64.655 81.853c2.548 3.226 6.266 4.984 10.159 4.984 1.447 0 2.919-.243 4.363-.745 5.327-1.85 8.769-6.689 8.769-12.328v-77.153c20.225-3.778 35.653-21.659 35.653-42.877v-179.618c0-24.053-19.568-43.621-43.622-43.621zm28.622 223.239c0 15.577-12.673 28.412-28.25 28.61-4.104.053-7.404 3.395-7.404 7.5v78.305l-61.174-77.447c-4.189-5.305-10.469-8.347-17.229-8.347h-200.211c-15.782 0-28.622-12.84-28.622-28.622v-179.617c0-15.782 12.839-28.622 28.622-28.622h285.646c15.782 0 28.622 12.84 28.622 28.622z"/><path d="m110.494 249.561c-5.13.728-9.724 3.369-12.936 7.435l-51.521 65.226v-65.371c0-4.105-3.3-7.447-7.404-7.5-13.031-.166-23.633-10.903-23.633-23.935v-156.361c0-13.203 10.742-23.945 23.945-23.945h248.663c13.203 0 23.945 10.742 23.945 23.945v28.932c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-28.932c0-21.474-17.471-38.945-38.945-38.945h-248.663c-21.474 0-38.945 17.471-38.945 38.945v156.361c0 18.667 13.371 34.438 31.038 38.124v66.366c0 5.328 3.252 9.901 8.286 11.649 1.365.474 2.755.704 4.123.704 3.677 0 7.192-1.662 9.599-4.709l56.284-71.256c.812-1.029 1.975-1.697 3.273-1.882 4.101-.582 6.954-4.379 6.371-8.48-.582-4.101-4.373-6.956-8.48-6.371z"/></g></g>
    </svg>
  
  {% when 'icon-ship__info1' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24.729" height="28" viewBox="0 0 24.729 28" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs><linearGradient id="a" x1="1.109" y1="1.403" x2="-0.094" y2="-0.471" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#6dbf00"></stop><stop offset="0.335" stop-color="#6dbf00"></stop><stop offset="1" stop-color="#00bdff"></stop></linearGradient></defs><g transform="translate(-199 -761)"><g transform="translate(190.103 757.477)"><path d="M23.335,35.039h0l7.671,3.82c.031,0,.031.031.06.031h.242c.031,0,.06,0,.06-.031l7.64-3.82h.031l.122-.122.031-.031a692.024,692.024,0,0,1,.061-.061v-.152l0-7.637a.176.176,0,0,0-.031-.12v-.031c0-.031-.031-.06-.031-.09v-.031c-.031-.031-.031-.06-.06-.09l-.031-.031c-.031-.031-.06-.031-.09-.06l-7.61-3.79a.448.448,0,0,0-.391,0l-7.671,3.821c-.031,0-.06.031-.09.06l-.031.031c-.031.031-.06.06-.06.09v.031c0,.031-.031.06-.031.09v.031c0,.031-.031.06-.031.12V34.86a1383.939,1383.939,0,0,0,.061.061l.031.031.031.031.061.061a.248.248,0,0,1,.059,0Zm11.672-2.678a.462.462,0,0,0,.451-.451V29.2l2.918-1.444v6.618l-6.738,3.37V31.128l2.918-1.444V31.94a.458.458,0,0,0,.451.421Zm-4.271,5.385L24,34.376V27.758l6.738,3.369Zm.451-14.019,6.618,3.309-2.8,1.414L28.389,25.14Zm-3.82,1.9,6.618,3.309-2.8,1.414-6.618-3.309Z" transform="translate(-9.925 -13.442)" fill="url(#a)"></path><path d="M58.52,48.65a.451.451,0,1,0-.9,0A11.472,11.472,0,0,1,46.938,60.082l1.714-.843a.451.451,0,0,0-.391-.812l-3.519,1.745a.47.47,0,0,0-.241.391.434.434,0,0,0,.241.391L48.261,62.7a.427.427,0,0,0,.21.06.4.4,0,0,0,.391-.241.435.435,0,0,0-.21-.6l-1.8-.9A12.417,12.417,0,0,0,58.52,48.65Z" transform="translate(-24.893 -31.236)" fill="url(#a)"></path><path d="M18.765,7.035a.49.49,0,0,0-.21.6.47.47,0,0,0,.391.241.793.793,0,0,0,.21-.06l3.519-1.745a.47.47,0,0,0,.241-.391.434.434,0,0,0-.241-.391L19.187,3.576a.451.451,0,0,0-.391.812l1.444.722A12.357,12.357,0,0,0,8.9,17.414a.451.451,0,0,0,.9,0A11.472,11.472,0,0,1,20.931,5.952Z" transform="translate(0 0)" fill="url(#a)"></path></g></g>
    </svg>

  {% when 'icon-ship__info2' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="28.499" height="28.499" viewBox="0 0 28.499 28.499" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs><linearGradient id="a" x1="0.934" y1="-0.219" x2="0" y2="1.154" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#6dbf00"></stop><stop offset="0.505" stop-color="#6dbf00"></stop><stop offset="1" stop-color="#00bdff"></stop></linearGradient></defs><g transform="translate(-354 -761)"><path d="M26.286,14.6,19.5,11.288a.571.571,0,0,0-.5,0L12.214,14.6a.571.571,0,0,0-.317.58l.5,4.148a9.053,9.053,0,0,0,6.748,7.931.572.572,0,0,0,.215,0,9.053,9.053,0,0,0,6.748-7.931l.5-4.148a.572.572,0,0,0-.317-.58ZM24.973,19.19a7.907,7.907,0,0,1-5.723,6.926,7.907,7.907,0,0,1-5.723-6.924l-.449-3.745,6.172-3.011,6.172,3.011Zm-6.743,1.366,3.948-3.946a.569.569,0,0,1,.805.805l-4.35,4.352a.57.57,0,0,1-.806,0l-2.313-2.313h0a.569.569,0,1,1,.805-.805Zm14.3-3.221-.842-.617a1.227,1.227,0,0,1-.4-1.493l.421-.956a2.373,2.373,0,0,0-1.915-3.316l-1.039-.114h0a1.23,1.23,0,0,1-1.093-1.093l-.114-1.039h0a2.373,2.373,0,0,0-3.316-1.915l-.956.421a1.227,1.227,0,0,1-1.492-.4l-.618-.844a2.375,2.375,0,0,0-3.83,0l-.617.844a1.231,1.231,0,0,1-1.493.4l-.956-.421a2.373,2.373,0,0,0-3.316,1.915l-.114,1.039h0a1.229,1.229,0,0,1-1.093,1.093l-1.039.114h0a2.374,2.374,0,0,0-1.916,3.316l.421.956h0a1.228,1.228,0,0,1-.4,1.493l-.842.617a2.375,2.375,0,0,0,0,3.83l.842.618a1.226,1.226,0,0,1,.4,1.492l-.422.956a2.375,2.375,0,0,0,1.915,3.316l1.039.114a1.23,1.23,0,0,1,1.093,1.093l.114,1.039h0a2.373,2.373,0,0,0,3.316,1.915l.956-.421a1.229,1.229,0,0,1,1.492.4l.618.842h0a2.375,2.375,0,0,0,3.83,0l.617-.842h0a1.231,1.231,0,0,1,1.493-.4l.956.421a2.373,2.373,0,0,0,3.316-1.915l.114-1.039h0a1.23,1.23,0,0,1,1.093-1.093l1.038-.114a2.373,2.373,0,0,0,1.915-3.316l-.421-.956a1.225,1.225,0,0,1,.4-1.492l.842-.618a2.375,2.375,0,0,0,0-3.83Zm-.674,2.909-.844.618a2.361,2.361,0,0,0-.768,2.871l.421.956a1.236,1.236,0,0,1-1,1.724l-1.039.114h0a2.359,2.359,0,0,0-2.1,2.1l-.114,1.039a1.234,1.234,0,0,1-1.724,1l-.956-.421a2.361,2.361,0,0,0-2.871.768l-.618.842h0a1.236,1.236,0,0,1-1.991,0l-.617-.844a2.363,2.363,0,0,0-2.871-.768l-.956.421a1.234,1.234,0,0,1-1.724-1l-.114-1.039h0a2.357,2.357,0,0,0-2.1-2.1l-1.039-.115a1.234,1.234,0,0,1-1-1.724l.421-.956a2.359,2.359,0,0,0-.768-2.87l-.842-.618h0a1.236,1.236,0,0,1,0-1.991l.842-.618h0a2.361,2.361,0,0,0,.768-2.871l-.421-.956a1.234,1.234,0,0,1,1-1.724l1.039-.114a2.359,2.359,0,0,0,2.1-2.1l.114-1.039h0a1.234,1.234,0,0,1,1.724-1l.956.421a2.361,2.361,0,0,0,2.871-.768l.617-.844a1.236,1.236,0,0,1,1.991,0l.618.842h0a2.361,2.361,0,0,0,2.871.768l.956-.421a1.234,1.234,0,0,1,1.724,1l.114,1.039a2.359,2.359,0,0,0,2.1,2.1l1.039.114h0a1.236,1.236,0,0,1,1,1.724l-.421.956a2.361,2.361,0,0,0,.768,2.871l.842.618h0a1.236,1.236,0,0,1,0,1.991Z" transform="translate(349 756)" fill="url(#a)"></path></g>
    </svg>

  {% when 'icon-ship__info3' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="37.889" height="28" viewBox="0 0 37.889 28" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs><linearGradient id="a" x1="1.402" y1="0.267" x2="-0.32" y2="0.5" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#6dbf00"></stop><stop offset="0.335" stop-color="#6dbf00"></stop><stop offset="1" stop-color="#00bdff"></stop></linearGradient></defs><g transform="translate(-520.055 -761)"><g transform="translate(518.805 747.023)"><path d="M20.195,13.977c-10.447,0-18.945,4.657-18.945,10.38v6.866c0,5.929,8.5,10.754,18.945,10.754s18.945-4.824,18.945-10.754V24.357c0-5.724-8.5-10.38-18.945-10.38Zm0,.777c10.017,0,18.167,4.308,18.167,9.6a5.8,5.8,0,0,1-1.195,3.419C34,24.268,27.42,22.018,20.195,22.018c-7.177,0-13.811,2.256-16.976,5.755a5.8,5.8,0,0,1-1.192-3.416c0-5.295,8.15-9.6,18.167-9.6Zm0,19.206c-7.3,0-13.6-2.288-16.487-5.576,2.987-3.4,9.454-5.589,16.487-5.589,7.083,0,13.494,2.189,16.481,5.6-2.889,3.285-9.189,5.57-16.481,5.57ZM2.027,31.223V27.295c2.241,4.153,9.105,7.23,17.314,7.431a5.323,5.323,0,0,0-.02,6.461c-9.613-.25-17.295-4.623-17.295-9.963Zm36.335,0c0,5.471-8.061,9.925-18,9.973a4.555,4.555,0,0,1,0-6.462c7.549-.036,14.055-2.5,17.037-6.042a.3.3,0,0,0,.03-.017.364.364,0,0,0,.106-.149,8.189,8.189,0,0,0,.824-1.233Z" fill="url(#a)"></path><path d="M57.371,70.691a1.816,1.816,0,1,0,1.816,1.816A1.819,1.819,0,0,0,57.371,70.691Zm0,2.854a1.038,1.038,0,1,1,1.038-1.038A1.04,1.04,0,0,1,57.371,73.545Z" transform="translate(-33.201 -34.674)" fill="url(#a)"></path><path d="M71.36,67.363a1.816,1.816,0,1,0,1.816,1.816A1.819,1.819,0,0,0,71.36,67.363Zm0,2.855a1.039,1.039,0,1,1,1.038-1.04A1.04,1.04,0,0,1,71.36,70.218Z" transform="translate(-41.754 -32.64)" fill="url(#a)"></path></g></g>
    </svg>

  {% when 'icon-ship__info4' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="49.664" height="28" viewBox="0 0 49.664 28" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs><linearGradient id="a" x1="1" x2="0.171" y2="1" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#6dbf00"></stop><stop offset="0.335" stop-color="#6dbf00"></stop><stop offset="1" stop-color="#00bdff"></stop></linearGradient></defs><g transform="translate(-674.999 -761)"><path d="M45.4,27.258H38.655a.933.933,0,0,0-.932.932V45.23a.936.936,0,0,0,.932.934h1.237v-.006l0-.013L39.9,46.1l0-.019,0-.035,0-.031,0-.025,0-.031,0-.027.006-.033v0l.008-.05v0l.01-.054.006-.035,0-.019.006-.035.006-.025.006-.027.015-.058L40,45.559l.008-.033v0l.013-.048,0,0,.015-.052.015-.05v0l.01-.04,0-.017.01-.031.008-.031.006-.019.01-.035.008-.025.006-.021.01-.033.017-.05v0l.017-.048v0l.008-.025.013-.035.008-.021.021-.054.013-.029.008-.023.019-.042,0-.008.038-.088.019-.038.017-.038.013-.029.025-.05.013-.027.008-.019.017-.035.006-.015.027-.054v0l.025-.046,0-.006.006-.013.021-.035.008-.013.021-.035.01-.017.017-.029.015-.025.01-.019.019-.029,0,0,.025-.042,0,0,.027-.044,0,0,.025-.04,0,0,.015-.021.05-.075.015-.021.025-.035,0-.008.027-.035.008-.01,0,0,.031-.042,0,0,.035-.046.033-.042.015-.017.023-.029.013-.015L41,43.54l.008-.01.027-.033.008-.01,0,0,.033-.04,0,0,.033-.038.006-.008.027-.031,0,0,.021-.023.019-.021.017-.017.025-.027.013-.015.081-.081a5.045,5.045,0,0,1,7.133,0l.081.081.013.015.025.027.017.017.019.021.021.023,0,0,.027.031.006.008.033.038,0,0,.033.04,0,0,.008.01.027.033.008.01.027.033.013.015.023.029.015.017.033.042.035.046,0,0,.031.042,0,0,.008.01.025.035.006.008.025.035.015.021.05.075.015.021,0,0,.025.04,0,0,.027.044,0,0,.025.042,0,0,.019.029.01.019.015.025.017.029.01.017.021.035.008.013.021.035.006.013,0,.006.025.046v0l.027.054.006.015.019.035.008.019.013.027.025.05.013.029.017.038.019.038.038.088,0,.008.019.042.008.023.013.029.021.054.008.021.013.035.008.025v0l.017.048v0l.017.05.01.033.006.021.008.025.01.035.006.019.008.031.01.031,0,.017.01.04v0l.015.05.015.052,0,0,.013.048v0l.008.033.006.027.015.058.006.027,0,.025.006.035,0,.019.006.035.01.054v0l.008.05v0l.006.033,0,.027,0,.031,0,.025,0,.031,0,.035,0,.019.006.046,0,.013v.006h1.168a.936.936,0,0,0,.932-.934V43.3H50.27a.707.707,0,0,1-.5-.209h0a.715.715,0,0,1-.209-.5V40.614a.7.7,0,0,1,.209-.5.707.707,0,0,1,.5-.209h1.737V36.084l-5.85-8.43a.887.887,0,0,0-.77-.4ZM13.55,51.591a.382.382,0,0,1,0-.763h4.136a5.1,5.1,0,0,1-.615-.524,5.03,5.03,0,0,1-1.445-3H12.294a2.286,2.286,0,0,1-2.282-2.282V41.765a2.286,2.286,0,0,1,2.282-2.282h2.52V24.356a.572.572,0,0,1,.571-.571H32.709a.572.572,0,0,1,.571.571V39.484h2.152a2.253,2.253,0,0,1,1.139.307v-11.6a2.079,2.079,0,0,1,2.077-2.077h6.743a2.048,2.048,0,0,1,1.706.895l5.926,8.541a.567.567,0,0,1,.129.363v9.321a2.079,2.079,0,0,1-2.077,2.077H49.907a5.031,5.031,0,0,1-1.445,3,5.1,5.1,0,0,1-.615.524h3.12a.382.382,0,1,1,0,.763H46.274a5.013,5.013,0,0,1-1.379.19,5.094,5.094,0,0,1-1.379-.19H38.549a.382.382,0,0,1,0-.763h3.4a5.1,5.1,0,0,1-.615-.524,5.031,5.031,0,0,1-1.445-3H38.647a2.071,2.071,0,0,1-1.468-.609c-.033-.033-.065-.067-.1-.1-.013.015-.027.027-.04.042a2.277,2.277,0,0,1-1.612.669H25.643a5.031,5.031,0,0,1-1.445,3,5.1,5.1,0,0,1-.615.524H33.16a.382.382,0,0,1,0,.763H22.01a5.013,5.013,0,0,1-1.379.19,5.094,5.094,0,0,1-1.379-.19h-5.71Zm22.757,0a.382.382,0,1,1,0-.763h.628a.382.382,0,1,1,0,.763Zm-8.716-14.02a.286.286,0,1,1,0-.571h2.152a.286.286,0,1,1,0,.571Zm-11.627,1.91H32.142V24.926H26.467v4.559a.381.381,0,0,1-.619.3L24.062,28.53,22.235,29.8a.383.383,0,0,1-.53-.1.379.379,0,0,1-.067-.217h0V24.925H15.961V39.482Zm20.615,2.284a1.147,1.147,0,0,0-1.139-1.139H12.3a1.125,1.125,0,0,0-.8.336,1.137,1.137,0,0,0-.336.8v3.262A1.147,1.147,0,0,0,12.3,46.166h3.331a5.044,5.044,0,0,1,10.024,0h9.788a1.147,1.147,0,0,0,1.139-1.139V41.765Zm15.44.968V40.481H50.281a.13.13,0,0,0-.1.04v0a.134.134,0,0,0-.04.1V42.6a.135.135,0,0,0,.138.136H52.02ZM3.775,35.809a.286.286,0,0,1,0-.571h.294a.286.286,0,0,1,0,.571Zm2.634,0a.286.286,0,0,1,0-.571h5.979a.286.286,0,0,1,0,.571ZM7.823,32a.286.286,0,1,1,0-.571h4.566a.286.286,0,1,1,0,.571ZM22.4,24.928v3.831l1.431-.993a.382.382,0,0,1,.453-.01l1.42,1V24.926H22.4ZM39.89,38.47a.286.286,0,1,1,0-.571h1.416a.286.286,0,0,1,0,.571ZM20.641,45.042a1.688,1.688,0,0,1,1.2.5l.021.023a1.695,1.695,0,0,1-.023,2.378l0,0a1.694,1.694,0,0,1-2.4,0l-.023-.023a1.7,1.7,0,0,1,1.224-2.874Zm.661,1.037a.935.935,0,0,0-1.339,1.306l.017.017a.935.935,0,0,0,1.6-.663.942.942,0,0,0-.257-.647l-.017-.017Zm2.1-2.1a3.9,3.9,0,1,0,1.143,2.757A3.891,3.891,0,0,0,23.4,43.982Zm21.507,1.06a1.691,1.691,0,0,1,1.2.5l.021.023a1.695,1.695,0,0,1-.023,2.378l0,0a1.694,1.694,0,0,1-2.4,0l-.023-.023A1.7,1.7,0,0,1,44.9,45.046Zm.661,1.037a.935.935,0,0,0-1.339,1.306l.017.017a.935.935,0,0,0,1.6-.663.942.942,0,0,0-.257-.647l-.017-.017Zm-4.561.661a3.9,3.9,0,1,0,1.143-2.757A3.882,3.882,0,0,0,41.006,46.74Zm7.733-11.208-4.107-6.17H40.271v6.17ZM45.152,28.77l4.6,6.91a.374.374,0,0,1,.079.232.382.382,0,0,1-.382.382H39.89a.382.382,0,0,1-.382-.382V28.978a.382.382,0,0,1,.382-.382h4.945a.38.38,0,0,1,.317.171Z" transform="translate(671.51 737.215)" fill="url(#a)"></path></g>
    </svg>

  {% when 'icon-call' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="20.541" height="19.732" viewBox="0 0 20.541 19.732">
      <path fill="#323335" d="M2.989 1.955a1.29 1.29 0 0 0-.894.418L.429 4.2c0-.006-.006 0-.054.062a.431.431 0 0 0-.058.113 9.22 9.22 0 0 0 .883 6.798 20.515 20.515 0 0 0 4.9 6.195 18.935 18.935 0 0 0 6.495 3.85c2.181.688 4.295.68 5.862-.457a.392.392 0 0 0 .047-.042c.041-.041.043-.047.036-.04l.006-.008 1.658-1.823a1.3 1.3 0 0 0-.086-1.823l-3.932-3.576a1.3 1.3 0 0 0-1.823.085l-1.777 1.956a9.539 9.539 0 0 1-3.866-2.207 9.538 9.538 0 0 1-2.564-3.641l1.779-1.956a1.3 1.3 0 0 0-.085-1.823L3.918 2.287a1.284 1.284 0 0 0-.929-.332zm.038.8a.479.479 0 0 1 .347.129l3.932 3.579a.473.473 0 0 1 .032.681L5.372 9.3a.405.405 0 0 0-.08.411 10.365 10.365 0 0 0 2.884 4.169 10.362 10.362 0 0 0 4.424 2.482.4.4 0 0 0 .4-.119l1.967-2.161a.472.472 0 0 1 .68-.031l3.932 3.576a.472.472 0 0 1 .031.68l-1.644 1.807c-1.286.923-3.1.975-5.126.335a18.212 18.212 0 0 1-6.2-3.688 19.786 19.786 0 0 1-4.707-5.94 8.465 8.465 0 0 1-.842-6.136l1.601-1.766a.481.481 0 0 1 .334-.161z" transform="translate(0.001 -1.953)"/>
    </svg>

  {% when 'icon-chat' %}
    <svg xmlns="http://www.w3.org/2000/svg" id="np_chat_974602_000000" width="20.514" height="20.898" viewBox="0 0 20.514 20.898">
      <defs>
        <style>
          .contact-chat{fill:#323335}
        </style>
      </defs>
      <path id="Path_13085" d="M16.088 5a10.255 10.255 0 0 0-9.555 13.981 9.943 9.943 0 0 0 1.548 2.685l-1.5 3.555a.439.439 0 0 0 .073.483.507.507 0 0 0 .387.193h.073l5.539-.968a10.477 10.477 0 0 0 3.435.605 10.268 10.268 0 0 0 0-20.534zm0 19.545a9.215 9.215 0 0 1-3.217-.581.422.422 0 0 0-.242-.024l-4.789.846 1.282-3a.487.487 0 0 0-.073-.508 9.179 9.179 0 0 1-1.572-2.637 9.554 9.554 0 0 1-.629-3.386 9.265 9.265 0 1 1 9.24 9.289z" class="contact-chat" transform="translate(-5.832 -5)"/>
      <path id="Path_13086" d="M31.6 46.32a1.113 1.113 0 1 1-2.225 0 1.113 1.113 0 1 1 2.225 0" class="contact-chat" transform="translate(-23.908 -35.87)"/>
      <path id="Path_13087" d="M47.433 46.32a1.113 1.113 0 0 1-2.226 0 1.113 1.113 0 1 1 2.226 0" class="contact-chat" transform="translate(-36.064 -35.87)"/>
      <path id="Path_13088" d="M63.268 46.32a1.113 1.113 0 1 1-2.225 0 1.113 1.113 0 1 1 2.225 0" class="contact-chat" transform="translate(-48.222 -35.87)"/>
    </svg>

  {% when 'icon-chat-plan' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="33.293" height="27.872">
      <defs>
        <style>
          .icon_plan_chat{fill-rule:evenodd}
        </style>
      </defs>
      <g id="np_chat_1062210_000000" transform="translate(-7 -14)">
        <path id="Path_58745" data-name="Path 58745" class="icon_plan_chat" d="M30.941 14a3.108 3.108 0 0 1 3.121 3.061v2.1h3.109a3.116 3.116 0 0 1 3.121 3.085v10.397a3.116 3.116 0 0 1-3.121 3.085h-.556v5.758a.387.387 0 0 1-.677.254l-5.226-6.011H16.34a3.109 3.109 0 0 1-3.109-3.085v-2.1H10.1A3.1 3.1 0 0 1 7 27.466v-10.4A3.089 3.089 0 0 1 10.1 14h20.842zm0 .774H10.1a2.31 2.31 0 0 0-2.323 2.286v10.4a2.32 2.32 0 0 0 2.323 2.3h3.13v-7.509a3.109 3.109 0 0 1 3.109-3.085h16.949v-2.1a2.333 2.333 0 0 0-2.347-2.286zm6.23 5.166H16.34a2.325 2.325 0 0 0-2.335 2.311v10.392a2.325 2.325 0 0 0 2.335 2.311h14.541a.392.392 0 0 1 .3.133l4.658 5.359V35.34a.388.388 0 0 1 .387-.387h.944a2.339 2.339 0 0 0 2.347-2.311V22.251a2.339 2.339 0 0 0-2.347-2.311z"/>
        <path id="Path_58746" data-name="Path 58746" class="icon_plan_chat" d="M55.736 44.805a1.744 1.744 0 1 1-1.787 1.744 1.761 1.761 0 0 1 1.787-1.744zm0 .774a.969.969 0 1 0 .994.968.979.979 0 0 0-.994-.968z" transform="translate(-28.774 -18.88)"/>
        <path id="Path_58747" data-name="Path 58747" class="icon_plan_chat" d="M72.506 44.805a1.744 1.744 0 1 1-1.768 1.744 1.774 1.774 0 0 1 1.768-1.744zm0 .774a.969.969 0 1 0 0 1.937.97.97 0 1 0 0-1.937z" transform="translate(-39.064 -18.88)"/>
        <path id="Path_58748" data-name="Path 58748" class="icon_plan_chat" d="M38.987 44.8a1.745 1.745 0 1 1-1.78 1.745 1.771 1.771 0 0 1 1.78-1.745zm0 .774a.971.971 0 1 0 1.006.971 1 1 0 0 0-1.006-.97z" transform="translate(-18.513 -18.877)"/>
      </g>
    </svg>

  {% when 'icon-accessibility' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="19.457" height="19.457" viewBox="0 0 19.457 19.457">
      <path d="M32.559 22.831a9.729 9.729 0 1 0-9.729 9.729 9.738 9.738 0 0 0 9.729-9.729zm-9.729-6.776a1.477 1.477 0 1 1-1.477 1.477 1.491 1.491 0 0 1 1.478-1.477zm-1.476 12.892a.74.74 0 0 1-.686.448.7.7 0 0 1-.316-.079.759.759 0 0 1-.369-1.028 41.561 41.561 0 0 0 1.717-4.535 16.5 16.5 0 0 0 .184-2.082.405.405 0 0 0-.264-.4l-3.269-.95a.783.783 0 0 1-.527-.975.8.8 0 0 1 .975-.475 22.926 22.926 0 0 0 4.034.95 23.278 23.278 0 0 0 4.087-.975.768.768 0 1 1 .422 1.477L24.1 21.3a.374.374 0 0 0-.264.4 16.679 16.679 0 0 0 .184 2.082 41.46 41.46 0 0 0 1.714 4.535.782.782 0 0 1-.369 1.028.7.7 0 0 1-.316.079.716.716 0 0 1-.686-.448l-1.529-3.191z" transform="translate(-13.102 -13.102)"/>
    </svg>

  {% when 'icon-size-guide-close' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="37.583" viewBox="0 0 38 37.583">
      <g>
        <path stroke="#000" d="M32.163 12.951l-8.084 8.084a.8.8 0 0 1-1.159 0l-8.085-8.084a.819.819 0 0 0-1.159 1.159l8.085 8.085a.8.8 0 0 1 0 1.159l-8.113 8.111a.819.819 0 1 0 1.159 1.159l8.085-8.085a.8.8 0 0 1 1.159 0l8.111 8.113a.819.819 0 1 0 1.159-1.159l-8.056-8.113a.8.8 0 0 1 0-1.159l8.085-8.085a.8.8 0 0 0 0-1.159.859.859 0 0 0-1.187-.027z" transform="translate(-846 -19.451) translate(841.099 7.298)"/>
        <text font-family="Karla-Bold, Karla" font-size="12px" font-weight="700" letter-spacing="0.001em" transform="translate(-846 -19.451) translate(865 54.034)">
          <tspan x="-18.234" y="0">CLOSE</tspan>
        </text>
      </g>
    </svg>

  {% when 'icon-video-play' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="17.389" height="17.389" viewBox="0 0 17.389 17.389">
      <g>
        <path fill="#d44d4d" stroke="#d44d4d" stroke-width="0.5px" d="M37.686 22.938h-12.6a2.147 2.147 0 0 0-2.144 2.144v12.6a2.147 2.147 0 0 0 2.144 2.144h12.6a2.147 2.147 0 0 0 2.144-2.144v-12.6a2.147 2.147 0 0 0-2.145-2.145zm1.521 14.745a1.522 1.522 0 0 1-1.52 1.52h-12.6a1.522 1.522 0 0 1-1.52-1.52v-12.6a1.522 1.522 0 0 1 1.52-1.52h12.6a1.522 1.522 0 0 1 1.52 1.52zm-9.553-10.422a.312.312 0 0 0-.5.247v4.519a.312.312 0 1 0 .624 0v-3.888l4.264 3.244-4.263 3.244v-.8a.312.312 0 0 0-.624 0v1.435a.313.313 0 0 0 .312.312.307.307 0 0 0 .189-.063l5.092-3.874a.313.313 0 0 0 0-.5z" transform="translate(-4.531 42.469) translate(-18.161 -65.157)"/>
      </g>
    </svg>

  {% when 'icon-mob-menu' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="35.676" height="29.894" viewBox="0 0 35.676 29.894"><g transform="translate(18042.207 12039.75)"><g transform="translate(-18966.5 -14993.815)"><line x2="20" transform="translate(932.5 2968.815)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1.5"/><line x2="20" transform="translate(932.5 2961.815)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1.5"/><line x2="20" transform="translate(932.5 2954.815)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1.5"/></g><path d="M7.752,0H9.468V-8h-2.4L5.124-3.012,3.18-8H.792V0H2.5V-5.76L4.752,0H5.5L7.752-5.76Zm4.14,0h5.664V-1.476H13.6v-1.86h3.876V-4.8H13.6V-6.54h3.96V-8H11.892ZM25.248,0h1.644V-8h-1.7V-2.82L21.48-8H19.728V0h1.7V-5.376Zm4.068-3.192c0,1.968,1.14,3.336,3.588,3.336,2.424,0,3.564-1.356,3.564-3.348V-8H34.74v4.752A1.7,1.7,0,0,1,32.9-1.368a1.71,1.71,0,0,1-1.86-1.884V-8H29.316Z" transform="translate(-18043 -12010)"/></g></svg>

  {% when 'icon-mob-menu-close' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="39.984" height="31.144" viewBox="0 0 39.984 31.144"><g transform="translate(18225.592 12041)"><path d="M28.85,12.907l-6.656,6.656a.659.659,0,0,1-.954,0l-6.657-6.656a.675.675,0,0,0-.954.954l6.657,6.657a.659.659,0,0,1,0,.954l-6.68,6.679a.675.675,0,1,0,.954.954l6.657-6.657a.659.659,0,0,1,.954,0l6.679,6.68a.675.675,0,0,0,.954-.954l-6.634-6.68a.659.659,0,0,1,0-.954l6.657-6.657a.659.659,0,0,0,0-.954.707.707,0,0,0-.977-.022Z" transform="translate(-18227.4 -12053.702)"/><path d="M4.608.144A3.715,3.715,0,0,0,8.016-1.824L6.552-2.532A2.17,2.17,0,0,1,4.608-1.368,2.481,2.481,0,0,1,2.16-4,2.481,2.481,0,0,1,4.608-6.624,2.192,2.192,0,0,1,6.552-5.46l1.464-.72A3.693,3.693,0,0,0,4.608-8.136,4.052,4.052,0,0,0,.408-4,4.052,4.052,0,0,0,4.608.144ZM9.876,0h5.088V-1.5H11.58V-8h-1.7Zm6.408-4A4.019,4.019,0,0,0,20.46.144,4.022,4.022,0,0,0,24.648-4a4.022,4.022,0,0,0-4.188-4.14A4.019,4.019,0,0,0,16.284-4ZM22.9-4A2.436,2.436,0,0,1,20.46-1.368,2.427,2.427,0,0,1,18.036-4,2.421,2.421,0,0,1,20.46-6.624,2.43,2.43,0,0,1,22.9-4Zm3.24,2.868a4.612,4.612,0,0,0,3.4,1.272c2.16,0,3.2-1.1,3.2-2.568,0-1.776-1.68-2.172-3-2.472-.924-.216-1.6-.384-1.6-.924,0-.48.408-.816,1.176-.816a3.415,3.415,0,0,1,2.292.876l.948-1.248a4.452,4.452,0,0,0-3.12-1.116c-1.884,0-3.036,1.08-3.036,2.412,0,1.788,1.68,2.148,2.988,2.448.924.216,1.62.42,1.62,1.02,0,.456-.456.9-1.392.9a3.509,3.509,0,0,1-2.544-1.08ZM34.728,0h5.664V-1.476h-3.96v-1.86h3.876V-4.8H36.432V-6.54h3.96V-8H34.728Z" transform="translate(-18226 -12010)"/></g></svg>

  {% when 'icon-mob-cart' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="32.76" height="32.741" viewBox="0 0 32.76 32.741"><g transform="translate(18101.592 12042.598)"><g transform="translate(-18097.15 -12049.771)"><path d="M9.516,9.1a.435.435,0,0,0-.443-.33H6.084a.4.4,0,1,0,0,.8H8.71l.6,2.978a.347.347,0,0,0,0,.042l1.3,6.471a2.168,2.168,0,0,0,2.179,1.65h8.457a2.189,2.189,0,0,0,2.144-1.506l1.885-6.61h0a.371.371,0,0,0-.079-.346.459.459,0,0,0-.35-.156H10.116Zm14.755,3.8-1.74,6.108a1.312,1.312,0,0,1-1.286.9H12.787a1.3,1.3,0,0,1-1.309-.991l-1.2-6.029Z" transform="translate(-3.491 -1.446)" stroke="#000" stroke-width="0.3"/><g transform="translate(-21.332 -52.386)"><path d="M34.261,75.569a2,2,0,1,0-2,2,2,2,0,0,0,2-2Zm-3.094,0a1.094,1.094,0,1,1,1.094,1.094,1.093,1.093,0,0,1-1.094-1.094Z" stroke="none"/><path d="M 32.26037216186523 77.56942749023438 C 31.45176315307617 77.56942749023438 30.7227725982666 77.08196258544922 30.41313171386719 76.33438110351562 C 30.10350227355957 75.58768463134766 30.27424240112305 74.72687530517578 30.84664154052734 74.15537261962891 C 31.41815185546875 73.58383941650391 32.27809143066406 73.41220092773438 33.02566146850586 73.72184753417969 C 33.77323150634766 74.03147125244141 34.26070404052734 74.76048278808594 34.26070404052734 75.569091796875 L 34.26068115234375 75.56912231445312 C 34.2589111328125 76.67322540283203 33.36448287963867 77.56765747070312 32.26037216186523 77.56942749023438 Z M 32.26065444946289 74.47554779052734 C 32.11965942382812 74.47554779052734 31.97737693786621 74.50279235839844 31.84196281433105 74.55877685546875 C 31.43323135375977 74.72776794433594 31.16693305969238 75.12675476074219 31.16693305969238 75.569091796875 L 31.16430282592773 75.56912231445312 C 31.16519165039062 76.17424774169922 31.65618133544922 76.66349792480469 32.26044082641602 76.66349792480469 C 32.70279312133789 76.66349792480469 33.10179138183594 76.39719390869141 33.27077102661133 75.98844146728516 C 33.44063186645508 75.57972717285156 33.34684371948242 75.10907745361328 33.03366088867188 74.79588317871094 C 32.82482528686523 74.58644866943359 32.54524993896484 74.47554779052734 32.26065444946289 74.47554779052734 Z" stroke="none" fill="#000"/></g><g transform="translate(-48.47 -52.386)"><path d="M67.441,75.569a2,2,0,1,0-2,2,2,2,0,0,0,2-2Zm-3.094,0a1.094,1.094,0,1,1,1.094,1.094,1.093,1.093,0,0,1-1.094-1.094Z" stroke="none"/><path d="M 65.44036865234375 77.56942749023438 C 64.63174438476562 77.56942749023438 63.90275955200195 77.08196258544922 63.59312057495117 76.33438110351562 C 63.28348922729492 75.58768463134766 63.45424270629883 74.72687530517578 64.02663421630859 74.15537261962891 C 64.59814453125 73.58383178710938 65.45807647705078 73.41220855712891 66.20565795898438 73.72184753417969 C 66.95325469970703 74.03147125244141 67.44070434570312 74.76048278808594 67.44070434570312 75.56910705566406 L 67.440673828125 75.56912231445312 C 67.43891143798828 76.67322540283203 66.54447937011719 77.56765747070312 65.44036865234375 77.56942749023438 Z M 65.44065093994141 74.47554016113281 C 65.29965972900391 74.47554016113281 65.15737915039062 74.50279235839844 65.02195739746094 74.55877685546875 C 64.61322784423828 74.72776794433594 64.34693145751953 75.12675476074219 64.34693145751953 75.56910705566406 L 64.34429931640625 75.56912231445312 C 64.34518432617188 76.17424774169922 64.836181640625 76.66349792480469 65.44043731689453 76.66349792480469 C 65.88278961181641 76.66349792480469 66.28178405761719 76.39719390869141 66.45076751708984 75.98844146728516 C 66.62062072753906 75.57972717285156 66.52684020996094 75.10907745361328 66.21365356445312 74.79588317871094 C 66.00481414794922 74.58644866943359 65.72524261474609 74.47554016113281 65.44065093994141 74.47554016113281 Z" stroke="none" fill="#000"/></g></g><path d="M4.608.144A3.715,3.715,0,0,0,8.016-1.824L6.552-2.532A2.17,2.17,0,0,1,4.608-1.368,2.481,2.481,0,0,1,2.16-4,2.481,2.481,0,0,1,4.608-6.624,2.192,2.192,0,0,1,6.552-5.46l1.464-.72A3.693,3.693,0,0,0,4.608-8.136,4.052,4.052,0,0,0,.408-4,4.052,4.052,0,0,0,4.608.144ZM15.4,0h1.86L14.172-8H12.036L8.94,0h1.872l.5-1.38h3.576ZM13.1-6.528l1.32,3.672H11.772ZM23.364,0H25.32l-1.8-3.048a2.3,2.3,0,0,0,1.752-2.376A2.493,2.493,0,0,0,22.584-8H18.84V0h1.7V-2.868h1.248Zm.168-5.436a1.1,1.1,0,0,1-1.2,1.1H20.544V-6.54h1.788A1.1,1.1,0,0,1,23.532-5.436ZM29.124,0H30.84V-6.5h2.328V-8H26.784v1.5h2.34Z" transform="translate(-18102 -12010)"/></g></svg>

  {% when 'icon-mob-call' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="30.637" height="31.394" viewBox="0 0 30.637 31.394"><g transform="translate(18163.592 12041.25)"><path d="M4.608.144A3.715,3.715,0,0,0,8.016-1.824L6.552-2.532A2.17,2.17,0,0,1,4.608-1.368,2.481,2.481,0,0,1,2.16-4,2.481,2.481,0,0,1,4.608-6.624,2.192,2.192,0,0,1,6.552-5.46l1.464-.72A3.693,3.693,0,0,0,4.608-8.136,4.052,4.052,0,0,0,.408-4,4.052,4.052,0,0,0,4.608.144ZM15.4,0h1.86L14.172-8H12.036L8.94,0h1.872l.5-1.38h3.576ZM13.1-6.528l1.32,3.672H11.772ZM18.84,0h5.088V-1.5H20.544V-8h-1.7Zm7.116,0h5.088V-1.5H27.66V-8h-1.7Z" transform="translate(-18164 -12010)"/><g transform="translate(-18165.023 -12049.142)"><path d="M20.984,24.771c-.964,0-4.427-.318-8.517-4.408-3.459-3.456-4.73-6.02-4.391-8.84a4.485,4.485,0,0,1,.27-1.089,4.3,4.3,0,0,1,.6-1.069l.046-.075a.4.4,0,0,1,.057-.074l.616-.62a1.58,1.58,0,0,1,1.114-.455,1.465,1.465,0,0,1,1.045.419l2.507,2.5a1.531,1.531,0,0,1-.034,2.16l-1.069,1.069a.138.138,0,0,0-.022.167,12.283,12.283,0,0,0,2.165,3,12.306,12.306,0,0,0,2.984,2.16.144.144,0,0,0,.178-.016l1.071-1.069a1.578,1.578,0,0,1,1.113-.453,1.461,1.461,0,0,1,1.045.418l2.5,2.51a1.527,1.527,0,0,1-.032,2.157l-.578.566a.322.322,0,0,1-.034.029l-.141.111a4.237,4.237,0,0,1-1.079.611,4.425,4.425,0,0,1-1.1.276c-.045,0-.152.013-.327.013ZM9.649,9.745,9.615,9.8a.251.251,0,0,1-.026.038,3.537,3.537,0,0,0-.5.884,3.7,3.7,0,0,0-.223.894c-.308,2.553.9,4.923,4.162,8.187,4.528,4.526,8.134,4.172,8.2,4.166a3.691,3.691,0,0,0,.9-.227,3.474,3.474,0,0,0,.876-.5l.123-.1.56-.549a.733.733,0,0,0,.029-1.031L21.2,19.06a.676.676,0,0,0-.485-.185.777.777,0,0,0-.55.219L19.1,20.165a.939.939,0,0,1-1.113.157,13.042,13.042,0,0,1-3.175-2.3,13.033,13.033,0,0,1-2.3-3.171.935.935,0,0,1,.155-1.118l1.069-1.069a.736.736,0,0,0,.032-1.037l-2.505-2.5a.672.672,0,0,0-.483-.187.772.772,0,0,0-.55.22ZM23.381,23.446Z" stroke="#000" stroke-width="0.5"/></g></g></svg>

  {% when 'icon-circle-dot' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="3.76" height="3.76">
      <path data-name="Path 59534" d="M.8-1.64A1.9 1.9 0 0 0 2.68.24a1.9 1.9 0 0 0 1.88-1.88 1.9 1.9 0 0 0-1.88-1.88A1.9 1.9 0 0 0 .8-1.64z" transform="translate(-.8 3.52)" style="fill:#d44d4d"/>
    </svg>

  {% when 'icon-cart-easy-cancel' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
      <g data-name="Group 9932">
        <g data-name="Ellipse 606" style="fill:#fff;stroke:#000">
          <circle cx="10" cy="10" r="10" style="stroke:none"/>
          <circle cx="10" cy="10" r="9.5" style="fill:none"/>
        </g>
        <path data-name="Path 59550" d="M13.504 13.124a.71.71 0 0 1 .192.456.682.682 0 0 1-.222.5.711.711 0 0 1-.51.216.682.682 0 0 1-.528-.264L10 11.008l-2.448 3.024a.659.659 0 0 1-.516.252.721.721 0 0 1-.51-.21.663.663 0 0 1-.222-.5.7.7 0 0 1 .18-.45l2.616-3.2-2.508-3.056a.644.644 0 0 1-.176-.456.671.671 0 0 1 .216-.5.7.7 0 0 1 .5-.21.682.682 0 0 1 .528.264L10 8.858l2.34-2.892a.648.648 0 0 1 .516-.262.721.721 0 0 1 .51.21.663.663 0 0 1 .222.5.644.644 0 0 1-.18.456L10.9 9.924z"/>
      </g>
    </svg>

  {% when 'icon-cart-guarantee' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
      <g data-name="Group 9931">
        <g data-name="Ellipse 607" style="stroke:#000;fill:#fff">
          <circle cx="10" cy="10" r="10" style="stroke:none"/>
          <circle cx="10" cy="10" r="9.5" style="fill:none"/>
        </g>
        <path d="m31.168 27.637-2.268-.26-.939-2.008a.651.651 0 0 0-1.166.016l-.94 2.008-2.268.259a.649.649 0 0 0-.356 1.134l1.669 1.49-.454 2.138a.643.643 0 0 0 .94.7l1.992-1.1L29.37 33.1a.642.642 0 0 0 .94-.7l-.454-2.138 1.669-1.49a.651.651 0 0 0-.357-1.134zm-2.008 2.381.518 2.511-2.3-1.247-2.3 1.264.518-2.527-1.944-1.733 2.624-.292 1.1-2.332 1.1 2.332 2.624.292z" transform="translate(-17.374 -19.104)" style="stroke-width:.3px;stroke:#000"/>
      </g>
    </svg>

  {% when 'icon-cart-free-shipping' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
      <g data-name="Group 9930">
        <g data-name="Ellipse 608" style="stroke:#000;fill:#fff">
          <circle cx="10" cy="10" r="10" style="stroke:none"/>
          <circle cx="10" cy="10" r="9.5" style="fill:none"/>
        </g>
        <path d="M17.932 16.987h-6.217a.777.777 0 0 1-.777-.777V9.371a.777.777 0 0 1 .777-.777h6.217a.777.777 0 0 1 .777.777v6.839a.777.777 0 0 1-.777.777zM11.715 8.9a.466.466 0 0 0-.466.466v6.844a.466.466 0 0 0 .466.466h6.217a.466.466 0 0 0 .466-.466V9.371a.466.466 0 0 0-.466-.466zm4.352 2.487a.168.168 0 0 1-.067-.012l-1.141-.586-1.206.588a.155.155 0 0 1-.224-.14V8.749a.155.155 0 0 1 .155-.155h2.487a.155.155 0 0 1 .155.155v2.487a.155.155 0 0 1-.155.155zM13.735 8.9v2.083l1.054-.513a.155.155 0 0 1 .138 0l.984.507V8.9zm.466 6.528h-2.176v.311H14.2zm0-1.243h-2.176v.315H14.2z" transform="translate(-4.823 -2.791)" style="stroke-width:.4px;stroke:#000"/>
      </g>
    </svg>

  {% when 'icon-lock' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="8.966" height="11.749">
      <path d="M7.875 4.781h-.322V3.174a3.175 3.175 0 0 0-6.35 0v1.607h-.115A1.09 1.09 0 0 0-.001 5.872v4.784a1.092 1.092 0 0 0 1.091 1.09h6.786a1.088 1.088 0 0 0 1.089-1.09V5.869A1.09 1.09 0 0 0 7.874 4.78zm-5.5 0V3.174a2.005 2.005 0 1 1 4.009 0v1.607z"/>
    </svg>

  {% when 'icon-best-seller' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24.693" height="33.383" viewBox="0 0 24.693 33.383">
      <defs>
          <style>
              .cls-1-best-seller{fill:#014550;stroke:#fff;stroke-width:.5px}
          </style>
      </defs>
      <g id="np_best-seller-badge_1119166_000000" transform="translate(-37.931 -33.75)">
          <path id="Path_58569" d="M62.248 62.259l-3.083-8.016A12.042 12.042 0 1 0 38.3 46.126a12.371 12.371 0 0 0 3.083 8.116L38.3 62.259A1.293 1.293 0 0 0 39.845 64l3.7-1.028 1.955 3.293a1.186 1.186 0 0 0 1.132.618h.1a1.208 1.208 0 0 0 1.132-.823l2.465-6.27 2.465 6.27a1.369 1.369 0 0 0 1.132.823h.1a1.421 1.421 0 0 0 1.132-.618l1.951-3.287L60.815 64a1.348 1.348 0 0 0 1.337-.409 1.508 1.508 0 0 0 .1-1.337zm-11.922-25.69a9.558 9.558 0 1 1-9.453 9.557 9.583 9.583 0 0 1 9.453-9.557zm-3.906 26.1l-1.128-1.951a1.186 1.186 0 0 0-1.132-.618h-.309l-2.16.618 1.85-4.729a12.751 12.751 0 0 0 4.729 1.951zM56.8 60.2a1.236 1.236 0 0 0-1.437.618l-1.132 1.951-1.85-4.729a12.878 12.878 0 0 0 4.729-1.951l1.85 4.729z" class="cls-1-best-seller"></path>
          <path id="Path_58570" d="M43.31 44.978l2.465 2.465-.618 3.492a1.178 1.178 0 0 0 .514 1.232 1.265 1.265 0 0 0 1.337.1l3.083-1.646 3.083 1.646a1.284 1.284 0 0 0 .618.1 1.5 1.5 0 0 0 .719-.2 1.251 1.251 0 0 0 .514-1.232l-.618-3.492 2.465-2.465a1.248 1.248 0 0 0 .309-1.337 1.111 1.111 0 0 0-1.028-.823l-3.392-.514-1.541-3.187a1.251 1.251 0 0 0-2.264 0l-1.541 3.187-3.384.51a1.25 1.25 0 0 0-1.031.827 1.478 1.478 0 0 0 .309 1.337zm5.238-.2a1.139 1.139 0 0 0 .923-.719l.719-1.437.719 1.437a1.3 1.3 0 0 0 .923.719l1.541.2-1.123 1.127a1.542 1.542 0 0 0-.409 1.132l.309 1.541-1.337-.719a1.284 1.284 0 0 0-.618-.1 1.3 1.3 0 0 0-.618.1l-1.337.719.309-1.541a1.23 1.23 0 0 0-.409-1.132l-1.132-1.132z" class="cls-1-best-seller" transform="translate(.131 .121)"></path>
      </g>
    </svg>

  {% when 'icon-best-seller-new' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="107" class="hide--mobile">
      <g data-name="Group 9684" transform="rotate(90 -6746.352 -1565.795)">
        <rect data-name="Rectangle 2694" width="107" height="25" rx="3" transform="translate(-5180.557 -8337.147)" style="fill:#5677EF"/>
        <text data-name="BEST SELLER" transform="translate(-5126.557 -8320.147)" style="font-size:14px;font-family:ProximaNova-Bold,Proxima Nova;font-weight:700;letter-spacing:.04em" fill="#FFF"><tspan x="-36.813" y="0">Best Seller</tspan></text>
      </g>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="hide--desktop hide--tablet" width="94.832" height="20.243" viewBox="0 0 94.832 20.243"><g transform="translate(4643 9868)"><path d="M0,0H91.832a3,3,0,0,1,3,3V20.243a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z" transform="translate(-4548.168 -9847.757) rotate(180)" fill="#ffce4a"/><path d="M-37.536,0h3.852a2.092,2.092,0,0,0,2.316-2.16,1.978,1.978,0,0,0-1.548-1.968,1.81,1.81,0,0,0,1.392-1.836A2.029,2.029,0,0,0-33.78-8h-3.756Zm1.2-4.608v-2.34h2.328A1.141,1.141,0,0,1-32.76-5.772a1.133,1.133,0,0,1-1.248,1.164Zm0,3.552v-2.5h2.388A1.221,1.221,0,0,1-32.6-2.316a1.2,1.2,0,0,1-1.344,1.26ZM-29.4,0h5.376V-1.056H-28.2v-2.5h4.092V-4.608H-28.2v-2.34h4.176V-8H-29.4Zm6.864-1.128A4.1,4.1,0,0,0-19.38.144c2.16,0,3.024-1.164,3.024-2.412,0-1.7-1.524-2.112-2.832-2.46-1-.252-1.86-.48-1.86-1.2,0-.672.612-1.128,1.5-1.128a3.122,3.122,0,0,1,2.316.936l.7-.888a3.924,3.924,0,0,0-2.916-1.116c-1.668,0-2.832.96-2.832,2.28,0,1.632,1.488,2,2.772,2.34,1.02.264,1.932.5,1.932,1.344,0,.576-.456,1.236-1.752,1.236a3.375,3.375,0,0,1-2.52-1.128ZM-12.624,0h1.2V-6.948h2.472V-8h-6.156v1.056h2.484ZM-4.14-1.128A4.1,4.1,0,0,0-.984.144C1.176.144,2.04-1.02,2.04-2.268c0-1.7-1.524-2.112-2.832-2.46-1-.252-1.86-.48-1.86-1.2,0-.672.612-1.128,1.5-1.128a3.122,3.122,0,0,1,2.316.936l.7-.888A3.924,3.924,0,0,0-1.056-8.124c-1.668,0-2.832.96-2.832,2.28,0,1.632,1.488,2,2.772,2.34C-.1-3.24.816-3,.816-2.16.816-1.584.36-.924-.936-.924a3.375,3.375,0,0,1-2.52-1.128ZM3.912,0H9.288V-1.056H5.112v-2.5H9.2V-4.608H5.112v-2.34H9.288V-8H3.912Zm7.356,0H16.1V-1.056H12.468V-8h-1.2ZM17.9,0H22.74V-1.056H19.1V-8H17.9ZM24.54,0h5.376V-1.056H25.74v-2.5h4.092V-4.608H25.74v-2.34h4.176V-8H24.54ZM36.5,0H37.9L35.844-3.2a2.233,2.233,0,0,0,1.992-2.34A2.385,2.385,0,0,0,35.268-8H31.9V0h1.2V-3.084h1.5Zm.1-5.544a1.384,1.384,0,0,1-1.488,1.4H33.1V-6.948h2.016A1.384,1.384,0,0,1,36.6-5.544Z" transform="translate(-4595.464 -9853.876)"/></g></svg>
    
  {% when 'icon-dot' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="5.175" height="18.915">
      <path data-name="Path 59278" d="M.023-16.29a2.664 2.664 0 0 0 2.565-2.61 2.593 2.593 0 0 0-2.565-2.565 2.6 2.6 0 0 0-2.61 2.565 2.612 2.612 0 0 0 2.61 2.61zm0 13.74a2.664 2.664 0 0 0 2.565-2.61A2.593 2.593 0 0 0 .023-7.725a2.6 2.6 0 0 0-2.61 2.565 2.612 2.612 0 0 0 2.61 2.61z" transform="translate(2.588 21.465)" style="fill:#014550"/>
    </svg>

{% endcase %}