<div class="pre-order-wrapper" data--progress data-min="{{ section.settings.p_o_percent }}" data-limit="{{ section.settings.p_o_limit }}">
  {% assign percent = section.settings.p_o_percent | plus: 0 %}
  {% assign limit = section.settings.p_o_limit | plus: 0 %}

  {% assign min = percent %}
  {% assign max = 100 %}
  {% assign diff = max | minus: min %}
  <!-- {% assign r_percent = "now" | date: "%N" | modulo: diff | plus: min %} -->

  <!-- {% assign order_num = limit | times: r_percent | divided_by: 100 | round %} -->

  {% if section.settings.p_o_title != blank %}
    {% assign p = 100 | minus: percent %}
    <div class="section_title">{{ section.settings.p_o_title }} <span data-val>{{ limit | divided_by: 100.0 | times: p | round }}</span> / {{ limit }} units left</div>
  {% endif %}

  <div class="pre-order-block">
    <div class="d-flex block-title">
      <div>{{ section.settings.p_o_subtitle1 }}</div>
      <div><span data-val>{{ limit | divided_by: 100.0 | times: percent | round }}</span> {{ section.settings.p_o_subtitle2 }}</div>
    </div>
    <div class="block-text">
      {{ section.settings.p_o_text }}
    </div>
    <div class="progress d-flex">
      <div class="progress-bar">
        <span data-percent-val></span>
      </div>
      🔥
    </div>
    {% comment %}
    <div class="progress-label d-flex">
      <span data-percent-val></span>
      <span>100%</span>
    </div>
    {% endcomment %}
  </div>
</div>