{% assign optionName = product.options[0] %}
{% assign isColor = false %}
{% assign isSize = false %}
{% if optionName == 'Color' or optionName == 'Colour' %}
  {% assign isColor = true %}
{% endif %}
{% if optionName == 'Size' or optionName == 'size' %}
  {% assign isSize = true %}
{% endif %}
{% if optionName != blank %}
  <div class="product-options m-{{ optionName| handle }}" {% unless product.options_by_name[optionName].values.size > 1 %}data--hidden{% endunless %}>
    <div class="product-options__title"><label>Select a {{ optionName | handle }}: </label><span data-selected-{{ optionName | handle }}></span> 
      {% if isSize %}
        <!-- <a href="javascript:;" data-size-guide-toggle>Size Chart</a> -->
        <a href="javascript:;" data-size-guide-toggle>Size Guide {% render 'icon' with 'icon-size-chart-horizontal' %}</a>
      {% endif %}
    </div>
    <div class="product-options__list" data-options-list>
      {% for option in product.options_by_name[optionName].values %}
        <div class="product-option">
          <input id="option-{{ optionName }}-{{ option }}{% if idx != '' %}-{{ idx }}{% endif %}" type="radio" name="product-option-{{ optionName | handle }}{% if idx != '' %}-{{ idx }}{% endif %}"
            value='{{ option }}'
            data-value="{{ option }}"
            data-product-option="1"
            data-option-type="{{ optionName | handle }}"
            class="{% if current_variant.option1 == option %}is_active{% endif %} {% if forloop.first %}{% unless product.options_by_name[optionName].values.size > 1 %}selected{% endunless %}{% endif %}"
            data-original-handle="option-{{ optionName }}-{{ option }}"
            {% if current_variant.option1 == option %}checked{% endif %}>
          <label class="product-option__label" for="option-{{ optionName }}-{{ option }}{% if idx != '' %}-{{ idx }}{% endif %}" class="product-option__label" {% if isColor %}data-color-name="{{ option | handle }}"{% endif %}>
            <div class="product-option__text">{% unless isColor %}{{ option }}{% endunless %}</div>
          </label>
        </div>
      {% endfor %}
    </div>
  </div> <!-- /.product-options -->
{% endif %} {% comment %} / option1 {% endcomment %}

{% assign optionName = product.options[1] %}
{% assign isColor = false %}
{% assign isSize = false %}
{% if optionName == 'Color' or optionName == 'Colour' %}
  {% assign isColor = true %}
{% endif %}

{% if optionName == 'Size' or optionName == 'size' %}
  {% assign isSize = true %}
{% endif %}
{% if optionName != blank %}
  <div class="product-options m-{{ optionName| handle }}">
    <div class="product-options__title"><label>Select a {{ optionName | handle }}: </label><span data-selected-{{ optionName | handle }}></span> 
      {% if isSize %}
        <!-- <a href="javascript:;" data-size-guide-toggle>Size Chart</a> -->
        <a href="javascript:;" data-size-guide-toggle>Size Guide {% render 'icon' with 'icon-size-chart-horizontal' %}</a>
      {% endif %}
    </div>
    <div class="product-options__list" data-options-list>

      {% assign list = '' %}
      {% for variant in product.variants %}
        {% assign option1 = variant.options[1] %}
        {% assign _opt = option1 | append: '//' %}
        {% unless list contains _opt %}
          {% assign option1 = variant.options[1] | default: '_BLANK_' %}
          <!-- {% assign option2 = variant.options[2] | default: '_BLANK_' %} -->
          <!-- {% assign option = option1 | append: '||' | append: option2 %} -->

          {% assign v_option1 = current_variant.options[1] | default: '_BLANK_' %}
          <!-- {% assign v_option2 = current_variant.options[2] | default: '_BLANK_' %} -->
          {% assign v_option = v_option1 %}

          <div class="product-option">
            <input id='option-{{ optionName }}-{{ option }}' type="radio" name='product-option-{{ optionName | handle }}'
              value='{{ option1 }}'
              data-product-option="2"
              data-option-type="{{ optionName | handle }}"
              {% if v_option1 == option1 %}checked{% endif %}>
            <label class="product-option__label" for='option-{{ optionName }}-{{ option }}' class="product-option__label" {% if isColor %}data-color-name="{{ option1 | handle }}"{% endif %}>
              <div class="product-option__text">{{ option | replace: '||', ' - ' }}</div>
            </label>
          </div>
          {% assign list = list | append: option1 | append: '//' %}
        {% endunless %}
      {% endfor %}

        {% comment %}
        {% for option in product.options_by_name[optionName].values %}
          <div class="product-option">
            <input id="option-{{ optionName }}-{{ option }}" type="radio" name="product-option-{{ optionName | handle }}"
              value="{{ option }}"
              data-product-option="2"
              {% if current_variant.option2 == option %}checked{% endif %}>
            <label class="product-option__label" for="option-{{ optionName }}-{{ option }}" class="product-option__label">
              <div class="product-option__text">{{ option }}</div>
            </label>
          </div>
        {% endfor %}
        {% endcomment %}
    </div>
  </div> <!-- /.product-options -->
{% endif %} {% comment %} / option2 {% endcomment %}


{% comment %}

{% assign optionName = product.options[2] %}
{% if optionName != blank %}
  <div class="product-options m-{{ optionName| handle }}">
    <div class="product-options__title">{{ optionName }}:</div>
    <div class="product-options__list" data-options-list>
      {% for option in product.options_by_name[optionName].values %}
        <div class="product-option">
          <input id="option-{{ optionName }}-{{ option }}" type="radio" name="product-option-{{ optionName | handle }}"
            value="{{ option }}"
            data-product-option="3"
            {% if current_variant.option3 == option %}checked{% endif %}>
          <label class="product-option__label" for="option-{{ optionName }}-{{ option }}" class="product-option__label">
            <div class="product-option__text">{{ option }}</div>
          </label>
        </div>
      {% endfor %}
    </div>
  </div> <!-- /.product-options -->
{% endif %} {% comment %} / option3 {% endcomment %}

{% endcomment %}