{% assign optionName = product.options[0] %}
{% assign isColor = false %}
{% if optionName == 'Color' or optionName == 'Colour' %}
  {% assign isColor = true %}
{% endif %}
{% if optionName != blank %}
  <div class="product-options m-{{ optionName| handle }}">
    <div class="product-options__title"><label>Select a color: </label> <span data-selected-{% if isColor %}color{% else %}size{% endif %}></span></div>
    <div class="product-options__list" data-options-list>
      {% for option in product.options_by_name[optionName].values %}
        <div class="product-option">
          <input id="option-{{ optionName }}-{{ option }}{% if idx != '' %}-{{ idx }}{% endif %}" type="radio" name="product-option-{{ optionName | handle }}{% if idx != '' %}-{{ idx }}{% endif %}"
            value="{{ option }}"
            data-product-option="1"
            class="{% if current_variant.option1 == option %}is_active{% endif %}"
            data-option-type="{{ optionName | handle }}"
            data-original-handle="option-{{ optionName }}-{{ option }}"
            {% if current_variant.option1 == option %}checked{% endif %}>
          <label class="product-option__label" for="option-{{ optionName }}-{{ option }}{% if idx != '' %}-{{ idx }}{% endif %}" class="product-option__label" {% if isColor %}data-color-name="{{ option | handle }}"{% endif %}>
            <div class="product-option__text">{% unless isColor %}{{ option }}{% endunless %}</div>
          </label>
        </div>
      {% endfor %}
    </div>
  </div> <!-- /.product-options -->
{% endif %} {% comment %} / option1 {% endcomment %}

{% assign optionName = product.options[1] %}
{% assign isColor = false %}
{% if optionName == 'Color' or optionName == 'Colour' %}
  {% assign isColor = true %}
{% endif %}
{% if optionName != blank %}
  <div class="product-options m-{{ optionName | handle }}">
    <div class="product-options__title">
      {% if isColor %}{{ optionName }}{% else %}<label>Select a size: </label>{% endif %} <span data-selected-size></span>{% comment %}<span data-selected-{% if isColor %}color{% else %}size{% endif %}>{{ current_variant.option2 }}</span>{% endcomment %}
      {% unless isColor %}
        
      {% endunless %}
    </div>
    <div class="product-options_wrapper">
      <div class="size-chart-trigger">
        <a href="javascript:;" data-size-guide-toggle>Size Guide {% render 'icon' with 'icon-size-chart-horizontal' %}</a>
      </div>
      <div class="product-options__list" data-options-list>

          {% comment %}
        {% for variant in product.variants %}
          {% assign option1 = variant.options[1] | default: '_BLANK_' %}
          {% assign option2 = variant.options[2] | default: '_BLANK_' %}
          {% assign option = option1 | append: '||' | append: option2 %}

          {% assign optionName = option1 %}
          {% unless option2 == '_BLANK_' %}
            {% assign optionName = optionName | append: '||' | append: option2 %}
          {% endunless %}

          {% assign v_option1 = current_variant.options[1] | default: '_BLANK_' %}
          {% assign v_option2 = current_variant.options[2] | default: '_BLANK_' %}
          {% assign v_option = v_option1 %}
          {% assign v_option = v_option | append: '||' | append: v_option2  %}

          <div class="product-option">
            <input id="option-{{ optionName }}-{{ option }}" type="radio" name="product-option-{{ optionName | handle }}"
              value="{{ option }}"
              data-product-option="2"
              {% if v_option == option %}checked{% endif %}>
            <label class="product-option__label" for="option-{{ optionName }}-{{ option }}" class="product-option__label">
              <div class="product-option__text">{{ optionName | replace: '||', ' - ' }}</div>
            </label>
          </div>
        {% endfor %}
          {% endcomment %}

        {% for option in product.options_by_name[optionName].values %}
          <div class="product-option">
            <input id="option-{{ optionName }}-{{ option }}-{{ idx }}" type="radio" name="product-option-{{ optionName | handle }}-{{ idx }}"
              value="{{ option }}"
              data-product-option="2"
              data-option-type="{{ optionName | handle }}"
              data-original-handle="option-{{ optionName }}-{{ option }}"
              {% if current_variant.option2 == option %}checked{% endif %}>
            <label class="product-option__label" for="option-{{ optionName }}-{{ option }}-{{ idx }}" class="product-option__label">
              <div class="product-option__text">{{ option }}</div>
            </label>
          </div>
        {% endfor %}
      </div>
    </div>
  </div> <!-- /.product-options -->
{% endif %} {% comment %} / option2 {% endcomment %}



{% assign optionName = product.options[2] %}
{% if optionName != blank %}
  <div class="product-options m-{{ optionName| handle }}">
    <div class="product-options__title">{{ optionName }}:</div>
    <div class="product-options__list" data-options-list>
      {% for option in product.options_by_name[optionName].values %}
        <div class="product-option">
          <input id="option-{{ optionName }}-{{ option }}" type="radio" name="product-option-{{ optionName | handle }}"
            value="{{ option }}"
            data-product-option="3"
            {% if current_variant.option3 == option %}checked{% endif %}>
          <label class="product-option__label" for="option-{{ optionName }}-{{ option }}" class="product-option__label">
            <div class="product-option__text">{{ option }}</div>
          </label>
        </div>
      {% endfor %}
    </div>
  </div> <!-- /.product-options -->
{% endif %} {% comment %} / option3 {% endcomment %}
{% comment %}

{% endcomment %}