
  {% assign u_products = product.metafields.upsell.product %}

  {% if section.settings.enable_upsell and u_products != blank %}
    <div class="product-upsell">
      <div class="product-upsell-wrapper">
        <div class="product-upsell-header">
          {% if section.settings.upsell_title != blank %}
            <div class="product-upsell-title">{{ section.settings.upsell_title }}</div>
          {% endif %}
          {% if section.settings.upsell_subtitle != blank %}
            <div class="product-upsell-subtitle">{{ section.settings.upsell_subtitle }}</div>
          {% endif %}
        </div>
        <div class="product-upsell-items">
          {% for u in u_products %}
            {% assign idx = forloop.index0 %}
            {% assign _product = all_products[u] %}


            {% assign is_added = false %}
            {% assign item_id = _product.selected_or_first_available_variant.id %}

            {% for item in cart.items %}
              {% if _product.handle == item.product.handle %}
                {% assign is_added = true %}
                {% assign item_id = item.variant_id %}
                {% break %}
              {% endif %}
            {% endfor %}

            <div class="product-upsell-item {% if is_added %}added{% endif %}"  data-handle="{{ _product.handle }}">
              <div class="product-upsell-item-wrapper d-flex">
                <div class="product-upsell-image">{% render 'rimage', image: _product.featured_image, size: '200x' %}</div>
                <div class="product-upsell-meta d-flex">

                  {% assign opt_idx = null %}
                  {% for option in _product.options %}
                    {% if option == 'Color' or option == 'Colour' %}
                      {% if _product.options_by_name[option].values.size > 1 %}
                        {% assign opt_idx = forloop.index %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}

                  <div class="product-upsell-info">
                    <div class="product-upsell-item-title">{{ _product.title }}</div>
                    <div class="product-upsell-item-desc">{{ product.metafields.products.desc[idx] | default: _product.description }}</div>
                  </div>
                  <div class="product-upsell-price d-flex">
                    <div class="price-wrapper d-flex">
                      <div class="prices">
                        {% assign discount = product.metafields.upsell.discount[idx] | plus: 0 %}
                        {% assign discount_type = product.metafields.upsell.discount_type[idx] | handle %}

                        {% assign price = _product.price %}

                        {% if discount != blank and discount_type != blank %}
                          {% assign price = price %}
                          {% if discount_type == 'percent' %}
                            {% assign per = 100 | minus: discount %}
                            {% assign price = price | times: per | divided_by: 100 | money %}
                          {% else %}
                            {% assign discount_price = discount | times: 100 %}
                            {% assign price = price | minus: discount_price | money %}
                          {% endif %}
                          <span class="was-price">{{ _product.price | money }}</span>
                        {% endif %}


                        <span class="regular-price">
                          {% if discount != blank and discount_type != blank %}
                            {{ price }}
                          {% else %}
                            {{ _product.price | money }}
                          {% endif %}
                        </span>
                      </div>

                      {% if discount != blank and discount_type != blank %}
                        <div class="save-badge">You Save {% if discount_type == 'percent' %}{{ discount }}%{% else %}{{ discount | times: 100 | money }}{% endif %}</div>
                      {% endif %}

                    </div>

                    {% if opt_idx == null %}
                      <div class="product-upsell-atc-form" data-id="{{ item_id }}">
                        <button class="btn m-black-new" data-ajax-atc-btn>
                          <span class="label-add">Add</span>
                          <span class="label-added">Added</span>
                        </button>
                      </div>
                    {% endif %}
                  </div>

                  {% unless opt_idx == null %}
                    <div class="product_variants-wrapper">
                      {% assign default_added = false %}
                      <div class="product_variants product_variants_color" data-product-upsell-variants>
                        {% if _product.options contains 'Color' or _product.options contains 'Colour' %}
                          {% assign list = '' %}
                          {% assign index = idx %}
                          {% for variant in _product.variants %}
                            {% assign _idx = forloop.index %}
                            {% assign handle = 'option' | append: opt_idx %}
                            {% assign option = variant[handle] %}
                            {% unless list contains option %}
                              {% assign idx = idx | plus: 1 %}
                              {% assign vImg = variant.image %}

                              {% assign is_added = false %}

                              {% for item in cart.items %}
                                {% if variant.id == item.variant_id %}
                                  {% assign is_added = true %}
                                  {% if _idx == 1 %}
                                    {% assign default_added = true %}
                                  {% endif %}
                                  {% break %}
                                {% endif %}
                              {% endfor %}

                              <div class="product_option" data-product-variant-option data-variant-img="{{ vImg | img_url: '800x' }}" data-variant-url="{{ variant.url }}" data-variant-id="{{ variant.id }}" {% if is_added %}data-added="true"{% endif %}>
                                <input type="radio" id="product-option-color-{{ option | handle }}" name="product-option-color-{{ index }}" {% if list == '' %}checked{% endif %}>
                                <label for="product-option-color-{{ option | handle }}" data-color-name="{{ option | handle }}"></label>
                              </div>
                              {% assign list = list | append: '&&' | append: option %}
                            {% endunless %}
                          {% endfor %}
                        {% endif %}
                      </div>
                      <div class="product-upsell-atc-form" data-id="{{ item_id }}" data-variant-img="{{ product.variants.first.image.src | img_url: '200x' }}" {% if default_added %}data-added="true"{% endif %}>
                        <button class="btn m-black-new btn-add" data-ajax-atc-btn>
                          <span class="label-add">Add</span>
                        </button>
                        <button class="btn m-black-new btn-added" data-ajax-atc-btn>
                          <span class="label-added">Added</span>
                        </button>
                      </div>
                    </div>
                  {% endunless %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}


<script>
  var p_handle = '{{ product.handle }}';
</script>