{% assign set = section.settings %}
{% assign isDefault = false %}
{% if product.variants.size == 1 and product.variants[0].title == "Default Title" %}
  {% assign isDefault = true %}
{% endif %}

{% comment %}Recharge settings{% endcomment %}
{% assign subscription_product = product.metafields.subscriptions %}
{% assign subscription_id = subscription_product.subscription_id %}
{% assign discount_percent = subscription_product.discount_percentage | round: 2 %}
{% assign discount_floor = subscription_product.discount_percentage | floor %}
{% if discount_percent == discount_floor %}
  {% assign discount_percent = discount_floor %}
{% endif %}
{% if subscription_id != blank %}
  {% assign isRecharge = true %}
{% endif %}

<form data-type="fit" id="addToCartForm" class="product-form {% if isRecharge %}m-recharge{% endif %}" action="/cart/add" method="post" enctype="multipart/form-data" data-productid="{{product.id}}" data-product-form data-variantid="{{ current_variant.id }}" data-discountid="{{ current_variant.metafields.subscriptions.discount_variant_id }}">

  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" data-selected-variant-id>
  <h1 class="title not-animated">{{ product.title }}</h1>
  {% if section.settings.feature %}<div class="product_feature">{{ section.settings.feature }}</div>{% endif %}
  <div class="product-review-rating">{% render 'product-review-rating', product: product %}</div>
  <div class="d-flex price-type-wrapper {% if section.settings.d_mode %}inline{% endif %}">
    {% unless isRecharge %}
      <div data-price-wrapper class="product-price">
        {% if section.settings.compare_price != blank %}
          <s data-price-compare class="was-price">{{ section.settings.compare_price }}</s>
        {% endif %}
        <span data-price class="{% if section.settings.price_cross_out %}price_cross_out{% endif %}">
          {{ current_variant.price | money }}
        </span>
      </div>
    {% endunless %}
    
    {% assign p_type = section.settings.plan_type %}
    {% assign p_m_type = section.settings.plan_type_mob | default: p_type %}
    {% if p_type != blank %}
      <div class="plan_type hide--mobile">{{ p_type }}</div>
      <div class="plan_type hide--desktop hide--tablet">{{ p_m_type }}</div>
    {% endif %}
  </div>

  {% comment %} All variants js selector {% endcomment %}
  <select class="no-js" data-all-variants name="all-variants">
    {% for variant in product.variants %}
      {% assign discount_price = variant.metafields.subscriptions.discount_variant_price | replace: '.', '' %}
      {% assign discount_amount = variant.price | minus: discount_price %}

      {% assign isAvailable = true %}
      {% if variant.inventory_quantity <= 5 %}
        {% assign isAvailable = false %}
      {% endif %}

      <option value="{{ variant.id }}" 
        data-variant-price="{{ variant.price }}" 
        data-variant-compare-price="{{ variant.compare_at_price }}"
        data-variant-image="{{ variant.image.src | img_url: '200x' }}"
        data-available="{{ isAvailable }}"
        data-inventory-policy="{{ variant.inventory_policy }}"
        data-inventory-quantity="{{ variant.inventory_quantity }}"
        data-option1="{{ variant.option1 | default: '_BLANK_' }}" 
        data-option2="{{ variant.option2 | default: '_BLANK_' }}" 
        data-option3="{{ variant.option3 | default: '_BLANK_' }}"
        data-subscription-id="{{ subscription_id }}" 
        data-discount-variant-id="{{ variant.metafields.subscriptions.discount_variant_id }}" 
        data-discount-variant-price="{{ discount_price }}"
        data-discount-amount="{{ discount_amount }}"
        data-discount-percent="{{ discount_percent }}%"
        data-product-handle="{{ product.handle }}"
        {% if current_variant == variant %}selected{% endif %} >
        {{ variant.title }}
      </option>
    {% endfor %}
  </select> <!-- / data-all-variants -->
  

  {% comment %} Options {% endcomment %}
  {% unless isDefault %}
    <div class="product-options-wrapper">
      {% render 'product-options', current_variant: current_variant %}
    </div>
  {% endunless %}

  {%- comment -%} Recharge {%- endcomment -%}
  {% if isRecharge %}
    <div class="recharge" data-recharge-container>
      <input id="subscription_id" type="hidden" name="properties[subscription_id]"
        value="{{ subscription_id }}"
        data-product-property="subscription_id">
      <div class="recharge__block recharge__block--subscribe is-active" data-rc-type="subscribe">

        {%- comment -%} Recharge period swatch {%- endcomment -%}
        <div class="recharge__freq product-options">
          <div class="product-options__title">Deliver Every:</div>
          <div class="product-options__list">

            {% assign counter = 0 %}
            {% if product.metafields.recharge.monthly != blank %}
              {% assign monthlyProductUrl = all_products[product.metafields.recharge.monthly].url %}
              {% assign currentProduct = 'yearly' %}
              {% assign counter = counter | plus: 1 %}
            {% endif %}
            
            {% if product.metafields.recharge.yearly != blank %}
              {% assign yearlyProductUrl = all_products[product.metafields.recharge.yearly].url %}
              {% assign currentProduct = 'monthly' %}
              {% assign counter = counter | plus: 1 %}
            {% endif %}
            {% if counter == 0 %}<!-- Error: no recharge period metafields setted up -->{% endif %}
            {% if counter > 1 %}<!-- Error: both recharge period metafields setted up -->{% endif %}

            <a href="{{ monthlyProductUrl | default: product.url }}" class="product-option m-half no-hover-link {% if currentProduct == 'monthly' %}is-checked{% endif %}">
              <div class="product-option__label">
                <div class="product-option__text">Monthly</div>
              </div>
            </a>
            <a href="{{ yearlyProductUrl | default: product.url }}" class="product-option m-half no-hover-link {% if currentProduct == 'yearly' %}is-checked{% endif %}">
              <div class="product-option__label">
                <div class="product-option__accent">Save 20% Yearly Plan</div>
                <div class="product-option__text">Yearly</div>
              </div>
            </a>
            
            {% assign shipping_interval_unit_type = subscription_product.shipping_interval_unit_type | default: 'Days' %}
            {% assign shipping_interval_frequency = subscription_product.shipping_interval_frequency | split: ',' | default: 30 %}
            <input id="shipping_interval_unit_type" type="hidden" name="properties[shipping_interval_unit_type]"
              value="{{ shipping_interval_unit_type }}"
              data-product-property="shipping_interval_unit_type">
            {% for freq in shipping_interval_frequency %}
                <input id="shipping_interval_frequency" type="hidden" name="properties[shipping_interval_frequency]"
                  value="{{ freq }}"
                  data-product-property="shipping_interval_frequency">
            {% endfor %}
          </div>

        </div> <!-- / .recharge__freq -->
      </div> <!-- /.recharge__block--subscribe -->

    </div> <!-- / .recharge -->
  {% endif %}

  <div class="d-flex product-add-to-cart">
    {% unless isRecharge %}
      <div data--hidden>
        <div class="product-options__title">Quantity:</div>
        {% render 'qty-selector', type: 'product' %}
      </div>
    {% endunless %}
    {% comment %}<button type="submit" name="add" class="btn btn--primary add-to-cart {% if isRecharge %}m-recharge{% endif %}" data-add-to-cart></button>{% endcomment %}
  </div>
  {% if section.settings.plan_title != blank %}
    <div class="plan_popup" data-index="1">
      <div class="popup-trigger">
        {% render 'icon' with 'icon-info' %} {{ section.settings.plan_title }}
      </div>
      <div class="popup-content">
        <div data-popup-bg></div>
        <div class="popup-header">{{ section.settings.plan_title }}</div>
        <div class="content {% if section.settings.is_plan_list %}content-list{% endif %}">
          {% assign content = section.settings.plan_text %}
          {% if section.settings.is_plan_list %}
            {% assign content = content | replace: 'p>', 'item>' %}
            {% assign _content = content | split: '<item>' %}
            {% for item in _content %}
              {% unless forloop.first %}
                {% assign _item = item | split: '</item>' %}
                <div>
                  {% render 'icon' with 'icon-true' %}
                  {{ _item[0] }}
                </div>
              {% endunless %}
            {% endfor %}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if section.settings.upsell_pos == 'top' %}
    {% render 'product-upsells', section: section %}
  {% endif %}

  {% if product.available %}
    <div class="choose-plan">
      <a onclick="dataLayer.push({'ATC': '{{ product.handle }}', 'Link': 'Choose Your Plan'});" href="#" class="d-flex btn m-black-new" data-choose-plan data-loader-btn>
        <span>Choose your plan</span> {% render 'icon' with 'icon-arrow-right' %}
        <div class="loader_wrapper">
          <div class="loader"></div>
        </div>
      </a>
    </div>
  {% else %}
    <div data-bis-btn>
      <button class="btn m-green" data-bis-trigger>Notify Me</button>
    </div>
  {% endif %}

  {% if section.settings.upsell_pos == 'bottom' %}
    {% render 'product-upsells', section: section %}
  {% endif %}

  <div class="hide--desktop">
    {% render 'product-shipping-features' %}
  </div>

  {% comment %}

  <div class="protection-plan">

    {% if section.settings.prot_desc_title != blank %}
      <div class="protection-plan__title">{{ section.settings.prot_desc_title }}</div>
    {% endif %}
    {% if section.settings.prot_desc_text != blank %}
      <div class="protection-plan__desc">{{ section.settings.prot_desc_text }}</div>
    {% endif %}

    <div data-accordions-container>
      <div data-accordion-button class="is-open">{{ section.settings.prot_btn_label }} <span class="icon">{% render 'icon' with 'icon-arrow-down' %}</span></div>
      <div data-accordion-content>
        <div id="clydeWrap" class="clydeWrap"></div>
      </div>
    </div>

  </div>

  {% endcomment %}

  <!-- <div class="msg_order">We anticipate delays in shipments from 7/22 to 7/28, with pending orders shipping starting 7/28</div> -->

  {% if isRecharge %}
    <div class="membership-info" data-popup-open="membership">
      <div>
        <i class="icon-info2"></i>
        <span class="btn m-underline">Learn more</span> 
        <span>about our membership</span>
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="product-feature-tabs">
      <div class="tab-header-wrapper d-flex">
        {% if product.description != blank %}
          <div class="feature-tab-header active" data-target="desc">Info</div>
        {% endif %}
        {% for block in section.blocks %}
          <div class="feature-tab-header {% if forloop.first and product.description == blank %}active{% endif %}" data-target="{{ block.settings.title | handle }}">{{ block.settings.title }}</div>
        {% endfor %}
      </div>
      <div class="tab-content-wrapper">
        {% if product.description != blank %}
          <div class="feature-tab-content active" data-handle="desc">
            {{ product.description }}
          </div>
        {% endif %}
        {% for block in section.blocks %}
          <div class="feature-tab-content {% if forloop.first and product.description == blank %}active{% endif %} {% if block.settings.is_list %}content-list{% endif %}" data-handle="{{ block.settings.title | handle }}">
            {% assign content = block.settings.text %}
            {% if block.settings.is_list %}
              {% assign content = content | replace: 'p>', 'li>' %}
            {% endif %}
          {{ content }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

</form>

<div class="product-stickybar" data-product-stickybar data--hidden>
  <div class="container">
    <div class="wrapper d-flex">
      <div class="sticky_info d-flex">
        <div class="image_wrapper hide--mobile"><img src="{{ product.featured_image | img_url: '100x' }}"></div>
        <div class="info_wrapper">
          <div class="sticky_title">{{ product.title }}</div>
          <div class="sticky_feature">{{ section.settings.feature }}</div>
          <div class="sticky_options" data--hidden>{% unless isDefault %}{% render 'product-options'. current_variant: current_variant, idx: 2 %}{% endunless %}</div>
        </div>
      </div>
      <div class="sticky_cta">
        <div>
          {% comment %}
          {% if section.settings.plan_title != blank %}
            <div class="plan_popup" data-index="2">
              <div class="popup-trigger">
                {% render 'icon' with 'icon-info' %} {{ section.settings.plan_title }}
              </div>
              <div class="popup-content">
                <div data-popup-bg></div>
                <div class="popup-header">{{ section.settings.plan_title }}</div>
                <div class="content {% if section.settings.is_plan_list %}content-list{% endif %}">
                  {% assign content = section.settings.plan_text %}
                  {% if section.settings.is_plan_list %}
                    {% assign content = content | replace: 'p>', 'item>' %}
                    {% assign _content = content | split: '<item>' %}
                    {% for item in _content %}
                      {% unless forloop.first %}
                        {% assign _item = item | split: '</item>' %}
                        <div>
                          {% render 'icon' with 'icon-true' %}
                          {{ _item[0] }}
                        </div>
                      {% endunless %}
                    {% endfor %}
                  {% else %}
                    {{ content }}
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
          {% endcomment %}
          <div class="return_tech">
            <button>Go back {% render 'icon' with 'icon-back' %}</button>
          </div>
        </div>
        <div class="d-flex">
          <div class="sticky_price">
            {% if section.settings.plan_type != blank %}
              <span data-sticky-plan-text class="hide--mobile">{{ section.settings.plan_type }}</span>
            {% endif %}
            <span data-sticky-compare-price>{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
            <span data-sticky-price>{{ product.selected_or_first_available_variant.price | money }}</span>
          </div>
          <div class="cta_wrapper">
            <a href="javascript:;" class="btn m-black-new" data-choose-plan>
              <span class="hide--mobile hide--tablet">Buy now </span>
              <span class="hide--desktop">Buy now </span>
              {% render 'icon' with 'icon-arrow-right' %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>